.question
  & + &
    margin-top 2.25rem
  &__body
    position relative
    padding-left 1.5rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      width .25rem
      height 100%
      background-color #8898A7
      border-radius 2px
    ^[-1]__name + &
      margin-top 1rem
