include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts
include /blocks/img/img
include /blocks/modal/modal
include /blocks/form-input/form-input

doctype html
html(lang='ru')
  include ../head/head
  body.page
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
    +modal()#modal-consultation
      form
        h2 Записаться на консультацию
        p Вы можете написать нам, используя эту форму, или позвонить по телефонам.
        +formInput({
          name: 'name',
          type: 'text',
          placeholder: 'Ваше имя *',
        })#home-form-name
        +formInput({
          name: 'phone',
          type: 'tel',
          placeholder: 'Ваш телефон *',
        })#home-form-phone
        +formInput({
          name: 'comment',
          type: 'textarea',
          placeholder: 'Дата визита или другая информация',
        })#home-form-comment
        +formInput({
          name: 'agreement',
          type: 'checkbox',
          checked: true,
          required: true,
          label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных',
        })#home-form-agreement
        button(type='submit').btn Отправить
    +modal()#modal-callback
      form
        h2 Получить обратный звонок
        +formInput({
          name: 'name',
          type: 'text',
          placeholder: 'Ваше имя *',
        })#home-form-name
        +formInput({
          name: 'phone',
          type: 'tel',
          placeholder: 'Ваш телефон *',
        })#home-form-phone
        button(type='submit').btn Отправить

  +scripts(['script.js'])
