.modal
  display none
  position fixed
  top 0
  left 0
  z-index 1000
  width 100%
  height 100%
  &--active
    display flex
    align-items center
    justify-content center
    background-color rgba(0, 0, 0, .8)
    transition background-color .4s
  &__inner
    position relative
    z-index 40
    background-color #fff
    padding (basePadding * 2)
    width fit-content
    max-width 34rem
    @media (max-width point-l - 1)
      padding (basePadding)
  &__close
    position absolute
    top 0
    right 0
    z-index 50
    width 3rem
    height 3rem
    background-color rgba(0, 0, 0, .125)
    cursor pointer
    transition background-color .4s
    &::before
    &::after
      content ''
      position absolute
      top 1.375rem
      left .5rem
      width 2rem
      height .25rem
      background-color rgba(255, 255, 255, .75)
      border-radius .125rem
      transform-origin 50% 50% 0
    &::before
      transform rotate(-45deg)
    &::after
      transform rotate(45deg)
    &:hover
      background-color rgba(000, 000, 000, .75)
      transition background-color .1s
