.table-wrap
  overflow-x auto
.table
  width calc(100% - 2px)
  &__header
    padding .675rem basePadding
    font-size font-xl
    font-weight 500
    line-height line-xl
    color #4F6379
    background-color #E9ECF3
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border 1px solid #E9ECF3
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
    &--subheader
      @extend .table__header
      
      padding-y .25rem
      font-size 1.125rem
  &--eyebrows
    ../__cell
      width calc(100% / 3)
