.btn
  --btn-gradient-center 0 // @stylint ignore
  --btn-gradient-radius 100% // @stylint ignore
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-size font-s
  line-height font-s
  text-align center
  text-decoration none
  text-transform uppercase
  color #fff
  background-image radial-gradient(circle at var(--btn-gradient-center), #8898A7, #3E546C var(--btn-gradient-radius))
  border none
  &:hover
  &:focus
  &:active
    color #fff
  &:active
    --btn-gradient-radius 200% // @stylint ignore
  a&
    text-decoration none
    border-bottom none
  &--wide
    width 100%
    padding-x basePadding
  &--secondary
    position relative
    color #8898a7
    background-color #fff
    background-image none
    border 2px solid #8898a7
    border-radius 4px
    transition background-color .4s 
    a&
      border-bottom 2px solid #8898a7
    &:hover
    &:focus
    &:active
      color #8898a7
      background-color rgba(#8898a7, .1)
      transition background-color .1s
    &:active
      background-color rgba(#8898a7, .2)
      transition none
