include /blocks/block-marked/block-marked

mixin pageNavigation(list, settings = {})
  -
    const c1 = []
    const c2 = []
  each i, j in list
    if (j + 1 <= Math.round(list.length / 2))
      - c1.push(i)
    else
      - c2.push(i)
  +blockMarked({color: 'blue'}).page-navigation: +grid({ 'padding': 'y', 'align': 'center'})
    +cell({ xs: 'auto' }).page-navigation__list: +grid()
      +cell({tag: 'ul',xs: 'auto'})
        each item in c1
          li: a(href != item.href).page-navigation__link !{item.name} 
      if c2.length > 0
        +cell({tag: 'ul', xs: 'auto'})
          each item in c2
            li: a(href != item.href).page-navigation__link !{item.name} 
    if settings.button !== false
      +cell({xs: 'auto'}).page-navigation__button: a(href='#').btn.btn--wide Записаться на прием
