mixin consultationAnswer(item)
  +blockMarked.consultation-answer
    h2.consultation-answer__title Ответ
    .consultation-answer__body
      - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
      +createElement(item.body)
    .consultation-answer__author
      .consultation-answer__image: img(src != item.image alt != item.author)
      .consultation-answer__name Отвечает: 
        br
        a(href='konsultatsiya.html') !{item.author}

          
