.consultation-answer
  &__title
    font-size font-xxxl
  &__image
    position relative
    width 3.375rem
    max-width 25%
    margin-right (basePadding*2)
    padding-top .25rem
    padding-right .25rem
    &::after
      content ''
      position absolute
      top 0
      right 0
      z-index -1
      width calc(100% - .25rem)
      height calc(100% - .25rem)
      background-color #4F6379
  &__author
    @extend p

    display flex
    margin-top 1.5rem
    padding-left 1.5rem
    
    a
      display block
      margin-top .25rem
  &__body
    position relative
    padding-left 1.5rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      width .25rem
      height 100%
      background-color #8898A7
      border-radius .125rem
    ^[-1]__title + &
      margin-top 1rem
