include /blocks/block-marked/block-marked

mixin alternative(name = '', settings = {})

  +blockMarked({ color: 'blue' })(class != classes('alternative', settings))&attributes(attributes)
    if name
      h2.alternative__title !{name}
      block
    
