.alternative
  height 100%
  min-height 17.5rem
  background-repeat no-repeat
  background-position calc(100% - 1rem) calc(100% - 1rem)
  background-size auto 5.625rem
  &.block-marked
    padding-right (basePadding * 5)
  &--type-medicine
    background-image svgImport('svg/alternatives-medicine.svg')
  &--type-thickeners
    background-image svgImport('svg/alternatives-thickeners.svg')
  &--type-wigs
    background-image svgImport('svg/alternatives-wigs.svg')
  &--type-hairsystems
    background-image svgImport('svg/alternatives-hairsystems.svg')
  &__title
    font-size font-xxxl
    color #3e546c
