.link-block
  display flex
  align-items center
  padding .375rem
  text-decoration none
  color #3e546c
  background-color #f9fafb
  transition background-color .4s
  will-change background-color
  &__image
    width 6.5rem
    margin basePadding
    @media (max-width point-s - 1)
      width 4rem
  &__name
    margin (basePadding / 2)
    font-size font-xxxl
    @media (max-width point-s - 1)
      font-size font-m
  &::after
    content ''
    width 2rem
    height 1rem
    margin-right 2rem
    background-image var(--arrow)
    background-repeat no-repeat
    background-position center
    background-size contain
    transition transform .4s
    will-change transform
  &:hover
    background-color #e9ecf3
    transition background-color .1s
    &::after
      transform translateX(1rem)
      transition transform .1s
