extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Алопеция на бороде у мужчин - как убрать проплешины?'})
  +pageSection: .container: .content
    h1 Алопеция на бороде у мужчин - как убрать проплешины?
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Алопеция бороды&nbsp;&mdash; редкая форма выпадения, проявляющаяся поредением и&nbsp;истончением, образованием очагов облысения в&nbsp;области подбородка. Чаще дополняет алопецию на&nbsp;голове, редко выступает как самостоятельное заболевание. Плешь на&nbsp;бороде выглядит неэстетично, поэтому вызывает психологический дискомфорт у&nbsp;мужчин, для которых борода&nbsp;&mdash; повод для гордости или часть имиджа.

      h2.appear#borody-1 Виды алопеции 
      p.appear В&nbsp;области бороды встречаются разные типы алопеции. К&nbsp;распространенным относятся: медикаментозная, гнездная (очаговая), рубцовая, себорейная и&nbsp;грибковая.

      h3.appear Медикаментозная
      p.appear Токсичное воздействие некоторых препаратов ведет к&nbsp;истончению волосяного стержня с&nbsp;последующим его выпаданием. К&nbsp;медикаментозному типу также относится алопеция, при которой волосы выпадают на&nbsp;голове, подбородке, бровях и&nbsp;веках в&nbsp;результате противоопухолевого лечения. Болезнь развивается постепенно в&nbsp;виде нарастающего поредения. В&nbsp;большинстве случаев облысение обратимо. 

      h3.appear Очаговая
      p.appear Это аномальная иммунная реакция, когда иммунные клетки видят угрозу в&nbsp;волосяных луковицах и&nbsp;атакуют&nbsp;их, выделяя антитела. В&nbsp;результате на&nbsp;бороде, в&nbsp;области усов и&nbsp;бакенбардов образуются гладкие с&nbsp;четко очерченными границами безволосые зоны. В&nbsp;большинстве случаев облысение бороды выступает как часть тотального облысения, когда волосы выпадают на&nbsp;голове и&nbsp;лице. Но&nbsp;может проявляться как самостоятельное заболевания. В&nbsp;ряде случаев выздоровление наступает неожиданно. Но&nbsp;чаще очаги облысения объединяются, вызывая полную потерю волос.

      h3.appear Себорейная
      p.appear К&nbsp;выпадению приводит жирная себорея, при которой избыток жира, скопившийся у&nbsp;корней, нарушает рост волос. Характеризуется повышенным салоотделением, образованием перхоти и&nbsp;выпадением. Сопровождается зудом, воспалением и&nbsp;отечностью пораженных участков. Ведь жирный секрет&nbsp;&mdash; благодатная почва для бактерий.

      h3.appear Грибковая
      p.appear Проплешины на&nbsp;бороде появляются при микозе и&nbsp;стригущем лишае. Это группа болезней, причина возникновения которых кроется в&nbsp;паразитических грибах, массово разрушающих волосяные фолликулы. Больного мучает зуд, на&nbsp;коже появляются красные пятна, серый налет на&nbsp;волосах. При поражении кожи подбородка грибками алопеция носит временный характер. 

      h3.appear Рубцовая
      p.appear В&nbsp;результате перенесенного плоского лишая, красной волчанки, фолликулита или ожога гибнут волосяные луковицы. В&nbsp;местах сформировавшихся рубцов волосы на&nbsp;бороде выпадают и&nbsp;больше не&nbsp;растут.
      p.appear Андрогенетическая алопеция не&nbsp;распространяется на&nbsp;подбородок, так как волосы в&nbsp;этой зоне не&nbsp;чувствительны к&nbsp;дигидротестостерону, поражающему фолликулы. Исключение: редкие случаи агрессивного течения болезни.

      h2.appear#borody-2 Причины возникновения
      p.appear От&nbsp;потери волос страдают мужчины разного возраста. У&nbsp;облысения бороды местами у&nbsp;мужчин всегда есть причина. 
      ul.list-marked 
        li.appear Медицинские препараты. К&nbsp;облысению часто приводит прием бета-адреноблокаторов, антикоагулянтов, цитостатиков, ретиноидов и&nbsp;ряда других лекарств.
        li.appear Кожные болезни: жирная себорея, атопический дерматит волосистой части головы.
        li.appear Паразитарные грибки: микоз и&nbsp;стригущий лишай.
        li.appear Аутоиммунные состояния: красная волчанка, диффузный зоб, сахарный диабет, хронический тиреоидит.
        li.appear Недостаток витаминов и&nbsp;микроэлементов. При нехватке железа, кальция, серы и&nbsp;селена в&nbsp;организме волосы на&nbsp;бороде становятся тонкими и&nbsp;редкими, а&nbsp;затем выпадают. 	
        li.appear Гормональный дисбаланс, вызванный нехваткой тестостерона.
      p.appear Стресс, наследственность, механические травмы также становятся причиной выпадения.

      h2.appear#borody-3 Симптоматика
      p.appear Алопеция у&nbsp;мужчин на&nbsp;бороде протекает по-разному, симптомы зависят от&nbsp;характера болезни-провокатора. Состояние волосяного покрова ухудшается постепенно и&nbsp;не&nbsp;вызывает вначале тревоги, или болезнь проявляется внезапно, как при очаговой алопеции у&nbsp;мужчин на&nbsp;бороде. Но&nbsp;есть ряд общих характерных признаков, указывающих на&nbsp;начало облысения.
      ul.list-marked 
        li.appear Борода стала терять густоту;
        li.appear Ухудшение состояния при привычном уходе;
        li.appear При расчесывании волосков выпадает больше обычного;
        li.appear Появились участки с&nbsp;проплешинами;
        li.appear Кольцеобразные безволосые пятна с&nbsp;признаками шелушения;
        li.appear Круглые гладкие очаги облысения;
        li.appear Воспаление и&nbsp;зуд;
        li.appear Сухие или жирные чешуйки.

      h2.appear#borody-4 Диагностика
      p.appear Для диагностики алопеции на&nbsp;лице у&nbsp;мужчин применяют комплексное обследование. Первая часть включает сбор анамнеза и&nbsp;осмотр пациента. Врач обращает внимание на&nbsp;состояние волос, психоэмоциональный статус больного, прием препаратов и&nbsp;БАДов, зуд и&nbsp;чувствительность в&nbsp;зоне подбородка.
      ul.list-marked 
        li.appear Дерматоскоп позволяет рассмотреть маркеры, указывающие на&nbsp;конкретный тип облысения;
        li.appear Нарушения волосяного цикла определяются при микроскопическом исследовании волоса;
        li.appear Биопсию применяют при подозрении на&nbsp;рубцовую алопецию или для получения дополнительной информации;
        li.appear Фототрихограмма также по&nbsp;разным параметрам оценивает проблемные зоны.

      p.appear Диагностический этап&nbsp;&mdash; лабораторные исследования крови, которые уточняют диагноз, выявляют провоцирующие факторы. Комплекс включает стандартные исследования, которые дополняются анализами на&nbsp;гормоны, холестерин, инсулин. Также кровь сдается для определения недостатка витаминов и&nbsp;микроэлементов.

      h2.appear#borody-5 Как лечить
      p.appear Лечение алопеции бороды у&nbsp;мужчин определяется причинами и&nbsp;активностью процесса. При выявлении патологий ЦНС, щитовидной железы, надпочечников и&nbsp;других жизненно важных систем организма назначается терапия для решения проблемы.

      h3.appear Наружное 
      p.appear Местные раздражающие средства стимулируют приток крови к&nbsp;фолликулам, улучшая их&nbsp;трофику. В&nbsp;результате волосяной стержень уплотняется, становится крепче. При грибковом поражении кожи подбородка бороду моют шампунем с&nbsp;фунгицидным средством в&nbsp;составе. При некоторых видах алопеции на&nbsp;лице у&nbsp;мужчин положительно себя зарекомендовали гормональные крема.

      h3.appear Медикаментозное
      p.appear Если подтвердили грибковое поражение кожи, пациенту назначаются антибиотики. При микозах больному проводится иммуномодулирующая терапия. При аутоиммунном облысении к&nbsp;терапии подключают препараты иммунодепрессивного действия, чтобы снизить агрессию иммунных клеток. Глюкокортикостероиды&nbsp;&mdash; лидеры терапии тяжелых форм алопеции, в&nbsp;первую очередь гнездной. Также в&nbsp;лечение включают стимуляторы фактора роста.
      p.appear Недостаток витаминов и&nbsp;микроэлементов устраняется корректировкой меню или приемом витаминно-минеральных комплексов.

      h3.appear Физиотерапевтическое
      p.appear Физиотерапия выступает как вспомогательное лечение. Электростимуляция уменьшает объем жировых клеток, нормализует функциональность кожных клеток. Дарсонвализация незаменима при лечении себорейного типа облысения, так как снижает работу сальных желез. Криотерапия точечно воздействует жидким азотом на&nbsp;пораженные участки.
      +blockMarked({ color: 'green' })
        p.appear При рубцовом облысении однородность и&nbsp;густоту возвращают методом пересадки волос.

      h2.appear#borody-6 Как ускорить рост после выпадения
      p.appear Миноксидил внутриклеточно открывает калиевые каналы, в&nbsp;результате чего активируется приток калия и&nbsp;кальция к&nbsp;клеткам, вызывая расширение сосудов. Волосы быстрее выходят из&nbsp;фазы сна.
      p.appear Лазерное лечение также направлено на&nbsp;пробуждение спящих волосяных луковиц. Дополнительно укрепляются корни волос.
      p.appear Мезотерапию используют для введения витаминов и&nbsp;микроэлементов под кожу вблизи волосяных фолликулов. В&nbsp;результате обмен веществ ускоряется, фолликулы наполняются питательными веществами.
      p.appear Плазмотерапия&nbsp;&mdash; для инъекций также используют плазму крови, взятую у&nbsp;пациента. После процедуры фолликулы получают недостающие для роста питательные вещества.	

      h2.appear#borody-7 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Как предотвратить облысение бороды?</h3>')
            p.appear Чтобы минимизировать риски, рекомендовано избегать стрессов, следить за&nbsp;состоянием здоровья, выбирать сбалансированный рацион и&nbsp;правильно ухаживать за&nbsp;бородой.
          +accordionItem('<h3>Зарастут&nbsp;ли снова облысевшие участки?</h3>')
            p.appear После устранения провоцирующих факторов, волосы возобновляют рост. Исключение&nbsp;&mdash; рубцовая и&nbsp;очаговая алопеции, которые характеризуются гибелью фолликулов.
          +accordionItem('<h3>Влияет&nbsp;ли возраст на&nbsp;облысение?</h3>')
            p.appear В&nbsp;перечень провоцирующих факторов возраст мужчины не&nbsp;входит.
      
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="borody-8">Список литературы</h2>')     
            ul.list-marked 
              li.appear #[a(href='https://alkoy.ru/files/Metodicka-alopeciya-07-2011.pdf' target='_blank' rel='nofollow') https://alkoy.ru/files/Metodicka-alopeciya-07-2011.pdf]  
              li.appear #[a(href='https://www.lvrach.ru/1999/05/4527712' target='_blank' rel='nofollow') https://www.lvrach.ru/1999/05/4527712]
              li.appear #[a(href='http://www.dermatology.ru/translation/obsledovanie-patsientov-s-alopetsiei' target='_blank' rel='nofollow') http://www.dermatology.ru/translation/obsledovanie-patsientov-s-alopetsiei]
