extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Алопеция у детей: причины, симптомы и лечение'})
  +pageSection: .container: .content
    h1 Алопеция у детей: причины, симптомы и лечение
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Появление залысин на&nbsp;голове у&nbsp;ребенка беспокоит и&nbsp;тревожит родителей. Первые признаки алопеции нельзя оставлять без внимания, чтобы не&nbsp;допустить осложнений. При ранней диагностике и&nbsp;правильно подобранной терапии алопеция у&nbsp;детей хорошо поддается терапии. В&nbsp;статье рассказываем, что такое алопеция у&nbsp;детей, проявления болезни, причины возникновения и&nbsp;способы лечения.
      h2.appear#detey-1 Общие сведения
      p.appear Алопеция детская&nbsp;&mdash; патологическое состояние, выраженное уменьшением объема волосяного покрова на&nbsp;голове, появлением проплешин или полной потерей волос. Параллельно могут выпадать брови и&nbsp;ресницы. Детский организм восприимчив к&nbsp;любым изменениям, поэтому сочетание определенных внутренних и&nbsp;внешних факторов приводит к&nbsp;интенсивной потере волос в&nbsp;раннем возрасте. Успех лечения зависит от&nbsp;правильной постановки диагноза на&nbsp;начальной стадии.

      h2.appear#detey-2 Причины
      ul.list-marked 
        li.appear Нехватка витаминов и&nbsp;микроэлементов, возникающая на&nbsp;фоне болезней пищеварительной системы: гастродуоденит, рефлюкс, паразитарная инфекция, дисбактериоз и&nbsp;др.;
        li.appear Аутоиммунные патологии, на&nbsp;фоне которых развивается истончение или поредение волос;
        li.appear Психологические травмы, неврозы&nbsp;&mdash; психосоматика часто становится причиной алопеции у&nbsp;ребенка;
        li.appear Инфекционные болезни: ветрянка, пневмония, грипп и&nbsp;т.д.;
        li.appear Патологии щитовидной железы;
        li.appear Анемический синдром, ведущий к&nbsp;нарушению обмена веществ;
        li.appear Химический, термический или радиационный ожог кожи головы;
        li.appear Неосознанное желание рвать на&nbsp;себе волосы (трихотилломания)&nbsp;&mdash; это навязчивое состояние на&nbsp;фоне стресса или психического заболевания;
        li.appear Микроспория (стригущий лишай)&nbsp;&mdash; грибковая инфекция с&nbsp;проплешинами и&nbsp;очагами шелушения.

      h3.appear Немедицинские причины облысения
      ul.list-marked 
        li.appear Лысина у&nbsp;младенца на&nbsp;затылке часто возникает в&nbsp;результате регулярного трения о&nbsp;матрас кроватки или об&nbsp;автокресло. Волосяной покров восстанавливается, как только малыш начинает сидеть.
        li.appear Неправильный уход, тугое плетение кос и&nbsp;хвостов травмируют волосяную луковицу. При бережном обращении прическа постепенно восстанавливает объем.

      h2.appear#detey-3 Классификация
      ul.list-marked 
        li.appear #[strong Врожденная алопеция] у&nbsp;новорожденных встречается редко. Как правило, сопровождается патологиями щитовидной железы, кожными болезнями, врожденным эпидермолизом и&nbsp;пр.
        li.appear #[strong Физиологическая]&nbsp;&mdash; алопеция у&nbsp;ребенка первого года жизни, когда на&nbsp;голове младенца растет тонкий пух, чувствительный к&nbsp;механическому воздействию. Проплешины появляются на&nbsp;лбу и&nbsp;затылке. Рост волосяных стержней возобновляется самостоятельно без лечения.
        li.appear #[strong Себорейная алопеция] у&nbsp;детей вызвана болезненными состояниями кожи головы в&nbsp;результате гиперфункции сальных желез. Различают жирную и&nbsp;сухую. При сухой кожа склонна к&nbsp;повреждениям, в&nbsp;результате которых волосяные стержни ломаются и&nbsp;выпадают. При жирной отмершие эпидермальные клетки скапливаются на&nbsp;поверхности кожи, образуя очаги патогенной флоры. В&nbsp;результате нарушается питание фолликулов, волосы истончаются и&nbsp;выпадают. Чаще возникает в&nbsp;подростковом возрасте.
        li.appear #[strong Атрофирующая] также встречается у&nbsp;детей. Характеризуется стремительной потерей волос в&nbsp;результате атрофии волосяных луковиц. Требует незамедлительного лечения, так как облысение необратимо.
        li.appear #[strong Диффузная алопеция] у&nbsp;детей отличается интенсивной потерей волос по&nbsp;всей поверхности головы. Бывает анагеновая и&nbsp;телогеновая. При анагеновой отмечается массивное выпадение волос в&nbsp;период стресса, при приеме цитостатических препаратов или воздействия радиации. При телогеновой пряди редеют постепенно и&nbsp;равномерно в&nbsp;фазе покоя. Болезнь провоцируют стрессы, инфекции, гормональная перестройка у&nbsp;подростков.

      h3.appear Гнездная алопеция у&nbsp;детей	
      p.appear Более подробного рассмотрения заслуживает очаговая (она&nbsp;же гнездная) алопеция у&nbsp;ребенка&nbsp;&mdash; форма облысения, при которой на&nbsp;голове ребенка образуются округлые залысины с&nbsp;четкими границами. Тотальная алопеция приводит к&nbsp;полному облысению головы у&nbsp;детей. При универсальном типе болезнь затрагивает брови и&nbsp;ресницы.
      p.appear Это аутоиммунная патология, которая передается по&nbsp;наследству. Чаще развивается после 3&nbsp;лет в&nbsp;период интенсивного роста. Вначале появляются одиночные безволосые очаги, которые постепенно увеличиваются в&nbsp;размерах. Кожа малыша не&nbsp;шелушится и&nbsp;не&nbsp;чешется. Если патологические процессы протекают дольше 6&nbsp;месяцев, то&nbsp;болезнь считается хронической. У&nbsp;60&nbsp;% заболевших гнездный вид облысения проходит естественным путем без лечения в&nbsp;течение 12&nbsp;месяцев.
      +blockMarked({ color: 'green' })
        p.appear Очаговая алопеция у&nbsp;подростка&nbsp;&mdash; эмоционально тяжелое бремя для его неокрепшей психики. Ребенок теряет уверенность в&nbsp;себе, недостаток часто высмеивают ровесники. Задача родителей&nbsp;&mdash; помочь справиться с&nbsp;негативными эмоциями, повышать осведомленность, не&nbsp;бояться обращаться за&nbsp;помощью и&nbsp;консультацией к&nbsp;специалистам.

      h2.appear#detey-4 Симптомы алопеции у&nbsp;детей	
      p.appear Проявления патологии различаются и&nbsp;напрямую зависят от&nbsp;типа.	
      ul.list-marked 
        li.appear При атрофической формируются безволосые зоны в&nbsp;виде языков огня. На&nbsp;гладкой блестящей коже устья волосяных луковиц не&nbsp;видны. Восстановить естественный рост в&nbsp;пораженных местах невозможно.
        li.appear Себорейная начинается с&nbsp;повышения жирности прядей, образованием у&nbsp;корней чешуек и&nbsp;корочек. Патология сопровождается зудом, ребенок расчесывает голову. Со&nbsp;временем в&nbsp;пораженных зонах волосяные стержни выпадают. Их&nbsp;рост восстанавливается после лечения.	
        li.appear При диффузной наблюдается равномерное поредение. Волосяные стержни становятся хрупкими и&nbsp;ломкими, область пробора расширяется.
        li.appear У&nbsp;гнездной главный симптом&nbsp;&mdash; круглые с&nbsp;чистой кожей безволосые участки, которые со&nbsp;временем сливаются. Волосы выпадают интенсивно. Патология сопровождается повреждением ногтевой пластины&nbsp;&mdash; образуются вмятины.

      h2.appear#detey-5 Диагностика
      p.appear Не&nbsp;всегда выпадение волос у&nbsp;детей является алопецией. Родителям, заметившим тревожные симптомы, необходимо обратиться к&nbsp;врачу для уточнения диагноза. Расширенное диагностическое обследование выявит причины развития патологии. Диагностикой занимается педиатр и&nbsp;врачи других специализаций.
      p.appear Анализ крови выявляет проблемы с&nbsp;щитовидной железой, инфекции, уровень железа и&nbsp;т.д. Помимо лабораторных исследований крови, больному:
      ul.list-marked 
        li.appear осматривают корни волос под микроскопом;
        li.appear делают фототрихограмму.
      p.appear При подозрении на&nbsp;красную волчанку или стригущий лишай прибегают к&nbsp;биопсии и&nbsp;гистологическому исследованию частиц волосистой части головы. Анализ крови на&nbsp;микроэлементы выявляет дефициты, кала&nbsp;&mdash; дисбактериоз и&nbsp;гельминты.

      h2.appear#detey-6 Лечение алопеции у&nbsp;детей
      p.appear Лечение проводится в&nbsp;несколько этапов и&nbsp;основывается на&nbsp;причинах, спровоцировавших патологию. При анемии назначают препараты железа, при поражении грибком&nbsp;&mdash; антимикотические составы, при инфекции&nbsp;&mdash; противовирусные средства, антибиотики и&nbsp;т.д.
      p.appear Восстановительная терапия включает:
      ul.list-marked 
        li.appear иммуномодуляторы;
        li.appear комплекс витаминов;
        li.appear гормональные препараты;
        li.appear средства местного раздражающего действия.
      p.appear При локализованной очаговой алопеции показано местное и\или внутриочаговое применение кортикостероидов. В&nbsp;тяжелых случаях резистентности рассматривается вероятность приема иммунодепрессантов.
      p.appear Гнездная алопеция не&nbsp;вылечивается окончательно. Несмотря на&nbsp;положительные результаты терапии, долговременную ремиссию, возможно повторение эпизодов выпадения волос.

      h2.appear#detey-7 Прогноз и&nbsp;профилактика
      p.appear При ранней диагностике и&nbsp;грамотном лечении большинство типов облысения обратимо. Но&nbsp;давать прогнозы при тотальном облысении проблематично, так как у&nbsp;некоторых детей наблюдаются повторные эпизоды облысения без возобновления роста волос.
      h3.appear Клинические рекомендации для детей
      ul.list-marked 
        li.appear Использовать безопасные средства для мытья головы;
        li.appear Исключить тугие прически;
        li.appear Составить здоровое сбалансированное меню;
        li.appear Защищать голову от&nbsp;прямых солнечных лучей;
        li.appear Лечить детские болезни, не&nbsp;допуская перехода в&nbsp;хроническую форму;
        li.appear Следовать режиму дня в&nbsp;соответствии с&nbsp;возрастом;
        li.appear Избегать стрессовых ситуаций.

      h2.appear#detey-8 Какой врач лечит болезнь
      p.appear При подозрении на&nbsp;облысение детей первоначально осматривает педиатр, который по&nbsp;результатам осмотра и&nbsp;лабораторных исследований направляет больного на&nbsp;консультацию узких специалистов. Так как болезнь провоцируют разные факторы, то&nbsp;больному может потребоваться помощь иммунолога, гастроэнтеролога, невролога, аллерголога или дерматолога-трихолога.

      h2.appear#detey-9 Популярные вопросы и&nbsp;ответы 
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>В&nbsp;каком возрасте возникает гнездная алопеция?</h3>')
            p.appear Болезнь диагностируют у&nbsp;детей разного возраста, но&nbsp;чаще у&nbsp;подростков.	
          +accordionItem('<h3>Можно&nbsp;ли предотвратить очаговое облысение?</h3>')
            p.appear Нет, так как в&nbsp;основе заболевания лежат генные нарушения.
      
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="detey-10">Источники</h2>')     
            ul.list-marked 
              li.appear Энциклопедия здоровья&nbsp;&mdash; методы лечения, лекарственные растения, советы практикующих врачей #[a(href='https://medicineherbalist.com/' target='_blank' rel='nofollow') https://medicineherbalist.com/];
              li.appear &laquo;Типы выпадения волос: признаки и&nbsp;симптомы очаговой алопеции&raquo; Американская академия дерматологической ассоциации #[a(href='https://www.aad.org/public/diseases/hair-loss/types/alopecia/symptoms' target='_blank' rel='nofollow') https://www.aad.org/public/diseases/hair-loss/types/alopecia/symptoms];
              li.appear &laquo;Гнездная алопеция у&nbsp;детей&raquo; Зорькина М.В., Незнахина М.С.
