extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Фронтальная фиброзная алопеция - симптомы и лечение'})
  +pageSection: .container: .content
    h1 Фронтальная фиброзная алопеция - симптомы и лечение
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Клинические проявления лобной фиброзной алопеции впервые представлены в&nbsp;1994 году Коссард как вариант плоского красного лишая у&nbsp;женщин в&nbsp;постменопаузе. Это редкое состояние выпадения волос, вызывающее прогрессирующее облысение и&nbsp;фиброзирование тканей по&nbsp;всей линии роста волос. Внешние изменения разрушительны для самооценки и&nbsp;психического здоровья человека. В&nbsp;статье подробно рассматриваем переднюю фиброзную алопецию, симптомы болезни, варианты терапии и&nbsp;профилактики.

      h2.appear#frontalnaja-1 Что такое фронтальная фиброзная алопеция (ФФА)
      p.appear Это первоначальная лимфоцитарная рубцовая алопеция с&nbsp;отличительной клинической картиной&nbsp;&mdash; нарастающей рецессией лобно-височной линии волосяного роста. Выпадению также подвержены брови и&nbsp;другие участки тела. Для болезни характерно медленное течение, но&nbsp;есть случаи стремительной потери волос.
      p.appear Хотя заболеваемость ФФА неустанно растет, ее&nbsp;патология и&nbsp;этиология до&nbsp;конца не&nbsp;изучены.

      h2.appear#frontalnaja-2 Основные характеристики
      p.appear Помимо облысения ФФА вызывает рубцевание кожи головы. Самоподдерживающийся иммунный ответ приводит к&nbsp;воспалению и&nbsp;разрушению клеток волосяных фолликулов. Со&nbsp;временем фиброзная ткань замещает нормальную эпителиальную ткань, заполняя фолликул.
      p.appear Возраст диагностирования лобной алопеции 56-67&nbsp;лет. Область облысения выглядит как блестящая бледная полоса. Как правило, рецессия линии роста симметричная и&nbsp;двухсторонняя. Редко, но&nbsp;встречается и&nbsp;асимметричная форма.
      p.appear Несмотря на&nbsp;то, что фронтальная фиброзирующая алопеция чаще проявляется у&nbsp;женщин после 50&nbsp;лет, у&nbsp;молодых женщин и&nbsp;мужчин этот тип облысения также диагностируют.

      h2.appear#frontalnaja-3 Причины возникновения ФФА
      h3.appear Гормональные изменения и&nbsp;менопауза
      p.appear Развитие ФФА в&nbsp;период естественной или искусственной менопаузы указывает на&nbsp;связь гормональных и&nbsp;патологических процессов.

      h3.appear Аутоиммунные причины
      p.appear Обычно иммунные клетки защищают организм от&nbsp;вторжения бактерий и&nbsp;вирусов, но&nbsp;при аутоиммунных патологиях поражают собственные ткани. Одна из&nbsp;действующих версий утверждает, что ФФА развивается, когда иммунные клетки атакуют волосяные луковицы. 

      h3.appear Генетическая предрасположенность	
      p.appear Есть мнение, что фронтальная фиброзирующая алопеция передается по&nbsp;наследству. Уже проведены исследования, дающие представление о&nbsp;генах, участвующих в&nbsp;развитии патологического процесса, но&nbsp;требуется дополнительное изучение. 

      h3.appear Экологические триггеры
      p.appear Предполагается, ФФА развивается как результат аллергической реакции на&nbsp;химические компоненты красок для волос, уходовой косметики. Прямые солнечные лучи, загрязненный воздух, вирусы и&nbsp;бактерии также провоцируют лобное облысение. Но&nbsp;вопрос еще на&nbsp;стадии исследования.

      h3.appear Психоэмоциональное напряжение
      p.appear Стресс также выступает как предполагаемая причина воспаления фолликулов при ФФА. Множественные исследования подтверждают важную роль сенсорных нейропептидов в&nbsp;производстве и&nbsp;поддержании воспалительного каскада.

      h2.appear#frontalnaja-4 Симптомы и&nbsp;диагностика ФФА
      h3.appear Типичные признаки заболевания	
      p.appear Симптомы включают истончение стержней, легкий зуд и&nbsp;болезненность, лобно-височные залысины по&nbsp;мужскому типу. Отличительная черта фиброзирующей алопеции&nbsp;&mdash; рубцы на&nbsp;безволосых участках. Ранние признаки схожи с&nbsp;признаками других форм облысения, поэтому диагностировать ФФА вначале болезни сложно.
      p.appear Образовавшаяся линия волос зубчатая, включает стержни с&nbsp;перифолликулярной эритемой и&nbsp;легким гиперкератозом&nbsp;&mdash; покраснение и&nbsp;чешуйки определяются при визуальном осмотре. Безволосая полоска кожи атрофичная, блестящая, светлее кожи лба. Брови также истончаются или отсутствуют. Ресницы и&nbsp;ногтевые пластины часто остаются без изменений. Тест натяжения отрицательный. На&nbsp;лице появляются папулы желтого цвета.
      p.appear Лобная фиброобразующая алопеция редко встречается у&nbsp;мужчин, которые при осложненном течении испытывают проблемы с&nbsp;ростом бороды, усов и&nbsp;бакенбардов.

      h3.appear Клинические модели
      ul.list-marked 
        li.appear Линейная&nbsp;&mdash; равномерная полоса рецессии лобной линии роста волос при сохранении густоты волосяного покрова за&nbsp;линией роста. 
        li.appear Диффузная или зигзагообразная ленточная алопеция, поражающая лобную линию роста волос со&nbsp;значительной потерей плотности волосяного покрова за&nbsp;линией роста.
        li.appear Псевдобахрома&nbsp;&mdash; за&nbsp;незатронутой узкой линией роста волос следует полоса алопеции, образовавшийся в&nbsp;результате рисунок схож с&nbsp;бахромой.

      h3.appear Диагностические методы	
      p.appear Диагностирование начинается с&nbsp;визуального осмотра, теста натяжения и&nbsp;биопсии кожи головы.
      p.appear Исследование под микроскопом выявляет полосовидное лимфоцитарное уплотнение в&nbsp;сосочковом слое дермы, узелки ороговевшего эпидермиса в&nbsp;устьях фолликулов, отечность базального слоя эпидермиса.
      p.appear При дерматоскопии отмечается отсутствие фолликулярных отверстий, но&nbsp;присутствуют белые перипилярные точки и&nbsp;признаки перифолликулярной эритемы.

      h2.appear#frontalnaja-5 Лечение фронтальной фиброзной алопеции
      p.appear Нет четкой схемы терапии данной патологии. Назначается лечение, замедляющее облысение и&nbsp;стимулирующее функциональность волосяных луковиц. Часто применяется комбинация методов.

      h3.appear Современные методы лечения
      p.appear #[strong Кортикостероиды] назначают для местного и&nbsp;перорального применения. Гормоны уменьшают разрушающее фолликулы воспаление, местно стимулируют рост волос.
      p.appear #[strong Иммунодепрессанты] подавляют иммунный ответ организма, снижая негативное воздействие на&nbsp;волосяные луковицы.
      p.appear #[strong Антибиотики]&nbsp;&mdash; для борьбы с&nbsp;воспалением больные также проходят курс антибиотикотерапии.
      p.appear #[strong Блокаторы 5-альфа-редуктазы] тормозят преобразование тесторона в&nbsp;дигидротестотерон, который играет важную роль в&nbsp;гибели фолликулов.
      p.appear #[strong Миноксидил] наносится на&nbsp;пораженный участок, так как усиливает выработку факторов роста сосудистого эндотелия и&nbsp;фибропластов, запускающих фазу анагена.

      h3.appear Профилактика и&nbsp;рекомендации по&nbsp;уходу
      p.appear Поскольку передняя фиброзирующая алопеция до&nbsp;конца не&nbsp;изучена, перечень профилактических мер еще не&nbsp;разработан. Предполагается, что #[strong изменение образа жизни] способно защитить волосяные фолликулы и&nbsp;предотвратить потерю волос в&nbsp;будущем. Контроль стресса и&nbsp;физические упражнения помогают улучшить здоровье, повысить устойчивость к&nbsp;негативной нагрузке. Употребление свежих фруктов и&nbsp;овощей, оливкового масла уменьшает уровень воспаления в&nbsp;организме. 

      h2.appear#frontalnaja-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Каковы первые признаки ФФА?</h3>')
            p.appear Болезнь начинается с&nbsp;поредения волосяного покрова по&nbsp;линии лба.
          +accordionItem('<h3>Можно&nbsp;ли вылечить ФФА?</h3>')
            p.appear Выпадение волос, вызванное лобной алопецией, невозможно остановить, на&nbsp;сегодня нет продуктивных методов лечения. Терапия направлена на&nbsp;замедление прогрессирования болезни.
          +accordionItem('<h3>Может&nbsp;ли ФФА развиться у&nbsp;детей или подростков?</h3>')
            p.appear Нет подтвержденной информации о&nbsp;пациентах с&nbsp;лобным облысением до&nbsp;18&nbsp;лет.
          +accordionItem('<h3>Возможно&nbsp;ли восстановление волос после развития ФФА?</h3>')
            p.appear Разрушенные волосяные луковицы не&nbsp;восстанавливаются, рост волос прекращается.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="frontalnaja-7">Источники</h2>')
            ul.list-marked
              li.appear Медикаментозная терапия лобной фиброзирующей алопеции: обзор и&nbsp;клинический подход Хо&nbsp;А., Шапиро Дж.;
              li.appear Постменопаузальная фронтальная фиброзирующая алопеция. Рубцовая алопеция в&nbsp;закономерностях распределения Коссард&nbsp;С.;
              li.appear Клинический, дерматоскопический и&nbsp;трихоскопический анализ фронтальной фиброзирующей алопеции, связанной с&nbsp;приобретенной дермальной макулярной гиперпигментацией: поперечное обсервационное исследование случай-контроль Кумаран М.С., Разми Т.М., Винай&nbsp;К., Парсад&nbsp;Д.
