extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  +pageSection(style='margin-top:50px;'): .container: .content
    ul.list-marked
      li: a(href='frontalnaja-fibroznaja-alopecija.html') Фронтальная фиброзная алопеция - симптомы и лечение - frontalnaja-fibroznaja-alopecija.html
      li: a(href='zamaskirovat-lysinu-i-zalysiny-zhenshchine.html') Как скрыть лысину и залысины у женщины - популярные прически и альтернативные методы - симптомы и лечение - zamaskirovat-lysinu-i-zalysiny-zhenshchine.html
      li: a(href='traktsionnaya-alopeciya.html') Тракционная алопеция: причины, профилактика и лечение - traktsionnaya-alopeciya.html
      li: a(href='nasledstvennoe-oblysenie.html') Что такое наследственное облысение и как его предотвратить - nasledstvennoe-oblysenie.html
      li: a(href='alopeciya-borody.html') Алопеция на бороде у мужчин - как убрать проплешины? - alopeciya-borody.html
      li: a(href='alopetsiya-u-detey.html') Алопеция у детей: причины, симптомы и лечение - alopetsiya-u-detey.html
      li: a(href='vypadenie-volos-pri-psoriaze.html') Алопеция и псориаз: современные методы лечения и профилактики - vypadenie-volos-pri-psoriaze.html
      li: a(href='vypadenie-volos-u-zhenshhin.html') Выпадение волос у женщин: причины, диагностика и эффективные методы лечения - vypadenie-volos-u-zhenshhin.html
      li: a(href='vypadenie-volos-u-muzhchin.html') Андрогенная алопеция у мужчин: причины, симптомы и эффективное лечение - vypadenie-volos-u-muzhchin.html
      li: a(href='sovety-trikhologa-pri-vypadenii-volos.html') Советы трихолога при выпадении волос у женщин и мужчин - sovety-trikhologa-pri-vypadenii-volosn.html
      li: a(href='vypadenie-volos-pri-anemii.html') Выпадение волос при дефиците железа - причины, лечение и профилактика - vypadenie-volos-pri-anemii.html
      li: a(href='vypadenie-volos-s-beloj-lukovicej.html') Почему волосы выпадают с белой луковицей: причины, диагностика и решения - причины, лечение и профилактика - vypadenie-volos-s-beloj-lukovicej.html
      li: a(href='k-kakomu-vrachu-obratitsya-esli-vypadayut-volosy.html') Как выбрать врача для лечения выпадения волос? - k-kakomu-vrachu-obratitsya-esli-vypadayut-volosy.html
      li: a(href='vypadenie-volos-posle-kovida.html') Что делать если после ковида выпадают волосы? - vypadenie-volos-posle-kovida.html

