extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Как выбрать врача для лечения выпадения волос?'})
  +pageSection: .container: .content
    h1 Как выбрать врача для лечения выпадения волос?
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Обычно вопрос с&nbsp;выбором врача решается без проблем: болит горло&nbsp;&mdash; к&nbsp;лору, воспалился глаз&nbsp;&mdash; к&nbsp;окулисту, а&nbsp;вот когда волосы выпадают, к&nbsp;какому врачу обратиться? На&nbsp;это вопрос мы&nbsp;отвечаем в&nbsp;статье, но&nbsp;сначала выясним, что такое облысение и&nbsp;его причины.	

      h2.appear#vrach-1 Когда начинают говорить про выпадение волос
      p.appear Волосяной стержень&nbsp;&mdash; продукт жизненного цикла волосяного фолликула. Стержень зарождается в&nbsp;луковице, растет и&nbsp;затем отмирает. После непродолжительного отдыха, цикл начинается заново. Таким образом до&nbsp;100-150 волосков ежедневно отмирает, выпадает и&nbsp;заменяется новым. Ежедневная потеря остается незаметной, так как у&nbsp;среднестатистического человека до&nbsp;100&nbsp;000 волос на&nbsp;голове.
      p.appear Про облысение говорим, когда:
      ul.list-marked
        li.appear волос выпадает больше, чем восстанавливается;
        li.appear старые стержни выпадают быстро, а&nbsp;новые растут медленно.
      p.appear В&nbsp;обоих случаях количество волосяных фолликулов уменьшается. Потеря волос не&nbsp;считается неотложной медицинской, но&nbsp;все&nbsp;же требует помощи врача, так как только выяснив причину состояния, можно составить действенную программу лечения.

      h2.appear#vrach-2 Причины и&nbsp;факторы риска облысения
      p.appear На&nbsp;состояние здоровья и&nbsp;густоту волосяного покрова влияет множество показателей&nbsp;&mdash; наследственность, принимаемые лекарства, болезни, дефицитные состояние и&nbsp;т.д. Поэтому важно определить и&nbsp;устранить причину, чтобы вернуть пышную шевелюру.

      h3.appear Генетический фон
      p.appear Вероятность облысения выше, если в&nbsp;семье есть родственники с&nbsp;залысинами по&nbsp;материнской и&nbsp;отцовской линии. В&nbsp;ходе различных исследований ученые обнаружили, что более 280 генов ответственны за&nbsp;поредение волосяного покрова. Если в&nbsp;семье прослеживается такая закономерность, то&nbsp;высока вероятность, что облысение связано с&nbsp;генетикой.

      h3.appear Возраст
      p.appear С&nbsp;возрастом деление клеток замедляется. Это касается и&nbsp;клеток волосяных фолликулов. После 40&nbsp;лет часто наблюдается поредение шевелюры. А&nbsp;если человек генетически склонен к&nbsp;облысению, под давлением отягчающих факторов процесс запускается раньше.

      h3.appear Чувствительность к&nbsp;андрогенам
      p.appear Это группа гормонов, присутствующих у&nbsp;мужчин и&nbsp;женщин. Влияют на&nbsp;формирование мужских черт характера и&nbsp;репродуктивной активности. У&nbsp;мужчин с&nbsp;повышенной чувствительностью к&nbsp;производной тестостерона&nbsp;&mdash; дигидротестостерону (ДГТ), под воздействием сопутствующих факторов развивается облысение по&nbsp;мужскому типу в&nbsp;любом возрасте, но&nbsp;чаще после 40. Женщины с&nbsp;влиянием ДГТ сталкиваются в&nbsp;период менопаузы, когда падает уровень эстрогенов, и&nbsp;при гиперандрогении.

      h3.appear Инсулинорезистентность
      p.appear Метаболический синдром относится к&nbsp;нарушениям обмена веществ, и&nbsp;тесно связан с&nbsp;развитием сахарного диабета и&nbsp;сердечных патологий. При инсулинорезистентности инсулин перестает поставлять в&nbsp;клетки глюкозу, что негативно влияет на&nbsp;обменные процессы в&nbsp;клетках, включая клетки волосяных фолликулов, поэтому стержни постепенно истончаются, редеют и&nbsp;выпадают.

      h2.appear#vrach-3 Предупреждающие знаки, что пора обратиться к&nbsp;врачу
      h3.appear Чрезмерное выпадение волос
      p.appear Первое, на&nbsp;что обращают внимание,&nbsp;&mdash; это количество волосков, оставшихся на&nbsp;расческе, в&nbsp;раковине, душе или на&nbsp;кровати. В&nbsp;среднем человек теряет 120 волосков в&nbsp;день. Выпадение волос после мытья&nbsp;&mdash; это нормальное явление. Обнаружение их&nbsp;на&nbsp;расческе или в&nbsp;душе, не&nbsp;всегда повод для беспокойства, а&nbsp;завершение естественного жизненного цикла стержня. Но&nbsp;если количество выпавших волос возрастает&nbsp;&mdash; это уже причина для визита к&nbsp;врачу.
      p.appear Чтобы убедиться, что шевелюра редеет, волосяной покров проверяют под ярким светом, если сквозь пряди явно проступает кожа голова&nbsp;&mdash; не&nbsp;откладывайте посещение врача.

      h3.appear Изменения фронтальной линии роста
      p.appear Мужчины чаще замечают поредение и&nbsp;истончение по&nbsp;фронтальной линии роста, которая естественным образом поднимается с&nbsp;возрастом. Но&nbsp;быстрые изменения указывают на&nbsp;начало облысения. Это может быть линия роста в&nbsp;форме буквы&nbsp;М, которая углубляется и&nbsp;трансформируется в&nbsp;букву V.&nbsp;Еще рецессия волос часто заметна вокруг висков.
      p.appear Если сомневаетесь, то&nbsp;начните сравнивать линию роста на&nbsp;свежих фотографиях с&nbsp;фотографиями, например, годичной давности. Еще лучше каждый месяц делать фотофиксацию, чтобы сравнивать развитие поредения.

      h3.appear Истончение
      p.appear Залысины&nbsp;&mdash; не&nbsp;единственный признак облысения. Для диффузного выпадения волос характерно равномерное истончение и&nbsp;поредение волосяного покрова. Этот тип истончения чаще наблюдается у&nbsp;женщин. Истончение может затрагивать всю поверхность головы, одну сторону головы или только линию роста.

      h3.appear Обильное выпадение волос
      p.appear Быстрая потеря больших объемов волосяного покрова&nbsp;&mdash; причина, которая требует незамедлительной консультации врача, так как причиной становятся как обратимые процессы, так и&nbsp;патологические состояния.
      ul.list-marked
        li.appear Лекарства;
        li.appear Солнечный ожог кожи головы;
        li.appear Потеря или увеличение веса;
        li.appear Стрессовые состояния;
        li.appear Беременность и&nbsp;лактация;
        li.appear Менопауза;
        li.appear Ограничивающая диета;
        li.appear Курение;
        li.appear Болезни и&nbsp;другие факторы.
      p.appear Если в&nbsp;одном случае достаточно исключить триггер, то&nbsp;в&nbsp;другом человеку предстоит продолжительное лечение. Только врач определяет причину и&nbsp;назначает действенную терапию.

      h3.appear Проплешины
      p.appear Рандомное появление проплешин на&nbsp;голове часто вызвано аутоиммунным состоянием&nbsp;&mdash; гнездной алопецией. У&nbsp;болезни непредсказуемое течение. Рост волос может спонтанно восстановиться, но, в&nbsp;ряде случаев, человеку предстоит лечение, которое не&nbsp;всегда заканчивается победой.

      h2.appear#vrach-4 Врачи, к&nbsp;которым обращаются при выпадении волос
      p.appear Когда дело доходит до&nbsp;потери волос, обращение за&nbsp;помощью к&nbsp;квалифицированному специалисту имеет решающее значение. Ниже рассмотрим врачей, которые чаще занимаются лечением облысения, обсудим их&nbsp;специализацию и&nbsp;методы терапии.
      h3.appear Трихолог
      p.appear Это&nbsp;&mdash; основной врач по&nbsp;выпадению волос. Специализируется на&nbsp;диагностике и&nbsp;лечении облысения, болезней кожи головы. Трихология&nbsp;&mdash; это наука лечения выпадения волос. Трихологи обладают глубокими знаниями о&nbsp;структуре волос, циклах роста и&nbsp;методах лечения выпадения волос. Они часто используют неинвазивные методы оценки выпадения волос, такие как подробный анамнез, микроскопический анализ и&nbsp;анализы крови. Варианты лечения включают безрецептурные и&nbsp;рецептурные препараты, диетические рекомендации или изменение образа жизни.
      h3.appear Дерматолог
      p.appear Это врач, специализирующийся на&nbsp;лечении кожи, волос и&nbsp;ногтей. Дерматологи диагностируют выпадение волос на&nbsp;основании истории болезни, осмотра кожи головы и&nbsp;даже биопсии кожи головы, анализов крови. Чаще к&nbsp;стоматологам обращаются, когда облысение спровоцировано болезнями кожи головы.
      h3.appear Эндокринолог
      p.appear Когда гормональный дисбаланс провоцирует выпадение волос, на&nbsp;помощь приходит эндокринолог. Это врачи, которые специализируются на&nbsp;гормональных расстройствах, лечат болезни щитовидной железы, синдром поликистозных яичников или болезни надпочечников. Восстанавливая баланс гормонов в&nbsp;организме, эндокринологи решают проблемы облысения, связанного с&nbsp;гормональными проблемами.
      h3.appear Невролог и&nbsp;психотерапевт
      p.appear Облысение оказывает значительное влияние на&nbsp;самооценку и&nbsp;психическое благополучие человека. Невролог выписывает стабилизирующие психоэмоциональный фон препараты, психотерапевт оказывает поддержку, помогает справиться со&nbsp;стрессом, предлагая методы повышения уверенности в&nbsp;себе. 
      h3.appear Гастроэнтеролог
      p.appear Часто истончение и&nbsp;поредение шевелюры связано с&nbsp;болезнями ЖКТ, неусвоением питательных компонентов и&nbsp;витаминов организмом, в&nbsp;результате чего возникают дефицитные состояния. Гастроэнтеролог находит причину, назначает продуктивное лечение, включающее фармпрепараты, витаминные и&nbsp;минеральные комплексы.
      h3.appear Онколог
      p.appear Лечение рака, такое как химиотерапия, часто приводит к&nbsp;временной потере волос. В&nbsp;таких случаях онколог дает рекомендации по&nbsp;управлению ситуацией во&nbsp;время и&nbsp;после процесса лечения. Рекомендации часто включают охлаждение кожи головы или коррекцию волосяного покрова шляпами или системами замещения утраченных волос (реплейсментами).

      h2.appear#vrach-5 Лечение выпадения волос
      p.appear Комплексная терапия подбирается в&nbsp;зависимости от&nbsp;поставленного диагноза. Включает медикаментозную терапию и&nbsp;физиотерапию. Когда облысение вызвано болезнью, лечение причины позволяет восстановить волосяной покров. Отмена токсичных лекарств, лучевой и&nbsp;химической терапии, устранение дефицитных состояний также обращает вспять патологические процессы.
      h3.appear Медикаментозные методы
      p.appear #[strong Миноксидил] выпускается в&nbsp;жидкой, пенной и&nbsp;шампуневой формах. Препарат помогает восстановить рост волос и&nbsp;замедлить скорость их&nbsp;выпадения. Для предотвращения дальнейшей потери волос и&nbsp;начала волосяного роста потребуется не&nbsp;менее 6&nbsp;месяцев лечения. Может потребоваться еще 2-3&nbsp;месяца, чтобы понять, помогает&nbsp;ли миноксидил. Если помогает, лечение продолжают неопределенно долго, чтобы поддерживать эффект.
      p.appear #[strong Финастерид]&nbsp;&mdash; рецептурный препарат, тормозящий преобразования тестостерона в&nbsp;дигидротестостерон. Назначается при андрогенетической алопеции. Принимается ежедневно. Для стойкого эффекта требуется регулярной прием.
      p.appear #[strong Инъекции кортикостероидов] помогают в&nbsp;случае аутоиммунных состояний, например, очаговой алопеции. Препараты вводятся непосредственно в&nbsp;область поражения, чтобы снять воспаление, уменьшить атрофию кожи. У&nbsp;гормонотерапии серьезные побочные проявления.
      p.appear #[strong Кетоконазол] применяется местно при грибковом поражении кожи головы. Препарат показал высокие противовоспалительные свойства. Есть исследования, подтверждающие, что кетоконазол тормозит выработку ДГТ. Поэтому его стали назначать при андрогенной алопеции.

      h3.appear Физиотерапевтические процедуры
      h4.appear Ионофорез
      p.appear Это процедура, направленная на&nbsp;введение лекарственных средств в&nbsp;глубокие слои кожи под действием постоянного гальванического тока. Ионофорез локально ускоряет кровообращение, стимулирует деление клеток и&nbsp;обмен веществ в&nbsp;них. Метод также способствует проникновению регуляторных и&nbsp;питательных веществ к&nbsp;волосяным луковицам и&nbsp;в&nbsp;клетки кожи, укрепляя волосы и&nbsp;усиливая их&nbsp;рост.

      h3.appear Терапия трихотилломании
      p.appear Если выпадение волос вызвано компульсивным выдергиванием или скручиванием волос (трихотилломания), рекомендована когнитивно-поведенческая терапия, Это форма разговорной терапии, предполагающая сосредоточение на&nbsp;причинах, из-за которых развилась эта компульсия, и&nbsp;работу над стратегиями регулирования нежелательного поведения.

      h3.appear Психологическая поддержка пациентов
      p.appear Одна из&nbsp;причин, по&nbsp;которой облысение становится эмоционально тяжелым испытанием&nbsp;&mdash; это&nbsp;то, что волосы часто рассматриваются как определяющая характеристика внешности человека. Поэтому их&nbsp;потеря приводит к&nbsp;потере уверенности в&nbsp;привлекательности внешности, что имеет тяжелые последствия для личной, социальной и&nbsp;профессиональной жизни человека.
      p.appear Советы трихолога при выпадении волос включают обращение за&nbsp;профессиональной помощью через терапию или консультирование. Общение с&nbsp;психологом станет полезным опытом для людей, борющихся с&nbsp;эмоциональными последствиями облысения. Терапия предоставляет безопасное пространство для исследования и&nbsp;решения этих чувств, а&nbsp;терапевт предлагает руководство и&nbsp;стратегии для улучшения самовосприятия и&nbsp;самооценки.

      h2.appear#vrach-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Можно обратить вспять выпадение волос?</h3>').appear
            p.appear Облысение можно контролировать&nbsp;и, в&nbsp;ряде случаев, восстановить былую густоту прически. Но&nbsp;успех лечения зависит от&nbsp;причины, спровоцировавшей облысение, особенностей состояния и&nbsp;соблюдения рекомендуемой терапии.
          +accordionItem('<h3>Сколько времени потребуется, чтобы увидеть результаты лечения?</h3>').appear
            p.appear Это зависит в&nbsp;первую очередь от&nbsp;причины состояния, индивидуального ответа организма на&nbsp;терапию и&nbsp;ряда других факторов. В&nbsp;среднем первые результаты наблюдается через 3-6&nbsp;месяцев. Но&nbsp;иногда приходится ждать 1-1,5&nbsp;года. Терпение и&nbsp;регулярные визиты к&nbsp;врачу положительно влияют на&nbsp;исход лечения.
          +accordionItem('<h3>К&nbsp;какому врачу обратиться при облысении женщины?</h3>').appear
            p.appear Трихолог&nbsp;&mdash; первый врач, к&nbsp;которому обращаются при выпадении волос у&nbsp;женщин, он&nbsp;назначает анализы для уточнения диагноза. Если проблема гормональная, понадобится консультация эндокринолога или гинеколога.
          +accordionItem('<h3>Последние открытия в&nbsp;области трихологии?</h3>').appear
            p.appear Последнее открытие, опубликованное весной 2024&nbsp;года, предполагает возможность использования микроигольчатого пластыря для доставки иммуномодуляторов, которые могли&nbsp;бы вылечить гнездную алопецию. Это лечение казалось очень многообещающим в&nbsp;испытаниях на&nbsp;животных, но&nbsp;для доказательства его безопасности и&nbsp;эффективности еще необходимы обширные испытания на&nbsp;людях

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="vrach-7">Источники</h2>')
            ul.list-marked
              li.appear Распространенные заболевания, связанные с&nbsp;выпадением волос/ Спрингер&nbsp;К., Браун&nbsp;М., Штульберг Д.Л.;
              li.appear Острая тотальная алопеция/ Чой Х.Дж., Ихм С.В.;
              li.appear Рандомизированное исследование ароматерапии. Успешное лечение очаговой алопеции/ Хэй И.К., Джеймисон&nbsp;М., Ормерод А.Д.
              li.appear Выпадение волос по&nbsp;женскому типу: современные концепции лечения/ Куан Кью Дин, Родни Синклер;
              li.appear Генетическое прогнозирование облысения у&nbsp;мужчин/ Саския П.Хагенаарс, Дэвид К. Ливальд, Ян&nbsp;Дж. Дири и&nbsp;другие.
