extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Что такое наследственное облысение и как его предотвратить'})
  +pageSection: .container: .content
    h1 Что такое наследственное облысение и как его предотвратить
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear В&nbsp;наследство от&nbsp;родителей человек получает генетическую программу, которой сложно противостоять. Генетическая алопеция&nbsp;&mdash; это часть наследственной программы, выражающаяся в&nbsp;хроническом выпадении волос.
            
      p.appear Наследственный тип облысения встречается у&nbsp;40&nbsp;% женщин и&nbsp;80&nbsp;% мужчин. Предсказать, когда активируется разрушающая волосяные фолликулы программа невозможно. Патологический процесс развивается в&nbsp;любом возрасте и&nbsp;способен привести к&nbsp;полной потере волос.
      p.appear Наследственное облысение сложно поддается лечению, поэтому ранняя диагностика&nbsp;&mdash; верный путь к&nbsp;успешной терапии. Сегодня медицина предлагает ряд препаратов, доказавших действенность в&nbsp;борьбе с&nbsp;унаследованной потерей волос. В&nbsp;статье рассматриваем генетические и&nbsp;другие факторы, провоцирующие алопецию, описываем особенности протекания болезни, методы профилактики и&nbsp;лечения.

      h2.appear#nasledstvennoe-1 Что такое генетическая алопеция
      p.appear Алопеция наследственная&nbsp;&mdash; это прогрессирующее выпадение волос в&nbsp;результате генетической предрасположенности. Облысение вызывает взаимодействие родственных генов, контролирующих ряд функций организма. Часть генов наследуется по&nbsp;материнской линии, а&nbsp;часть по&nbsp;отцовской. Поэтому проплешины на&nbsp;голове отца указывают на&nbsp;вероятность того, что дети тоже столкнутся с&nbsp;подобной проблемой.

      h3.appear Андрогенетическая (АГА)
      p.appear Распространенный вид алопеции, который связан с&nbsp;восприимчивостью фолликулов к&nbsp;гормону дигидротестостерону, из-за чего перестают функционировать, и&nbsp;волосяной стержень не&nbsp;растет.

      h3.appear Гнездная
      p.appear До&nbsp;конца не&nbsp;изучена, появляется внезапно. Характеризуется безволосыми очагами, которые увеличиваясь в&nbsp;размерах, сливаются в&nbsp;одно пятно. Доказано, что гнездная алопеция передается по&nbsp;наследству. К&nbsp;уменьшению густоты волосяного покрова приводит сочетание генов, передающихся по&nbsp;наследству. Есть еще ряд провоцирующих факторов (аутоиммунные процессы, гормональные нарушения и&nbsp;др.), которые в&nbsp;комплексе ведут к&nbsp;облысению.

      h3.appear Рубцовая
      p.appear Возникает по&nbsp;разным причинам, среди которых патологии наследственного характера: эктодермальная дисплазия, аплазия кожи, ихтиоз, невус сальных желез и&nbsp;другие. Ведет к&nbsp;разрушению фолликулов и&nbsp;замещению соединительной тканью.

      h3.appear Другие виды
      p.appear Гипотрихоз приводит к&nbsp;истончению волосяного стержня. Передается по&nbsp;материнской линии. Ген APCDD1 вызывает сокращение волосяных луковиц. Диагностируется даже у&nbsp;детей.

      h2.appear#nasledstvennoe-2 Симптомы и&nbsp;диагностика
      p.appear Генетическое облысение принимает разные формы, которые проявляются по-разному.

      h3.appear Первые признаки
      p.appear Характерные признаки АГА&nbsp;&mdash; поредение или выпадение волос в&nbsp;области лба и&nbsp;темени. Затылок, как правило, проблема поредения не&nbsp;затрагивает.
      p.appear Для очаговой свойственно стремительное начало, когда человек однажды просыпается утром и&nbsp;замечает округлую проплешину. Процесс затрагивает лицо и&nbsp;тело. Другие симптомы отсутствуют.
      p.appear Рубцовая проявляется безволосыми участками, эритемой, зудом и&nbsp;болевыми ощущениями. Место погибших фолликулов занимает рубцовая ткань, поэтому терапию желательно начинать при первых признаках.
      p.appear Гипотрихоз диагностируют еще в&nbsp;раннем возрасте. Ребенок рождается с&nbsp;редкими волосами, которые со&nbsp;временем истончаются и&nbsp;выпадают. Возможно рождение лысого младенца без ресниц и&nbsp;бровей. В&nbsp;ряде случаев у&nbsp;одного ребенка сочетаются разные генетически унаследованные отклонения&nbsp;&mdash; кожные, двигательные и&nbsp;умственные.

      h3.appear Методы диагностики
      p.appear Диагностика начинается сразу в&nbsp;кабинете врача с&nbsp;осмотра, так как у&nbsp;каждого вида алопеции характерные признаки. При изучении кожи головы и&nbsp;безволосых очагов врач использует бинокулярную лупу или трихоскоп, чтобы получить четкое изображение. Тест натяжения помогает оценить активность выпадения волосяных стержней. Если из&nbsp;небольшой пряди выпадает более 6&nbsp;волос, тест положительный. Также для исследования делается биопсия кожи головы, сдается анализ для выявления гормонального дисбаланса, инфекций, аутоиммунных нарушений, нехватки витаминов и&nbsp;т.д.
      p.appear У&nbsp;генетического анализа важная роль в&nbsp;диагностике наследственной алопеции. Исследование подтверждает или опровергает генетическую природу заболевания, позволяет подобрать продуктивную терапию. Также генетическое тестирование определяет вероятность наследования облысения последующими поколениями.

      h2.appear#nasledstvennoe-3 Как передается ген облысения
      p.appear На&nbsp;выпадение волос влияют разные гены, наиболее изученный из&nbsp;которых ген рецептора андрогенов (AR), который чаще называют геном облысения. Ген 20p11 участвует в&nbsp;выработке белка простагландина&nbsp;D2, подавляющего рост волосяных стержней. Разные мутации гена 20p11 приводят к&nbsp;увеличению выработки простагландина&nbsp;D2, провоцируя облысение. Ген LSS задействован в&nbsp;выработке белка ланостерола, поддерживающего рост волос. Его мутации тормозят выработку белка, что приводит к&nbsp;поредению прядей.
      p.appear В&nbsp;2005 году немецкие ученые обнародовали вывод, что ген облысения передается только от&nbsp;матери к&nbsp;сыну. И&nbsp;только через пять лет в&nbsp;мужской хромосоме обнаружили аналогичный ген. Это значит, что наследственное облысение передается как по&nbsp;отцовской, так и&nbsp;по&nbsp;материнской линии по&nbsp;схеме:
      ul.list-marked 
        li.appear от&nbsp;отца сыну и&nbsp;дочери;
        li.appear от&nbsp;матери сыну.
      p.appear Не&nbsp;все носители гена лысеют. В&nbsp;ряде случаев патологический процесс запускается при воздействии провоцирующих факторов:
      ul.list-marked 
        li.appear неблагоприятная экология;
        li.appear курение;
        li.appear нарушение циклов сна и&nbsp;бодрствования;
        li.appear хронические болезни;
        li.appear стрессы и&nbsp;постоянная усталость.
      p.appear Но&nbsp;даже курящие люди, работающие по&nbsp;ночам и&nbsp;живущие в&nbsp;районе с&nbsp;плохой экологией не&nbsp;всегда теряют волосы. Наличие генов подтверждает лишь вероятность болезни.
      p.appear Хотя научных доказательств, что стресс запускает программу облысения, нет. Но&nbsp;ученые подтверждают постоянное психоэмоциональное напряжение негативно влияет на&nbsp;организм, в&nbsp;том числе на&nbsp;фолликулы.

      h2.appear#nasledstvennoe-4 Наследственное облысение у&nbsp;мужчин
      p.appear Облысение по&nbsp;мужскому типу&nbsp;&mdash; это про андрогенетическую алопецию. Разрушают волосяные луковицы вариации андрогенного рецептора. У&nbsp;каждого седьмого мужчины присутствует потенциал развития этого вида патологии. На&nbsp;андрогенетическую приходится 95&nbsp;% всех случаев мужского облысения. Определяется по&nbsp;прогрессирующему поредению прядей в&nbsp;зонах лба и&nbsp;темени.
      +blockMarked({ color: 'green' })
        p.appear Проникая в&nbsp;клетки волосяных луковиц преобразованный из&nbsp;тестостерона дигидротестостерон постепенно разрушает&nbsp;их, в&nbsp;результате чего волосяной стержень истончается, перестает расти, а&nbsp;затем выпадет. Фолликул перестает функционировать. Преобразование тестотерона в&nbsp;дигидротестостерон проходит при участии фермента 5a-редуктаза.

      p.appear С&nbsp;первыми признаками АГА мужчины могут столкнуться на&nbsp;пороге тридцатилетия, но&nbsp;большая часть теряет волосы по&nbsp;мужскому типу после 40&nbsp;лет. И&nbsp;лишь незначительный процент начинает лысеть в&nbsp;преклонном возрасте. 

      p.appear Потеря былой густоты прически и&nbsp;изменение внешнего облика воспринимается болезненно, сопровождаясь тревогой и&nbsp;даже депрессией. Поэтому людям, столкнувшимся с&nbsp;данной проблемой, рекомендованы консультации у&nbsp;психолога или психотерапевта.

      h2.appear#nasledstvennoe-5 Профилактика и&nbsp;лечение
      h3.appear Профилактические меры
      p.appear Некоторые формы облысения нельзя предотвратить, но&nbsp;можно снизить риски заболеть, благодаря профилактике. При повышенной чувствительности фолликулов с&nbsp;дигидротестостерону волосы теряют за&nbsp;4-5&nbsp;лет. Поэтому лечение начинают при первых признаках. 
      p.appear Профилактические меры включают:
      ul.list-marked 
        li.appear сбалансированное питание;
        li.appear управление раздражением и&nbsp;стрессом через дыхание и&nbsp;йогу;
        li.appear отказ от&nbsp;тугих причесок;
        li.appear лечение болезней, провоцирующих потерю волос (аутоиммунные, патологии щитовидной железы и&nbsp;т.д.);
        li.appear отказ от&nbsp;привычек, приносящих вред здоровью.

      h3.appear Медикаментозное лечение
      p.appear Нет универсального рецепта лечения облысения. Терапевтическую тактику врач разрабатывает, исходя из&nbsp;типа и&nbsp;стадии болезни, возраста пациента. Наследственное облысение обратить вспять часто невозможно. Но&nbsp;андрогенетическая алопеция на&nbsp;начальных стадиях положительно реагирует на&nbsp;терапию.

      h4 Лекарственные средства
      p.appear Для снижения активности дигидротестостерона применяют антиандрогены, антиэстрогены, эстрогены. Финастерид&nbsp;&mdash; ингибитор фермента 5a-редуктаза клинически и&nbsp;практически доказал продуктивность. При очаговой алопеции для снятия боли назначают противовоспалительные и&nbsp;седативные препараты. Лечение дополняют внутривенным введением стимуляторов обменных процессов.
      p.appear Также терапия включает сосудорасширяющие, противогрибковые и&nbsp;противовоспалительные препараты. При рубцовой возможен прием антибиотиков, цитостатиков, кортикостероидов.
      +blockMarked({ color: 'green' })
        p.appear Генная терапия против облысения заключается во&nbsp;введении в&nbsp;соматические клетки генетических элементов для подавления или восстановления функций генов. Источниками клеток выступают: пуповинная кровь, костный мозг, фолликулы. Метод показал впечатляющие результаты, но&nbsp;исследования еще продолжаются.

      p.appear Плазмотерапия&nbsp;&mdash; омоложение кожи головы активно используется в&nbsp;борьбе с&nbsp;облысением. Для лечения берут кровь пациента, насыщенную тромбоцитами и&nbsp;факторами роста, которые питают волосяные луковицы, стимулирует рост стержней.

      h4 Препараты местного действия
      p.appear На&nbsp;кожу головы наносят пены, шампуни, лосьоны с&nbsp;лечебным составом. К&nbsp;базовым местным препаратам относятся &laquo;миноксидил&raquo; и&nbsp;&laquo;финастерид&raquo;. Также в&nbsp;залысины втирают мазь &laquo;гепарин&raquo;. Для питания фолликулов назначают &laquo;фторокорт&raquo;.
      p.appear Действие местных препаратов дополняют массажем, сеансами аппарата Дарсонваль, криомассажем, чтобы восстановить кровообращение.

      h3.appear Хирургические методы
      p.appear Медикаментозное лечение возможно до&nbsp;4&nbsp;стадии. Пересадка волос&nbsp;&mdash; продуктивный метод лечения андрогенетической и&nbsp;рубцовой алопеции. Хирургическое вмешательство заключается в&nbsp;изъятии волосяных фолликулов из&nbsp;донорской андрогеннезависимой зоны пациента, и&nbsp;переносе в&nbsp;зоны без волос. Так как характер гнездного типа облысения непредсказуем, трансплантация таким больным не&nbsp;показана.

      p.appear Хирургическим методом также удаляют безволосый участок при рубцовом облысении. Операция сложная, поэтому выполняется в&nbsp;2&nbsp;этапа с&nbsp;перерывом 1-2&nbsp;месяца.

      h3.appear Народные средства и&nbsp;диета
      p.appear Сбалансированное питание&nbsp;&mdash; важная составляющая продуктивного лечения. Меню составляется с&nbsp;учетом нехватки витаминов или микроэлементов в&nbsp;организме больного. Для здоровья волос важен биотин, витамин А, С&nbsp;и&nbsp;Д.&nbsp;Полезные для волосяного покрова компоненты содержатся в&nbsp;орехах, яйцах, рыбе и&nbsp;мясе.
      p.appear Для стимуляции фолликулов популярны рецепты со&nbsp;жгучим перцем, который обладает местнораздражающим свойством. В&nbsp;результате лечения усиливается кровообращение кожи головы и&nbsp;прилегающих тканей. Луковицы, получающие полноценное питание и&nbsp;кислород, активируют рост стержней.

      p.appear Доказана действенность экстрактов сладкого белого люпина и&nbsp;карликовой пальмы в&nbsp;подавлении активности фермента 5a-редуктаза. Наружные средства с&nbsp;экстрактом этих растений показали хорошие результаты в&nbsp;борьбе с&nbsp;агрессивностью дигидротестостерона, разрушающего фолликулы.

      h2.appear#nasledstvennoe-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection
        +cell({ m:9 })
          +accordionItem('<h3>Лысина передается по&nbsp;наследству?</h3>')
            p.appear Лысина&nbsp;&mdash; это явный признак алопеции. Чтобы понять природу патологии, проходят обследование, которое показывает наследственная болезнь или нет.
          +accordionItem('<h3>Сколько лечат облысение?</h3>')
            p.appear Лечение наследственной алопеции&nbsp;&mdash; процесс продолжительный. Результаты от&nbsp;разработанной врачом схемы ждут 1,5-2&nbsp;года.
          +accordionItem('<h3>Женщинам передается по&nbsp;наследству облысение?</h3>')
            p.appear Да, каждая вторая женщина из&nbsp;10&nbsp;наследует алопецию.
            p.appear Важно понимать сложную природу генетической алопеции, когда помимо наследственных много других факторов провоцирует выпадение волос. Не&nbsp;все формы болезни до&nbsp;конца изучены и&nbsp;поддаются терапии. Поэтому ранняя диагностика и&nbsp;целостный подход к&nbsp;лечению помогают предотвратить или замедлить процесс. 
      
      +grid({ 'padding-y': true }).page-subsection
        +cell({ m:9 })
          +accordionItem('<h2 id="nasledstvennoe-7">Источники</h2>')     
            ul.list-marked 
              li.appear АНДРОГЕННАЯ АЛОПЕЦИЯ У&nbsp;МУЖЧИН: ЗНАЧЕНИЕ ГЕНЕТИЧЕСКИХ, ГОРМОНАЛЬНЫХ И&nbsp;МЕТАБОЛИЧЕСКИХ ФАКТОРОВ автореферат диссертации на&nbsp;соискание ученой степени доктора медицинских наук, Кондрахина И.Н.;
              li.appear ГНЕЗДНАЯ АЛОПЕЦИЯ: КЛИНИКО-ГЕНЕТИЧЕСКИЕ АСПЕКТЫ И&nbsp;МИКРОЭЛЕМЕНТНЫЙ СТАТУС ПАЦИЕНТОВ, Николаева&nbsp;Т.&nbsp;В., Воронина&nbsp;Л.&nbsp;Г., Сетко&nbsp;Н.&nbsp;П., Пострелко&nbsp;М.&nbsp;Д.;
              li.appear АЛОПЕЦИИ. ДИАГНОСТИКА И&nbsp;ЛЕЧЕНИЕ, Боханна&nbsp;П., Алессандрини&nbsp;А., Боханна&nbsp;Э.
