extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Советы трихолога при выпадении волос у женщин и мужчин'})
  +pageSection: .container: .content
    h1 Советы трихолога при выпадении волос у женщин и мужчин
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Волосы&nbsp;&mdash; барометр нашего здоровья. Они реагируют на&nbsp;внутренний дисбаланс, и&nbsp;сигнализируют о&nbsp;любых нарушениях в&nbsp;организме. Изменения в&nbsp;диете, недостаток воды, обострение болезни или беременность&nbsp;&mdash; эти и&nbsp;другие факторы влияют на&nbsp;волосы. Этот сигнал работает, когда другие не&nbsp;работают! Например, анализ минералов в&nbsp;волосяной ткани расскажет больше о&nbsp;происходящем внутри тела, чем анализ крови!
      p.appear Трихолог&nbsp;&mdash; это дипломированный дерматолог, прошедший обучение по&nbsp;курсу &laquo;Трихология&raquo;, и&nbsp;в&nbsp;совершенстве владеющий методами тестирования и&nbsp;лечения болезней волос. Облысение, перхоть, чувство жжения, пиодермия&nbsp;&mdash; состояния, с&nbsp;которыми чаще всего сталкивается врач-трихолог.

      h2.appear#sovety-1 Прием трихолога
      h3.appear Что ожидать на&nbsp;первой консультации
      p.appear Беседа с&nbsp;врачом начинается с&nbsp;выяснения жалоб, анкетирования об&nbsp;образе жизни и&nbsp;состоянии здоровья. После сбора анамнеза проводится трихосканирование кожи головы при многократном увеличении, что позволяет врачу установить плотность волосяного покрова, соотношение волос в&nbsp;анагене и&nbsp;телогене, оценить работу сальных желез, состояние кожи головы и&nbsp;т.д.
      p.appear Приготовьтесь к&nbsp;тому, что трихолог назначит не&nbsp;только процедуры и&nbsp;препараты, но&nbsp;и&nbsp;даст сопутствующие рекомендации по&nbsp;питанию и&nbsp;образу жизни, которые важно неукоснительно соблюдать. Трихологические методы работают только в&nbsp;том случае, если работаете&nbsp;вы.

      h3.appear Какие вопросы задает трихолог
      ul.list-marked 
        li.appear В&nbsp;какой момент состояние волосяного покрова ухудшилось;
        li.appear Про образ жизни;
        li.appear Какой режим сна;
        li.appear Какое стандартное меню;
        li.appear Есть&nbsp;ли хронические болезни;
        li.appear Про ежедневный уход за&nbsp;волосами;
        li.appear Была&nbsp;ли недавно операция с&nbsp;местной анестезией;
        li.appear Какие лекарства и&nbsp;витамины принимались или принимаются сейчас и&nbsp;т.д.

      h3.appear Подготовка к&nbsp;приему
      ul.list-marked 
        li.appear Не&nbsp;мыть голову за&nbsp;1-3 дня до&nbsp;посещения;
        li.appear После последнего мытья не&nbsp;наносить укладочные продукты;
        li.appear Не&nbsp;приходить раньше, чем через неделю после окрашивания;
        li.appear Желательно принести клинический анализ крови со&nbsp;сроком до&nbsp;3&nbsp;месяцев.
      p.appear В&nbsp;ряде случаев диагноз ставится после первичного приема при характерных признаках патологии. Но&nbsp;чаще для понимания причин, спровоцировавших болезнь, требуются дополнительные исследования и&nbsp;консультации узких специалистов.

      h3.appear Регулярность посещений
      ul.list-marked 
        li.appear Раз в&nbsp;год, чтобы отслеживать изменения структуры стержня и&nbsp;фолликула;
        li.appear Раз в&nbsp;полгода, если есть факторы риска (регулярное окрашивание или продолжительный прием лекарств)
      p.appear Повторные посещения в&nbsp;ходе лечения назначает лечащий врач.

      h2.appear#sovety-2 Правильный уход за&nbsp;волосами
      h3.appear Выбор шампуня и&nbsp;кондиционера
      p.appear Советы трихолога при выпадении волос у&nbsp;женщин не&nbsp;обходят стороной выбор шампуня. Это средство для гигиены, а&nbsp;не&nbsp;лечения, но&nbsp;даже шампунь может усугубить состояние. Трихологи рекомендуют использовать шампунь по&nbsp;типу кожи головы, в&nbsp;составе которого преобладают растительные компоненты, минералы и&nbsp;другие полезные ингредиенты. В&nbsp;составе шампуня избегают:
      ul.list-marked 
        li.appear формальдегидов;
        li.appear силиконов нерастворимых;
        li.appear минерального масла;
        li.appear спиртов и&nbsp;т.д.
      p.appear Бальзам или кондиционер наносят на&nbsp;волосяной покров, чтобы закрыть кутикулы. Но&nbsp;средства не&nbsp;втирают в&nbsp;кожу головы, так как кондиционер ложится пленкой и&nbsp;закупоривает поры, нарушая местное кровообращение, а&nbsp;значит и&nbsp;поступление питательных веществ в&nbsp;дерму.

      h3.appear Режим мытья головы
      p.appear Голову моют по&nbsp;мере загрязнения. Так как кожа и&nbsp;корни часто страдают из-за загрязнений, скопившихся у&nbsp;основания стержня. Сальный секрет, смешанный с&nbsp;пылью, перхотью&nbsp;&mdash; отличная среда для размножения бактерий. Средняя частота мытья&nbsp;&mdash; 2-3 раза в&nbsp;неделю.

      h3.appear Техника массажа кожи головы
      p.appear 1&nbsp;раз в&nbsp;день трихологи рекомендуют делать массаж, чтобы простимулировать приток крови к&nbsp;фолликулам. Процедура несложная: пальцами надавливают на&nbsp;кожу головы возле шеи и&nbsp;скользящими движениями направляют кровоток к&nbsp;макушке. После массажа пальцы рук запускают в&nbsp;волосы у&nbsp;корней и&nbsp;слегка тянут, чтобы улучшить микроциркуляцию.

      h2.appear#sovety-3 Медицинские методы лечения облысения
      h3.appear Мезотерапия
      p.appear Это инъекционный метод введения в&nbsp;кожу головы витаминов, минералов (кальция, цинка, йода), аминокислот и&nbsp;стволовых клеток от&nbsp;выпадения волос для питания и&nbsp;укрепления волосяных фолликулов. Мезококтейль&nbsp;&mdash; это комплекс активных компонентов. Процедуру назначают при повышенной ломкости стержней, обильном выпадении волос, перхоти и&nbsp;сухости кожи.

      h3.appear PRP-терапия (плазмолифтинг)
      p.appear Это минимально инвазивное лечение, при котором используется обогащенная плазма пациента. Инъекции PRp.appear богаты белками, называемыми факторами роста, которые пробуждают &laquo;спящие&raquo; луковицы, укрепляют стержни, улучшают качество волосяного и&nbsp;кожного покрова. Процедура даже эффективна при андрогенной и&nbsp;гнездной алопеции.

      h3.appear Лазеротерапия
      p.appear Это действенный способ лечения разных видов облысения, испытания которого подтвердили его эффективность. Сегодня в&nbsp;трихологии применяются лазеры холодного типа. Энергия лазерного луча активирует метаболические (обменные) процессы и&nbsp;ускоряет кровоток на&nbsp;молекулярном уровне.

      h3.appear Лекарственные препараты
      ul.list-marked 
        li.appear Миноксидил ускоряет волосяной рост, продлевает фазу анагена и&nbsp;улучшает функциональность фолликулов;
        li.appear Салициловая кислота вводится в&nbsp;препараты против перхоти;
        li.appear Кетоконазол&nbsp;&mdash; фунгицидное средство для лечения грибкового дерматита;
        li.appear Финастерид замедляет облысение при мужском типе облысения;
        li.appear Аминокислоты восстанавливают структуру волосяных стержней;
        li.appear Комплексы витаминов и&nbsp;минералов подбирают индивидуально, чтобы волосы стали гуще и&nbsp;не&nbsp;выпадали.

      h2.appear#sovety-4 Косметологические процедуры
      h3.appear Химический дермопилинг
      p.appear Именно с&nbsp;этой процедуры начинаются многие лечебные программы. Раствор кислоты, наносимый на&nbsp;поверхность кожи головы, отшелушивает ороговевшие клетки, удаляет излишки себума, остатки уходовых средств и&nbsp;стайлинга. Состав также улучшает обменные процессы в&nbsp;эпидермисе, локально стимулируя кровоток. Дермопилинг создает условия для роста здорового микробиома кожи. Контролируемая травматизация тканей во&nbsp;время процедуры активирует деление стволовых клеток в&nbsp;матрице фолликула.

      h3.appear Карбокситерапия
      p.appear Процедура заключается во&nbsp;введении небольших инъекций CO2&nbsp;&mdash; углекислого газа под поверхность кожи. Лечение стимулирует волосяной рост за&nbsp;счет улучшения кровообращения, оксигенации и&nbsp;снабжения кожи головы питательными веществами. Сочетается с&nbsp;другими трихологическими методами лечения.

      h3.appear Ударно-волновая терапия
      p.appear Терапия работает методом отправки акустических импульсов энергии в&nbsp;поврежденную область для усиления кровообращения, стимуляции работы волосяных луковиц.

      h2.appear#sovety-5 Народные средства и&nbsp;домашние маски
      h3.appear Маски из&nbsp;натуральных ингредиентов
      p.appear К&nbsp;проверенным действенным домашним средствам от&nbsp;выпадения волос относится сок репчатого лука. При местном применении средство увеличивает выработку фермента каталазы, который способствует росту волос. Кроме того, лук богат серой, которая питает волосяные фолликулы. При регулярном использовании лук поддерживает общее здоровье кожи головы. Для маски понадобится 1&nbsp;луковица среднего размера.
      ol.list-numbered
        li.appear Лук измельчают и&nbsp;перекладывают в&nbsp;миску;
        li.appear Ватный диск смачивают в&nbsp;соке и&nbsp;наносят на&nbsp;выбранный участок;
        li.appear Оставляют аппликацию на&nbsp;час и&nbsp;смывают;
        li.appear Для достижения желаемого результата процедуру повторяют раз в&nbsp;неделю.
      p.appear Еще один &laquo;рабочий&raquo; рецепт от&nbsp;выпадения волос&nbsp;&mdash; масло кокоса и&nbsp;молоко. Кокосовое масло богато антиоксидантами, которые защищают кожу головы и&nbsp;волокна волосяных стержней от&nbsp;повреждений. Ингредиенты: 1&nbsp;ст.л. кокосового молока и&nbsp;1&nbsp;ст.л. кокосового масла.
      ol.list-numbered
        li.appear Смешайте в&nbsp;миске немного кокосового масла и&nbsp;молока;
        li.appear Нанесите на&nbsp;пораженный участок и&nbsp;оставьте минут на&nbsp;10;
        li.appear Смойте шампунем и&nbsp;кондиционером, а&nbsp;затем дайте волосам естественно высохнуть;
        li.appear Повторяйте процедуру дважды в&nbsp;неделю для достижения желаемого результата.

      h3.appear Травяные ополаскиватели
      p.appear Ополаскиватели на&nbsp;травах увлажняют кожу головы и&nbsp;волосяное полотно, успокаивают раздражения на&nbsp;коже и&nbsp;укрощают строптивые локоны. Популярный рецепт&nbsp;&mdash; это ополаскиватель с&nbsp;ромашкой. У&nbsp;ромашки репутация успокаивающего средства для кожи головы, укрепляющего корни, оздоравливающего и&nbsp;придающего блеск шевелюре. Для приготовления понадобится 2&nbsp;столовые ложки сушеных цветков, 2&nbsp;стакана воды.
      ol.list-numbered
        li.appear Положите цветки и&nbsp;воду в&nbsp;кастрюлю;
        li.appear Нагрейте до&nbsp;кипения, убавьте огонь, накройте крышкой и&nbsp;оставьте томиться на&nbsp;5&ndash;10&nbsp;минут;
        li.appear Выключите огонь и&nbsp;дайте отвару остыть, затем процедите&nbsp;&mdash; травяной кондиционер-ополаскиватель готов к&nbsp;использованию.
        li.appear Медленно лейте ополаскиватель на&nbsp;чистые волосы, распределяя равномерно по&nbsp;волосяному полотну. Промокните лишнюю жидкость и&nbsp;оставьте шевелюру сушиться естественно.

      h3.appear Масла для волос
      p.appear Чтобы восстановить рост волос на&nbsp;лысых участках, важно питать волосяные фолликулы и&nbsp;стимулировать приток крови к&nbsp;коже головы. Это можно сделать с&nbsp;помощью народного средства от&nbsp;выпадения волос для женщин&nbsp;&mdash; растительное масло. Стимулируют работу фолликулов: кокосовое, касторовое и&nbsp;масло перечной мяты.

      h2.appear#sovety-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Чем укреплять волосы в&nbsp;домашних условиях?</h3>').appear
            p.appear В&nbsp;домашних условиях часто используют наружные средства, стимулирующие приток крови к&nbsp;корням, например, перцовую настойку.
          +accordionItem('<h3>Помогает&nbsp;ли стрижка при выпадении волос?</h3>').appear
            p.appear Нет связи между стрижкой и&nbsp;облысением.
          +accordionItem('<h3>Что делать, если выпадают волосы после антибиотиков?</h3>').appear
            p.appear В&nbsp;подавляющем большинстве случаев, это временное явление, постепенно рост волос восстановится. Доказано, что антибиотики отрицательно влияют на&nbsp;волосяные фолликулы, которые преждевременно переходят в&nbsp;телоген.
          +accordionItem('<h3>Как часто нужно мыть голову при выпадении волос?</h3>').appear
            p.appear Частота зависит от&nbsp;типа кожи головы, так как голову моют по&nbsp;мере ее&nbsp;загрязнения. При жирной коже это делают чаще, чем при сухой.
          +accordionItem('<h3>Могут&nbsp;ли после бальзама выпадать волосы?	</h3>').appear
            p.appear Нет, если бальзам наносить только на&nbsp;волосяное полотно, на&nbsp;волосяные фолликулы он&nbsp;не&nbsp;влияет.
          +accordionItem('<h3>Какой расческой лучше расчесывать волосы при выпадении?</h3>').appear
            p.appear Предпочтительна деревянная расческа с&nbsp;редкими зубьями или щетка с&nbsp;натуральной щетиной средней жесткости. Есть даже специальные расчески для ослабленных локонов.
          +accordionItem('<h3>Нужно стричь волосы, если они выпадают?</h3>').appear
            p.appear Стрижка не&nbsp;влияет на&nbsp;рост волос, так как не&nbsp;затрагивает волосяной фолликул, а&nbsp;только стержень. Короткие стрижки даже маскируют незначительные проплешины.
          +accordionItem('<h3>С&nbsp;какими проблемами идти к&nbsp;трихологу, а&nbsp;с&nbsp;какими к&nbsp;косметологу?</h3>').appear
            p.appear Врач дерматолог-трихолог решает проблемы поредения и&nbsp;облысения, перхоти, зуда и&nbsp;шелушения кожи головы и&nbsp;т.д. Если клиента беспокоит повреждение волос в&nbsp;результате окрашивания или термического воздействия, достаточно салонных оздоровительных процедур.
          +accordionItem('<h3>Облысение лечится?</h3>').appear
            p.appear Ответ зависит от&nbsp;ситуации. Если потеря волос связана с&nbsp;генетикой, то&nbsp;врачи только тормозят деструктивные процессы, но&nbsp;не&nbsp;вылечивают. Терапия в&nbsp;этом случае&nbsp;&mdash; явление постоянное, и&nbsp;направлена на&nbsp;искусственную стимуляцию роста волос и&nbsp;профилактику их&nbsp;истончения. Во&nbsp;всех остальных случаях важно выявить причину и&nbsp;назначить действенное лечение.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="sovety-7">Источники</h2>')
            ul.list-marked
              li.appear Генетическое прогнозирование облысения по&nbsp;мужскому типу/ Хагенаарс, Саския&nbsp;П. и&nbsp;др.;
              li.appear Выпадение волос: общие причины и&nbsp;лечение/ Филлипс, Т.&nbsp;Грант, В. Пол Сломиани и&nbsp;Роберт Эллисон;
              li.appear Ricinus communis Linn: фитофармакологический обзор/ Йена, Джитендра и&nbsp;А.&nbsp;Кумар Гупта;
              li.appear Влияние минерального масла, подсолнечного масла и&nbsp;кокосового масла на&nbsp;профилактику повреждения волос/ Реле, Аарти&nbsp;С. и&nbsp;Мохил&nbsp;Р.&nbsp;Б.
              li.appear Состояние кожи головы влияет на&nbsp;рост и&nbsp;сохранение волос через окислительный стресс/ Трюэб, Ральф&nbsp;М. и&nbsp;др.
