extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Тракционная алопеция: причины, профилактика и лечение'})
  +pageSection: .container: .content
    h1 Тракционная алопеция: причины, профилактика и лечение
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2 Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Хорошо известно, что ежедневная сушка феном, агрессивные красители и&nbsp;использование плойки пересушивают и&nbsp;истончают волосы. Но&nbsp;о&nbsp;том, что тугие прически приводят к&nbsp;облысению, знают немногие. В&nbsp;статье расскажем, что такое травматическая алопеция, обсудим продуктивные способы профилактики и&nbsp;лечения.
      h2.appear#traktsionnaya-1 Что такое тракционная алопеция(ТА)
      p.appear Механическая алопеция (тракционная)&nbsp;&mdash; подвид рубцовой алопеции, вызванный постоянным натяжением волос, которое ведет к&nbsp;гибели и&nbsp;фиброзу волосяных луковиц. Причиной облысения выступает физический фактор. Ни&nbsp;гормоны, ни&nbsp;дефициты в&nbsp;организме в&nbsp;этом случае не&nbsp;запускают патологический процесс. Развивается на&nbsp;любом участке головы, но&nbsp;чаще в&nbsp;точках максимального натяжения&nbsp;&mdash; области лба, затылка и&nbsp;висков.

      h2.appear#traktsionnaya-2 Причины
      p.appear При механическом типе облысения волосяные луковицы перестают расти, потому что при натяжении травмируются и&nbsp;воспаляются. После гибели волосяного сосочка, отмирает луковица, а&nbsp;затем выпадает и&nbsp;стержень. Место устья и&nbsp;фолликула замещается фиброзной тканью. Провоцирующим фактором чаще выступают механические травмы и&nbsp;агрессивные химические составы.

      h3.appear Физические травмы волос
      h4.appear Прически и&nbsp;укладки
      p.appear Тракционная алопеция&nbsp;&mdash; это не&nbsp;что иное, как двухфазная форма облысения, которая на&nbsp;поздних стадиях приводит к&nbsp;рубцеванию фолликулярных тканей. Болезнь возникает на&nbsp;фоне хронического натяжения волос и&nbsp;неправильного ухода.
      p.appear К&nbsp;распространенным механическим причинам относятся:
      ul.list-marked
        li.appear начесы и&nbsp;тугие прически: пучки, косы, &laquo;конские&raquo; хвосты, дреды;
        li.appear привычка дергать волосы при стрессе;
        li.appear тесные шлемы и&nbsp;головные уборы, вызывающие натяжение;
        li.appear тугие эластичные резинки, бигуди;
        li.appear наращивание, использование накладных прядей.
      p.appear Кожа головы натягивается и&nbsp;повреждается под тяжестью густых и&nbsp;длинных прядей, провоцируя развитие&nbsp;ТА.

      h4.appear Химическое воздействие
      p.appear Чрезмерное использование укладочных средств, перманентное выпрямление, химическая завивка и&nbsp;частое окрашивание наносят непоправимый вред волосам и&nbsp;ведут к&nbsp;тракционной алопеции.

      h3.appear Неправильный уход
      p.appear Высокая температура негативно влияет на&nbsp;качество волосяного стержня. Продолжительное воздействие ультрафиолета, ежедневное использование фена, утюжка для выпрямления постепенно разрушают кутикулу, нарушая структуру волоса. Привычка спать в&nbsp;бигуди, неправильное расчесывание также негативно сказываются на&nbsp;здоровье волосяного покрова. Со&nbsp;временем стержень истончается, легко обламывается, потом вовсе перестает расти.

      h2.appear#traktsionnaya-3 Симптомы
      h3.appear Преждевременное иссечение волос
      p.appear При тракционной алопеции МКБ 10&nbsp;волосистая часть головы&nbsp;&mdash; единственное место, где проявляется болезнь. Проплешины расположены преимущественно в&nbsp;лобной и&nbsp;височно-затылочной зонах. Но&nbsp;могут протянуться вдоль всей линии роста волос.

      h3.appear Утонченность и&nbsp;ломкость волос
      p.appear От&nbsp;регулярного воздействия агрессивных факторов, таких как химические составы и&nbsp;высокая температура, страдают волосяные луковицы, что сказывается на&nbsp;внешнем виде волос. Они истончаются, тускнеют и&nbsp;легко ломаются. На&nbsp;следующем этапе стержни начинают выпадать.

      h3.appear Воспаление и&nbsp;зуд кожи головы
      p.appear В&nbsp;начале болезни вокруг поврежденных луковиц образуются очаги эритемы как реакция на&nbsp;раздражитель. Эритема выражается покраснением кожи и&nbsp;ощутимой болезненностью. Если травмирующее действие раздражителя не&nbsp;устранить, появляются желтоватые чешуйки, которые нарушают обменные процессы в&nbsp;фолликуле, вызывают зуд. В&nbsp;результате волосяной стержень ослабевает, а&nbsp;затем выпадает.
      p.appear На&nbsp;ранней стадии тракционного облысения отмечается:
      ul.list-marked 
        li.appear истончение волос;
        li.appear функционирующие сальные железы;
        li.appear достаточное количество телогеновых фолликулов;
        li.appear увеличение количества волос в&nbsp;стадии телогена и&nbsp;катогена.
      p.appear На&nbsp;поздних стадиях:
      ul.list-marked 
        li.appear развиваются пушковые волоски;
        li.appear уменьшается количество терминальных волос и&nbsp;сальных желез;
        li.appear возможно появление небольшого воспаления.

      h2.appear#traktsionnaya-4 Диагностика
      p.appear Раннее выявление&nbsp;ТА играет решающее значение в&nbsp;благоприятном исходе болезни. Ведь рубцевание возникает на&nbsp;более позднем этапе в&nbsp;результате необратимого повреждения фолликула из-за повторяющегося травмирующего действия. При подозрении на&nbsp;тракционную алопецию врач проводит клинический осмотр и&nbsp;собирает подробную информацию о&nbsp;ежедневном уходе, используемых средствах, предпочитаемых прическах.

      h3.appear Трихоскопия 	
      p.appear Метод активно используется для точного диагностирования болезней волос. Исследование проводят ручным дерматоскопом или компьютерно-диагностическим комплексом. К&nbsp;трихоскопическим признакам относятся: уменьшение плотности волосяных стержней, пушковые волоски, желтые точки на&nbsp;коже головы (пустые фолликулы). 

      h3.appear Биопсия кожи головы
      p.appear Гистологическое исследование кожи уточняет диагноз, устанавливает количество поврежденных или уменьшенных луковиц, их&nbsp;сохранность. Биопсия помогает исключить или подтвердить трихотилломанию&nbsp;&mdash; неконтролируемое выдергивание волос.

      h3.appear Анализ крови
      p.appear Полная диагностика проводится, чтобы исключить грибковое или инфекционное поражение, определить гормональный статус.

      h2.appear#traktsionnaya-5 Лечение тракционной алопеции
      p.appear Повышение уровня информированности о&nbsp;вреде тугого плетения причесок, помогает предотвратить или остановить разрушающий фолликулы процесс на&nbsp;начальном этапе. Когда количество волосяных луковиц начало уменьшаться, к&nbsp;лечению подходят комплексно, используя консервативную и&nbsp;медикаментозную терапию, хирургическое вмешательство.

      h3.appear Медикаментозное лечение
      p.appear Первое, что делают при&nbsp;ТА, устраняют травматическую причину тракционного облысения&nbsp;&mdash; тугие головные уборы и&nbsp;методы укладки. В&nbsp;начале болезни возможно постепенное восстановление волосяной луковицы и&nbsp;возобновление роста стержня.

      h4.appear Местные препараты
      p.appear Для стимуляции фолликулов применяют наружные средства:
      ul.list-marked 
        li.appear лечебные шампуни, маски и&nbsp;бальзамы;
        li.appear крема и&nbsp;мази местнораздражающего действия;
        li.appear ампулы с&nbsp;лечебным составом.
      p.appear К&nbsp;действенным местным препаратам относится Миноксидил, который показал хорошие результаты при лечении разных типов алопеции, включая тракционную. Средство наносится на&nbsp;кожу головы. За&nbsp;счет расширения сосудов и&nbsp;прилива крови к&nbsp;фолликулам, препарат стимулирует рост здоровых стержней.

      h4.appear Системные препараты
      p.appear Пациентам назначают антибиотики и&nbsp;противогрибковые препараты, если присоединилась инфекция. При ТА&nbsp;также показан прием витаминных комплексов, подобранных врачом по&nbsp;результатам анализов на&nbsp;выявление дефицитов питательных веществ. Для укрепления луковиц используют местные и&nbsp;внутриочаговые стероиды.

      h3.appear Физиотерапевтические процедуры
      h4.appear Дарсонвализация
      p.appear Аппарат дарсонваль работает на&nbsp;основе слабого импульсного тока. В&nbsp;результате воздействия токов на&nbsp;кожу головы в&nbsp;клетках активизируются обменные процессы, фолликулы насыщаются кислородом, что положительно сказывается на&nbsp;их&nbsp;здоровье.

      h4.appear Лазерная терапия
      p.appear Энергия лазерного света стимулирует работу фолликулов и&nbsp;рост новых волос. Это безболезненный и&nbsp;действенный метод профилактики и&nbsp;лечения ТА. Курс лазерной терапии занимает 9-2&nbsp;месяцев, первые результаты заметны не&nbsp;ранее, чем через 3&nbsp;месяца лечения.

      h3.appear Хирургическое лечение 	
      h4.appear Пересадка волос 	
      p.appear Часто пациенты с&nbsp;тракционной алопецией обращаются за&nbsp;помощью, когда в&nbsp;фолликулах уже запущены необратимые процессы. Поэтому только трансплантация способна восстановить густоту волосяного покрова. Это хирургическая процедура по&nbsp;перемещению здоровых волосяных луковиц в&nbsp;безволосую зону. У&nbsp;процедуры долгосрочные результаты. Пряди, выросшие после операции, можно стричь и&nbsp;укладывать.

      h3.appear Альтернативные методы лечения
      h4.appear Массаж головы
      p.appear Массажные движения стимулируют приток крови к&nbsp;фолликулам, что положительно сказывается на&nbsp;их&nbsp;функционировании. На&nbsp;первой стадии тракционной алопеции регулярный массаж способствует загущению волосяного покрова.

      h4.appear Народные средства
      p.appear Не&nbsp;стоит пренебрегать народными советами по&nbsp;лечению тракционной алопеции. Это дополнение, а&nbsp;не&nbsp;замена базовой терапии, назначенной врачом. Популярна медово-масляная смесь, которая повышает жизнеспособность фолликулов. Для этого нерафинированное растительное масло перемешивается с&nbsp;медом и&nbsp;наносится на&nbsp;проплешины, смывается через 15-20&nbsp;минут. При аллергии на&nbsp;мед используют спиртовую настойку с&nbsp;перцем, стимулирующую прилив крови к&nbsp;волосяным луковицам, и&nbsp;улучшающую их&nbsp;питание.

      h2.appear#traktsionnaya-6 Профилактика
      p.appear Исключение травматического воздействия&nbsp;&mdash; самая действенная профилактика тракционного облысения.

      h3.appear Правильный уход
      ul.list-marked 
        li.appear Не&nbsp;сушите и&nbsp;не&nbsp;расчесывайте мокрые волосы;
        li.appear Для ухода и&nbsp;укладки используйте профессиональные и&nbsp;безопасные средства;
        li.appear После тугой прически помассируйте кожу головы, чтобы возобновить циркуляцию крови;
        li.appear Заведите привычку раз в&nbsp;неделю втирать в&nbsp;кожу головы репейное масло перед мытьем.

      h3.appear Избегание травматических факторов
      ul.list-marked 
        li.appear Для предотвращения механического травмирования чередуйте тугие прически и&nbsp;свободную укладку;
        li.appear Отдайте предпочтение мягким резинкам и&nbsp;лентам для фиксации прически;
        li.appear Минимизируйте использование или откажитесь от&nbsp;термоприборов и&nbsp;агрессивных средств для укладки;
        li.appear Не&nbsp;спите в&nbsp;бигуди;
        li.appear Сократите время ношения наращенных прядей, делайте перерывы;
        li.appear Не&nbsp;ходите без головного убора зимой и&nbsp;в&nbsp;знойный день.

      h3.appear Регулярные осмотры у&nbsp;трихолога
      p.appear Если волосы выпадают больше обычного, обращайтесь к&nbsp;трихологу для выяснения причин, исключения тракционной алопеции. 

      h2.appear#traktsionnaya-7 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Болеют&nbsp;ли дети ТА?</h3>')
            p Да, у&nbsp;детей, которым каждый день делают тугую прическу высокий риск&nbsp;ТА, например, когда девочка занимается гимнастикой.
          +accordionItem('<h3>Станет&nbsp;ли густой прическа как до&nbsp;болезни?</h3>')
            p Только если обратиться к&nbsp;врачу на&nbsp;начальном этапе, когда жизнеспособность фолликулов сохранена.
          +accordionItem('<h3>Можно самостоятельно понять, что это тракционная алопеция?</h3>')
            p Да, если появились проплешины на&nbsp;фоне хронического натяжения.
