extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Почему волосы выпадают с белой луковицей: причины, диагностика и решения'})
  +pageSection: .container: .content
    h1 Почему волосы выпадают с белой луковицей: причины, диагностика и решения
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear В&nbsp;основе каждого волосяного стержня заложена важная структура&nbsp;&mdash; волосяная луковица, которая служит гарантом здоровья и&nbsp;роста волос. Этот небольшой компонент отвечает за&nbsp;множество процессов, связанных с&nbsp;волосяным покровом,&nbsp;&mdash; рост, выпадение и&nbsp;поседение. Осознание роли и&nbsp;потребностей луковицы необходимо для понимания роста и&nbsp;выпадения волос, действенных способов их&nbsp;оздоровления. В&nbsp;статье узнаете все, что нужно знать о&nbsp;волосяной луковице, ее&nbsp;влиянии на&nbsp;здоровье волос, и&nbsp;почему выпадают волосы с&nbsp;луковицей.
      h2.appear#vypadenie-1 Что такое волосяная луковица
      p.appear Это структура у&nbsp;основания волосяного фолликула, где расположен клеточный матрикс, точка начала роста стержня. ​​Расположенная под кожей головы, луковица охватывает дермальный сосочек&nbsp;&mdash; структуру, содержащую кровеносные сосуды, которые питают фолликул и&nbsp;транспортируют необходимые для волосяного роста питательные компоненты. Стволовые клетки, присутствующие в&nbsp;луковице, делятся и&nbsp;дифференцируются, образуя волосяные стержни.
      p.appear Нервы вокруг луковицы тоже участвуют в&nbsp;регуляции роста стержней. В&nbsp;волосяной луковице также находятся сальные железы, которые вырабатывают кожное сало&nbsp;&mdash; маслянистое вещество, смазывающее стержень и&nbsp;кожу головы.
      p.appear Здоровье и&nbsp;жизнеспособность волосяной луковицы имеют решающее значение для роста волос. Любой дисбаланс или повреждение луковицы неизбежно сказывается на&nbsp;качестве и&nbsp;здоровье волосяного покрова.

      h2.appear#vypadenie-2 Как понять, что волос выпадает с&nbsp;луковицей
      p.appear Волосяная луковица расширяется у&nbsp;основания отдельного стержня, придавая ему округлую, луковицеобразную форму. В&nbsp;луковице постоянно образуются новые волосяные клетки, которые склеиваются и&nbsp;затвердевают,образуя кератин. Из&nbsp;этой группы затвердевших клеток развивается стержень. Дермальный сосочек находится в&nbsp;нижней части луковицы и&nbsp;снабжает корень волоса кровью.
      p.appear Затвердевшие клетки продолжают прикрепляться к&nbsp;стержням, выталкивая наружу, что позволяет им&nbsp;продолжать расти в&nbsp;длину. В&nbsp;конце концов волосы с&nbsp;белым кончиком выпадают. В&nbsp;основании опустевшего фолликула клетки продолжают размножаться, образуя новый стержень, жизненный цикл начинается снова.
      p.appear Наличие белой луковицы на&nbsp;конце выпавшего волоска указывает на&nbsp;то, что он&nbsp;прошел естественный цикл роста и&nbsp;вышел из&nbsp;фазы телогена, которая является стадией жизненного цикла стержня. Хотя маленькая белая луковица выглядит подозрительно, это обычная составляющая волос. 
      p.appear Беспокоиться стоит, когда вы&nbsp;заметили, что в&nbsp;душе или на&nbsp;подушке количество оставшихся волос увеличилось (в&nbsp;норме 100-150 волосков в&nbsp;день). Для понимания ситуации, предлагаем изучить возможные причины этого состояния, но&nbsp;начнем с&nbsp;жизненного цикла волосяного стержня.

      h2.appear#vypadenie-3 Этапы цикла роста волос
      h3.appear Анаген
      p.appear Это активный этап деления клеток дермососчка и&nbsp;формирования стержня, который длится 2-7&nbsp;лет. В&nbsp;анагене волосы в&nbsp;среднем вырастают на&nbsp;1&nbsp;см в&nbsp;месяц.
      h3.appear Катаген
      p.appear Это короткая переходная фаза продолжительностью 2&ndash;3&nbsp;недели. В&nbsp;этот период волосяной фолликул начинает уменьшаться, а&nbsp;волосяной рост замедляется.
      h3.appear Телоген
      p.appear Это фаза покоя, которая длится до&nbsp;3&nbsp;месяцев. В&nbsp;телогене волосяной фолликул не&nbsp;активен, и&nbsp;старые стержни выпадают, чтобы освободить место для роста новых.
      p.appear Все нормально, пока выпавшие волоски незаметно заменяются новыми, и&nbsp;процесс не&nbsp;отражается на&nbsp;густоте прически. Если вдруг шевелюра начала редеть, а&nbsp;количество ежедневной волосопотери резко увеличилась, высока вероятность,что из-за нарушения цикла волосяного роста вы&nbsp;столкнулись с&nbsp;телогеновой алопецией. Поредение вызывают как внутренние, так и&nbsp;внешние стрессоры.

      h2.appear#vypadenie-4 Механизм телогенового поредения
      h3.appear Преждевременное высвобождение анагена
      p.appear Механизм характеризуется досрочным переходом фолликулов в&nbsp;фазу телогена. Через 2-3 месяца после стрессового события следует обширное выпадение волос. 
      h3.appear Задержка высвобождения анагена
      p.appear Этот механизм подразумевает увеличение продолжительности фазы анагена, за&nbsp;которым следует чрезмерная потеря волосяных стержней в&nbsp;фазе телогена. 
      h3.appear Синдром короткого анагена
      p.appear Состояние характеризуется укороченной фазой анагена, что приводит к&nbsp;стойкому телогеновому поредению. Это также считается основным механизмом хронического телогенового облысения. 
      h3.appear Преждевременное высвобождение телогена
      p.appear Как следует из&nbsp;названия, состояние подразумевает более короткую фазу телогена и&nbsp;массовое выпадение волос с&nbsp;белой луковицей.
      h3.appear Задержка высвобождения телогена 
      p.appear Задержка характеризуется удлинением фазы телогена, в&nbsp;результате чего волосяные фолликулы переходят в&nbsp;фазу анагена относительно медленнее. 

      h2.appear#vypadenie-5 Причины выпадения волос с&nbsp;луковицей
      p.appear Луковица, как точка происхождения роста волос, подвергается воздействию разных факторов, которые ставят под угрозу ее&nbsp;функционирование и&nbsp;здоровье. Враги луковицы разнообразны и&nbsp;часто возникают из&nbsp;окружающей среды, привычек или физиологии человека. Ниже приведем распространенные причины выпадения волос с&nbsp;луковицей. 
      ul.list-marked
        li.appear #[strong Гормональные факторы:] у&nbsp;женщин волос выпадает с&nbsp;белым кончиком часто из-за гормонального дисбаланса, например, во&nbsp;время беременности, менопаузы, или при синдроме поликистозных яичников.
        li.appear #[strong Стресс:] хронический или острый стресс непосредственно влияет на&nbsp;цикл роста волос, сокращая фазу анагена и&nbsp;ускоряя телоген, что приводит к&nbsp;преждевременной потере волос.
        li.appear #[strong Неправильное питание:] недостаточное содержание в&nbsp;рационе необходимых витаминов, минералов и&nbsp;белков ослабляют волосяную луковицу.
        li.appear #[strong Агрессивное воздействие:] частое использование химических средств&nbsp;&mdash; красителей с&nbsp;аммиаком и&nbsp;перекисью водорода, составов для завивки или выпрямление прядей, а&nbsp;также чрезмерное воздействие тепла фенов и&nbsp;утюжков, повреждают луковицу.
        li.appear #[strong Лекарства и&nbsp;методы лечения:] некоторые препараты, например, используемые при химиотерапии, антикоагулянты, ретиноиды и&nbsp;другие лекарства провоцируют выпадение волос с&nbsp;белой луковицей.
        li.appear #[strong Кожные болезни:] такие болезни, как псориаз, себорейный дерматит или грибковые инфекции нарушают здоровье кожи головы&nbsp;и, как следствие, волосяных луковиц.
        li.appear #[strong Факторы окружающей среды:] воздействие токсических взвесей в&nbsp;воздух, некачественная вода или интенсивные ультрафиолетовые лучи несут потенциальный вред шевелюре.

      h2.appear#vypadenie-6 Как диагностировать проблему
      p.appear На&nbsp;приеме врач визуально при многократном увеличении изучает состояние волосяного покрова, проводит &laquo;тест на&nbsp;выдергивание волос&raquo;. Во&nbsp;время теста трихолог осторожно дергает пучок из&nbsp;40&ndash;60&nbsp;волосков, зажатых между пальцами и&nbsp;подсчитывает, сколько стержней осталось в&nbsp;руке. Если это 3-6&nbsp;волосков, то&nbsp;тест отрицательный.
      p.appear Чтобы определить почему выпал волос с&nbsp;белой луковицей, врач собирает информацию&nbsp;о:
      ul.list-marked
        li.appear диете;
        li.appear принимаемых лекарствах;
        li.appear наследственности;
        li.appear недавних болезнях или эмоциональных потрясениях.
      p.appear Врач может назначить анализы крови, если подозревает, что причиной поредения стала болезнь, например, гипотиреоз.

      h2.appear#vypadenie-7 Методы лечения выпадения волос с&nbsp;луковицей	
      p.appear Лечение назначает врач, а&nbsp;затем постоянно контролирует процесс выздоровления и&nbsp;при необходимости корректирует назначение фармакологических средств.
      h3.appear Лекарственные препараты
      p.appear #[strong Миноксидил.] Это хорошо зарекомендовавший себя препарат, изначально разработанный как пероральное средство при гипертонии из-за его сосудорасширяющих свойств. Но&nbsp;случайное открытие его свойств стимуляции роста волос привело к&nbsp;повторному использованию в&nbsp;качестве местного лечения при облысении.
      p.appear #[strong Финастерид.] Препарат работает за&nbsp;счет снижения активности фермента, который преобразует естественный тестостерон в&nbsp;дигидротестостерон (ДГТ). Повышенная чувствительность фолликулов к&nbsp;ДГТ&nbsp;&mdash; основная причина андрогенного облысения. По&nbsp;сути, финастерид контролирует уровень ДГТ в&nbsp;крови, предотвращая выпадение волос.
      p.appear #[strong Кетоконазол.] Безрецептурный препарат чаще используется для лечения грибковых инфекций кожи головы в&nbsp;виде шампуня и&nbsp;кремов.

      h3.appear Лазерная терапия
      p.appear Это безопасное лечение с&nbsp;использованием лазерного света всех форм выпадения волос: генетических и&nbsp;естественных. Процедура безболезненна и&nbsp;безопасна. Лазер улучшает кровообращение в&nbsp;фолликулах, стимулирует обменные процессы. Улучшение состояния волосяного покрова наблюдается через 6-12 недель терапии.

      h3.appear Плазмотерапия
      p.appear Это лечение подразумевает забор тромбоцитов из&nbsp;крови пациента в&nbsp;концентрированной форме и&nbsp;введение их&nbsp;в&nbsp;области кожи головы, где наблюдается выпадение волос. Лечение плазмой, богатой факторами роста, способствует здоровому волосяному росту.

      h3.appear Трансплантация
      p.appear Пересадка волос&nbsp;&mdash; хирургическое решение проблемы облысения. Финастерид и&nbsp;миноксидил улучшают состояние, но&nbsp;только при постоянном приеме. Пересаженные луковицы сохраняют характеристики донорской области, генетически устойчивой к&nbsp;алопеции. Трансплантацию считают действенным решением эстетических проблем при андрогенетической алопеции. Операцию проводят при достаточном количестве волос в&nbsp;донорской области, чаще это затылок.

      h2.appear#vypadenie-8 Рекомендации по&nbsp;профилактике выпадения волос с&nbsp;луковицей
      ul.list-marked
        li.appear Поддерживайте чистоту кожу головы, используйте натуральные средства для волос. Цель ухода&nbsp;&mdash; укрепить волосяные фолликулы и&nbsp;корни вытяжкой из&nbsp;растений, целебными маслами и&nbsp;другими природными компонентами.
        li.appear При выборе шампуня не&nbsp;впечатляйтесь пеной. Вместо этого выбирайте мягкие нейтральные шампуни по&nbsp;типу кожи.
        li.appear Блокируйте или снижайте уровень гормонов ДГТ, которые вызывают преждевременное истончение и&nbsp;поредение. Это могут быть рецептурные препараты и&nbsp;растительные, например, экстракт карликовой пальмы.
        li.appear Если поредение связано с&nbsp;питанием, вводите в&nbsp;рацион больше разнообразной пищи, сокращайте прием сахара, жирной пищи и&nbsp;газированных напитков. Включайте разные овощи, зелень и&nbsp;постное мясо.
        li.appear Чтобы минимизировать влияние стресса на&nbsp;организм, научитесь расслабляться осмысленными способами, такими как йога, тайцзи или массаж.


      h2.appear#vypadenie-9 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Почему бывают белые и&nbsp;черные луковицы?</h3>').appear
            p.appear Белые волосяные луковицы указывают на&nbsp;то, что стержни перестали расти к&nbsp;моменту выпадения. Если на&nbsp;кончиках стержня черные луковицы, то, скорее всего, в&nbsp;них истощен кератиновый запас, но&nbsp;волоски продолжали расти до&nbsp;того как выпасть.
          +accordionItem('<h3>Можно носить систему замещения в&nbsp;спортзале?</h3>').appear
            p.appear Да, качественный клей гарантирует, что даже при интенсивной тренировке, изделие останется на&nbsp;месте.
          +accordionItem('<h3>Какие эффективные витамины против поредения шевелюры?</h3>').appear
            p.appear Витаминные добавки восстанавливают здоровый волосяной рост, если поредение связано с&nbsp;дефицитом витаминов. Комплекс витаминов выписывает врач после анализа крови.
          +accordionItem('<h3>Какие вещества нужны для питания волос?</h3>').appear
            p.appear К&nbsp;самым незаменимым питательным веществам для здоровья волосяного покрова относят белок, железо, витамин&nbsp;D, цинк и&nbsp;фолиевую кислоту.
          +accordionItem('<h3>Почему волосы ломаются и&nbsp;становятся короче?</h3>').appear
            p.appear Это не&nbsp;выпадение волос с&nbsp;корнем, а&nbsp;ломкость волосяного стержня, связанная с&nbsp;сухостью, термическим или химическим повреждением волосяного полотна. Чтобы исправить ситуацию, шевелюру интенсивно увлажняют, дают отдохнуть от&nbsp;термоукладки и&nbsp;окрашивания до&nbsp;полного восстановления.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="#vypadenie-10">Источники</h2>')
            ul.list-marked
              li.appear Новый косметический подход к&nbsp;лечению истонченных волос/ Дэвис М.Г., Джей Эйч Томас, Айвсон Р. И&nbsp;другие;
              li.appear Тест на&nbsp;выдергивание волос: обновление и&nbsp;пересмотр руководящих принципов, основанных на&nbsp;фактических данных/ Кэтрин А. Макдональд и&nbsp;другие,
              li.appear Дерматология&nbsp;&mdash; это просто/ Аманда Окли.
