extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Алопеция и псориаз: современные методы лечения и профилактики'})
  +pageSection: .container: .content
    h1 Алопеция и псориаз: современные методы лечения и профилактики
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Псориаз&nbsp;&mdash; аутоиммунное воспалительное заболевание, при котором сверхактивная иммунная система приводит к&nbsp;аномально быстрому росту клеток на&nbsp;поверхности кожи. Обычно клетки растут в&nbsp;глубоких слоях кожи и&nbsp;постепенно поднимаются в&nbsp;течение месяца. У&nbsp;людей с&nbsp;псориазом это занимает несколько дней. Избыток новых клеток кожи образует приподнятые чешуйки и&nbsp;красные пятна, которые зудят и&nbsp;часто болезненны.
      p.appear Прямая причина псориаза не&nbsp;установлена, известно, что состояние вызвано патологической реакцией иммунных клеток и&nbsp;обычно включает генетический компонент.
      p.appear Волосистая часть головы (ВЧГ)&nbsp;&mdash; распространенная область локализации псориатических высыпаний (45-79&nbsp;%). Выпадение волос при псориазе серьезно влияет на&nbsp;повседневную деятельность и&nbsp;работу пациентов, наносит большой ущерб психологической и&nbsp;социальной жизни человека.
      
      h2.appear#psoriaz-1 Псориатическая алопеция: что это такое?
      p.appear Псориатическая алопеция&nbsp;&mdash; распространенное осложнение псориаза, особенно при тяжелом течении болезни. Более 80&nbsp;% больных страдали алопецией на&nbsp;протяжении всего периода болезни. Псориаз вызывает разные типы потери волос включая очаговую и&nbsp;диффузную алопеции в&nbsp;области псориатического поражения, телогеновую алопецию и&nbsp;рубцовое облысение, среди которых очаговая составляет до&nbsp;75&nbsp;% пациентов с&nbsp;псориазом ВЧГ.
      p.appear Псориаз и&nbsp;алопеция неразрывно связаны. Для псориаза свойственно образование плотных чешуек, похожих на&nbsp;перхоть, которые накапливаются на&nbsp;поверхности кожи, и&nbsp;нарушают цикл волосяного роста, провоцируя выпадение волос на&nbsp;пораженных участках. Псориатическая потеря волос проявляться по-разному&nbsp;&mdash; от&nbsp;легкого шелушения до&nbsp;обширного покраснения, воспаления и&nbsp;толстых серебристо-белых чешуек, покрывающих ВЧГ. Выпадение волос может быть временным или постоянным, в&nbsp;ряде случаев сопровождается зудом, болезненностью кожи головы.
      p.appear Псориаз, как правило, тяжелее протекает у&nbsp;мужчин, поэтому чаще приводит к&nbsp;облысению.
      
      h2.appear#psoriaz-2 Связь между псориазом и&nbsp;выпадением волос
      h3.appear Воспаление
      p.appear Псориаз&nbsp;&mdash; это воспалительное заболевание. Когда воспаляется кожа головы, могут поражаться и&nbsp;волосяные фолликулы. В&nbsp;1988&nbsp;г. R.&nbsp;Paus и&nbsp;соавтор признали возможной связь псориатического воспаления и&nbsp;цитокиновой сети, выделяемой волосами в&nbsp;анагене, выдвинув гипотезу об&nbsp;общих механизмах &laquo;включения&raquo; воспаления и&nbsp;волосяного роста. Связь косвенно подтверждается клиническими фактами, например, взаимосвязью зоны роста волос и&nbsp;локализацией псориатических повреждений в&nbsp;форме &laquo;псориатической короны&raquo;.
      
      h3.appear Повреждения от&nbsp;расчесов
      p.appear Расчесывания зудящих чешуйчатых пятен повреждает защитный слой кожи и&nbsp;провоцирует выпадение волос. Усиление воспаления при обострении усиливает зуд. В&nbsp;местах хронических расчесов в&nbsp;итоге образуются рубцы. Замещение здоровой ткани фолликула соединительной прекращает его жизнедеятельность.
      
      h3.appear Побочные эффекты лекарств
      p.appear Ряд лекарств для лечения псориаза и&nbsp;псориатического артрита также связаны с&nbsp;потерей волос, которая затрагивает области, покрытые бляшками. Выпадение волос чаще встречается при приеме противоревматических препаратов, угнетающих патологическую активность иммунной системы.
      p.appear Технически это химиотерапевтическое лекарство, большинство которых тормозит обновление клеток. Фолликулы&nbsp;&mdash; быстро развивающаяся ткань, поэтому подобные препараты в&nbsp;5-10&nbsp;% случаев вызывают облысение.
      
      h3.appear Стресс
      p.appear Психическое напряжение&nbsp;&mdash; триггер псориаза и&nbsp;псориатического артрита. Тревога по&nbsp;поводу потери волос усугубляет состояние болезни, усиливая ее&nbsp;последствия. Люди редко говорят о&nbsp;стрессе, связанном с&nbsp;псориазом. Но&nbsp;отталкивающий вид бляшек и&nbsp;проплешины, постоянная потребность в&nbsp;расчесывании из-за зуда снижают качество жизни человека, провоцируют ежедневный стресс. Получается замкнутый круг.
      
      h2.appear#psoriaz-3 Коморбидности и&nbsp;сочетанные заболевания
      h3.appear Андрогенетическая алопеция и&nbsp;псориаз
      p.appear Андрогенетическая алопеция (АГА)&nbsp;&mdash; самый распространенный тип облысения, поражающий до&nbsp;60&nbsp;% пятидесятилетних мужчин. Отличительная черта АГА&nbsp;&mdash; преобразование терминальных фолликулов в&nbsp;миниатюрные, воспроизводящие тонкие короткие со&nbsp;сниженной пигментацией волосы, а&nbsp;также изменение жизненного цикла волос с&nbsp;сокращением анагена и&nbsp;преждевременным переходом в&nbsp;катаген.
      p.appear В&nbsp;связи с&nbsp;широким распространением АГА и&nbsp;псориаза, очевидно, что у&nbsp;ряда пациентов эти патологии сочетаются.
      
      h3.appear Очаговая алопеция и&nbsp;псориаз
      p.appear Гнездная (очаговая) алопеция (ГА)&nbsp;&mdash; аутоиммунное медленно прогрессирующее состояние, которым поражено до&nbsp;2&nbsp;% населения. Механизмы развития болезни связывают с&nbsp;потерей волосяными фолликулами в&nbsp;анагене ареактивности и&nbsp;возбуждением аутореактивных лимфоцитов. При этом разрастание и&nbsp;активность аутореактивных клеток повышают зависимые цитокины. Заболевание характеризуется формированием инфильтрата&nbsp;&mdash; участка ткани повышенной плотности.
      p.appear Считается, что люди с&nbsp;псориазом больше подвержены очаговому облысению&nbsp;&mdash; риск повышается в&nbsp;2,5&nbsp;раза. Есть описания комбинации псориаза и&nbsp;ГА у&nbsp;пациентов с&nbsp;наследственными, иммунными и&nbsp;аутоиммунными состояниями, в&nbsp;частности синдромами Тёрнера, Дауна, полиозом.
      
      h2.appear#psoriaz-4 Лечение псориатической алопеции
      p.appear Терапия, как правило, включает лечение основной патологии&nbsp;&mdash; псориаза кожи головы.
      
      h3.appear Легкая степень
      p.appear #[strong Салициловая кислота и&nbsp;деготь] в&nbsp;составе шампуней предназначены для лечения воспаленной кожи головы. Местные стероиды работают над нормализацией производства клеток&nbsp;&mdash; основа местного лечения, которое часто сочетают с&nbsp;фототерапией, системными и&nbsp;целевыми препаратами. Стероидные препараты также вводятся инъекционно в&nbsp;пораженные участки ВЧГ. Однако инъекции используются умеренно, так как стероиды могут всасываться в&nbsp;системный кровоток.
      
      h3.appear Умеренная или тяжелая степень
      p.appear #[strong Антимикробное лечение] назначают, если образование корок и&nbsp;аномальная сухость кожи головы сопровождаются увеличенными шейными лимфатическими узлами (что указывает на&nbsp;дрожжевую инфекцию).	Применяют как местные, так и&nbsp;системные препараты.
      p.appear #[strong Фототерапия]&nbsp;&mdash; лечение второй линии, используемое, когда местное лечение первой линии (кремы, лосьоны, мази) не&nbsp;справляется с&nbsp;бляшками. Для улучшения результатов волосы делят на&nbsp;ряды или бреют голову. Естественный солнечный свет также может оказаться полезным в&nbsp;случае тонких волос или выбритой головы. В&nbsp;случаях невыносимого зуда назначают пероральные антигистаминные препараты или топические стероиды.
      p.appear При псориазе и&nbsp;псориатическом артрите системная терапия подразумевает прием лекарственных препаратов, тормозящих аномальную активность иммунной системы, вызывающую образование бляшек.
      ul.list-marked 
        li.appear #[strong Стандартные противоревматические препараты], изменяющие течение болезни, которые принимаются перорально.
        li.appear #[strong Целевые противоревматические препараты], изменяющие течение болезни, представляющие действующие целенаправленно таблетки.
        li.appear #[strong Биологические противоревматические препараты], модифицирующие течение болезни, которые вводятся в&nbsp;виде инъекций или инфузий и&nbsp;также действуют целенаправленно.
      
      h2.appear#psoriaz-5 Профилактика и&nbsp;уход
      ul.list-marked 
        li.appear Постарайтесь не&nbsp;чесаться: чесание усиливает раздражение кожи, провоцируя выпадению волос.
        li.appear Постарайтесь уменьшить стресс и&nbsp;беспокойство: симптомы псориаза усиливаются при стрессе, поэтому управление стрессом уменьшает потерю волос и&nbsp;другие симптомы.
        li.appear Измените рацион: воспалительные продукты, такие как алкоголь, молочные продукты, глютен, сахар, усиливают воспаление, обостряют течение псориаза. Большое количество овощей, фруктов и&nbsp;орехов помогает бороться с&nbsp;воспалением.
        li.appear Обратитесь за&nbsp;лечением: терапия помогает контролировать течение болезни, зуд и&nbsp;уменьшает расчесывание.
      +grid({ 'padding': 'y', 'par-like': true })
        +cell({ xs: 12 }).appear
          +table.appear
            +tr
              +th Что делать
              +th Что не&nbsp;делать
            +tr
              +td Использовать шампуни, содержащие деготь или салициловую кислоту.
              +td Не&nbsp;чесать поврежденные участки кожи головы.
            +tr
              +td Избегать средств по&nbsp;уходу за&nbsp;волосами с&nbsp;формальдегидами, парабенами, нерастворимыми силиконами и&nbsp;т.д.&nbsp;в&nbsp;составе.
              +td Злоупотреблять спиртными напитками и&nbsp;курить.
            +tr
              +td Использовать средства по&nbsp;уходу за&nbsp;волосами, содержащие натуральные и&nbsp;лечебные ингредиенты.
              +td Избегать солнца.
            +tr
              +td Принимать ванну и&nbsp;мыть голову теплой водой ежедневно.
              +td Мыть голову горячей водой.
            +tr
              +td Увлажнять кожу головы назначенными врачом продуктами.
              +td Игнорировать новые симптомы и&nbsp;обострения.

      h2.appear#psoriaz-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Какие домашние средства помогают при псориазе на&nbsp;голове?</h3>').appear
            p.appear Яблочный уксус зарекомендовал себя как эффективное успокаивающее средство. Делают водный раствор уксуса&nbsp;&mdash; на&nbsp;1&nbsp;часть уксуса 3&nbsp;части воды. Ватные тампоны смачивают в&nbsp;растворе и&nbsp;прикладывают к&nbsp;пораженным участкам на&nbsp;30&nbsp;секунд или минуту.
          +accordionItem('<h3>Влияет&nbsp;ли диета на&nbsp;состояние волос при псориазе?</h3>').appear
            p.appear Раньше болезнь связывали с&nbsp;неправильным питанием, но&nbsp;научных доказательств этому нет. Можно утверждать, что употребление продуктов с&nbsp;жирами, уксусом и&nbsp;перцем провоцирует обострение псориаза, а&nbsp;значит усиливается воспаление, зуд и&nbsp;состояние волосяного покрова.
          +accordionItem('<h3>Какие шампуни рекомендуются при псориазе на&nbsp;коже головы?</h3>').appear
            p.appear Шампуни при псориазе разработаны для облегчения и&nbsp;уменьшения воспаления кожи головы путем отшелушивания скопившихся чешуек и&nbsp;омертвевших клеток кожи. Это важно для проникновения в&nbsp;кожу местных средств и&nbsp;поддержания здорового баланса влажности. Шампуни чаще содержат противогрибковые ингредиенты и&nbsp;кокосовое масло для увлажнения сухой кожи. Для снятия покраснения и&nbsp;воспаления в&nbsp;шампунь добавляют охлаждающие компоненты, такие как масло чайного дерева, алоэ вера, мята и&nbsp;ментол для ощущения свежести.
          +accordionItem('<h3>Красят волосы при псориазе?</h3>').appear
            p.appear Врачи не&nbsp;рекомендуют краситься при псориазе. В&nbsp;красителях, особенно аммиачных, содержится много раздражающих кожу головы компонентов. Раздражение усиливает зуд и&nbsp;боль в&nbsp;пораженных участках. Если решили краситься, то&nbsp;отдавайте предпочтение растительным красителям, и&nbsp;делайте это в&nbsp;период ремиссии.
          +accordionItem('<h3>Как долго лечить псориатическую алопецию?</h3>').appear
            p.appear Как любая другая аутоиммунная патология псориаз неизлечим. Главная задача терапии&nbsp;&mdash; продолжительная ремиссия. Для этого регулярно посещают дерматолога и&nbsp;выполняют все рекомендации.
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="psoriaz-7">Источники</h2>')
            ul.list-marked 
              li.appear Псориаз: значение физиотерапевтических факторов в&nbsp;комплексной терапии хронического дерматоза/ Кирьянова В.В., Егорова Ю.С., Петрова Е.В.;
              li.appear Современные и&nbsp;фармакологические разработки биологических препаратов для лечения хронического бляшечного псориаза/ Паоло Джизонди, Давиде Гиат, Мириам Пиццолато;
              li.appear Псориаз и&nbsp;алопеция: есть&nbsp;ли связь/ Смирнова И.О., Хажомия К.Д., Медецкая О.М., Головченко В.В и&nbsp;другие;
              li.appear Псориатическая алопеция/ Шустер&nbsp;С.
