extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Выпадение волос при дефиците железа - причины, лечение и профилактика'})
  +pageSection: .container: .content
    h1 Выпадение волос при дефиците железа - причины, лечение и профилактика
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Выпадение волос&nbsp;&mdash; тревожный симптом при разных патологических состояниях. Понимание того, что заставляет волосы истончаться и&nbsp;выпадать,&nbsp;&mdash; первый шаг в&nbsp;поиске решения проблемы. Одной из&nbsp;потенциальных причин выпадения волос, которую часто упускают из&nbsp;виду, является анемия, возникающая на&nbsp;фоне низкого количества эритроцитов. Человек также считается анемичным при недостатке витаминов и&nbsp;минералов, даже если количество эритроцитов в&nbsp;норме. 
      p.appear Такие химические вещества, как железо и&nbsp;цинк, необходимы для поддержания здоровья волос. Нехватка обоих элементов негативно сказывается на&nbsp;их&nbsp;состоянии.

      h2.appear#anemia-1 Что такое железодефицитная алопеция
      p.appear Анемия&nbsp;&mdash; состояние, при котором транспортировка кислорода в&nbsp;клетки организма нарушается из-за уменьшения содержания гемоглобина или количества эритроцитов в&nbsp;крови. Это клетки крови, заполненные гемоглобином&nbsp;&mdash; белка, содержащего большое количество железа. За&nbsp;счет способности железа окисляться, эритроциты насыщаются кислородом в&nbsp;легких, перенося его по&nbsp;кровеносным сосудам к&nbsp;тканям организма. 
      p.appear Человеческий организм, пополняя запасы железа, 25&nbsp;% накапливает в&nbsp;печени, селезенке и&nbsp;костном мозге. При недостаточном получении микроэлементов из&nbsp;продуктов тело начинает использовать запасы. Когда уровень железа, хранящегося в&nbsp;организме, становится низким, возникает дефицитное состояние. У&nbsp;эритроцитов ухудшается способность связываться с&nbsp;кислородом, ткани, включая волосяные луковицы, испытывают гипоксию. Когда уровень железа становится еще ниже, состояние переходит в&nbsp;железодефицитную анемию. 

      h3.appear Выпадение волос и&nbsp;ферритин
      p.appear Анемия, развивающаяся на&nbsp;фоне нехватки железа в&nbsp;организме, называется железодефицитной. Когда железа мало, тормозится выработка гемоглобина. Анемии предшествует латентный железодефицит&nbsp;&mdash; состояние с&nbsp;признаками анемии, но&nbsp;с&nbsp;нормальным показателем гемоглобина. Поэтому важно дополнительно исследовать уровень ферритина&nbsp;&mdash; белка крови, содержащего железо. Сниженные показатели указывают на&nbsp;скрытый дефицит микроэлемента.
      p.appear Между уровнем ферритина и&nbsp;выпадением волос установлена прямая связь, так как ферритин регулирует рост волосяных стержней, поступая непосредственно в&nbsp;фолликулы. При дефиците или переизбытке железа структура стержней разрушается, и&nbsp;они начинают выпадать, что со&nbsp;временем приводит к&nbsp;полному облысению.

      h2.appear#anemia-2 Выпадение волос при анемии
      p.appear При железодефицитной анемии волосяные фолликулы не&nbsp;восстанавливаются после фазы покоя и&nbsp;выпадения волос, что провоцирует диффузное истончение и&nbsp;поредение прядей. Затем при нехватке железа начинают выпадать волосы.
      p.appear Последствия железодефицита для волос.
      ul.list-marked
        li.appear Уменьшается кровообращение в&nbsp;фолликулах. В&nbsp;результате они не&nbsp;получают достаточного количества кислорода для нормального развития.
        li.appear Нарушается баланс белков роста волос. Железо помогает регулировать белки, контролирующие цикл роста волос. При его дефиците цикл нарушается.
        li.appear ​​Недостаток белка ферритина приводит к&nbsp;постепенному угасанию функциональности волосяной луковицы, вызывает ее&nbsp;миниатюризацию. В&nbsp;результате истонченные волоски не&nbsp;растут должным образом.
        li.appear Дефицитное состояние запускает воспалительную реакцию в&nbsp;организме. Воспаление повреждает клетки волосяного фолликула, замедляет рост здоровых стержней.

      h2.appear#anemia-3 Причины железодефицитной алопеции
      ul.list-marked
        li.appear Кровопотеря: так как кровь содержит железо, при чрезмерной кровопотери из-за травмы или по&nbsp;другой причине, человек вместе с&nbsp;кровью теряет железо. Поэтому женщины с&nbsp;обильными менструациями подвержены анемии. 
        li.appear Беременность. Беременные испытывают дефицит микроэлемента, если дополнительно не&nbsp;принимают препараты железа. В&nbsp;пренатальный период его запасы усиленно расходуются на&nbsp;снабжение гемоглобином растущего плода.
        li.appear Неспособность усваивать железо. У&nbsp;некоторых людей не&nbsp;усваивается железо из-за проблем с&nbsp;кишечником, таких как целиакия. Поскольку пищевое железо всасывается в&nbsp;тонком кишечнике, трудности с&nbsp;усвоением железа возникают при удалении части тонкого кишечника.
        li.appear Недостаток железа при отсутствии в&nbsp;рационе продуктов с&nbsp;большим содержанием железа.

      h2.appear#anemia-4 Факторы риска
      ul.list-marked
        li.appear У&nbsp;женщины часто возникает нехватка железа из-за ежемесячных кровотечений во&nbsp;время менструации;
        li.appear Отказ от&nbsp;продуктов животного происхождения, из-за чего вегетарианцы и&nbsp;веганы предрасположены к&nbsp;железодефицитным состояниям;
        li.appear Доноры или пациенты, регулярно сдающие кровь,&nbsp;&mdash; уязвимая для развития железодефицитной анемии группа.

      h2.appear#anemia-5 Диагностика и&nbsp;симптомы
      h3.appear Ранние признаки и&nbsp;симптомы
      p.appear Часто люди даже не&nbsp;подозревают о&nbsp;нехватке железа в&nbsp;организме, так как дефициты временно не&nbsp;проявляют себя. По&nbsp;мере роста дефицита железа начинают проявляться ранние признаки.
      ul.list-marked
        li.appear Усталость и&nbsp;слабость;	
        li.appear Чувствительность к&nbsp;холоду;
        li.appear Бледность кожных покровов;
        li.appear Дискомфорт в&nbsp;груди, сердцебиение или одышка;
        li.appear Головная боль и&nbsp;нарушение чувства равновесия;
        li.appear Непреодолимое желание съесть лед или мел;
        li.appear Ломкость ногтей;
        li.appear Трещины в&nbsp;уголках рта.

      p.appear По&nbsp;мере усугубления дефицита симптомы дополняют:
      ul.list-marked
        li.appear истончение и/или выпадение волос;
        li.appear аритмия;
        li.appear синдром беспокойных ног;
        li.appear отсутствие аппетита.
      p.appear Тяжелую железодефицитную анемию сопровождают:
      ul.list-marked
        li.appear боль в&nbsp;груди;
        li.appear бледность губ, десен и&nbsp;век;
        li.appear сердечная недостаточность;
        li.appear стойкое нарушение настроения, депрессивное расстройство;
        li.appear сниженная концентрация;
        li.appear мелькание &laquo;мушек&raquo; перед глазами;
        li.appear потеря сознания.
      p.appear Выпадение волос вызывают разные факторы, такие как генетика, стресс, лекарства, аутоиммунные болезни и&nbsp;гормональные сбои. Чтобы подтвердить или исключить железодефицитную алопецию, сдают кровь на&nbsp;определение уровня железа в&nbsp;крови.

      h2.appear#anemia-6 Методы диагностики 	
      p.appear Диагностика железодефицитной анемии базируется на&nbsp;анализах крови, которые включают:
      ul.list-marked
        li.appear клинический анализ крови;
        li.appear измерение показателей ферритина сыворотки крови и&nbsp;сывороточного железа;
        li.appear определение общей железосвязывающей емкости и&nbsp;трансферрина.
      p.appear При достаточном поступлении железа в&nbsp;организм детально обследуется кишечник для поиска причин нарушения всасывания и&nbsp;усваивания.

      h2.appear#anemia-7 Лечение и&nbsp;профилактика
      p.appear Терапия железодефицитной анемии решает одну задачу&nbsp;&mdash; восстановление нормального уровня гемоглобина и&nbsp;восполнение тканевых запасов железа. После нормализации витаминно-минерального баланса выпадение волос при анемии прекращается.
      p.appear #[strong Нормальные показатели гемоглобина:]
      ul.list-marked
        li.appear #[strong у&nbsp;женщин&nbsp;&mdash; 120&ndash;160&nbsp;г/л;]
        li.appear #[strong у&nbsp;мужчин&nbsp;&mdash; 130&ndash;180&nbsp;г/л.]

      h2.appear#anemia-8 Традиционные методы лечения
      p.appear Уровень гемоглобина восстанавливают с&nbsp;помощью диеты, обогащенной железом, и&nbsp;железосодержащих препаратов, которые быстро повышают уровень микроэлемента в&nbsp;крови. Препараты с&nbsp;трехвалентным железом не&nbsp;вызывают потемнение зубной эмали и&nbsp;побочных проявлений со&nbsp;стороны ЖКТ.	
      p.appear Это стандартные или жевательные таблетки, растворы, принимаемые внутрь. В&nbsp;тяжелых случаях железосодержащие растворы вводят инъекционно. В&nbsp;состав комбинированных препаратов дополнительно вводят витамины и&nbsp;микроэлементы, улучшающие усвоение железа. 

      h2.appear#anemia-9 Питание и&nbsp;железодефицит
      p.appear Для правильного усвоения железа потребуется дополнительный прием витаминов, например, витамина&nbsp;Е или витамина С.&nbsp;Растворению железа помогают:
      ul.list-marked
        li.appear смородина;
        li.appear облепиха;
        li.appear болгарский перец;
        li.appear цветная капуста;
        li.appear помидоры;
        li.appear цитрусовые;
        li.appear картофель.
      p.appear Растворимость железа также улучшают кисломолочные продукты.
      p.appear Для профилактики железодефицитных состояний в&nbsp;ежедневный рацион включают продукты, насыщенные макро- и&nbsp;микроэлементами,&nbsp;&mdash; зеленые листовые овощи, сухофрукты, красное мясо, орехи и&nbsp;обогащенные железом злаки.

      h2.appear#anemia-10 Восстановление волос при дефицитных состояниях	
      ul.list-marked
        li.appear Поддержание нормального уровня железа и&nbsp;витаминов&mdash; первостепенная задача при выпадении волос у&nbsp;женщин;
        li.appear Прием курсами биотина, витамина&nbsp;D, цинка и&nbsp;омега-жирных кислот после консультации с&nbsp;врачом;	
        li.appear Стимуляция роста волос наружными средствами, инъекционными методами, когда стимуляторы и&nbsp;витамины вводятся непосредственно в&nbsp;кожу голову.
        li.appear Маскировка истонченных прядей системами замещения волос, загустителями и&nbsp;т.д. помогает комфортно пережить время до&nbsp;восстановления прежней густоты прически.

      h2.appear#anemia-11 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Может&nbsp;ли железодефицитная алопеция быть обратимой?</h3>').appear
            p.appear Да, после устранения железодефицита возобновится рост волос, уменьшается выпадение.
          +accordionItem('<h3>В&nbsp;чем разница между гемовым и&nbsp;негемовым железом в&nbsp;питании?</h3>').appear
            p.appear Гемовое входит в&nbsp;состав гемоглобина, хорошо всасывается. Негемовое находится в&nbsp;свободной ионной форме.
          +accordionItem('<h3>Стресс провоцирует железодефицитную алопецию?</h3>').appear
            p.appear Взаимосвязь стресса и&nbsp;возникновения дефицитных состояний научно не&nbsp;установлена.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="anemia-12">Источники</h2>')
            ul.list-marked 
              li.appear Антианемия. Практическое руководство для тех, кто лечит и&nbsp;лечится от&nbsp;дефицита железа /Арсенева Анастасия;
              li.appear 100 рецептов при анемии/ Вечерская Ирина;
              li.appear Железный аргумент. Вся правда об&nbsp;анемии/Арсенева Анастасия;
              li.appear Коррекция диффузной алопеции при железодефицитной анемии/Мадашева А.Г., Махмонов Л.С.
