extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Что делать если после ковида выпадают волосы?'})
  +pageSection: .container: .content
    h1 Что делать если после ковида выпадают волосы?
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear С&nbsp;начала пандемии COVID-19 появилось огромное количество научных статей, направленных на&nbsp;описание долгосрочных последствий для здоровья людей после острой фазы COVID-19, причем одним из&nbsp;наиболее распространенных последствий является потеря волос. Это явление рассматривается как диффузное облысение из-за нарушения координирования циклов роста волос. Выпадение волос после ковида диагностируют даже у&nbsp;детей.
      p.appear Читайте дальше, чтобы узнать, что такое постковидная алопеция и&nbsp;что делать, если столкнулись с&nbsp;этим до&nbsp;конца не&nbsp;изученным типом выпадения волос.
      h2.appear#covid-1 Как облысение связано с&nbsp;коронавирусом
      p.appear По&nbsp;словам дерматологов и&nbsp;по&nbsp;данным многочисленных научных исследований, теперь мы&nbsp;не&nbsp;только знаем, что выпадение волос после ковида&nbsp;&mdash; это действительно реальное явление, но&nbsp;и&nbsp;продолжаем узнавать больше о&nbsp;механизмах, которые за&nbsp;этим стоят. Ободряющая новость&nbsp;&mdash; для большинства людей облысение является временным состоянием.
      p.appear Есть много разных типов потери волос и&nbsp;много факторов, способствующих развитию проблемы. Облысение, наблюдаемое после ковида, как правило, представляет телогеновую алопецию&nbsp;&mdash; состояние, при котором волосы выпадают в&nbsp;ответ на&nbsp;стрессовое событие. В&nbsp;данном случае стрессором выступает вирусная инфекция и&nbsp;ее&nbsp;проявления. Телогеновая алопеция (ТА)&nbsp;&mdash; это генерализованный тип потери волос, который вызывается не&nbsp;только вирусами, но&nbsp;и&nbsp;развивается в&nbsp;ответ на&nbsp;прием лекарств, недостаток питательных веществ, нарушения гормонального обмена.
      p.appear Традиционно от&nbsp;момента стрессового воздействия до&nbsp;развития алопеции после ковида проходит 2&ndash;3&nbsp;месяца. В&nbsp;постковидном случае процесс проходит стремительно: за&nbsp;4&ndash;5 недель у&nbsp;людей наблюдается массивное выпадение волос.

      h2.appear#covid-2 Факторы, способствующие облысению после коронавируса
      h3.appear Температура
      p.appear Инфекция, сопровождающаяся высокой температурой и&nbsp;лихорадкой, способствует временной потере волос. Не&nbsp;только после ковида, но&nbsp;и&nbsp;после гриппа выпадают волосы. Лихорадка&nbsp;&mdash; это неспецифический ответ организма, развивающийся под влиянием пирогенов (биологически активные вещества патогенного происхождения), которые вызывают необратимые изменения в&nbsp;системах и&nbsp;органах, включая волосяные фолликулы.
      h3.appear Вирусная интоксикация
      p.appear Ковид сопровождается тяжелой интоксикацией. По&nbsp;данным ученых разных стран, признаки инфекции аналогичны отравлению свинцом или сероводородом. Токсины с&nbsp;током крови попадают в&nbsp;корни волос, рецепторы которых чувствительны к&nbsp;токсичным веществам.
      h3.appear Гормональные изменения
      p.appear Доказано, что андрогены играют важную роль в&nbsp;проникновении SARS-CoV-2&nbsp;&mdash; коронавируса, вызывающего Covid-19, в&nbsp;клетки организма. Те&nbsp;же андрогены способствуют облысению у&nbsp;людей с&nbsp;унаследованной чувствительностью к&nbsp;дигидротестостерону&nbsp;&mdash; производной андрогена. Поэтому АГА только усиливает выпадение волос после ковида у&nbsp;мужчин. Это также относится к&nbsp;женщинам с&nbsp;повышенным уровнем андрогенов при поликистозе яичников или гиперандрогении.
      h3.appear Гендерная принадлежность
      p.appear Высокий процент выпадения волос после ковида у&nbsp;женщин связан с&nbsp;плохой устойчивостью к&nbsp;стрессам и&nbsp;замедленным ростом стержней.
      h3.appear Лекарства
      p.appear Агрессивная медикаментозная терапия разрушающе действует на&nbsp;&laquo;трихологические&raquo; сигнальные пути волосяной луковицы. К&nbsp;фармпрепаратам, способствующим облысению, относятся кортикостероиды, фибринолитические средства, антибиотики, противомалярийные средства и&nbsp;препараты для лечения ВИЧ-инфекции.
      h3.appear Стрессовое состояние
      p.appear Тяжелая вирусная инфекция&nbsp;&mdash; это физический и&nbsp;психологический стресс для человека. При ковиде организм испытывает двойной стресс. Многие дерматологи полагают, что кортизол&nbsp;&mdash; гормон стресса, и&nbsp;другие химические вещества, &laquo;сообщающие&raquo; волосяным фолликулам, что пора выпадать, влияют на&nbsp;выпадение волос после болезни.
      p.appear Впервые возникшая диффузная потеря волос сильно влияет на&nbsp;психосоциальное благополучие человека, даже в&nbsp;большей степени у&nbsp;пациентов, ранее инфицированных SARS-CoV-2. А&nbsp;эмоциональный стресс, как известно,&nbsp;&mdash; пусковый механизм, провоцирующий выпадение волос. Таким образом пациенты часто оказываются в&nbsp;ловушке порочного круга.
      h3.appear Нарушенная микроциркуляция
      p.appear Нарушение эндотелия, поддерживающего сосудистый статус, стойкий спазм капилляров провоцируют нейрогенное воспаление. Доступ кислорода и&nbsp;крови к&nbsp;органам нарушается, включая кожу головы.Фолликулы испытывают гипоксию и&nbsp;дефицит питательных веществ.

      h2.appear#covid-3 Механизмы выпадения волос после ковида
      h3.appear Анаген, катаген и&nbsp;телоген: стадии роста волос
      p.appear Волосяные стержни выпадают, пройдя многолетний жизненный цикл. И&nbsp;поскольку на&nbsp;голове до&nbsp;150&nbsp;000 волосяных стержней, это обычно проходит незаметно, так как выпавшие волосы заменяются новыми, выросшими из&nbsp;тех&nbsp;же фолликулов.
      p.appear Волосы растут в&nbsp;повторяющихся циклах, которые состоят из&nbsp;четырех отдельных этапов:
      ul.list-marked
        li.appear анаген (период роста);
        li.appear катаген (период регресса);
        li.appear телоген (период покоя);
        li.appear экзоген (период выпадения).
      p.appear При шоковом выпадении большее количество волосяных стержней ускоряется до&nbsp;стадии выпадения за&nbsp;короткий промежуток времени. Утешающая новость в&nbsp;том, что эти волосы могут вырасти снова, хотя это займет некоторое время. В&nbsp;тяжелых случаях человек необратимо лысеет, особенно при генетической предрасположенности.
      p.appear С&nbsp;момента стрессового события (вирус ковида) до&nbsp;выпадения волос в&nbsp;среднем проходит 1,5-2,5&nbsp;месяца. Поскольку волосы растут циклично, не&nbsp;все стержни вступают в&nbsp;телоген одновременно. В&nbsp;зависимости от&nbsp;периода болезни, проходит до&nbsp;6&nbsp;месяцев, прежде чем шевелюра начнет восстанавливаться.

      h3.appear Телогеновая алопеция с&nbsp;поздним началом
      p.appear ТА&nbsp;определяется рядом ключевых факторов. Сначала человек замечает волосы на&nbsp;полу в&nbsp;ванной или на&nbsp;расческе. Через несколько недель волосяные стержни на&nbsp;голове становятся тоньше. Постковидное облысение не&nbsp;происходит одновременно с&nbsp;инициирующим событием&nbsp;&mdash; человек выздоравливает после COVID-19, а&nbsp;через пару месяцев сталкивается с&nbsp;обильной потерей волос. При ТА&nbsp;цикл роста в&nbsp;конечном итоге нормализуется, и, если волосяные луковицы не&nbsp;повреждены, волосяной покров восстанавливается.

      h3.appear Анагеновая алопеция с&nbsp;ранним началом
      p.appear Изначально считалось, что облысение происходит по&nbsp;типичной схеме классического &laquo;телогенового выпадения&raquo;, сегодня уже понятно, что механизм применим не&nbsp;ко&nbsp;всем пациентам. Появились данные, предполагающие, что раннее начало облысения может быть типом дистрофической анагеновой алопеции с&nbsp;выпадением волос в&nbsp;анагене.

      h3.appear Гнездная алопеция
      p.appear Патогенез постковидной алопеции очень схож с&nbsp;очаговой алопецией и&nbsp;лимфоцитарными рубцовыми формами. Точная этиология гнездной алопеции не&nbsp;установлена, считается, что она возникает, когда иммунные клетки разрушают волосяные луковицы. Хотя у&nbsp;состояния присутствует наследственный компонент, для запуска болезни требуется &laquo;триггер&raquo; из&nbsp;окружающей среды, например, болезнь.

      h2.appear#covid-4 Статистика и&nbsp;исследования
      p.appear Исследование &laquo;Андрогенетическая алопеция, присутствующая у&nbsp;большинства пациентов, госпитализированных с&nbsp;COVID-19: &laquo;симптом Габрина&raquo; показало, что большинство мужчин, госпитализированных с&nbsp;ковидом, лысые. Подобная статистика произвела фурор. Хоть это и&nbsp;кажется странным, но&nbsp;наука предлагает правдоподобное объяснение.
      p.appear Андрогенетическое облысение связано с&nbsp;высоким уровнем дигидротесторона&nbsp;&mdash; производного мужских гормонов. И&nbsp;андрогены, по-видимому, играют не&nbsp;последнюю роль в&nbsp;проникновении коронавируса, вызывающего COVID-19, в&nbsp;клетки. Поэтому возможно, что высокий уровень андрогенов может увеличить риски тяжелой инфекции и&nbsp;смерти от&nbsp;ковида. Гипотеза важна для выявления людей из&nbsp;группы риска и&nbsp;открывает возможности для разработки новых стратегий лечения COVID-19.
      p.appear Всего было обследовано 175 человек с&nbsp;подтвержденным COVID-19. Среди пациентов 122 мужчины и&nbsp;53&nbsp;женщины. В&nbsp;целом, у&nbsp;67&nbsp;% пациентов наблюдалась клинически значимая АГА. Частота АГА у&nbsp;мужчин составила 79&nbsp;%, у&nbsp;женщин&nbsp;&mdash; 42&nbsp;%.

      h2.appear#covid-5 Диагностика
      p.appear Допустить наличие постковидной алопеции позволяет сбор анамнеза, положительный тест на&nbsp;выдергивание и&nbsp;повышенное количество волос в&nbsp;телогене на&nbsp;фототрихограмме (больше 50%). Так как облысение после ковида сходно с&nbsp;гнездной алопецией у&nbsp;пациентов, перенесших инфицирование SARS-CoV-2, на&nbsp;первый план выходит иммунологическая диагностика:
      ul.list-marked
        li.appear лейкоцитарной формулы, субпопуляции лимфоцитов;
        li.appear иммуноглобулинов A, M, G, HCT-тест;
        li.appear С-реактивного белка;
        li.appear Д-димеров;
        li.appear цитоплазматического цинксодержащего фермента;
        li.appear ферритина;
        li.appear ИЛ-6&nbsp;&mdash; противовоспалительного цитокина.
      p.appear Анализировать авитаминоз в&nbsp;острый период смысла нет, так как подход к&nbsp;ведению данных пациента формируется методом разнообразных попыток, нельзя говорить об&nbsp;утвержденных алгоритмах. Также нет оценки долгосрочных результатов лечения.
      p.appear Однако на&nbsp;основе имеющегося опыта выводы говорят о&nbsp;том, что схемы лечения аутоиммунных видов облысения быстро и&nbsp;продуктивно срабатывают и&nbsp;в&nbsp;случаях острой фазы постковидной алопеции.

      h2.appear#covid-6 Лечение выпадения волос после ковида
      p.appear Кроме психологической поддержки и&nbsp;управления стрессом, исследователи обнаружили и&nbsp;другие многообещающие методы лечения, которые могут улучшить или ускорить рост волос после COVID.
      p.appear Недавно выпущенное лечение под названием QR678 Neo (с&nbsp;6&nbsp;растительными биомиметическими полипептидами в&nbsp;составе) показало снижение телогеновой потери волос у&nbsp;женщин с&nbsp;ковидом, облысение у&nbsp;которых длилась дольше 6&nbsp;месяцев. У&nbsp;89&nbsp;% пациентов наблюдался отличный рост волос после регулярных инъекций QR678 Neo в&nbsp;кожу головы.
      p.appear Заместительная терапия протеогликанами также может стать эффективным способом лечения облысения, связанного с&nbsp;ковидом. Это лечение также действенное для пациентов с&nbsp;АГА и&nbsp;ТА.

      h3.appear Витамины и&nbsp;добавки
      p.appear Если после коронавируса выпадают волосы, а&nbsp;анализы показали дефицит микроэлементов, добавки помогут восстановить организм до&nbsp;нормального уровня жизненно важных витаминов и&nbsp;минералов. Но&nbsp;добавки неэффективны как лечение выпадения волос, связанного с&nbsp;ковидом.
      h3.appear Питание
      p.appear Сбалансированное питание&nbsp;&mdash; важнейшая стратегия, которая смягчает последствия постковидного облысения, посредством пищевой модуляции иммунной системы.
      p.appear Потребление здоровой пищи должно стать приоритетом для поддержания адекватного статуса питания и&nbsp;функционирования иммунной системы, чтобы снизить восприимчивость к&nbsp;долгосрочным последствиям COVID-19&nbsp;в целом.
      h3.appear Миноксидил
      p.appear Это антигипертензивное средство, которое использует сосудорасширяющие свойства для улучшения и&nbsp;увеличения циркуляции крови в&nbsp;волосяном фолликуле. Препарат также активирует простагландинсинтазу-1&nbsp;&mdash; фермент, способствующий волосяному росту. 
      p.appear Миноксидил в&nbsp;первую очередь показан для лечения андрогенетической алопеции, но&nbsp;врачи его также назначают при хронической ТА. Потому что препарат стимулирует переход волосяных фолликулов из&nbsp;телогена в&nbsp;фазу роста анаген и&nbsp;дополнительно продлевает&nbsp;ее.
      h3.appear Мезотерапия
      p.appear Методика заключается во&nbsp;многократных внутрикожных микроинъекциях низких доз активных веществ, таких как поливитамины, минералы, растительные экстракты и&nbsp;лекарства непосредственно в&nbsp;дермальный слой кожи.
      p.appear Это действенный способ улучшить питание волосяных фолликулов, расположенных на&nbsp;этом уровне, преодолевая эпидермальный барьер, который снижает проникновение местно вводимых препаратов. Кроме того, микротравма, вызванная инъекциями, стимулирует активацию дермальных сосочков и&nbsp;локальную выработку цитокинов и&nbsp;факторов роста в&nbsp;пораженных участках, поддерживая анагенный рост волос.
      h3.appear Плазмотерапия
      p.appear PRP&nbsp;&mdash; новый метод лечения в&nbsp;области регенеративной медицины с&nbsp;высокой доказательностью восстановления волосяного покрова, чаще при гнездной и&nbsp;андрогенетической алопециях.
      p.appear PRp.appear содержит высокие концентрации аутологичных факторов роста и&nbsp;других сигнальных молекул, полученных из&nbsp;тромбоцитов крови, которые вводятся в&nbsp;целевую ткань. PRp.appear активирует фолликулярные стволовые клетки и&nbsp;способствует регенерации волосяных фолликулов, продлевает фазу анагена, улучшая функцию волосяного фолликула.

      h2.appear#covid-7 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Волосы вырастут снова после заражения COVID?</h3>').appear
            p.appear Большинство исследований облысения после COVID&nbsp;показали, что у&nbsp;пациентов наблюдается полное восстановление волосяного покрова. Однако это зависит от&nbsp;типа потери волос. Пациенты с&nbsp;гнездной алопецией вряд&nbsp;ли увидят возобновление волосяного роста без дальнейшего лечения.
          +accordionItem('<h3>Как определить, что облысение связано с&nbsp;COVID-19?</h3>').appear
            p.appear Если человек месяц или два назад переболел ковидом, а&nbsp;потом вдруг столкнулся с&nbsp;обильной равномерной потерей волос, то&nbsp;высока вероятность, что это постковидная алопеция.
          +accordionItem('<h3>Как ухаживать за&nbsp;волосами при облысении после COVID?</h3>').appear
            ul.list-marked
              li.appear Временно воздержитесь от&nbsp;окрашивания и&nbsp;завивки;
              li.appear Избегайте тугих причесок и&nbsp;агрессивного расчесывания;
              li.appear Для мытья и&nbsp;ухода выбирайте продукты для ослабленных волос;
              li.appear Периодически мягко массируйте волосистую часть головы.
          +accordionItem('<h3>Как долго продолжается выпадение волос после ковида?</h3>').appear
            p.appear Как правило, волосы восстанавливают нормальную густоту в&nbsp;течение 6-9&nbsp;месяцев. Но&nbsp;часто требуется больше времени&nbsp;&mdash; 1-2&nbsp;года, чтобы волосяной покров достиг доболезненного состояния.
          +accordionItem('<h3>Когда обращаться к&nbsp;врачу при облысении после ковида?</h3>').appear
            p.appear Если выпадение продолжается больше 6&nbsp;месяцев, требуется консультация трихолога.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="covid-8">Источники</h2>')
            ul.list-marked
              li.appear Всплеск заболеваемости телогеновой алопецией в&nbsp;общинах с&nbsp;преобладанием меньшинств, сильно пострадавших от&nbsp;COVID-19/ Эбигейл Клайн, Биджан Сафаи, Авраам Казеи;
              li.appear Острая телогеновая алопеция, связанная с&nbsp;инфекцией SARS-CoV-2/ Мигель Домингес-Сантес, Лара Айя-Мартинес, Борха Диас-Гимараенс;
              li.appear Телогеновая алопеция, связанная с&nbsp;тяжелой формой инфекции Sars-Cov-2: клинические аспекты и&nbsp;наш опыт лечения/ Риццетто&nbsp;Г., Диоталлеви&nbsp;Ф., Кампанати&nbsp;А. и&nbsp;др.;
              li.appear Дополнительные стратегии по&nbsp;стимулированию роста волос при телогеновой алопеции после COVID-19/ Мариус Николае Попеску, Михай Бертяну, Мара Мэдалина Михай и&nbsp;другие.
