extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Андрогенная алопеция у мужчин: причины, симптомы и эффективное лечение'})
  +pageSection: .container: .content
    h1 Андрогенная алопеция у мужчин: причины, симптомы и эффективное лечение
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear Мужское облысение&nbsp;&mdash; распространенная проблема, с&nbsp;которой мужчины сталкиваются не&nbsp;только в&nbsp;зрелом, но&nbsp;и&nbsp;молодом возрасте. Это состояние, при котором наблюдается чрезмерная потеря волос по&nbsp;всей поверхности головы или в&nbsp;отдельных областях. У&nbsp;мужчин поредение шевелюры начинается с&nbsp;залысин на&nbsp;лбу, у&nbsp;женщин&nbsp;&mdash; с&nbsp;облысения макушки.
      p.appear В&nbsp;обоих случаях дальнейшее развитие состояния зависит от&nbsp;причин, спровоцировавших истончение и&nbsp;поредение. В&nbsp;статье расскажем почему редеют волосы у&nbsp;мужчины, как бороться с&nbsp;мужским облысением.

      h2.appear#u-muzhchin-1 Этиология облысения мужчин
      p.appear У&nbsp;мужчин выпадают волосы на&nbsp;голове по&nbsp;разным причинам&nbsp;&mdash; из-за унаследованной предрасположенности, сильного стресса, инфекций и&nbsp;гормональных проблем. Ниже подробнее рассмотрим, почему начали выпадать волосы.

      h3.appear Генетическая предрасположенность
      p.appear Облысение у&nbsp;мужчин, тестостерон и&nbsp;генетика тесно связаны. В&nbsp;ряде случаев мужчина начинает лысеть из-за чувствительности волосяных клеток к&nbsp;тестостерону (андроген). Подобная чувствительность наследуется по&nbsp;полигенному и&nbsp;многофакторному типу. Первичный ген облысения находится на&nbsp;Х-хромосоме, что делает наследственный фактор доминирующим со&nbsp;стороны матери. Однако другие гены, не&nbsp;зависящие от&nbsp;пола родителя, также способствуют облысению. Если потеря волос распространена в&nbsp;семьях матери и&nbsp;отца, шанс облысения по&nbsp;мужскому типу повышается.

      h3.appear Эндокринные болезни
      p.appear Обычное средство от&nbsp;облысения для мужчин не&nbsp;поможет сохранить шевелюру, если причина кроется в&nbsp;аномальной работе эндокринной системы (в&nbsp;том числе щитовидной железы). В&nbsp;этом случае лечение связано с&nbsp;устранением эндокринных дисфункций.
      p.appear При эндокринных нарушениях пряди становятся сухими, тусклыми, редкими и&nbsp;тонкими. Первые залысины, как правило, образуются на&nbsp;затылке у&nbsp;мужчин, около лба и&nbsp;в&nbsp;области висков. При атрофии железы волосы сильно выпадают, что характерно для людей старшего возраста.

      h3.appear Стрессы и&nbsp;психоэмоциональные факторы
      p.appear Если человек долгое время испытывает сильный стресс, то&nbsp;может возникнуть раннее облысение. Это не&nbsp;редкость для мужчин. Все начинается с&nbsp;сужения сосудов, которые расположены на&nbsp;голове. Из-за этого волосяные корни лишаются достаточного питания. Если психоэмоциональное напряжение не&nbsp;снижается продолжительное время, то&nbsp;начинается облысение. Если&nbsp;же эмоциональные или нервные перегрузки случаются часто, то&nbsp;сложно предотвратить выпадение волос у&nbsp;мужчин.В данной ситуации облысение носит временный характер, если вовремя принять меры.

      h3.appear Дефицитные состояния
      p.appear Здоровый волосяной рост зависит от&nbsp;состояния волосяных фолликулов. Этим мини-органам для нормального функционирования требуется столько&nbsp;же кислорода, витаминов и&nbsp;минералов, сколько и&nbsp;другим органам в&nbsp;организме. Дефицит витаминов группы&nbsp;В, витаминов&nbsp;D и&nbsp;E, микроэлементов, коллагена и&nbsp;жирных кислот омега-3 часто приводит к&nbsp;поредению и&nbsp;истончению волосяного покрова. Питательные дефициты также связаны с&nbsp;нарушениями роста волос, включая гнездную алопецию и&nbsp;андрогенное облысение.

      h3.appear Медицинские препараты
      p.appear Ряд лекарств нарушает естественный цикл волосяного роста и&nbsp;приводит к&nbsp;сильной потере волос. В&nbsp;первую очередь это препараты, используемые для лечения рака. Подобное побочное действие касается и&nbsp;других средств, применяемых для терапии гипертонии, болезней сердца и&nbsp;кожных инфекций.
      p.appear Бета-блокаторы, антикоагулянты и&nbsp;некоторые ретиноиды также провоцируют телогеновую алопецию, выводя волосяные фолликулы из&nbsp;нормального цикла роста в&nbsp;сон. Ряд оральных контрацептивов содержат гормоны, тоже влияющие на&nbsp;волосяной рост. 

      h3.appear Курение
      p.appear О&nbsp;вреде табака говорят давно. Но&nbsp;редко упоминается, что курение со&nbsp;временем приводит к&nbsp;выпадению волос. Более того, из-за пристрастия к&nbsp;никотину риск облысение у&nbsp;мужчин в&nbsp;30&nbsp;лет выше, чем у&nbsp;женщин того&nbsp;же возраста. Это объясняется тем, что при употреблении табака волосяной фолликул, в&nbsp;котором находится корневая часть, быстро разрушается.

      h2.appear#u-muzhchin-2 Распространенные формы мужского облысения
      h3.appear Андрогенетическая алопеция (АГА)
      p.appear Андрогенетическая алопеция у&nbsp;мужчин, известная как облысение по&nbsp;мужскому типу&nbsp;&mdash; диагностируемый чаще других вид постоянной потери волос. У&nbsp;этого типа нет предупреждающих симптомов, таких как зуд или сыпь. Только внимательные замечают первые залысины на&nbsp;висках. АГА протекает, как правило, медленно в&nbsp;течение долгих лет, у&nbsp;каждого мужчины своя скорость облысения.
      p.appear К&nbsp;ключевым факторам развития АГА относится генетический набор хромосом человека. Роль генов в&nbsp;потере волос сложна и&nbsp;включает множество факторов. Гормоны также играют роль в&nbsp;потере волос, особенно дигидротестостерон (ДГТ). 
      p.appear В&nbsp;результате унаследованной чувствительности волосяных фолликулов к&nbsp;активности андрогенных гормонов у&nbsp;человека постепенно редеет и&nbsp;истончается шевелюра. У&nbsp;этих мужчин уровень гормонов в&nbsp;норме, но&nbsp;клетки волосяных фолликулов подвергаются агрессивному воздействию ДГТ. Фолликулы уменьшаются, начинают производить более светлые и&nbsp;тонкие волоски и&nbsp;в&nbsp;конечном итоге перестают функционировать.

      h3.appear Очаговая алопеция (ОА)
      p.appear Это состояние, связанное с&nbsp;поражением клеток корневой системы волос и&nbsp;характеризующееся внезапным появлением одного или нескольких округлых безволосых участков на&nbsp;голове. В&nbsp;местах облысения зуд и&nbsp;болезненность отсутствуют, кожа ровная естественного цвета. Развивается из-за аутоиммунного расстройства, которое заставляет организм ошибочно полагать, что ему грозит опасность со&nbsp;стороны волосяных фолликулов, поэтому иммунные клетки начинают атаковать волосяные фолликулы.
      p.appear При тяжелом течении человек лишается бровей, ресниц и&nbsp;растительности на&nbsp;теле. Восстановление волосяного покрова чаще происходит спонтанно, ускорить процесс помогает лечение, но&nbsp;не&nbsp;всегда успешно.

      h3.appear Анагеновая алопеция
      p.appear Это состояние чаще связано с&nbsp;химиотерапией и&nbsp;лучевой терапией. В&nbsp;ходе такого лечения используются токсины, которые воздействуют на&nbsp;весь организм, попутно повреждая волосяные фолликулы в&nbsp;анагене. Волосы у&nbsp;мужчин становятся тонкими, а&nbsp;затем выпадают. После завершения химиотерапевтического курса, волосяной покров, как правило, восстанавливается.

      h3.appear Телогеновая алопеция
      p.appear Это потеря волос, вызванная травмой или сильным стрессом. Хирургическое вмешательство, вирусная лихорадка, внезапная потеря веса или физическая травма&nbsp;&mdash; это стрессовые состояния для организма. В&nbsp;ответ на&nbsp;триггер волосяные фолликулы преждевременно впадают в&nbsp;фазу сна. После исключения стрессового фактора шевелюра вырастет снова в&nbsp;течение шести месяцев.

      h2.appear#u-muzhchin-3 Симптомы и&nbsp;стадии облысения
      h3.appear Основные признаки
      p.appear Редкие волосы у&nbsp;мужчин и&nbsp;проплешины становятся заметны уже на&nbsp;поздних стадиях. Несмотря на&nbsp;отличительные черты каждой формы алопеции, есть базовые признаки аномальной потери волос.
      ul.list-marked 
        li.appear Ежедневное выпадение больше 150&nbsp;волосков;
        li.appear Равномерное поредение волосяного покрова;
        li.appear Лобные залысины
        li.appear Появление неравномерных проплешин;
        li.appear Медленный рост волос;
        li.appear Грубые, сухие и&nbsp;ломкие стержни;
        li.appear Новые волоски тонкие с&nbsp;минимальной пигментацией;
        li.appear Покраснение, болезненность и&nbsp;зуд кожи головы;
        li.appear Поднятие линии роста волос.

      h3.appear Степени облысения по&nbsp;шкале Норвуда
      p.appear Шкала Норвуда&nbsp;&mdash; это описательный инструмент, используемый для диагностики поредения волосяного покрова у&nbsp;мужчин. Чтобы избежать прогрессирования облысения у&nbsp;мужчин, врачу важно определить серьезность состояния.
      ol.list-numbered
        li.appear Класс 1&nbsp;представляет нормальную шевелюру без потери волос.
        li.appear Класс 2&nbsp;отмечает начало залысин по&nbsp;бокам и&nbsp;появление треугольного &laquo;вдовьего пика&raquo; на&nbsp;лбу.
        li.appear На&nbsp;стадии 3&nbsp;у мужчин наблюдается выраженное выпадение волос над висками и&nbsp;лбом, а&nbsp;линия роста начинает напоминать форму буквы M, U&nbsp;или V.&nbsp;На&nbsp;этой стадии поредение также образуется на&nbsp;макушке,
        li.appear Стадия 4&nbsp;уже считается облысением, на&nbsp;этом этапе становится явным поредение на&nbsp;макушке. Также наблюдается сильная потеря волос над висками и&nbsp;в&nbsp;передней области. Небольшой мостик из&nbsp;волос часто разделяет макушку и&nbsp;верхнюю часть головы.
        li.appear На&nbsp;стадии 5&nbsp;потеря волос очень заметна, особенно в&nbsp;лобной области и&nbsp;на&nbsp;макушке. Лысые участки макушки и&nbsp;средней части головы сливаются.
        li.appear На&nbsp;6-й стадии мост исчезает, оставляя одно большое лысое пятно. Некоторые волоски еще остаются по&nbsp;бокам головы.
        li.appear Пациенты с&nbsp;потерей волос на&nbsp;7&nbsp;стадии демонстрируют максимальную потерю волос. Часто волоски остаются вдоль основания головы в&nbsp;форме подковообразной полосы.

      h3.appear Признаки очаговой алопеции 
      p.appear Основным признаком&nbsp;ОА ученые называют появление круглых или овальных участков без волос. Очаг поражения бывает единичным и&nbsp;множественным. Иногда волосы выпадают точечно, образуя хаотичный рисунок. Алопеция может поражать любую часть головы, включая брови и&nbsp;ресницы, у&nbsp;мужчин&nbsp;&mdash; бороду. Часть пациентов с&nbsp;ОА не&nbsp;отмечали предшествующих признаков, а&nbsp;другие жаловались на&nbsp;жжение и&nbsp;боли в&nbsp;области облысения.

      h2.appear#u-muzhchin-4 Общие рекомендации при выпадении волос
      p.appear Волосяной покров и&nbsp;кожа головы&nbsp;&mdash; показатели благополучия всего организма. Поэтому при первых симптомах нездоровья волос необходимо пересмотреть образ жизни и&nbsp;рацион питания. Вот шаги, которые предпринимают, чтобы остановить облысение у&nbsp;мужчин:
      ul.list-marked 
        li.appear полноценный ночной отдых;
        li.appear отказ от&nbsp;жареного, копченого, соленого и&nbsp;фастфуда;
        li.appear ежедневное меню с&nbsp;упором на&nbsp;овощи, фрукты и&nbsp;зелень;
        li.appear минимизированное использование агрессивных средств для мытья и&nbsp;укладки волос;
        li.appear умение контролировать стресс.
      p.appear Если после месяца соблюдения данных рекомендаций ситуация не&nbsp;нормализуется, обратитесь к&nbsp;трихологу за&nbsp;обследованием и&nbsp;лечением.

      h2.appear#u-muzhchin-5 Лечение облысение у&nbsp;мужчин
      h3.appear Медикаментозная терапия
      p.appear #[strong Блокаторы дигидротестостерона или антиандрогены.] Это таблетки базовой	 терапии от&nbsp;облысения для мужчин с&nbsp;чувствительностью к&nbsp;ДГТ&nbsp;&mdash; гормону, ответственному за&nbsp;гормональную генетическую потерю волос. Антиандрогены предотвращают преобразование андрогенов в&nbsp;ДГТ, и&nbsp;служат профилактикой андрогенетической алопеции. У&nbsp;препаратов ряд серьезных побочных последствий, поэтому принимается только по&nbsp;назначению врача. Терапевтический эффект длится только во&nbsp;время приема.
      p.appear #[strong Противовоспалительные средства (кортикостероиды)] снижают воспаление фолликулов. Чаще инъекционно гормоны вводятся в&nbsp;зону поражения при очаговой алопеции. В&nbsp;ряде случаев этого достаточно, чтобы на&nbsp;время остановить выпадение волос. Но&nbsp;после одного эпизода&nbsp;ОА остается вероятность рецидива.
      p.appear #[strong Иммунодепрессанты] используются для снижения иммунных реакций организма, нападающего на&nbsp;собственные волосяные фолликулы. Препараты лишь на&nbsp;время снижают иммунологическую реакцию.

      h3.appear Местные препараты от&nbsp;облысения для мужчин
      p.appear #[strong Миноксидил]&nbsp;&mdash; действующее топическое средство, расширяющее сосуды, улучшающее кровообращение и&nbsp;рост волос. Помогает убрать лысину на&nbsp;голове у&nbsp;мужчин. Миноксидил способствует росту новых волосяных стержней в&nbsp;зоне нанесения, но&nbsp;не&nbsp;лечит причины облысения. Продается без рецепта в&nbsp;жидкой и&nbsp;пенной форме.
      p.appear #[strong Препараты с&nbsp;никотинамидом] тоже расширяют сосуды и&nbsp;локально улучшают кровоток. По&nbsp;составу вещество близко к&nbsp;никотиновой кислоте, которую женщины часто используют для отращивания шевелюры. После попадания никотинамида на&nbsp;кожу кровь быстрее приливает к&nbsp;корням, из-за чего волосы растут быстрее и&nbsp;гуще. Появившийся после лечения пушок свидетельствует о&nbsp;развитии новых луковиц.
      p.appear #[strong Кетоконазол]&nbsp;&mdash; противогрибковый препарат, назначаемый при себореи. Иногда именно грибок становится причиной облысения у&nbsp;мужчин, из-за которого редеют и&nbsp;выпадают пряди. Поры на&nbsp;коже головы также закупориваются, что приводит к&nbsp;нарушению обменных процессов в&nbsp;этой области. Это средство от&nbsp;выпадения волос также активно применяется у&nbsp;мужчин с&nbsp;АГА, так как тормозит преобразование тестостерона в&nbsp;ДГТ.

      h3.appear Витамины и&nbsp;добавки
      p.appear Так как в&nbsp;фолликуле протекает набор разных реакций, в&nbsp;которых участвуют витамины, гиповитаминоз&nbsp;&mdash; распространенная предпосылка к&nbsp;алопеции. Облысение способна вызвать нехватка любого из&nbsp;13&nbsp;незаменимых витаминов. Некоторые из&nbsp;них важнее остальных, так как участвуют в&nbsp;питании волосяных луковиц и&nbsp;управлении развитием стержня. Необходимые витамины для волос мужчинам от&nbsp;облысения: B₂, B₃, B₅, B₆, B₉, D, C, A&nbsp;и&nbsp;E.&nbsp;Прежде, чем выбрать витаминный комплекс, сдают анализ на&nbsp;дефициты.

      h3.appear Хирургическое лечение
      p.appear Метод лечения подразумевает хирургическую операцию, в&nbsp;ходе которой хирург изымает волосяные единицы из&nbsp;донорской зоны&nbsp;&mdash; чаще с&nbsp;затылка. После обработки волосяные фолликулы пересаживаются в&nbsp;проблемные зоны. Метод не&nbsp;применяют при очаговой алопеции&nbsp;и, если на&nbsp;затылке недостаточно донорского материала.

      h2.appear#u-muzhchin-6 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Выпавшие волоски вырастут снова при дефиците витаминов?</h3>').appear
            p.appear Если потеря волос связана с&nbsp;дефицитом питательных веществ, то&nbsp;волосяной покров, как правило, восстанавливается после устранения дефицита. Исследования показали, что добавки витамина&nbsp;D и&nbsp;железа продуктивно влияют на&nbsp;волосяной рост, связанный с&nbsp;дефицитом питательных веществ. 
          +accordionItem('<h3>Может&nbsp;ли облысение быть признаком других болезней?</h3>').appear
            p.appear Своевременная и&nbsp;точная диагностика&nbsp;&mdash; залог успешного лечения. Поэтому вопрос о&nbsp;том, какие болезни приводят к&nbsp;облысению, актуален при диагностике. Причиной облысения чаще выступают:
            ul.list-marked 
              li.appear дисфункция щитовидной железы;
              li.appear аутоиммунные состояния;
              li.appear железодефицитная анемия;
              li.appear поликистоз яичников и&nbsp;ряд других.
          +accordionItem('<h3>Какое проверенное народное средство от&nbsp;облысения у&nbsp;мужчин?</h3>').appear
            p.appear Замедлить или предотвратить развитие андрогенетической алопеции помогает экстракт плодов карликовой пальмы. Его действие основано на&nbsp;понижении концентрации дигидротестостерона в&nbsp;предстательной железе, при этом уровень гормона в&nbsp;организме не&nbsp;меняется.
          +accordionItem('<h3>Как поддерживать здоровье волос после лечения?</h3>').appear
            ul.list-marked 
              li.appear Откажитесь от&nbsp;курения;
              li.appear Воздержитесь от&nbsp;причесок, которые натягивают волосы, например, тугих хвостов или дредов, так как натяжение повреждает фолликулы;
              li.appear Сушите голову феном на&nbsp;минимальном тепловом режиме;
              li.appear Используйте мягкий шампунь, подходящий по&nbsp;типу кожи;
              li.appear Соблюдайте диету, насыщенную белком, включайте в&nbsp;рацион мясо, яйца и&nbsp;бобы;
              li.appear Используйте расслабляющие техники, чтобы снизить уровень стресса;
              li.appear Регулярно массируйте кожу головы, так как это способствует притоку крови к&nbsp;волосяным фолликулам и&nbsp;стимулирует здоровый волосяной рост.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="u-muzhchin-7">Источники</h2>')
            ul.list-marked
              li.appear Андрогенетическая алопеция/ Чин Х. Хо, Танудж Суд, Патрик М. Зито;
              li.appear Андрогенная алопеция у&nbsp;мужчин: значение генетических, гормональных и&nbsp;метаболических факторов (проспективное когортное сравнительное исследование)/ Кондрахина И.Н.
              li.appear Современные подходы к&nbsp;терапии андрогенетической алопеции/ Мильдзихова Д.Р., Мельниченко О.О., Корсунская И.М.
