extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/accordion-item/accordion-item
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Выпадение волос у женщин: причины, диагностика и эффективные методы лечения'})
  +pageSection: .container: .content
    h1 Выпадение волос у женщин: причины, диагностика и эффективные методы лечения
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2.appear Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p.appear Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023
    +pageSubsection
      p.appear О&nbsp;проблемах женского облысения принято умалчивать, из-за чего женщинам сложно открыто говорить о&nbsp;своем состоянии. Поэтому к&nbsp;специалистам они чаще обращаются уже при значительном поредении шевелюры, что усложняет лечение. Если у&nbsp;вас редеют волосы, знайте, что вы&nbsp;не&nbsp;одиноки&nbsp;&mdash; до&nbsp;40&nbsp;% женщин разного возраста сталкиваются с&nbsp;потерей волос.
      p.appear Читайте дальше, чтобы узнать, почему волосы выпадают, как лечат женское облысение и&nbsp;как предотвратить выпадение волос в&nbsp;дальнейшем.

      h2.appear#u-zhenshhin-1 Нормы выпадения волос в&nbsp;день
      p.appear Ежедневное выпадение 100-120 волосков&nbsp;&mdash; закономерный физиологический процесс обновления волосяного покрова, когда каждый выпавший стержень освобождает место новому, который также пройдет полный жизненный цикл. В&nbsp;среднем жизнь одного волосяного стержня длится 2-5 лет и&nbsp;разделяется на&nbsp;периоды.
      ul.list-marked 
        li.appear #[strong Анаген]&nbsp;&mdash; период быстрого роста, когда клетки активно делятся, образуя новые волосяные стержни. До&nbsp;90&nbsp;% волосяного покрова находится в&nbsp;анагене.
        li.appear #[strong Катаген]&nbsp;&mdash; переходный период, длящийся 2-3&nbsp;недели. В&nbsp;среднем 2&nbsp;% волосяного покрова пребывает в&nbsp;катагене. В&nbsp;этот период волосяной рост замедляется и&nbsp;останавливается, а&nbsp;волосяной фолликул начинает уменьшаться.
        li.appear #[strong Телоген] известен как период покоя. Волосы не&nbsp;растут и&nbsp;не&nbsp;выпадают, но&nbsp;в&nbsp;это время уже развиваются новые стержни.
        li.appear #[strong Экзоген]&nbsp;&mdash; завершающая стадия, когда волосы с&nbsp;корнем выталкиваются наружу и&nbsp;выпадают. После этого фолликул снова входит в&nbsp;анаген.
      p.appear Когда число выпавших волосков больше 120 и&nbsp;выпадает много волос, ситуация требует вмешательство специалиста, так как важно определить и&nbsp;устранить причину. 

      h2.appear#u-zhenshhin-2 Распространенные причины облысения у&nbsp;женщин
      h3.appear Возраст
      p.appear Старение относится к&nbsp;основным причинам выпадения волос у&nbsp;женщин, которые к&nbsp;сорока годам начинают замечать, что пряди стали безжизненными, тонкими и&nbsp;редкими. Старение постепенно замедляет рост клеток и&nbsp;процессы восстановления внутри организма, поэтому фолликулы уменьшаются, а&nbsp;жизненный цикл волосяного фолликула сокращается. Первые признаки выпадения волос у&nbsp;женщин появляются уже после 30&nbsp;лет.

      h3.appear Гормональные изменения и&nbsp;генетика
      p.appear Как и&nbsp;при мужском типе облысения большинство случаев выпадения волос у&nbsp;девушек спровоцировано чувствительностью фолликулов к&nbsp;дигидротестостерону (ДГТ)&nbsp;&mdash; мощному метаболиту тестостерона. ДГТ прикрепляется к&nbsp;рецепторам волосяных фолликулов, блокируя поступление питательных веществ и&nbsp;кислорода. Постепенно фолликулы уменьшаются в&nbsp;размерах и&nbsp;перестают функционировать.
      p.appear Основной фактор чувствительности фолликулов к&nbsp;ДГТ&nbsp;&mdash; генетическая предрасположенность. В&nbsp;этом случае не&nbsp;влияет уровень ДГТ в&nbsp;крови, даже при низких показателях выпадают волосы. Частая причина выпадения волос у&nbsp;женщин после 40&nbsp;&mdash; менопауза, когда снижается концентрация эстрогена, а&nbsp;ДГТ&nbsp;&mdash; повышается.

      h3.appear Беременность
      p.appear Во&nbsp;время беременности из-за высокого уровня эстрогена волосяные фолликулы находятся в&nbsp;режиме &laquo;продленного анагена&raquo;. Как только уровень эстрогена вернется к&nbsp;норме после родов, возобновится нормальный цикл волосяного роста и&nbsp;большое количество волос перейдет в&nbsp;стадию выпадения. Хорошая новость, очень сильное послеродовое выпадение волос&nbsp;&mdash; временное состояние, которое не&nbsp;требует лечения.

      h3.appear Стресс и&nbsp;психоэмоциональные расстройства
      p.appear Острые стрессовые ситуации, так&nbsp;же как и&nbsp;хронический стресс, вызывают волну негативных реакций в&nbsp;организме, которые провоцируют спазм мышц, удерживающих фолликулы. Мышечное сокращение нарушает обменные процессы в&nbsp;фолликулах, что приводит к&nbsp;тому, что волосы начинают резко выпадать. Недостаток сна также относится к&nbsp;стрессовым состояниям, нарушающим жизненный цикл стержня.

      h3.appear Эндокринные болезни
      p.appear #[strong Гипотиреоз] (недостаточная активность щитовидной железы) и&nbsp;побочное действие связанных с&nbsp;ним лекарств вызывают потерю волос, как правило, в&nbsp;лобной зоне. #[strong Гипертиреоз] (повышенная активность щитовидки) также становится причиной того, что редеют волосы у&nbsp;женщин, но&nbsp;на&nbsp;темени.

      h3.appear Несбалансированное питание и&nbsp;дефицит витаминов
      p.appear Выпадают волосы, что делать&nbsp;&mdash; пересмотреть рацион. Правильное питание играет решающую роль в&nbsp;поддержании здорового волосяного роста и&nbsp;предотвращении поредения шевелюры. Волосяной стержень преимущественно состоит из&nbsp;белка, поэтому рост здоровых локонов требует регулярного поступления белка и&nbsp;других питательных веществ. Также ряд витаминов, минералов и&nbsp;других соединений важны на&nbsp;разных этапах развития стержня.

      h3.appear Болезни волосистой части кожи головы
      p.appear Дерматологические болезни чаще связаны с&nbsp;грибковой и&nbsp;бактериальной флорой. Микроспория, трихофития, лишай поражают стержень, поэтому после лечения волосяной покров восстанавливается.
      p.appear Другая группа болезней, таких как фолликулит, пиодермия, поражает корень. В&nbsp;ряде случаев после лечения остаются участки рубцовой ткани вместо волос.

      h3.appear Окружающая среда
      h4.appear Жесткая вода
      p.appear Вода с&nbsp;высоким содержанием солей и&nbsp;минералов негативно влияет на&nbsp;здоровье волосяного покрова, так как оставляет на&nbsp;поверхности стержня пленку, блокирующую поступление влаги. Что приводит к&nbsp;сухости и&nbsp;ломкости шевелюры. Волосы постепенно начинают выпадать.

      h4.appear Загрязненный воздух
      p.appear Часто городской воздух включает частички пыли, сажи, бактерий и&nbsp;тяжелых металлов, которые благодаря микроскопическим размерам проникают вглубь волоса и&nbsp;постепенно разрушают его изнутри,

      h4.appear Температура воздуха
      p.appear Коллаген в&nbsp;составе волосяного стержня чувствителен к&nbsp;холоду и&nbsp;температурным перепадам. Поэтому легко разрушается под их&nbsp;воздействием. Из-за холода сосуды кожи головы сужаются, блокируя поступления питательных компонентов, в&nbsp;результате болит кожа головы и&nbsp;выпадают волосы. Сухой теплый воздух пересушивает волосяной покров, поэтому пряди становятся безжизненными и&nbsp;ломкими.

      h2.appear#u-zhenshhin-3 Типы облысения у&nbsp;женщин
      h3.appear Андрогенетическая алопеция (АГА)
      p.appear Это тип женского прогрессирующего облысения из-за унаследованной восприимчивости волосяных фолликулов к&nbsp;гормону ДГТ. Без лечения выпадение волос не&nbsp;остановить. 
      p.appear В&nbsp;отличие от&nbsp;мужской АГА, пряди не&nbsp;истончаются в&nbsp;определённых местах, а&nbsp;редеют равномерно. Это объясняется тем, что у&nbsp;женщин во&nbsp;фронтальной зоне на&nbsp;40&nbsp;% меньше андрогенных рецепторов, и&nbsp;больше фермента ароматазы, который преобразует дигидротестостерон обратно в&nbsp;тестостерон и&nbsp;эстрогены. Как и&nbsp;у&nbsp;мужчин у&nbsp;женщин фолликулы в&nbsp;области затылка устойчивы к&nbsp;воздействию ДГТ.

      h3.appear Очаговая алопеция
      p.appear Состояние характеризуется локальной потерей волос, которые выпадают клочьями, в&nbsp;результате чего образуются проплешины округлой формы. По&nbsp;мнению ученых, распространенной причиной этого типа облысения выступают аутоиммунные процессы. Это искаженное поведение иммунных клеток, когда иммунная система поражает волосяные фолликулы. Среди предрасполагающих факторов&nbsp;&mdash; стрессы, инфекции, интоксикация организма, воздействие радиации.
      p.appear При тяжелом течении женщина теряет растительность по&nbsp;всему телу, включая брови и&nbsp;ресницы.

      h3.appear Телогеновая алопеция (ТА)
      p.appear Это вторая по&nbsp;распространенности форма облысения. Известно, что телогеновая алопеция возникает в&nbsp;результате изменения количества активных волосяных фолликулов после воздействия на&nbsp;организм негативных факторов, таких как стресс, перенесенная операция, токсическое воздействие лекарств, болезни и&nbsp;других.
      p.appear Состояние проявляется в&nbsp;виде диффузного (равномерного) поредения. На&nbsp;одних участках головы облысение проявляется интенсивнее, чем на&nbsp;других, например, на&nbsp;макушке. При телогеновом облысении женщины не&nbsp;теряют все волосы, они становятся тонкими и&nbsp;выпадают. В&nbsp;редких случаях у&nbsp;ТА тяжелое течение. Какую&nbsp;бы форму болезнь не&nbsp;принимала, последствия обратимы.

      h3.appear Рубцовая алопеция (РА)
      p.appear Состояние характеризуется воспалением, прогрессирующей потерей волос и&nbsp;в&nbsp;конечном итоге образованием рубцовой ткани. После замещения устьев фолликулов фиброзной тканью они перестают функционировать, что приводит к&nbsp;необратимому облысению.
      p.appear Течение РА&nbsp;непредсказуемо. Чаще начинается с&nbsp;небольших залысин, которые со&nbsp;временем распространяются по&nbsp;коже головы. При быстром прогрессирование&nbsp;РА сопровождается зудом и&nbsp;болью. Это не&nbsp;заразный вид облысения и&nbsp;не&nbsp;передается от&nbsp;человека к&nbsp;человеку.

      h2.appear#u-zhenshhin-4 Симптомы выпадения волос
      p.appear Облысение чаще проходит поэтапно, а&nbsp;не&nbsp;в&nbsp;один момент. Поэтому игнорировать ранние признаки легко. Но&nbsp;чем раньше вы&nbsp;их&nbsp;заметите, тем больше шансов предотвратить дальнейшее прогрессирование. Ниже представлены признаки, появление которых требует консультации у&nbsp;врача.
      ul.list-marked 
        li.appear Чрезмерное выпадение;
        li.appear Изменение фронтальной линии роста;
        li.appear Истончение шевелюры на&nbsp;макушке;
        li.appear Пряди отрастают дольше;
        li.appear Видимость кожи головы;
        li.appear Расширение пробора;
        li.appear Локальные безволосые очаги;
        li.appear Волосы выпадают пучками.

      h2.appear#u-zhenshhin-5 Диагностика облысения у&nbsp;женщин
      p.appear Врач определяет курс лечения, исходя из&nbsp;основной причины потери волос. Он&nbsp;может назначить анализ крови, проверить уровень гормонов, провести биопсию кожи головы, чтобы диагностировать причину. 

      h3.appear Лабораторные исследования 
      ul.list-marked 
        li.appear На&nbsp;уровень гормонов щитовидной железы;
        li.appear На&nbsp;уровень половых гормонов;
        li.appear На&nbsp;уровень железа и&nbsp;ферритина;
        li.appear Стандартный анализ крови;
        li.appear На&nbsp;уровень витаминов&nbsp;D и&nbsp;В;
        li.appear На&nbsp;содержание сахара в&nbsp;крови и&nbsp;другие.

      h3.appear Трихоскопия
      p.appear Трихоскопия включает осмотр кожи головы с&nbsp;помощью портативного или видеодерматоскопического устройства. Такой вид обследования гарантирует тщательное изучение кожи головы, и&nbsp;предоставляет врачу бесценную информацию о&nbsp;патологии кожи и&nbsp;волосяного стержня. Трихоскопия распознает 4&nbsp;структуры: фолликулярные отверстия, перифолликулярную кожу, стержни и&nbsp;сосудистые структуры.
      p.appear Перед трихоскопическим исследованием не&nbsp;рекомендуется мыть голову 2-3&nbsp;дня.

      h2.appear#u-zhenshhin-6 Лечение облысения у&nbsp;женщин
      h3.appear Медикаментозное лечение
      p.appear #[strong Антиандрогены.] Это базовое лечение волос от&nbsp;выпадения и&nbsp;ломкости при облысении по&nbsp;женскому типу. Препараты снижают уровень ДГТ в&nbsp;кровотоке или в&nbsp;коже головы, подавляя его выработку, устраняя основную причину АГА.
      p.appear #[strong Стимуляторы роста.] Наиболее известный стимулятор&nbsp;&mdash; миноксидил. Ингибиторы ДГТ отлично сочетаются со&nbsp;стимуляторами волосяного роста, давая синергетический эффект. После отмены миноксидила стимуляция фолликулов прекращается.
      p.appear #[strong Фунгицидные средства.] Лечение направлено на&nbsp;уменьшение воспаления, зуда и&nbsp;шелушения, вызванных грибковой инфекцией. Без снятия воспаления другие методы лечения работать не&nbsp;будут.
      p.appear #[strong Местные стероиды.] Когда волосы выпадают клочками при очаговой алопеции на&nbsp;облысевшую область наносят кортикостероиды в&nbsp;форме крема, лосьона или инъекционно. У&nbsp;препаратов ярко выраженное противовоспалительное действие.

      h3.appear Лазерная терапия
      p.appear Это неинвазивное (нетравматичное) лечение с&nbsp;использованием низкоуровневого лазерного света для стимуляции волосяных фолликулов. Терапия также известна как лечение красным светом или холодная лазерная терапия. Под воздействием лазера увеличивается приток крови к&nbsp;коже головы, улучшая питание и&nbsp;укрепляя волосяные фолликулы.

      h3.appear Мезотерапия
      p.appear Это действенный метод лечения облысения путем введения под кожу с&nbsp;помощью внутрикожных микроинъекций низких доз соединений: лекарственных препаратов, микроэлементов, витаминов, гормональных регуляторов, аминокислот, вазодилататоров и&nbsp;т.&nbsp;д. Мезотерапия активизирует рост волос и&nbsp;поэтому используется как вспомогательное или профилактическое средство.

      h3.appear Народные методы лечения
      h4.appear Сок алоэ
      p.appear Это суккулентный вид растений, содержащий много антимикробных и&nbsp;противовоспалительных веществ. Уникальное сочетание ингредиентов наделяет растение успокаивающими и&nbsp;целебными свойствами. Ферменты, присутствующие в&nbsp;алоэ вера уменьшают волосопотерю, так как защищают кожу головы от&nbsp;воспаления.

      h4.appear Масло розмарина
      p.appear Есть ряд научных доказательств тому, что розмарин приносит пользу организму, при этом одно исследование противопоставляло действие масла розмарина миноксидилу. Результаты этого исследования доказали, что розмарин не&nbsp;уступает по&nbsp;эффективности лекарственному средству.

      h4.appear Индийский женьшень
      p.appear Withania somnifera, широко известная как индийский женьшень, относится к&nbsp;аюрведическим растениям, снимающим стресс и&nbsp;противостоящим старению. Витаминные средства на&nbsp;основе индийского женьшеня восстанавливают структуру стержня и&nbsp;останавливают выпадение. На&nbsp;сегодняшний день нет научных доказательств эффективности растения.

      h2.appear#u-zhenshhin-7 Популярные вопросы и&nbsp;ответы
      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h3>Биотин способствует волосяному росту?</h3>').appear
            p.appear Биотин (витамин&nbsp;В7) часто представляют как витамин для укрепления волос и&nbsp;от&nbsp;выпадения. Это действительно важный компонент белкового обмена для выработки кератина&nbsp;&mdash; основного составного белка стержня. Но&nbsp;нет научных доказательств тому, что прием биотина активизирует рост волос. Витамин В7&nbsp;незаменим при устранении его дефицита и&nbsp;поддержании здоровья волосяного покрова.
          +accordionItem('<h3>Когда восстановится густота волос после родов?</h3>').appear
            p.appear Послеродовое облысение развивается примерно через три месяца после рождения ребенка. В&nbsp;среднем через 6&nbsp;месяцев волосяные стержни восстанавливают нормальный цикл роста. Для поддержания цикла рекомендуется пропить курс витаминов для женщин против выпадения волос.
          +accordionItem('<h3>Болезни внутренних органов и&nbsp;облысение связаны?</h3>').appear
            p.appear Да, все жизненные системы организма взаимосвязаны. Нарушение в&nbsp;одном звене в&nbsp;скором времени негативно скажется на&nbsp;состоянии другого. Например, при болезнях желудка ухудшается всасываемость и&nbsp;усвояемость питательных веществ и&nbsp;витаминов, что отражается на&nbsp;состоянии волосяного покрова.
          +accordionItem('<h3>Как предотвратить облысение при генетической предрасположенности?</h3>').appear
            p.appear Не&nbsp;каждый человек с&nbsp;предрасположенностью начинает лысеть, так как облысение&nbsp;&mdash; это многофакторная проблема. И&nbsp;только сочетание разных факторов запускает генетически заложенную программу. Механизм развития до&nbsp;конца не&nbsp;изучен, но&nbsp;уже понятно, что режим дня, питание, болезни и&nbsp;стрессы влияют на&nbsp;то, что волосы на&nbsp;голове у&nbsp;женщин начинают выпадать сильно.

      +grid({ 'padding-y': true }).page-subsection.appear
        +cell({ m:9 })
          +accordionItem('<h2 id="u-zhenshhin-8">Источники</h2>')
            ul.list-marked
              li.appear Регуляция роста волос человека стероидными гормонами: I.&nbsp;Метаболизм тестостерона в&nbsp;изолированных волосах/ Швейкерт Х.У., Уилсон Дж.Д.;
              li.appear Адреналовая андрогенная женская алопеция: половые гормоны и&nbsp;лысеющая женщина/ Кейсик Дж.М., Бергфельд В.Ф., Штек В.Д.;
              li.appear Роль семейного анамнеза и&nbsp;его влияние а&nbsp;время начала выпадения волос по&nbsp;женскому типу/ Лукасик&nbsp;А., Козицка&nbsp;К., Клосович&nbsp;А., Яворек&nbsp;А. и&nbsp;Вояс-Пелц&nbsp;А.;
              li.appear Андрогензависимая алопеция у&nbsp;женщин: патогенез, клиника, диагностика, лечение/ Гродницкая Е.Э., Курцер М.А.;
              li.appear Диффузное поредение волос у&nbsp;женщин: причины и&nbsp;терапевтический подход/ Мельниченко О.О., Пирузян А.Л., Корсунская И.М.
