.stage-modal
  position fixed
  top 0
  left 0
  z-index 1000
  display none
  align-items center
  justify-content center
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0)
  &--visible
    display flex
    background-color rgba(0, 0, 0, .8)
    transition background-color .4s
  &__inner
    position relative
    z-index 40
    background-color #fff
    padding (basePadding * 2)
    width 100%
    max-width 34rem
    max-height 100%
    overflow-y auto
    @media (max-width point-l - 1)
      padding (basePadding)
    &--no-calc
      & ^[-2]__header
      & ^[-2]__type
      & ^[-2]__details
        display none
      & ^[-2]__message
        display block
  &__header
    margin-bottom 1rem
    font-size font-xl
    font-weight bold
  &__message
    display none
    font-size font-xl
    font-weight bold
  &__price
    font-size font-xl
    font-weight bold
    span
      font-size inherit
      font-weight inherit
  &__type
    & + &
      margin-top .25rem
  &__details
    overflow hidden
    margin-top 1.25rem
    transform scaleY(0)
    transform-origin 50% 0 0
    transition transform .4s
    &--visible
      transform scaleY(1)
  &__info
    margin-top 1.25rem
    .form-input
      & + .form-input
      & + .btn
        margin-top 1rem
  &__close
    position absolute
    top 0
    right 0
    z-index 50
    width 3rem
    height 3rem
    background-color rgba(0, 0, 0, .125)
    cursor pointer
    transition background-color .4s
    &::before
    &::after
      content ''
      position absolute
      top 1.375rem
      left .5rem
      width 2rem
      height .25rem
      background-color rgba(255, 255, 255, .75)
      border-radius .125rem
      transform-origin 50% 50% 0
    &::before
      transform rotate(-45deg)
    &::after
      transform rotate(45deg)
    &:hover
      background-color rgba(000, 000, 000, .75)
      transition background-color .1s
