include /blocks/block-marked/block-marked
include /blocks/form-input/form-input

mixin stageModal(stage)
  form.stage-modal#stage-modal&attributes(attributes)
    .stage-modal__close
    .stage-modal__inner
      .stage-modal__message Пересадка не показана
      .stage-modal__header Выберите метод пересадки
      //- +formInput({ type: 'radio', name: 'stage-form-type', value: 'strip', label: 'Strip (лоскутный метод)' })(id != `stage-modal-strip` data-cost-for-single-graft='60').stage-modal__type
      +formInput({ type: 'radio', name: 'stage-form-type', value: 'fue', label: 'FUE (бесшовный метод)' })(id != `stage-modal-fue` data-cost-for-single-graft='100').stage-modal__type
      .stage-modal__details
        p.stage-modal__price Примерная стоимость: <span></span> руб.
        p Для  более точного определения стоимости операции, пожалуйста, отправьте нам фотографии (фас, профиль, затылочная область).
        +blockMarked({ 'color': 'blue' }).stage-modal__info
          +formInput({ type: 'hidden', name: 'type', value: '' })(id != `stage-modal-type`)
          +formInput({ type: 'text', name: 'name', value: '', label: 'Имя' })(id != `stage-modal-name`)
          +formInput({ type: 'email', name: 'name', value: '', label: 'E-mail' })(id != `stage-modal-email`)
          +formInput({ type: 'file', name: 'name', value: '', label: 'Фото', accept: 'image/*', multiple: true })(id != `stage-modal-photos`)
          +formInput({
            name: 'agreement',
            type: 'checkbox',
            checked: true,
            required: true,
            label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных',
          })(id != `stage-modal-agreement`)
          button(type='submit').btn Отправить
