mixin footerMenu(menu = {header: '', list: ['']})
  .footer-menu
    .footer-menu__header !{menu.header}
    ul.footer-menu__list
      each item in menu.list
        li.footer-menu__item: a(href='/') !{item}
