.footer-menu
  &__header
    font-size font-l
    font-weight bold
  &__list
    margin-top font-s
  &__item
    line-height 1.375
    & + &
      margin-top .5rem
    a
      text-decoration none
      color #6b6b6b
      &:hover
        color #9c9c9c
