.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  padding-y (basePadding)
  font-size font-s
  line-height line-s
  &__parent
    

    a
      color #6B6B6B
      &:hover
        color var(--color-link-hover)
  &__current
    color #939598
  &__separator
    padding-x (basePadding/2)
