mixin blockMarked(settings)

  -
    settings = settings || {}
    settings.tag = settings.tag || 'div'

  #{settings.tag}(class != classes('block-marked', settings))&attributes(attributes)
    block
