.block-marked
  parMargin()
  padding basePadding (basePadding * 2)
  @media (max-width point-s - 1)
    padding (basePadding)
  &--color-blue
    background-color #E9ECF3
  &--color-white
    background-color #fff
  &--color-green
    background-color #DFEFE5
  &--color-grey
    background-color #F8F8F8
  &--border
    position relative
    padding-x 0
    &::before
    &::after
      content ''
      position absolute
      left 50%
      width unquote('calc(100% - ' + (basePadding * 4) + ')')
      max-width 44rem
      height 2px
      background-color #3E546C
      transform translateX(-50%)
    &::before
      top 0
    &::after
      bottom 0
  &--padding-small
    padding (basePadding / 2) (basePadding)
  &--padding-big
    @media (min-width point-l)
      padding (basePadding * 2) (basePadding * 5)
    @media (min-width point-m) and (max-width point-l - 1)
      padding (basePadding * 2) (basePadding * 2.5)
    @media (min-width point-s) and (max-width point-m - 1)
      padding (basePadding * 2) (basePadding)
