.offset-border
  parMargin()
  position relative
  padding (basePadding/2) (basePadding/2) 0 0

  &::before
    content ''
    position absolute
    top 0
    right 0
    z-index -1
    display block
    width unquote('calc(100% - ' + (basePadding/2) + ')')
    height unquote('calc(100% - ' + (basePadding/2) + ')')
    background-color #3e546c
