.article-doctor
  padding 1.5rem
  background-color #F8F8F8
  &__inner
    position relative
    z-index 1
    display grid
    grid-template-columns auto 1fr
    grid-template-rows min-content auto min-content
    margin-bottom 1rem
    padding-bottom 1.125rem
    column-gap 1.5rem
    row-gap .5rem
    justify-items start
    border-bottom 1px solid #3e546c
  &__verified
    grid-column 2/3
    grid-row 1/2
    font-weight 700
    line-height normal
    @media(max-width point-s - 1)
      align-self center
  &__name
    grid-column 2/3
    grid-row 2/3
    @media(max-width point-s - 1)
      grid-row 2/4
  &__job
    grid-column 2/3
    grid-row 3/4
    font-size 1.125rem
    @media(max-width point-s - 1)
      grid-column 1/-1
      grid-row 5/6
      margin-top .5rem
  &__image
    grid-column 1/2
    grid-row 1/4
    max-width 6rem
    @media(max-width point-s - 1)
      max-width 5rem
  &__date
    font-size 1rem
    & + &
      margin-top 0
