.home-contacts
  color #f8f8f8
  background-color #4f6379

  h2
    color #f8f8f8
  a
    color #bfe0cb
    &:hover
      color #a5c1b2
  &__info
    --translate-y 0 // @stylint ignore

    padding-x 4rem
    padding-y 5.75rem
    transform translateY(var(--translate-y))
    will-change transform
    @media (max-width point-m - 1)
      padding-x 0
      padding-top (basePadding * 2)
      padding-bottom basePadding
  &__address
    @extend p

    h2 + &
      margin-top basePadding
  &__phone
    margin (basePadding * 2) 0 basePadding
    font-size font-xxxl
    line-height 1.5
  &__icons
    display flex
    flex-wrap wrap
    margin (basePadding / 4 * 7) (-(basePadding)) (-(basePadding / 4))
  &__icon
    height 2.5rem
    margin (basePadding / 4) (basePadding)
    background-repeat no-repeat
    background-position center
    transition opacity .4s
    will-change transition
    &:hover
      opacity .75
      transition opacity .1s
    &--youtube
      width 3.5rem
      background-image svgImport('svg/youtube.svg')
    &--instagram
      width 2.5rem
      background-image svgImport('svg/instagram.svg')
  &__map
    position relative
    height 40rem
  &__map-inner
    --map-width 100% // @stylint ignore

    position absolute
    top basePadding
    left basePadding
    width var(--map-width)
    height 100%
    @media (max-width point-m - 1)
      left 0
      width 100vw
