+pageSection({'no-margin': true}).home-contacts: .container: .content
  +grid({'padding-y': true})
    +cell({m: 6, xs: 12})
      .home-contacts__info
        h2.appear Контакты
        .home-contacts__address.appear г. Санкт-Петербург, Левашовский пр., д.24
          br
          | м. Чкаловская / Петроградская
          br
          | ежедневно с 9:00 до 21:00
        .home-contacts__phone.appear
          | +7 (812) 670-94-98
          br
          | +7 (812) 366-00-00
        .home-contacts__email.appear: a(href='mailto:mail@netvolos.ru') mail@netvolos.ru
        .home-contacts__icons.appear
          a(href='').home-contacts__icon.home-contacts__icon--instagram
          a(href='').home-contacts__icon.home-contacts__icon--youtube
    +cell({
      m: 6,
      xs: 12
    }).home-contacts__map: .home-contacts__map-inner <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8f508fe1e0653daabb8a22697635f5b8c84ce7ca414c978f7f229ea641825f5&amp;width=100%25&amp;height=604&amp;lang=ru_RU&amp;scroll=true"></script>
