mixin celebrity(item)

  .celebrity
    +grid({ 'padding-y': true }).celebrity__photos
      +cell({ xs: 6 }).celebrity__photo: +img(item.before)(alt != `${item.name} до пересадки волос`)
      +cell({ xs: 6 }).celebrity__photo: +img(item.after)(alt != `${item.name} после пересадки волос`)
    .celebrity__name !{item.name}
