.home-header-banner
  display flex
  overflow hidden
  flex-wrap wrap
  justify-content space-between
  align-items center
  width 100%
  padding (basePadding/2) (basePadding*2)
  font-size font-l
  text-decoration none
  color #5A8988
  background-image linear-gradient(-135deg, #fff 50%, #f8f8f8 50%)
  box-shadow 0 5px 12px rgba(35, 35, 35, .18)
  transition transform .4s
  // &__inner
  //   display flex
  //   flex-wrap wrap
  //   justify-content space-between
  //   align-items center
  //   padding (basePadding/2) (basePadding)
  //   text-decoration none
  //   color #5A8988
  //   transition transform .4s
  //   &:hover
  //     color #5A8988
  //     transform scale(1.025)
  //     transition none
  &__discount
    padding-y basePadding

    strong
      font-size (font-l*2)
      font-weight 500
  &__info
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
    @media screen and (min-width point-s)
      flex-direction column
  &__title
    padding-x basePadding
    font-size font-l
    font-weight 500
  &__desc
    padding-x basePadding
  &--winter
    & ^[-1]__inner
      background-color #48cde1
      background-image linear-gradient(45deg, #5A8988 45%, #9D9E9E 45%)
  &--spring
    & ^[-1]__inner
      background-color #2ccd52
      background-image linear-gradient(45deg, #5A8988 45%, #B1C8B8 45%)
  &--summer
    & ^[-1]__inner
      background-color #cdb82c
      background-image linear-gradient(45deg, #98bba9 45%, #f3d0b3 45%)
  &--autumn
    & ^[-1]__inner
      background-color #cd9a2c
      background-image linear-gradient(45deg, #9D9E9E 45%, #F2D4B8 45%)
