mixin homeHeaderBanner
  .home-header-banner&attributes(attributes)
    .home-header-banner__info
      .home-header-banner__title До&nbsp;
        span.to-last-day 31&nbsp;марта
      .home-header-banner__desc на&nbsp;пересадку волос<br>+ бесплатная консультация
    .home-header-banner__discount скидка<br>от&nbsp;
      strong 20%
      |  до&nbsp;
      strong 25%
