@font-face
  font-family 'Nunito'
  src local('Nunito Regular'), url('../fonts/Nunito-Regular.ttf') format("truetype") // @stylint ignore
  font-weight normal
  font-style normal
@font-face
  font-family 'Nunito'
  src local('Nunito SemiBold'), url('../fonts/Nunito-SemiBold.ttf') format("truetype") // @stylint ignore
  font-weight 500
  font-style normal
@font-face
  font-family 'Nunito'
  src local('Nunito Bold'), url('../fonts/Nunito-Bold.ttf') format("truetype") // @stylint ignore
  font-weight bold
  font-style normal
