// breakpoints

point-s = 480px
point-m = 820px
point-l = 1100px
point-xl = 1400px
point-hd = 1600px

containerWidth = 74rem

// base-padding
basePadding = 1.125rem

// font sizes

font-xxs = 0.625rem
font-xs = 0.75rem
font-s = 0.875rem
font-m = 1rem
font-l = 1.125rem
font-xl = 1.25rem
font-xxl = 1.375rem
font-xxxl = 1.5rem

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

parLike = 'p', '.list-marked', '.list-numbered', '.table', '.table-wrap', '.tabs', '.list-advantages', '.grid--par-like', '.palette', '.block-marked', '.link-icons', '.form', '.iframe-responsive', '.image-border', '.countdown'
parMargin(mar = font-s)
  for item in parLike
    {item} + &
      margin-top mar
  h1 + &
    margin-top mar
  h2 + &
    margin-top .5625em
  h3 + &
    margin-top .3125em
  h4 + &
    margin-top .125em
