:root
  --color-link #118B8C
  --color-link-hover #065B5B

  --ruble svgImport('svg/ruble.svg')

  --icon-viber svgImport('svg/viber.svg')
  --icon-whatsapp svgImport('svg/whatsapp.svg')
  --icon-telegram svgImport('svg/telegram.svg')

  --question svgImport('svg/section-questions.svg')

  --arrow svgImport('svg/arrow.svg')
  --check svgImport('svg/check.svg')
