.form-input
  position relative
  & + &
  & + .btn
    margin-top 1.5rem
  &--checkbox
  &--radio
    display flex
    & ^[-1]__field
      flex-shrink 0
      order 1
      width auto
      margin-top .25rem
      margin-right .5rem
      padding 0
    & ^[-1]__label
      position static
      order 2
      margin-bottom 0
      line-height 1.5
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &--file
    & ^[-1]__field
      padding 0
      border-bottom none
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
  &__select
    display block
    width 100%
    padding (basePadding/3*2) (basePadding/3*4)
    line-height 1.5
    border none
    border-bottom 1px solid #8898a7
    border-radius 0
    box-shadow none
    textarea&
      height calc(9.75rem + 2px)
      border 1px solid #8898a7
      resize none
    &:focus
      outline none
  &__label
    display inline-block
    margin-bottom (basePadding/3)
  &__checkbox
    flex-shrink 0
    margin-right (basePadding/2)
