.appear
  --opacity 1 // @stylint ignore
  --scale 1 // @stylint ignore
  --translateX 0 // @stylint ignore
  opacity var(--opacity)
  transform scale(var(--scale)) translateX(var(--translateX))
  transform-origin 50% 0 0
  will-change opacity, transform
