import('sprites/*')
import('inlcudes/placeholder') // @stylint ignore
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@splidejs/splide/dist/css/themes/splide-default.min.css'
@import '../../node_modules/glightbox/dist/css/glightbox.css'
@import '../../node_modules/ilyabirman-likely/release/likely.css'

html
  font-family 'Nunito'
  font-size 16px
  color #6b6b6b
.container
  display flex
  justify-content center
  padding-left calc(100vw - 100%)
.content
  width 100%
  max-width containerWidth
  padding-x (basePadding)
p
  font-size 1.125rem
  line-height 1.555555
  parMargin()
h1
  font-size 3rem
  font-weight 500
  line-height 1.375
  color #3e546c
h2
.h2
  font-size 2rem
  font-weight 500
  line-height 1.34375
  color #232323
  for item in parLike
    {item} + &
      margin-top 2.6875rem
h3
  font-size 1.375rem
  font-weight 500
  line-height 1.363636
  color #232323
  for item in parLike
    {item} + & // @stylint ignore
      margin-top 1.25rem
  h2 + &
    margin-top .1875rem
h4 
  font-size 1.25rem
  font-weight 500
  line-height 1.363636
  color #232323
  for item in parLike
    {item} + & // @stylint ignore
      margin-top 1.125rem
  h3 + &
    margin-top .1875rem
.page
  --page-margin-top 10rem // @stylint ignore
  display flex
  flex-direction column
  min-height 100vh
  margin-top var(--page-margin-top)
main
  flex-grow 1
.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore

import('../blocks/**/*') // @stylint ignore
