mixin review(item)
  -
    item.settings = item.settings || {}
    classList = classes('review', item.settings)
  div(class != classList)&attributes(attributes)
    h3.review__title !{item.title}
    .review__body: +createElement(item.body)
    .review__footer !{item.footer}
