.review
  position relative
  padding (basePadding * 2.5) (basePadding * 1.75) (basePadding * 1.5) (basePadding * 1.5)
  background-color #fff
  & + &
    margin-top (basePadding * 3)
  .home-subheader + &
    margin-top (basePadding * 3)
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 6.25rem
    height 4.875rem
    background-image svgImport('svg/quotes.svg')
    background-repeat no-repeat
    background-position left top
  &__title
    padding-left 6.25rem
  &__body
    margin-top (basePadding * 1.5)
    color #6b6b6b
  &__footer
    margin-top basePadding
    color #6b6b6b
  &--background
    background-color #f9fafb
    &::before
      top (basePadding * 1.5)
      left (basePadding * 1.5)
      width (6.25rem - (basePadding * 1.5))
      height (4.875rem - (basePadding * 1.5))
