include /blocks/block-marked/block-marked 

mixin consultationCategories(list)
  .consultation-categories
    ul.consultation-categories__list
      each item, i in list
        li.consultation-categories__item(class= (i === 0) ? 'consultation-categories__item--active' : '')
          a(href='konsultatsiya.html').consultation-categories__link !{item.name}
          .consultation-categories__count !{item.count}
