.consultation-categories
  padding 2rem 1.5rem
  background-color #f9fafb
  &__list
    margin-top basePadding
  &__item
    display flex
    justify-content space-between
    font-size font-l
    & + &
      margin-top 1.5rem
    &--active
      & ^[-2]__link
      & ^[-2]__count // @stylint ignore
        font-weight 500
        text-decoration none
        color #000
  &__link
    text-decoration none
    color #3E546C
    &:hover
      color var(--color-link)
  &__count
    color #3E546C
  &__count
    min-width 2rem
    text-align right
