.stage
  display flex
  flex-direction column
  padding 1.5rem .75rem
  background-color #f9fafb
  &.grid__cell
    padding 1.5rem .75rem
  &:nth-child(2n)
    color #f8f8f8
    background-color #8898a7
  &__image
    display flex
    justify-content center
    align-items center
    //max-height 12rem
    img
      max-width 100%
      max-height 100%
  &__name
    margin-top 1rem
    color inherit
  &__description
    margin-top .25rem
    &:not(:last-child)
      margin-bottom 1rem
  &__button
    display flex
    justify-content center
    align-self center
    margin-top auto

    a
      padding 1rem
      padding-left 3.25rem
      font-size font-l
      text-decoration none
      color #6b6b6b
      background-color #fff
      background-image svgImport('svg/tick.svg')
      background-repeat no-repeat
      background-position 1rem center
      background-size 1.5rem
      box-shadow 0 8px 6px rgba(#232323, .1)
      &:hover
        background-color #f8f8f8
