mixin stage(item)
  .stage&attributes(attributes)
    .stage__image: img(src != item.src)
    h3.stage__name !{item.name}
    .stage__description: p !{item.desc}
    if item.button !== false
      .stage__button: a(href=`#stage-modal` data-stage=`${item.id}` data-grafts-min-qty != item.minGrafts data-grafts-max-qty != item.maxGrafts) Рассчитать стоимость
