include /blocks/footer-menu/footer-menu
include /blocks/text-marked/text-marked
include /blocks/link-icons/link-icons

footer.footer
  .container
    .content
      +grid({'padding-y': true})
        +cell({m:8,s:12})
          +grid({'padding-y': true})
            +cell({m:3,xs:6})
              -
                const menu = {
                  header: 'О клинике',
                  list: [
                    'Врачи',
                    'Лицензии и сертификаты',
                    'Программа "под ключ" для иногородних',
                    'Цены',
                    'Результаты',
                    'Отзывы',
                  ],
                }
              +footerMenu(menu)
            +cell({m:3,xs:6})
              -
                const menu = {
                  header: 'Услуги пересадки',
                  list: [
                    'На голову',
                    'Мужчинам',
                    'На бороду',
                    'Женщинам',
                    'На лицо',
                    'На брови',
                    'На шрамы',
                  ],
                }
              +footerMenu(menu)
            +cell({m:3,xs:6})
              -
                const menu = {
                  header: 'Методика',
                  list: [
                    'HFE',
                    'Стрип метод',
                    'Без операции',
                    'Сравнение методов',
                    'FUE',
                    'Наши инновации',
                  ],
                }
              +footerMenu(menu)
            +cell({m:3,xs:6})
              -
                const menu = {
                  header: 'Для пациентов',
                  list: [
                    'Частые вопросы',
                    'Консультация',
                    'Основные вопросы',
                    'Статьи',
                  ],
                }
              +footerMenu(menu)
        +cell({m:4,s:6,xs:12})
          .footer__address Левашовский пр., д.24
          +textMarked({ tag: 'div', big: true }).footer__phone +7 (812) 670-94-98
          +textMarked({ tag: 'div', big: true })(class=gridClasses({ nopadding: true })).footer__phone
            +cell({xs: 'auto'}) +7 (931) 349-18-98
            +linkIcons([ 'whatsapp', 'viber' ])(class=cellClasses({ xs: 'auto' }))
          ul.footer__links
            li: a(href='/') Карта сайта
            li: a(href='/') Правила использования сайтом
            li: a(href='/') Соглашение на обработку персональных данных
          .footer__copy © 2021 Medall. Все права защищены.
      .footer__bottom
        .footer__developer
          a(href='') Разработка сайта и продвижение клиники:
          |  «Medreclama»
