.footer
  padding-top (basePadding*2.6)
  padding-bottom (basePadding*1.75)
  background-color #E9ECF3
  &__phone
    margin-top font-s
    & + &
      margin-top (font-s / 2)
    .link-icons
      margin-left .5rem
  &__copy
    margin-top font-s
    color #939598
  &__links
    margin-top font-s
    line-height 1.375

    li + li
      margin-top .25rem
  &__bottom
    display flex
    justify-content center
    padding-top (basePadding*2.6)
  &__developer
    padding-y (basePadding * .375)
    padding-left (basePadding*3)
    background-image svgImport('svg/medreclama.svg')
    background-repeat no-repeat
    background-position left
    background-size (basePadding*2)
