.list-numbered
  @extend p

  parMargin()
  padding-left (basePadding*2)
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top (font-s / 3)
  > li
    & + li
      margin-top .75rem
    &.grid__cell
      padding-left (basePadding * 4)
      & + li
        margin-top 0
