.method-stage
  display flex
  flex-direction column
  align-items center
  &__image
    display flex
    overflow hidden
    align-items center
    justify-content center
    width 14rem
    height 14rem
    background-color #fff
    border none
    border-radius 50%

    img
      max-width 12rem

      ^[-2]--strip-stage-4 &
        max-width 13rem
        transform translateX(-.675rem)
      
      ^[-2]--fue-stage &
        max-width 10rem
      
      ^[-2]--fue-stage-2 &
        max-width 11rem
        transform translateX(-.5rem) translateY(-.75rem)

      ^[-2]--fue-stage-4 &
        transform translateY(-.75rem)
  &__name
    margin-top 1.875rem
    font-size font-l
    font-weight bold
    text-align center
