include /blocks/text-marked/text-marked

mixin methodStage(item)
  .method-stage&attributes(attributes)
    .method-stage__image: img(src != item.image alt != item.name)
    .method-stage__name !{item.name}
