include /blocks/link-icons/link-icons

mixin contactsItem(item)
  
  div(class != classes('contacts-item', item.settings))
    .contacts-item__title
      if typeof item.title === 'string' 
        | !{item.title}
      if typeof item.title === 'object'
        +linkIcons([ 'whatsapp', 'telegram' ])
    .contacts-item__body
      block
