.contacts-item
  display flex
  margin-x -(basePadding)
  margin-y -(basePadding / 2)
  &__title
  &__body
    margin-x basePadding
    margin-y (basePadding / 2)
  .contacts-block > &
    display contents
    margin 0
    & ^[-1]__title
    & ^[-1]__body // @stylint ignore
      margin-x 0
      margin-y 0
  &__title
    padding-left 2.25rem
    font-size 1.25rem
    color #8898A7
    background-repeat no-repeat
    background-position left top
    background-size 1.5rem
    types =  'metro', 'schedule', 'phone', 'email', 'address' // @stylint ignore
    for type in types
      bg = '/svg/contacts-' + type + '.svg'
      ^[-1]--{type} & 
        background-image svgImport(bg)
    ^[-1]--address &
      background-size 1.25rem auto
    ^[-1]--metro &
      background-position left .125rem
      
  &__body
    font-size 1.125rem
