include /blocks/home-header-banner/home-header-banner

.home-header.container
  .content
    +grid()
      +cell({m:6,xs:12}).home-header__info
        h1.home-header__name Пересадка волос с пожизненной гарантией
        a(href='#').home-header__button.btn Узнать стоимость операции
        +homeHeaderBanner.home-header__banner
      +cell({m:6,s:'hidden',xs:'hidden'}).home-header__image
        picture
          source(srcset='/images/home-header-image.webp' media='(-webkit-max-device-pixel-ratio: 1)' type='image/webp')
          source(srcset='/images/home-header-image@2x.webp' type='image/webp')
          source(srcset='/images/home-header-image.png' media='(-webkit-max-device-pixel-ratio: 1)' type='image/png')
          img(src='/images/home-header-image@2x.png' alt='' loading='lazy' decoding='async')
