.home-header
  position relative
  padding-x basePadding
  background-color #A5C1B2
  &::before
    content ''
    position absolute
    top 0
    left 0
    z-index -1
    width 100%
    height 10rem
    background-color #A5C1B2
    transform translateY(-100%)
  &__info
    display flex
    flex-direction column
    align-items flex-start
    padding (basePadding*3) 0 (basePadding*2)
    @media screen and (max-width point-m - 1)
      padding (basePadding) 0 (basePadding*2)
    @media screen and (max-width point-s - 1)
      align-items center
  &__name
    font-size 2.875rem
    color #fff
    @media screen and (max-width point-l - 1) and (min-width point-s)
      font-size 2.5rem
    @media screen and (max-width point-s - 1)
      font-size 1.5rem
  &__button
    margin-top (basePadding*1.6)
  &__banner
    margin-top (basePadding*2.25)
  &__image
    align-self flex-end

    img
      display block
