.tabs
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding)
    margin-bottom 0
  &__label
    margin basePadding
    margin-bottom 0
    font-size 2rem
    color var(--color-link)
    border-bottom 1px solid transparent
    cursor pointer
    &:hover
      color var(--color-link-hover)
    &--active
      color var(--color-link-hover)
      border-bottom-color var(--color-link-hover)
      border-bottom-style dashed
      cursor default
  &__item
      display none
      padding-top (basePadding*2)
      &--active
        display block
