extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/countdown/countdown
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Акции'})
  +pageSection: .container: .content
    h1 Акции
    +pageSubsection.appear: +blockMarked({ 'color': 'green' })
      +grid({ 'padding': 'y', 'align': 'center' })
        +cell({ l: 3, xs: 12 })
          +img({
            name: 'aktsii',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', mime: 'image/jpeg', orig: true },
            ],
            density: [ 2, 3 ],
          })
        +cell({ l: 4, xs: 12 })
          p
            +textMarked({ 'big': true }) Пересадка волос со скидкой
            +textMarked() + бесплатная консультация
          p скидка
            br
            | от 
            +textMarked({ 'big': true, 'bold': true }) 20%
            |  до 
            +textMarked({ 'big': true, 'bold': true }) 25%
        +cell({ l: 5, xs: 12 }): +blockMarked({ 'color': 'white' })
          +textMarked({ 'tag': 'p' }).text-align--center до 31 февраля 2020
          +countdown('2021-08-29')()
          p.text-align--center: strong Запишитесь на консультацию
          +grid({ tag:'form', 'par-like': true, 'padding': 'y' })
            +cell({ xs: 7 }): +formInput({ type: 'tel', placeholder: 'Телефон' })
            +cell({ xs: 5 }): button(type='submit').btn.btn--wide Записаться
