extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/celebrity/celebrity
include /blocks/prices/prices
include /blocks/method-stage/method-stage

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Методика' ], current: 'Без операции' })
  +pageSection: .container: .content
    h1.appear Без операции
    +blockMarked({ 'color': 'blue' }).appear: +textMarked({ 'tag': 'p' }) Безоперационная пересадка волос возможна в результате извлечения графтов волос без надрезов методом FUE.
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ l: 6, xs: 12 })
        p.appear Понять их преимущества можно на сравнении с особенностями операционного способа трансплантации — FUT или Strip-метода.
        p.appear Уже само название говорит о том, что для операции используется лоскут кожи, из которого и отделяют фолликулярные группы (графты). По завершению на прооперированный участок накладывают шов, на месте которого остается рубец.
        p.appear Есть у операционного метода и преимущества: короткая длительность процедуры, простой и ускоренный способ получения графтов, минимальная вероятность их повреждения, невысокая цена.
      +cell({ l: 6, xs: 12 }).appear: .offset-border: +img({
          name: 'bez-operatsii',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [],
          path: '/images/metody/bez-operatsii/',
        })(alt='Пересадка волос без операции' style='display: block')
    h2.appear Особенности бесшовного метода
    +blockMarked({ color: 'blue' })
      +grid({ 'par-like': true, 'padding': 'y', 'justify': 'center', 'align': 'center' })
        +cell({ l: 2, m: 3, xs: 6 }).appear: img(src='/images/metody/bez-operatsii/fue.svg')
        +cell({ l: 10, m: 9, xs: 12 }).appear: p Суть метода заключается в использовании 
          strong микроинструмента панча
          | , диаметр которого не превышает 0,8 мм. Его насаживают на механизированный наконечник, который, вращаясь, 
          strong отбирает волосяные луковицы
          |  с донорской зоны. Вживление проводят при помощи микропинцета в ранее сформированные канальцы на коже.
    h2.appear Стоимость
    p.appear Цена на пересадку волос бесшовным методом зависит от количества пересаженных графтов и площади восстановления. Точную стоимость сможет назвать трансплантолог на этапе планирования процедуры.
    -
      const prices = [
        {name: 'Стоимость графта (лоскутный метод – Strip)', value: '60 руб. (с учетом скидки в этом месяце — 48 руб.)'},
        {name: 'Стоимость графта (бесшовный метод — FUE)', value: '100 руб. (с учетом скидки в этом месяце — от 75 руб. до 80 руб.).'},
      ]
    +prices(prices).appear
    h2.appear Особенности метода FUE
    +blockMarked({ color: 'blue '}).appear
      +grid({tag: 'ul', 'par-like': true, 'padding': 'y'}).list-marked.list-marked--simple
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Извлечение и вживление
            br
            | Создают круглые отверстия пробойником, отбирают волосяные луковицы пучками, устанавливают графты в каналы, сделанные скальпелем.
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Следы в зоне извлечения
            br
            | В донорском участке остаются округлые шрамики, заметные при короткой прическе.
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Следы в зоне вживления
            br
            | На месте вживления наблюдаются микроразрезы.
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Длительность операции
            br
            | 6-8 часов
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Заживление
            br
            | Донорская зона заживает 2-4 недели
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Возобновление физических нагрузок
            br
            | Вернуться к занятиям спортом можно спустя месяц
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Угол наклона волос
            br
            | Наклон волос неестественный
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Отбор волос
            br
            | Повторно отбирать с донорской зоны нельзя
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Приживаемость
            br
            | Около 50%
        +cell({tag: 'li', m: 6, xs: 12}).appear
          p
            strong Повреждения
            br
            | Повреждение кожи в виде шрамов в донорской зоне и маленьких рубцов в реципиентной
    h2.appear Преимущества бесшовной пересадки
    ul.list-marked
      li.appear Пересадка волос без операции способствует быстрому восстановлению пациента
      li.appear Позволяет в качестве донорской зоны использовать не только волосы с затылка головы, но и другие части тела
      li.appear Минимальная травматичность, поскольку кожный лоскут не вырезается.
      li.appear Высокие показатели приживаемости за счет особенностей технологии и используемых инструментов малого диаметра
      li.appear Естественный, гармоничный вид: отличить свои и пересаженные волосы будет практически невозможно
    h2.appear Преимущества бесшовной пересадки, сделанной в нашей клинике
    +grid({tag: 'ul', 'par-like': true, 'padding': 'y'}).list-marked
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p
        strong Минимальный диаметр имплантеров
        |  для вживления. Подбор только индивидуальный, под размеры и качество графтов. За одну процедуру используем до трех десятков имплантеров.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p Минимальное вмешательство.
        |  Применяем микроинструменты, произведенные в Европе. Толщина 0,7 мм позволяет работать только в верхних слоях кожи и оставлять крошечные, быстро заживающие отверстия.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p: strong  Трансплантируем волосяные луковицы всего за несколько часов.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p
          strong Даем письменную гарантию
          | , что пересаженные волосы будут расти всю жизнь. Приживаемость достигает 95%, густота составляет до 60 графтов на см2.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p
          strong Работаем иглами с ограничителями.
          |  Такие иглы не делают отверстий глубиной более 4 мм, не оставляют углублений на коже. В результате отсутствует рубцевание и повреждение фолликулов.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        p
          strong Высокая эстетика сразу после процедуры.
          |  Без синяков, отеков и осложнений в виде головной боли и онемения кожи головы.
    h2.appear Результаты: фото до и после
    +grid({'padding-y': true, 'par-like': true})
        -
          const results = [
            {
              title: 'Трансплантировано 2000 графтов, метод FUE',
              subtitle: 'Мужчина, 36 лет',
              info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
              images: [
                {
                  name: 'before-after-1-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '1b',
                },
                {
                  name: 'before-after-1-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
            {
              title: 'Трансплантировано 1700 графтов, метод FUE',
              subtitle: 'Мужчина, 34 года',
              info: 'Рубцовая алопеция правой теменной области.',
              images: [
                {
                  name: 'before-after-2-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '2A',
                },
                {
                  name: 'before-after-2-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
          ]
        each res in results
          +cell({m: 6, xs: 12}).appear
            +result(res)
    h2.appear Когда рекомендуется бесшовная пересадка волос?
    ul.list-marked
      li.appear при андрогенетической, рубцовой алопеции,
      li.appear как дополнение к методике FUT,
      li.appear при поредении волос,
      li.appear для маскировки рубцов, шрамов, травм, следов от ожогов,
      li.appear при необходимости получить роскошные брови, усы, бороду.
    h2.appear Основные этапы операции 
    -
      const stages = [
        {
          title: 'Подготовительный этап',
          body: [
            {
              tag: 'p',
              content: 'Готовим донорский участок. Подбриваем волосы на длину до 2 мм. Определяем площадь, исходя из количества требуемых фолликулярных групп.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Анестезия',
          body: [
            {
              tag: 'p',
              content: 'Вводим анестетики местного действия: подбираем малую концентрацию, сочетаем препараты, чтобы исключить отеки и болезненность во время и после процедуры.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Извлечение',
          body: [
            {
              tag: 'p',
              content: 'Если практикуется метод FUE, то создаем крошечные отверстия в реципиентной зоне под диаметр графтов: придерживаемся необходимого угла наклона и равномерно распределяем микроотверстия по площади участка с помощью микрохирургических пинцетов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Пересаживание волос',
          body: [
            {
              tag: 'p',
              content: 'С бригадой ассистентов пересаживаем фолликулы в зону облысения, используя микропинцет или имплантер.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
    h2.appear Особенности послеоперационного периода
    p.appear Сразу после трансплантации накладывается асептическая повязка, которую нужно ежедневно менять, поэтому на следующий день важно посетить нашу клинику. Мытьё головы проводится через день после процедуры. Мы помогаем с этим процессом и даем рекомендации в процессе по дальнейшему уходу.
    p.appear В участках пересадки первое время будут образовываться корочки, которые отшелушатся через 7-10 дней. Затем будет наблюдаться активный рост первые 2-4 недели, после чего отросшие волосы выпадут, а фолликулы впадут в фазу сна. Через 3-4 месяца рост возобновится. Полный результат можно ожидать спустя 8-12 месяцев.
