extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/countdown/countdown
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов'],current:'Частые вопросы'})
  +pageSection: .container: .content
    h1 Частые вопросы
    +pageSubsection: +blockMarked({ color: 'green' }): +textMarked({ tag: 'div' })(class = gridClasses({ padding: 'y' }) )
      +cell({ tag: 'a', xs: 'auto' })(href='#about') О трансплантации
      | 
      +cell({ tag: 'a', xs: 'auto' })(href='#process') Непосредственно операция
      | 
      +cell({ tag: 'a', xs: 'auto' })(href='#result') Результат
      | 
      +cell({ tag: 'a', xs: 'auto' })(href='#after') После операции
  +pageSection: .container: .content
    h2.appear#about О трансплантации
    h3.appear Сколько стоит пересадка?
    p.appear Сеанс фолликулярной трансплантации индивидуален для каждого пациента. Стоимость процедуры пересадки волос зависит от количества волос, которое мы могли бы Вам пересадить, площади восстановления. Поэтому невозможно без предварительной консультации точно определить стоимость услуг пересадки волос. Но вы можете получить предварительную информацию: прислать фото профиль, фас и затылок) на почту: mail@netvolos.ru. Если вы заинтересовались нашим методом, предлагаем Вам обратиться к нам в клинику и пройти очную консультацию. По ее окончании врач назовет полную стоимость услуги пересадки волос. 
    h3.appear В каких случаях показана пересадка волос?
    p.appear При рубцовой, андрогенетической алопеции, высоком расположении передней линии роста волос, коррекции следов от ожогов, операций, травм, болезней кожи, для исправления формы, густоты бровей, ресниц, усов, баков, бороды. 
    h3.appear Каком метод трансплантации лучше?
    p.appear Однозначно ответить на этот вопрос сложно. Метод подбирается, исходя из показаний, индивидуальных особенностей и пожеланий пациента, подходящей стоимости. Во время первого визита в клинику мы подберем лучший именно для вас метод. Но прямо сейчас вы можете сравнить методы по их ключевым отличиям: для Strip-методики (FUT) характерно получение фолликулов из предварительно вырезанного кожного лоскута, наличие шрамов на месте швов, но также и возможность применения при обширных площадях облысения, невысокая стоимость и короткая длительность. А FUE и HFE, хотя и отличаются большей длительностью проведения, дороже стоят и не всегда позволяют восстановить обширные безволосые участки за раз, отличаются щадящей технологией без необходимости вырезать кусочки кожи: используются только крошечные инструменты, одни из которых вывинчивают фолликулы, а другие (имплантеры), внедряют их через тончайший прокол в кожу. 	
    h3.appear Сколько графтов пересаживать?
    p.appear Для коррекции бровей, усов, баков будет нужно от 350 графтов, для наращивания бороды — от 700 графтов, при наличии залысин — от 800-1200 до 3000-3200 графтов, при частичном выпадении волос на лобной части или макушке — 3000-3500 графтов, при обширном выпадении волос на лобно-височной и макушечной области — от 5000-5200 до 6000 графтов. Точный подсчет будет произведен на этапе планирования операции. 
    h3.appear Имеет ли значение возраст при трансплантации волос?
    p.appear Да, до достижения 18 лет пересадку не делают, поскольку гормональный фон еще не устоявшийся. Также не проводят ее и в возрасте за 70 лет, поскольку фолликулы уже практически не приживаются.
    h3.appear Почему берут волосы только из затылочной области?
    p.appear Именно в этой области волосяные фолликулы генетически устойчивы к облысению, так как на них не оказывают разрушающее действие андрогены. Поэтому пересаженные волосы не выпадут и будут расти в течение всей вашей жизни.
    h3.appear Не будут ли выпадать пересаженные волосы?
    p.appear Нет, так как эти волосы не подвержены влиянию андрогенов — гормонов, разрушающих волосяные фолликулы. Ваши новые волосы будут расти в течение всей вашей жизни и мы даем письменную гарантию пожизненного роста всех пересаженных волос.
    h3.appear Чем отличается ваша методика от методик других клиник?
    p.appear У нас 3 методики, которые мы практикуем: FUT, FUE и HFE. При трансплантации 1-м способом мы используем стереомикроскопы, которые исключают повреждение и потерю фолликулов. А при пересадке 2-ми 3-м мы используем до двух-трех десятков разных имплантеров одновременно, индивидуально подбирая их диаметр под диаметр графтов, разные модификации игл, которые ограничивают глубину отверстий, исключают повреждение волосяных луковиц и появление углублений на местах отбора. 
    h3.appear Есть ли противопоказания к операции?
    p.appear Противопоказаний очень мало (сахарный диабет, нарушение свертываемости крови, болезни кожи), возможность проведения операции решается на консультации.
    h2.appear#process Непосредственно операция
    h3.appear Болезненна ли операция, нужна ли госпитализация?
    p.appear Процедура проходит под местной анестезией, которая исключает какие-либо болевые ощущения: практикуем оригинальную методику, благодаря которой исключены отеки, осложнения, облегчена реабилитация, улучшена микроциркуляция, а значит ускорено заживление. Это амбулаторная процедура, пациент может покинуть клинику сразу же после операции. 
    h3.appear Как долго длится операция пересадки волос? Сколько необходимо сеансов пересадки?
    p.appear Операция состоит из 2-х этапов: 1- взятие донорского лоскута (или отдельных графтов), 2- непосредственно микротрансплантация. В зависимости от метода операции, она может длиться: при трансплантации FUT — от 4 до 6 часов, при трансплантации FUE — от 4 до 8 часов, а длительность HFE составляет от 2 до 10 часов (все индивидуально для каждого пациента). Но это время пролетит для Вас незаметно: расположившись в удобном кресле, Вы можете смотреть телевизор или слушать музыку. Находиться постоянно в кресле необходимо только первые 40 минут, сразу после этого небольшой перерыв, во время которого Вам предлагается легкий завтрак. Потом перерыв можно сделать в любой момент по желанию пациента. Количество сеансов пересадки зависит от степени облысения и варьируется от 1 до 4. Примерное количество сеансов пересадки Вы можете узнать, определив степень облысения по классификации Норвуда и прочитав соответствующую вашему случаю информацию или записавшись к нам на консультацию.
    h3.appear Как проходит день операции?
    p.appear Пациент приходит в клинику, мы готовим его к пересадке волос. Сама операция проходит за день, всего за несколько часов. Во время трансплантации пациент сидит в удобном кресле, слушает музыку или смотрит широкоформатный телевизор. Также получает горячий обед и напитки. После операции пациент может остаться в одноместной палате под круглосуточным наблюдением и со сбалансированным питанием. 
    h3.appear При выделении волос из донорской зоны не повреждаются ли волосяные фолликулы?
    p.appear Нет, поскольку мы используем стереомикроскопы, что обеспечивает хороший обзор операционного поля. Также не повреждать фолликулы позволяет техника размещения микроотверстий с помощью специальной модификации игл.
    h3.appear Нужно ли брить голову перед пересадкой волос?
    p.appear Все зависит от пожеланий пациента. Операция может проводиться и без выбривания волос, если выбрать методику HFE.
    h3.appear Существует ли какой-либо риск при операции?
    p.appear Нет, операция проводится только в поверхностных слоях кожи, поэтому осложнения исключены. К тому же трансплантацию проводит врач с 17-летним опытом.
    h2.appear#result Результат
    h3.appear Будет видно, что я делал пересадку волос?
    p.appear Когда затянутся крошечные отверстия, а происходит это спустя 3-5 дней, окружающие не смогут догадаться, что проводилась трансплантация. 
    h3.appear Как будут выглядеть пересаженные волосы? Будут ли они отличатся от не пересаженных?
    p.appear Так как Вам пересаживаются собственные волосы, выглядеть они будут также, как и не пересаженные. Они сохраняют все свои естественные характеристики: структуру, эластичность, гибкость, цвет, блеск. Вы сможете их стричь, укладывать, красить.
    h2.appear#after После операции
    h3.appear Сколько времени занимает период реабилитации/заживления зоны пересадки после операции?
    p.appear При методе HFE он заживает за срок от 5 до 10 дней, а при всех остальных — за 2-4 недели. На длительность процесса влияет площадь пересадки, метод трансплантации.
    h3.appear Когда можно проводить повторную пересадку, если это будет необходимо?
    p.appear Проводить повторную пересадку на том же участке можно через 8 месяцев. За это время происходит отрастание большей части пересаженных волос. Если же трансплантацию планируют в зоне, куда фолликулы ранее не вживляли, то между операциями выдерживают срок 3-4 месяца. За этот срок восстанавливается донорский участок. 
    h3.appear Будет ли отечность и зуд после операции по пересадке волос?
    p.appear Небольшой отек обычно наблюдается у 25% пациентов. Он появляется на 2-3 день и исчезает за 1-2 суток. Иногда, если объемы пересадки были значительными, отек может быть сильнее и держаться больше. Чтобы он не развивался, мы назначаем противовоспалительные препараты. Важно отметить, что отек не развивается при проведении пересадки методами FUE и HFE. Что касается зуда, то он может быть на этапе заживления (5-10 дней). Для его устранения мы тоже можем назначить курс антигистаминных средств. 
    h3.appear Нужно ли после пересадки использовать шляпу или другой головной убор?
    p.appear Да, на этапе реабилитации мы рекомендуем использовать специальную шляпу, которая будет оберегать участки операции от прямых солнечных лучей, пыли. Носить ее нужно будет хотя бы неделю. После этого срока можно носить любой другой головной убор.
    h3.appear Какие специальные препараты нужно использовать после пересадки и как?
    p.appear Использовать биотин и финастерид можно будет сразу, Contratubex/scarex крем — через 5 суток, другие варианты шампуня — через 2 недели, препараты миноксидила — спустя месяц.
    h3.appear Нужен ли какой-нибудь особый уход за пересаженными волосами?
    p.appear Нет. Особенного и дополнительного ухода пересаженные волосы не требуют.
