extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'О клинике'],current:'Для иногородних'})
  +pageSection: .container: .content
    h1 Программа «под ключ» для иногородних граждан
    p Программа разработана для пациентов из 
      strong других регионов, государств и континентов
      | . Мы, выступая принимающей стороной, 
      strong решаем часть организационных вопросов
      | , а за нашими пациентами только остается решение к нам приехать.
    h2.appear Основные проблемы
    -
      const problems = [
        {
          type: 'question',
          title: 'Вы живете в другом городе России или на территории другой страны?',
          settings: { sizes: { m: 6, xs: 12 } }
        },
        {
          type: 'question',
          title: 'В вашем городе не проводят трансплантацию волос?',
          settings: { sizes: { m: 6, xs: 12 } }
        },
        {
          type: 'question',
          title: 'Вы планируете выполнить пересадку волос у хирургов высочайшего уровня?',
          settings: { sizes: { m: 6, xs: 12 } }
        },
        {
          type: 'question',
          title: 'Мечтали посетить город белых ночей, но все не было времени?',
          settings: { sizes: { m: 6, xs: 12 } }
        },
      ]
    +listAdvantages(problems, { 'horizontal': true })
    h2.appear Как проходит программа
    -
      const stages = [
        {
          title: 'Оставляете заявку на лечебный тур. Для этого нужно заполнить форму обратной связи или связаться с нами по телефону.',
          body: [
            { tag: 'p', content: 'Вы можете дистанционно получить ориентировочный план лечения, включающий сроки и финансовый расчет. Для этого пришлите нам фотографии анфас, в профиль и затылочной области, а также информацию о том, когда началось выпадение и продолжается ли оно сейчас. Мы принимаем фотографии и информацию на почту <a href="mailto:mail@netvolos.ru">mail@netvolos.ru</a>, <a href="https://wa.me/79214413926" target="_blank">WhatsApp</a> или <a href="https://t.me/medallclinic_bot">Telegram</a> (+7 931 349-18-98). Важно понимать, что подобный план лечения является предварительным и в рамках очной консультации может быть дополнен или изменен.' },
            { tag: 'p', content: 'Опишите, какие конкретно проблемы вас беспокоят. Укажите подробно ваши пожелания к конечному результату. Что именно вы ждете от пересадки? Чтобы густота волос была максимально естественной? Чтобы окружающие думали, что густая шевелюра досталась вам от природы?' },
          ],
          settings: { sizes: { xs: 12 } }
        },
        {
          title: 'Выбираете день пересадки',
          body: [
            { tag: 'p', content: 'Укажите, какие даты вам удобны и каким количеством времени для лечения вы располагаете. Обычно весь процесс занимает 3-4 дня.' },
            { tag: 'p', content: 'Советуем приехать в Санкт-Петербург хотя бы за 1 день до предполагаемой трансплантации, чтобы организм адаптировался, хватило времени на консультацию. Дату можно обсудить с трансплантологом, который подберет ее, исходя из объема вмешательства и особенностей вашего случая.' },
          ],
          settings: { sizes: { xs: 12 } }
        },
        {
          title: 'Приобретаете билет на удобный вид транспорта, следующий до Санкт-Петербурга.',
          settings: { sizes: { xs: 12 } }
        },
        {
          title: 'Мы вас встречаем',
          body: [
            { tag: 'p', content: 'Встречаем вас в аэропорту «Пулково». Индивидуальный бесплатный трансфер доставит вас в комфортабельную гостиницу. Предложим вам экскурсионный маршрут, чтобы после поездки осталось еще больше впечатлений.' },
          ],
          settings: { sizes: { xs: 12 } }
        },
        {
          title: 'Визит в клинику',
          body: [
            { tag: 'p', content: 'В клинике MEDALL вас встретит врач, и вы сможете обсудить все этапы процесса пересадки очно.' },
          ],
          settings: { sizes: { xs: 12 } }
        },
        {
          title: 'День операции',
          body: [
            { tag: 'p', content: 'Оформляем необходимую документацию, направляем вас в операционную. Процедура продолжается несколько часов, в зависимости от объема работы.' },
            { tag: 'p', content: 'Создаем комфортные условия: во время пересадки можно будет слушать музыку, смотреть телевизор. Обязательны перерывы на обед и отдых.' },
          ],
          settings: { sizes: { xs: 12 } }
        },
      ]
    +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
    h2.appear Послеоперационный период
    p.appear После трансплантации, мы предлагаем нашим пациентам бесплатное пребывание в одноместных палатах с круглосуточным наблюдением и заботимся о сбалансированном питании — предлагаем обед и ужин.
    p.appear На восстановление необходимо несколько дней, первые два из которых мы советуем воздержаться от поездок, остаться в Петербурге.
    p.appear Мы подготовим для вас письменные рекомендации, в которых подробно изложим особенности ухода за участком трансплантации и донорской зоной.
    p.appear Берем на себя заботы о вызове такси на вокзал или аэропорт.
    p.appear В послеоперационный период врач будет доступен для вас по телефону, чтобы отвечать на вопросы и держать под контролем процесс роста волос.
  +pageSection({ 'color-fill': 'blue', 'padding': 'y' }): .container: .content
    h2.appear Для граждан других стран
    p.appear Для граждан 
      a(href='#states' data-glightbox='') 53 государств
      |  действует упрощенный порядок въезда в Россию. По ссылкам ниже вы можете подать заявления на получение электронной визы, которая действует 7 дней, чего более чем достаточно для диагностики, операции и реабилитации.
    div(style='display: none')
      #states: +grid({ 'padding': 'y', 'justify': 'center' })(style='background-color: #fff')
        +cell({ xs: 12 })
          p: strong Электронная виза выдаётся бесплатно
          p Для ее получения не требуется приглашений, подтверждений бронирования гостиниц или каких-либо других документов, подтверждающих цель поездки в Российскую Федерацию. Срок выдачи электронной визы составляет не более 4 календарных дней с даты подачи заполненного заявления
        +cell({ l: 4, m: 6, xs: 12 })
          ul.list-marked
            li Австрия
            li Андорра
            li Бахрейн
            li Бельгия
            li Болгария
            li Ватикан
            li Венгрия
            li Германия
            li Греция
            li Дания
            li Индия
            li Индонезия
            li Иран
            li Ирландия
            li Исландия
            li Испания
            li Италия
        +cell({ l: 4, m: 6, xs: 12 })
          ul.list-marked
            li Катар
            li Кипр
            li Китай (включая Тайвань) 
            li Корейская Народно-Демократическая 
            li Республика Кувейт 
            li Латвия
            li Литва
            li Лихтенштейн
            li Люксембург
            li Малайзия
            li Мальта
            li Мексика
            li Монако
            li Нидерланды
            li Норвегия
            li Оман
            li Польша
        +cell({ l: 4, m: 6, xs: 12 })
          ul.list-marked
            li Португалия
            li Румыния
            li Сан-Марино
            li Саудовская Аравия 
            li Северная Македония 
            li Сербия
            li Сингапур
            li Словакия
            li Словения
            li Турция
            li Филиппины
            li Финляндия
            li Франция
            li Хорватия
            li Чехия
            li Швейцария
            li Швеция
            li Эстония
            li Япония
    +grid({ 'padding': 'y', 'par-like': true })
      +cell({l: 2, m: 3, xs: 6}).appear: a(href='/'): +img({
        name: 'e-visa-ru',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'png', mime: 'image/png', orig: true},
        ],
        density: [2, 3],
        path: '/images/o-klinike/dlya-inogorodnih/',
      })(alt='e-visa ru')
      +cell({l: 2, m: 3, xs: 6}).appear: a(href='/'): +img({
        name: 'e-visa-eng',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'png', mime: 'image/png', orig: true},
        ],
        density: [2, 3],
        path: '/images/o-klinike/dlya-inogorodnih/',
      })(alt='e-visa eng')
  +pageSection(): .container: .content
    +pageSubsection
      h2.appear Что входит в стоимость?
      ul.list-marked.list-marked--w-prev-par
        li.appear Наши рекомендации по подбору отеля
        li.appear Встреча в аэропорту или вокзале
        li.appear Трансфер: аэропорт или вокзал — отель
        li.appear Размещение в одноместных палатах с питанием
      h2.appear Что входит в стоимость?
      ul.list-marked.list-marked--w-prev-par
        li.appear Стоимость самой операции
        li.appear Проживание в выбранном отеле
    +pageSubsection
      +blockMarked({ 'color': 'blue' }).appear: +grid({ 'padding': 'y' })
        +cell({ l: 9, m: 8, s: 6, xs: 12 }): p Чтобы узнать подробнее о лечебном туре, позвоните в нашу клинику 
          +textMarked +7 (812) 670-94-98
          |  или напишите нам
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href='#').btn.btn--wide Отправить заявку
