extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Для пациентов'})
  +pageSection: .container: .content
    h1 Для пациентов
    +pageSubsection: +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ l: 4, m: 6, xs: 12 })
        h2.appear Статьи
        ul.list-marked
          li.appear: a(href='/') Почему происходит облысение?
          li.appear: a(href='/') Показания для трансплантации волос
          li.appear: a(href='/') Методика пересадки волос
          li.appear: a(href='/') Этапы процедуры восстановления ваших волос
          li.appear: a(href='/') Пересадка волос за рубежом: плюсы и минусы
        p.appear: a(href='/') Все статьи
      +cell({ l: 4, m: 6, xs: 12 })
        h2.appear Частые вопросы
        ul.list-marked
          li.appear: a(href='/') О трансплантации
          li.appear: a(href='/') Непосредственно операция
          li.appear: a(href='/') Результат
          li.appear: a(href='/') После операции
      +cell({ l: 4, m: 6, xs: 12 })
        h2.appear Консультация
        ul.list-marked
          li.appear: a(href='/') Андрогенетическая алопеция
          li.appear: a(href='/') Рубцовая алопеция
          li.appear: a(href='/') Выпадение волос у мужчин
          li.appear: a(href='/') Выпадение волос у женщин
          li.appear: a(href='/') Пересадка волос
      +cell({ l: 4, m: 6, xs: 12 })
        h2.appear: a(href='') Степень облысения
