extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/home-subheader/home-subheader
include /blocks/iframe-responsive/iframe-responsive
include /blocks/results/results
include /blocks/review/review
include /blocks/question/question
include /blocks/link-block/link-block
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/stage-modal/stage-modal


block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ overflow: true })
    include /blocks/home-header/home-header
  +pageSection({background: [true, 'advantages']})
    .container
      .content
        +homeSubHeader.appear Наши преимущества
        -
          const advantages = [
            {
              type: 'method',
              title: 'Методика и опыт',
              body: {tag: 'p', content: 'Наша клиника практикует самые передовые и эффективные методики пересадки волос — безоперационные методы FUE и HFE. Специалисты центра и хирурги по пересадке волос проходили обучение и стажировались в клиниках Франции и Испании.'},
            },
            {
              type: 'guarantee',
              title: 'Письменная гарантия результата',
              body: {tag: 'p', content: 'С пациентом заключаем договор, в котором прописана юридическая гарантия результата, а также наше обязательство о неразглашении медицинской тайны. Строго придерживаемся конфиденциальности, не проводим, без разрешения пациентов, любые виды съемок.'},
            },
            {
              type: 'license',
              title: 'Лицензия',
              body: {tag: 'p', content: 'Мы имеем лицензию по пластической хирургии, а врачи, выполняющие операции,  являются лицензированными пластическими хирургами.'},
            },
            {
              type: 'staff',
              title: 'Квалифицированный персонал',
              body: {tag: 'p', content: 'Ведущий врач-трансплантолог проводит пересадку с 2002 года. Подготовка медицинского персонала соответствует  Международным стандартам проведения процедуры пересадки волос.'},
            },
            {
              type: 'anesthesia',
              title: 'Оригинальная методика анестезии',
              body: {tag: 'p', content: 'В клинике практикуем оригинальную методику местной анестезии. Она позволяет исключить осложнения, избежать послеоперационных отеков лица. В результате реабилитация после трансплантации проходит более легко. А улучшенная микроциркуляция способствует быстрому заживлению участков отбора и пересадки.'},
            },
            {
              type: 'payments',
              title: 'Без скрытых платажей',
              body: {tag: 'p', content: 'В стоимость заложены все услуги, отсутствуют скрытые платежи и переплаты.'},
            },
          ]
        +listAdvantages(advantages)
  +pageSection({background: [true, 'price-calc']})
    .container
      .content
        +homeSubHeader.appear Расчет стоимости
        +pageSubsection.appear
          p На цену пересадки волос влияет несколько факторов:
          ul.list-marked
            li площадь участка без волос и количество донорских графтов (графт – 1-3 волосяные луковицы на кусочке кожи)
            li выбранный способ пересадки (Strip, FUE, HFE)
          p Объем оперативного вмешательства врач озвучивает во время визита в клинику или по фото, присланных пациентом. Вы можете выслать нам фотографии (фас, профиль, затылочная область) или иную информацию (когда началось выпадение, если в настоящее время активное выпадение) на почту
            a(href='mailto:mail@netvolos.ru') mail@netvolos.ru
            | , WhatsApp или Viber (+7 931 349-18-98) или  воспользоваться формой ниже.
  +pageSection()
    .container
      .content
        +tabs()
          +tab({name: 'Для мужчин'})
            -
              stages = [
                {id: 'men-1', name: 'Степень 1', src: 'https://dummyimage.com/368x220', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '0', maxGrafts: '0'},
                {id: 'men-2', name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '50', maxGrafts: '100'},
                {id: 'men-3', name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE',  minGrafts: '40', maxGrafts: '80'},
                {id: 'men-4', name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '50', maxGrafts: '100'},
                {id: 'men-5', name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '40', maxGrafts: '80'},
                {id: 'men-6', name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересад50ка 4200-4500 100FUE',  minGrafts: '', maxGrafts: ''},
                {id: 'men-7', name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '40', maxGrafts: '80'},
                {id: 'men-8', name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '50', maxGrafts: '100'},
                {id: 'men-9', name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE',  minGrafts: '40', maxGrafts: '80'},
              ]
            +stagesSlider(stages)
          +tab({name: 'Для женщин'})
            -
              stages = [
                {name: 'Степень 1', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '0', maxGrafts: '0'},
                {name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '50', maxGrafts: '100'},
                {name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE',  minGrafts: '40', maxGrafts: '80'},
                {name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '50', maxGrafts: '100'},
                {name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '40', maxGrafts: '80'},
                {name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE',  minGrafts: '', maxGrafts: ''},
                {name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE',  minGrafts: '40', maxGrafts: '80'},
                {name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE',  minGrafts: '50', maxGrafts: '100'},
                {name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE',  minGrafts: '40', maxGrafts: '80'},
              ]
            +stagesSlider(stages)
        +stageModal()
  +pageSection({'gradient': true, 'padding-bottom': true})
    .container
      .content
        +pageSection()
          +homeSubHeader.appear Информация о главном враче
          include /blocks/home-doctor/home-doctor
        +pageSection()
          +homeSubHeader.appear Результаты пересадки
          -
            const results = [
              {
                title: 'Трансплантировано 2000 графтов, метод FUE',
                subtitle: 'Мужчина, 36 лет',
                info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
                images: [
                  {
                    name: 'before-after-1-1',
                    formats: [
                      { ext: 'png', mime: 'image/png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [2],
                    path: '/images/before-after/',
                    desc: 'До процедуры',
                    stage: '1b',
                  },
                  {
                    name: 'before-after-1-2',
                    formats: [
                      { ext: 'png', mime: 'image/png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [2],
                    path: '/images/before-after/',
                    desc: 'Через 12 месяцев',
                  },
                ]
              },
              {
                title: 'Трансплантировано 1700 графтов, метод FUE',
                subtitle: 'Мужчина, 34 года',
                info: 'Рубцовая алопеция правой теменной области.',
                images: [
                  {
                    name: 'before-after-2-1',
                    formats: [
                      { ext: 'png', mime: 'image/png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [2],
                    path: '/images/before-after/',
                    desc: 'До процедуры',
                    stage: '2A',
                  },
                  {
                    name: 'before-after-2-2',
                    formats: [
                      { ext: 'png', mime: 'image/png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [2],
                    path: '/images/before-after/',
                    desc: 'Через 12 месяцев',
                  },
                ]
              },
            ]
          +results(results)
  +pageSection({'color-fill': true, 'no-margin': true, 'padding': ['top', 'bottom'], background: [true, 'results']})
    .container
      .content
        +homeSubHeader({'color': 'white'}).appear Отзывы пациентов
        -
          const reviews = [
            {
              title: 'Результат превзошел все ожидания!',
              body: {tag: 'p', content: 'Здравствуйте, хочется поблагодарить Боярскую Светлану Валерьевну за проделанную работу. Результат превзошел все ожидания! Муж долго не хотел,откладывал, но все таки уступил моей просьбе, прошел год и я до сих пор слышу от него слова благодарности, за то, что я его уговорила. Такое ощущение , что лысины никогда и не было, кажется, что всегда так и было и только фотографии напоминают об обратном. Огромное спасибо Светлана Валерьевна.'},
              footer: 'Алена, 01 Сентябрь 2016',
            },
            {
              title: 'Консультация в этой клинике показалась мне наиболее профессиональной.',
              body: {tag: 'p', content: 'Долго думал, выбирал клинику, выбирал врачей. Сайты везде похожи и решить, где пересадить волосы, было трудно. Поэтому был на консультации в 2-х клиниках в Москве и в 2-х клиниках в Санкт-Петербурге. Консультация в этой клинике у Боярской С.В. показалась мне наиболее профессиональной. Информация была предоставлена не только об операции, но и о лекарствах, которые применяют при лечении выпадения волос, их плюсы и минусы. Операцией доволен, почувствовал только первый укол когда делали обезболивание. Пересадили 2930 графтов. Отеков не было. Результат очень хороший. Все говорят, что скинул 10 лет (в том, что сделал операцию, не признаюсь, говорю, что втирал чеснок:)))'},
              footer: 'Игорь, 01 Сентябрь 2016',
            },
          ]
        each review in reviews
          +review(review).appear
  +pageSection({background: [true, 'questions']})
    .container: .content
      +homeSubHeader().appear Вопросы и ответы
      +grid({'padding-y': true})
        +cell({m:6,xs:12})
          +question('Какой метод трансплантации лучше?').appear
            p Метод подбирается, исходя из показаний, индивидуальных особенностей и пожеланий пациента, подходящей стоимости. Во время первого визита в клинику мы подберем лучший именно для вас метод.
            p Для Strip-методики (FUT) характерно получение фолликулов из предварительно вырезанного кожного лоскута, наличие шрамов на месте швов, но также и возможность применения при обширных площадях облысения, невысокая стоимость и короткая длительность.
            p А FUE и HFE, хотя и отличаются большей длительностью проведения, дороже стоят и не всегда позволяют восстановить обширные безволосые участки за раз, отличаются щадящей технологией без необходимости вырезать кусочки кожи: используются только крошечные инструменты, одни из которых вывинчивают фолликулы, а другие (имплантеры), внедряют их через тончайший прокол в кожу.
          +question('Болезненна ли операция, нужна ли госпитализация?').appear
            p Процедура проходит под местной анестезией, которая исключает какие-либо болевые ощущения: практикуем оригинальную методику, благодаря которой исключены отеки, осложнения, облегчена реабилитация, улучшена микроциркуляция, а значит ускорено заживление. Это амбулаторная процедура, пациент может покинуть клинику сразу же после операции.
          +question('Сколько времени занимает период реабилитации/заживления зоны пересадки после операции?').appear
            p При методе HFE он  заживает за срок от 5 до 10 дней, а при всех остальных - за 2-4 недели. На длительность процесса влияет площадь пересадки, метод трансплантации.
          +question('Существует ли какой-либо риск при операции?').appear
            p Нет, операция проводится только в поверхностных слоях кожи, поэтому осложнения исключены. К тому же трансплантацию проводит врач с 17-летним опытом.
        +cell({m:6,xs:12})
          +question('Чем отличается ваша методика от методик других клиник?').appear
            p У нас 3 методики, которые мы практикуем: FUT, FUE и HFE. При трансплантации 1-м способом мы используем стереомикроскопы, которые исключают повреждение и потерю фолликулов. А при пересадке 2-ми 3-м мы используем до двух-трех десятков разных имплантеров одновременно, индивидуально подбирая их диаметр под диаметр графтов, разные модификации игл, которые ограничивают глубину отверстий, исключают повреждение волосяных луковиц и появление углублений на местах отбора.
          +question('Как проходит день операции?').appear
            p Пациент приходит в клинику, мы готовим его к пересадке волос. Сама операция проходит за день, всего за несколько часов. Во время трансплантации пациент сидит в удобном кресле, слушает музыку или смотрит широкоформатный телевизор. Также получает горячий обед и напитки. После операции пациент может остаться в одноместной палате под круглосуточным наблюдением и со сбалансированным питанием.
          +question('Не будут ли выпадать пересаженные волосы?').appear
            p Нет, так как эти волосы не подвержены влиянию андрогенов - гормонов, разрушающих волосяные фолликулы. Ваши новые волосы будут расти в течение всей вашей жизни и мы даем письменную гарантию пожизненного роста всех пересаженных волос.
          +question('Будет видно, что я делал пересадку волос?').appear
            p Когда затянутся крошечные отверстия, а происходит это спустя 3-5 дней, окружающие не смогут догадаться, что проводилась трансплантация.
  +pageSection()
    .container: .content
      +homeSubHeader().appear Полезные материалы
      +grid({'padding-y': true})
        -
          links = [
            {src:'https://dummyimage.com/208x208', name:'Почему происходит облысение?'},
            {src:'https://dummyimage.com/208x208', name:'Показания для трансплантации волос'},
            {src:'https://dummyimage.com/208x208', name:'Почему происходит облысение?'},
            {src:'https://dummyimage.com/208x208', name:'Показания для трансплантации волос'},
          ]
        each link in links
          +cell({m:6,xs:12}).appear: +linkBlock(link)(href='/')
  include /blocks/home-form/home-form
  include /blocks/home-contacts/home-contacts
