extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section


block head
  -
    var pageTitle = 'Вопрос отправлен'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Консультация'],current:'Вопрос отправлен'})
      +pageSection
        +grid({'par-like':true, 'padding-y': true, 'justify': 'center'})
          +cell({m:6,s:10,xs:12})
            h1.text-align--center Вопрос отправлен
            p.appear.text-align--center Вопрос отправлен, в течение рабочего дня ответим на него. Ответ появится на сайте в разделе "Консультация".
            p.appear.text-align--center Если вы указали e-mail, отправим письмо с ответом. Если оставили телефон, позвоним и проконсультируем.
            p.appear.text-align--center Можете не ждать ответа и позвонить
              strong +7 (812) 670-94-98
            p.appear.text-align--center Работаем ежедневно с 9 до 21 (Санкт-Петербург)
