extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-list/consultation-list
include /blocks/consultation-categories/consultation-categories
include /blocks/form-input/form-input
include /blocks/form-input-photo/form-input-photo

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Консультация'],current:'Задать вопрос'})
  +pageSection: .container: .content
    h1 Задать вопрос
  +pageSection(): .container: .content
    +grid({'par-like':true,'padding-y': true})
      +cell({ l: 8, m: 6, xs: 12 })
        form.form
          +pageSubsection: +grid({ 'padding-y': true, 'par-like': true })
            +cell({ l: 6, xs: 12 }).appear
              +formInput({type: 'text', placeholder: 'Ваше имя'})
              +formInput({type: 'email', placeholder: 'E-mail'})
              +formInput({type: 'text', placeholder: 'Город, страна'})
              +formInput({type: 'text', placeholder: 'Возраст'})
            +cell({ l: 6, xs: 12 }).appear
              +formInput({type: 'textarea', placeholder: 'Ваш вопрос'})(style='height: 100%')
          +pageSubsection.appear
            h3.text-align--center Фотографии
            p.text-align--center Прикрепите фотографии с вашего компьютера или сфотографируйтесь при помощи вашей веб-камеры.
            p.text-align--center: strong Примеры фотографий:
          +pageSubsection
            +grid({ 'padding-y': true, 'justify': 'center' })
              +cell({ l: 4, xs: 12 }).appear: +formInputPhoto({
                name: 'Фото №1', 
                image: {
                  name: 'photo-1',
                  formats: [
                    {ext: 'webp', mime: 'image/webp',},
                    {ext: 'jpg', mime: 'image/jpeg', orig: true},
                  ],
                  density: [2],
                  path: '/images/form/',
                },
                id: 'img-1',
              })
              +cell({l: 4, xs: 12}).appear: +formInputPhoto({
                name: 'Фото №2',
                image: {
                  name: 'photo-2',
                  formats: [
                    {ext: 'webp', mime: 'image/webp',},
                    {ext: 'jpg', mime: 'image/jpeg', orig: true},
                  ],
                  density: [2],
                  path: '/images/form/',
                },
                id: 'img-2',
              })
              +cell({l: 4, xs: 12}).appear: +formInputPhoto({
                name: 'Фото №3',
                image: {
                  name: 'photo-3',
                  formats: [
                    {ext: 'webp', mime: 'image/webp',},
                    {ext: 'jpg', mime: 'image/jpeg', orig: true},
                  ],
                  density: [2],
                  path: '/images/form/',
                },
                id: 'img-3',
              })
          +pageSubsection.appear
            +grid({ 'justify': 'center', 'padding-y':true, 'par-like': true }): +cell({ xs: 'auto' }): button(type='submit').btn Отправить
            +grid({ 'justify': 'center', 'padding-y':true, 'par-like' : true}): +cell({ xs: 'auto' }): +formInput({ type: 'checkbox', label: 'Отправляя эту форму Вы соглашаетесь с условиями <a href="">Обработки персональных данных</a>', checked: true, required: true })#form-agreement
      +cell({ l:4, m: 6, xs: 12 })
        include /data/consultation-categories
        +consultationCategories(consCategories)
