extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-question/consultation-question
include /blocks/consultation-answer/consultation-answer
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Консультация'})
  +pageSection: .container: .content
    +grid({ 'par-like': true, 'padding-y': true })
      +cell({ l: 8, xs: 12 })
        h1 Какова стоимость пересадки волос средней степени облысения затылочной части?
        +pageSubsection
          -
            const consultationQuestion = {
              body: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
              author: 'Антон',
              date: '08 Октября 2019'
            }
          +consultationQuestion(consultationQuestion)
        +pageSubsection
          -
            const consultationAnswer = {
              body: { tag: 'p', content: 'Здравствуйте, Софья! Прежде всего врач должен будет Вас проконсультировать. Прежде чем составлять план и предлагать варианты лечения, необходимо тщательно все изучить-снимки, состояние зуба. В дальнейшем, возможна повторная реставрация, установка винира либо коронки на причинный зуб!;)) Приглашаю Вас на консультацию к нашим ортопедам!' },
              author: 'Боярская Светлана Валерьевна',
              image: 'https://dummyimage.com/100x140',
            }
          +consultationAnswer(consultationAnswer)
        +pageSubsection
          h2 Похожие вопросы
          ul.list-marked
            li: a(href='konsultatsiya-answer.html') восстановить усы, бороду: вернуть растительность в те участки подбородка, где она отсутствовала
            li: a(href='konsultatsiya-answer.html') загустить брови в участках поврежденной кожи
            li: a(href='konsultatsiya-answer.html') убрать или скрыть следы от ветряной оспы, постакне, рубцовой алопеции, ожогов
            li: a(href='konsultatsiya-answer.html') восстановить ресницы, если фолликулы прежних повреждены
        +pageSubsection
          include /blocks/consultation-ask-panel/consultation-ask-panel
      +cell({ l: 4, m: 6, xs: 12 })
        include /data/consultation-categories
        +consultationCategories(consCategories)
