extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-list/consultation-list
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Консультация'})
  +pageSection: .container: .content
    h1 Консультация по замещению волос
    +grid({'par-like':true,'padding-y': true})
      +cell({ l: 8, m: 6, xs: 12 })
        +pageSubsection
          include /blocks/consultation-ask-panel/consultation-ask-panel
        +pageSubsection
          p Раздел «Консультации» — это база данных, состоящая из _Х_ вопросов, присланных посетителями нашего сайта. Данные вопросы и ответы на них структурированы по разделам, чтобы можно было легко и удобно получить необходимую вам информацию.
          p Если вы не нашли ответ на свой вопрос, обратитесь за консультацией к нашим специалистам.
        +pageSubsection
          -
            var consItems = [
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
              {
                title:'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
                question: { tag: 'p', content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке' },
                author: 'Антон',
                date:'08 Октября 2019',
              },
            ]
          +consultationList(consItems)
        +pageSubsection
          include /blocks/pagination/pagination
      +cell({ l:4, m: 6, xs: 12 })
        include /data/consultation-categories
        +consultationCategories(consCategories)
