extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/contacts-block/contacts-block
include /blocks/contacts-item/contacts-item
include /blocks/form-input/form-input
  
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'О клинике' ], current: 'Врачи' })
  +pageSection: .container: .content
    h1.appear Контакты
    +pageSubsection: +grid({ 'par-like': true })
      +cell({l: 6, xs: 12}): +contactsBlock
        +contactsItem({title: 'Адрес', settings: { address: true }}) 197110, г. Санкт-Петербург Левашовский проспект, 24
        +contactsItem({title: 'Станция метро', settings: { metro: true }}) м. Чкаловская / Петроградская
        +contactsItem({title: 'Время работы', settings: { schedule: true }}) ежедневно с 9:00 до 21:00
      +cell({l: 6, xs: 12}): +contactsBlock
        +contactsItem({title: 'Телефон', settings: { phone: true }}): .text-marked +7 (812) 670-94-98
        +contactsItem({title: ['whatsapp', 'viber'], settings: { messengers: true }})
          span.text-marked +7 931 349-18-98
          br
          | Немедленная консультация WhatsApp / Viber 
        +contactsItem({title: 'E-mail', settings: { email: true }}): a(href='mailto:mail@netvolos.ru') mail@netvolos.ru
  include /blocks/contacts-map/contacts-map
  +pageSection: .container: .content
    +grid({ 'padding-y': true })
      +cell({ l: 7, m: 6, xs: 12 }).appear
        h2 Наша клиника
        p Клиника располагается в собственном 5-ти этажном здании с двумя операционными и новыйшим оборудованием.
        +grid({ padding: 'y', 'par-like': true })
          each i in [1, 2, 3, 4]
            +cell({ xs: 6 }): +img({
              name: `srednii${i}-big_mini`,
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/kontakty/',
            })
      +cell({ l: 5, m: 6, xs: 12 }).appear
        h2 Карта метро
        +img({
          name: 'map-metro',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2],
          path: '/images/kontakty/',
        })
  +pageSection({'color-fill': true, 'no-margin': 'bottom', 'padding': ['top', 'bottom']}): .container: .content
    +blockMarked({ 'tag': 'form', 'color': 'white', 'padding': 'big' }).form.appear
      +pageSubsection.appear
        h2.form__header.text-align--center Написать нам
        p.text-align--center Вы можете написать нам, используя эту форму, или позвонить по телефонам.
      +pageSubsection.appear: +grid({'padding-y': true, 'par-like': true})
        +cell({l: 6, xs: 12}).appear
          +formInput({type: 'text', placeholder: 'Ваше имя'})
          +formInput({type: 'email', placeholder: 'E-mail'})
          +formInput({type: 'tel', placeholder: 'Телефон'})
        +cell({l: 6, xs: 12}).appear
          +formInput({type: 'textarea', placeholder: 'Ваш вопрос'})(style='height: 100%')
      +pageSubsection.appear
        +grid({
          'justify': 'center',
          'padding-y': true,
          'par-like': true
        }): +cell({xs: 'auto'}): button(type='submit').btn Отправить
        +grid({'justify': 'center', 'padding-y': true, 'par-like': true}): +cell({xs: 'auto'}): +formInput({
          type: 'checkbox',
          label: 'Отправляя эту форму Вы соглашаетесь с условиями <a href="">Обработки персональных данных</a>',
          checked: true,
          required: true
        })#form-agreement
