extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/countdown/countdown
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Цены'],current:'Кредит'})
  +pageSection: .container: .content
    h1 Кредит
    p.appear Банки партнеры 
      strong «МТС»
      | , 
      strong «Тинкофф»
      |  и 
      strong «Восточный экспресс»
      | . Кредит оформляем в нашей клинике.
    h2.appear Для получения кредита или консультации по кредитным программам Вам необходимо сделать несколько несложных шагов:
    ol.list-numbered
      li.apear Записаться и пройти осмотр у специалистов нашей клиники;
      li.apear Определить объем и стоимость необходимых услуг;
      li.apear Сообщить лечащему врачу или нашим администраторам о желании приобрести услугу по программе «Пересадка волос в кредит»;
    h2.appear Условия и требования по кредитованию в банке МТС
    +grid({ 'par-like': true, 'padding': 'y' }): +cell({ l:3, m: 4, s:6, xs: 12 }).appear: +img('/images/tseny/kredit/mts.svg')(alt='Банк МТС')
    +grid({ 'par-like': true, 'padding': 'y', 'justify': 'center' })
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Сумма кредита
          br
          +textMarked({ big: true, bold: true }) до 1 100 000 рублей
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Процентная ставка
          br
          +textMarked({ big: true, bold: true }) от 10,9%
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Срок кредита
          br
          +textMarked({ big: true, bold: true }) от 1 года до 5 лет
    h3.appear Требования к заемщику
    ul.list-marked
      li.appear Возраст от 20 до 70 лет
      li.appear Гражданство и постоянная регистрация на территории РФ
      li.appear Наличие постоянного места работы или источника дохода от 3 месяца 
    h3.appear Документы
    ul.list-marked
      li.appear паспорт гражданина РФ
      li.appear дополнительный документ (заграничный паспорт, СНИЛС, водительское удостоверение)
    h2.appear Условия и требования по кредитованию в банке Тинькофф
    +grid({ 'par-like': true, 'padding': 'y' }): +cell({ l:3, m: 4, s:6, xs: 12 }).appear: +img('/images/tseny/kredit/tinkoff.svg')(alt='Банк Тинькофф')
    +grid({ 'par-like': true, 'padding': 'y', 'justify': 'center' })
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Сумма кредита
          br
          +textMarked({ big: true, bold: true }) от 50 000 до 2 000 000 рублей
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Процентная ставка
          br
          +textMarked({ big: true, bold: true }) от 12%
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Срок кредита
          br
          +textMarked({ big: true, bold: true }) от 1 года до 3 лет
    h3.appear Документы
    p.appear паспорт гражданина РФ
    h2.appear Условия и требования по кредитованию в банке Восточный экспресс
    +grid({ 'par-like': true, 'padding': 'y' }): +cell({ l:3, m: 4, s:6, xs: 12 }).appear: +img('/images/tseny/kredit/vostochyy.svg')(alt='Банк Восточный экспресс')
    +grid({ 'par-like': true, 'padding': 'y', 'justify': 'center' })
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Сумма кредита
          br
          +textMarked({ big: true, bold: true }) от 25 000 до 500 000 рублей
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Процентная ставка
          br
          +textMarked({ big: true, bold: true }) от 9%
      +cell({ l: 4, m: 4, s: 6, xs: 12 }).text-align--center.appear
        p Срок кредита
          br
          +textMarked({ big: true, bold: true }) от 1 года до 3 лет
    h3.appear Требования к заемщику
    ul.list-marked
      li.appear Возраст от 21 до 76 лет
      li.appear Гражданство и постоянная регистрация на территории РФ
      li.appear Стаж: на последнем месте работы не менее 3 месяцев
      li.appear Доход: наличие стабильного дохода в размере, позволяющем выплачивать кредит
    h3.appear Документы
    ul.list-marked
      li.appear паспорт гражданина РФ
      li.appear справка 2-НДФЛ либо Справка по форме банка + дополнительный документ
