extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'О клинике'})
  +pageSection: .container: .content
    h1 Лицензии и сертификаты
    p Специалисты центра и хирурги по пересадке волос проходили обучение и стажировались 
      strong в клиниках Франции и Испании
      | .
    +blockMarked({ color: 'blue' }): +textMarked({ tag: 'p' }) Мы работаем в соответствии с требованиями местного законодательства и имеет все необходимые разрешения и лицензию ЛО-78-01-009984.
    p Кроме нашей клиники в Санкт-Петербурге больше 
      strong нет ни одной узкоспециализированной клиники
      |  по пересадке волос, которая бы с
      strong оответствовала требованиям
      |  действующего законодательства РФ. А именно требования, предъявляемым к медицинским учреждениям, в которых возможно оказывать медицинскую услугу А16.01.025 
      a(href='/') «Трансплантация собственных волос»
      | .
    p В определении типа этой медицинской услуги указано, что это «оперативное лечение», относящиеся к пластической хирургии. Такие операции должны проводиться в условиях чистых операционных клиник, имеющих лицензию на пластическую хирургию.
    +blockMarked({ color: 'green' }): +textMarked({ tag: 'p' }) Мы имеем лицензию по пластической хирургии, а врачи, выполняющие операции, являются лицензированными пластическими хирургами.
  +pageSection: .container: .content: +grid({ 'padding': 'y', 'par-like': true })
    each i in [1, 2, 3, 4]
      +cell({ m: 3, xs: 6 }): a(href != `/images/o-klinike/licenzii-i-sertifikaty/license-${i}.jpg` data-glightbox=`` data-gallery='licenses')
        +img({
          name: `license-${i}-small`,
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/o-klinike/licenzii-i-sertifikaty/',
        })
