extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/table/table
include /blocks/prices/prices
include /blocks/method-stage/method-stage

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Методика' ], current: 'FUE' })
  +pageSection: .container: .content
    h1.appear FUE
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ l: 8, m: 7, xs: 12 })
        p.appear Пересадка волос методом FUE (Follicular Unit Extraction) — это микрохирургическая операция по экстракции фолликулярных групп (графтов). Способ пересадки является 
          strong эффективным, безопасным и современным
          | . Для проведения не надо госпитализации, вся процедура проводится 
          strong амбулаторно
          | .
        +blockMarked({ 'color': 'blue' }).appear: +textMarked({ 'tag': 'p' }) Трансплантацию графтов проводят по одному, не используя разрезы и швы.
      +cell({ l: 4, m: 5, xs: 12 }).appear: +img('/images/metodika/fue.svg')(alt='Особенности пересадки бровей').appear
    h2.appear Ключевые отличия FUE от стрип-метода
    +grid({ 'padding': 'y', 'par-like': true })
      +cell({ l: 6, xs: 12 }).appear
        +table
          +tr
            +th
              | Strip-метод
              +img('/images/metody/fue/strip.svg')(alt='Метод Strip' style='margin: .5rem auto 0' width='120')
            +th
              | FUE
              +img('/images/metody/fue/fue.svg')(alt='Метод FUE' style='margin: .5rem auto 0' width='120')
          +tr
            +td Надрезы выполняют скальпелем
            +td Графты получают с помощью панча
          +tr
            +td Иссекают лоскут кожи с фолликулами
            +td Извлекают пучки волос, содержащие 1, 2 или 3 волосяные луковицы
          +tr
            +td В донорском участке остается шов
            +td Остаются практически незаметные округрые шрамы
          +tr
            +td Длительность от 4 до 8 часов
            +td Длительность 4 — 8 часов
          +tr
            +td Можно заниматься спортом через месяц
            +td Спортом можно заниматься через 10 дней
          +tr
            +td В затылочной области остается линейный руцец
            +td В затылочной области остаются незаметные точечные рубцы
      +cell({ l: 6, xs: 12 }): +img('/images/metody/fue/comparison.svg').appear
    h2.appear Преимущества
    ul.list-marked
      li.appear Использование специальных инструментов и особенности технологии обеспечивают высокий показатель приживаемости пересаженных волос.
      li.appear Метод позволяет получить графты высокого качества. Полностью исключить вероятность брака.
      li.appear Методика относится к щадящим, поскольку нет необходимости в заборе лоскутов кожи с донорского участка.
      li.appear В области затылка не остается рубцов и шрамов.
      li.appear Проводится без применения скальпеля, потому высокоэстетичная и минимально травматичная.
      li.appear Минимальный срок восстановления — не более 3-5 дней.
      li.appear Позволяет пересаживать не единичные графты, а графты, содержащие 1, 2 или 3 волосяные луковицы. Такой подход даёт естественную густоту
    h2.appear Почему провести пересадку методом FUE лучше у нас?
    +grid({tag: 'ul', 'par-like': true, 'padding': 'y'}).list-marked.list-marked--simple
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Минимизируем следы на коже.
        |  Применяем модификации игл, не позволяющие делать микроотверстия более 4 мм. В результате на голове не остается ямочек, а крошечные отверстия быстро затягиваются, не оставляя рубцов.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Заботимся о безопасности пациента.
        |  Используем одноразовые стерильные Панчи, стерильные микрохирургические пинцеты и прочие инструменты.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Практикуем индивидуальный подход.
        |  Планируем процедуру для каждого пациента: моделируем линию роста волос, определяем необходимое количество графтов для получения хорошего эстетического результата.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Обеспечиваем абсолютную безболезненность.
        |  Применяем сертифицированные местные анестетики последнего поколения, успешно прошедшие клинические испытания. Практикуем уникальную методику обезболивания для исключения любого дискомфорта пациента
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Квалификация и профессиональный подход.
        |  В клинике Medall метод проводят специалисты с опытом работы 20 лет, которые обучались и стажировались в клиниках Испании и Франции.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Даем письменную гарантию
        |  того, что пересаженные волосы будут расти на протяжении всей жизни.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Строго соблюдаем условия конфиденциальности.
      +cell({tag: 'li', m: 6, xs: 12}).appear
        strong Используем технику операции
        | , которая, не повреждая фолликулы, позволяет добиться высокой густоты восстановленных волос (до 60 единиц на кв. см вместо стандартных 25).
    h2.appear Стоимость
    p.appear Цена Стрип (Strip) метода пересадки волос зависит от объема облысения, количества графтов и других нюансов. Узнать полную стоимость вы сможете во время первого визита в клинику, когда врач произведет расчет услуги.
    -
      const prices = [
        {name: 'Стоимость графта (лоскутный метод – Strip)', value: '60 руб. (с учетом скидки в этом месяце — 48 руб.)'},
        {name: 'Стоимость графта (бесшовный метод — FUE)', value: '100 руб. (с учетом скидки в этом месяце — от 75 руб. до 80 руб.).'},
      ]
    +prices(prices).appear
    h2.appear Особенности операции
    +blockMarked({ color: 'blue '}).appear
      +grid({tag: 'ul', 'par-like': true, 'padding': 'y'}).list-marked.list-marked--simple
        +cell({tag: 'li', m: 6, xs: 12}).appear Может использоваться при любой степени облысения. 
        +cell({tag: 'li', m: 6, xs: 12}).appear Если в донорском участке мало волос, допускается получение графтов с тела. Для этого подойдет зона бороды, лобка, спины, плеч, ног, груди.
        +cell({tag: 'li', m: 6, xs: 12}).appear Используется при значительных площадях алопеции, можно пересадить большое количество графтов. 
        +cell({tag: 'li', m: 6, xs: 12}).appear Длительность операции зависит от количества фолликулярных единиц, используемых для пересадки и площади участков облысения. 
        +cell({tag: 'li', xs: 12}).appear В зависимости от используемого инструмента, может практиковаться ручная техника или механический способ. В первом случае панчем, вставленным в металлическую ручку, трансплантолог поступательно-вращательным движением отделяет фолликулы. Во втором случае панч подсоединяется к микротурбине, которая, вращаясь, помогает извлечь графты (работа проводится в одно движение).
    h2.appear Когда рекомендован метод и для каких зон?
    p.appear СПересаживать этим способом могут при:
    ul.list-marked
      li.appear рубцовой и андрогенетической алопеции 
      li.appear глубоких залысинах в области лба и висков 
      li.appear наследственном высоком расположении передней линии роста волос 
      li.appear коррекции последствий воспалительных болезней кожи, следов операций, ожогов, травм 
      li.appear исправления формы усов, бороды, бровей 
    h2.appear Противопоказания
    p.appear Трансплантацию не проводят при наличии аллергической реакции на обезболивающие препараты, нарушении свертываемости крови, сахарном диабете, болезнях кожи головы.
  +pageSection({ 'color-fill': 'blue', padding: ['top', 'bottom', 'small'] }): .container: .content
    h2.appear Основные этапы операции
    +grid({ 'padding': 'y', 'par-like': true })
      - const methods = [ 'Вырезание лоскута кожи с затылка', 'Разделение лоскута на участки', 'Извлечение графтов из отрезков', 'Посадка графтов зону облысения' ]
      each method, i in methods
        +methodStage({ name: method, image: `/images/metody/fue/fue-stages-${i + 1}.svg` })(class != cellClasses({ l: 3, m: 6, xs: 12 }) class != `method-stage--fue-stage method-stage--fue-stage-${i+1}` ).appear
  +pageSection(): .container: .content
    -
      const stages = [
        {
          body: [
            {
              tag: 'p',
              content: 'Готовим донорский участок: подбриваем волосы на длину до 2 миллиметров.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          body: [
            {
              tag: 'p',
              content: 'Вводим анестетики местного действия, комбинируя с несколькими препаратами. Благодаря этому не возникает отеков и достигается полная безболезненность.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          body: [
            {
              tag: 'p',
              content: 'Отбираем графты: используя панч, крошечный инструмент, представленный трубочкой со скошенным краем, извлекаем фолликулярные группы. Манипуляции проводим бережно, чтобы сохранить в участках отбора естественную густоту волос.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          body: [
            {
              tag: 'p',
              content: 'Формируем участки под пересадку: используя инструменты микроскопического диаметра, формируем крошечные отверстия диаметром, совпадающим с толщиной графтов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          body: [
            {
              tag: 'p',
              content: 'Проводим пересадку: применяя микрохирургические пинцеты, помещаем фолликулы в сформированные микроотверстия, соблюдая естественный угол роста волос.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
    h2.appear Результаты: фото до и после
    +grid({'padding-y': true, 'par-like': true})
        -
          const results = [
            {
              title: 'Трансплантировано 2000 графтов, метод FUE',
              subtitle: 'Мужчина, 36 лет',
              info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
              images: [
                {
                  name: 'before-after-1-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '1b',
                },
                {
                  name: 'before-after-1-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
            {
              title: 'Трансплантировано 1700 графтов, метод FUE',
              subtitle: 'Мужчина, 34 года',
              info: 'Рубцовая алопеция правой теменной области.',
              images: [
                {
                  name: 'before-after-2-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '2A',
                },
                {
                  name: 'before-after-2-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
          ]
        each res in results
          +cell({m: 6, xs: 12}).appear
            +result(res)
    h2.appear Особенности послеоперационного периода
    -
      const days = [
        {
          type: [ 'calendar', 'day-one' ],
          body: [
            {
              tag: 'p',
              content: 'Сразу после операции накладываем асептическую повязку, которую нужно будет заменить на следующий день.',
            },
            {
              tag: 'p',
              content: 'Первый день важно обеспечить себе отдых, для сна выбрать позу, при которой донорская зона ни с чем бы ни соприкасалась.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          type: [ 'calendar', 'day-two' ],
          body: [
            {
              tag: 'p',
              content: 'На следующий день после операции важно прийти в клинику на осмотр и замену повязки.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          type: [ 'calendar', 'day-three' ],
          body: [
            {
              tag: 'p',
              content: 'Через день от момента операции можно помыть голову. Наши сотрудники обязательно покажут, как это делать, и дадут дальнейшие инструкции и рекомендации.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(days, {'horizontal': true})
    p.appear На первых порах может понадобиться применять обезболивающие препараты, которые пропишет врач. Но чаще всего наши пациенты сообщают, что болевая реакция у них не возникала.
    h2.appear Когда проходит процесс восстановления волос и роста?
    p.appear За 
      strong 2-4 недели волосы отрастают
      | , после чего выпадают. На 3-4 месяца волосяные луковицы впадают в фазу сна, после чего, спустя такое же количество времени, волосы вновь начинают отрастать, уже нечувствительные к действию гормонов. 
      strong Полный результат
      |  будет виден уже спустя 
      strong 8-12 месяцев
      | .
    h2.appear Можно ли будет проводить повторные операции?
    p.appear Если площадь облысения была слишком большой, то может понадобиться повторная операция, чтобы восполнить все волосы. Проводить ее можно уже 
      strong на 3-4 день
      |  от после первой.
