extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/celebrity/celebrity
include /blocks/prices/prices
include /blocks/method-stage/method-stage

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Методика' ], current: 'Стрип' })
  +pageSection: .container: .content
    h1.appear Стрип метод
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ hd: 'hidden', xl: 'hidden', l: 'hidden', m: 'hidden', s: 12, xs: 12 }).appear: +img('/images/metodika/strip.svg')(alt='Особенности пересадки бровей' style='display: block').appear
      +cell({ l: 8, m: 7, xs: 12 })
        p.appear Стрип (Strip) метод пересадки волос получил название благодаря полосочкам кожи с волосами (небольшим лоскуткам), которые отбирают с затылочной области головы. Также для обозначения процедуры используют аббревиатуру FUT.
        h2 Преимущества и недостатки метода
        ul.list-marked
          li.appear Относится к классическим технологиям, позволяющим получить 
            strong хорошие результаты
            |  при 
            strong минимуме стоимости.
          li.appear Идеален для восстановлении 
            strong небольших участков
            |  облысения. Позволяя сохранить объем в зоне затылка, удается за 4 — 8 часов пересадить 
            strong до 2 тыс. графтов.
          li.appear Понравится мужчинам, которым важен имидж: не готовы сбривать волосы и менять прическу.
          li.appear Угол наклона волос, пересаженных этим способом, выглядит 
            strong естественно.
          li.appear В донорском участке 
            strong остается шов
            | , который нужно будет прикрывать верхними волосами.
          li.appear Повторную пересадку этим методом провести сложно или невозможно: донорская зона уменьшена в ходе предшествующей операции.
          li.appear По сравнению с методикой FUE, существенно повреждается кожа: на месте вырезанного лоскута кожи, где наложены швы, формируются рубцы.
      +cell({ l: 4, m: 5, s: 'hidden', xs: 'hidden' }).appear: +img('/images/metodika/strip.svg')(alt='Особенности пересадки бровей' style='display: block').appear
    +blockMarked({ color: 'green' }).appear
      +textMarked({ tag: 'p' }) Идеален для восстановлении 
        strong небольших
        |  участков облысения. Позволяя сохранить объем в зоне затылка, удается 
        strong за 4-8 часов
        |  пересадить 
        strong до 2 тыс. графтов
    h2.appear Почему провести пересадку методом Стрип лучше в клинике Medall?
    +grid({ tag: 'ul', 'par-like': true, 'padding': 'y' }).list-marked
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Используем стереомикроскопы
        | , благодаря чему исключена потеря фолликулов.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Исключены осложнения
        | , а заживление проходит быстро, без отёков и синяков: для этого практикуем оригинальную методику местной анестезии.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Минимизируем рубцы.
        |  Используем новейший шовный материал и накладываем особый вид шва — трихофитный.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Улучшена приживаемость и рост волос
        | : для этого мы разработали и используем специальные программы PRP-лечения.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Проводят врачи со специализированным образованием и стажировкой в клиниках Франции и Испании.
        |  Опыт работы составляет 20 лет, а количество проведенных операций давно превысило 2000.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Индивидуальный подход
        | : планируем операцию под каждый случай, моделируем линию роста волос, точно определяем необходимое количество графтов для достижения естественного результата.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Действует гарантия
        | : письменно гарантируем, что пересаженные волосы будут расти на протяжении всей жизни.
      +cell({ tag: 'li', m: 6, xs: 12 }).appear
        strong Полная безболезненность.
        |  Применяем современные анестетики, сертифицированные и разрешенные для использования на территории России.
    h2.appear Стоимость
    p.appear Цена Стрип (Strip) метода пересадки волос зависит от объема облысения, количества графтов и других нюансов. Узнать полную стоимость вы сможете во время первого визита в клинику, когда врач произведет расчет услуги.
    -
      const prices = [
        {name: 'Стоимость графта (лоскутный метод – Strip)', value: '60 руб. (с учетом скидки в этом месяце — 48 руб.)'},
        {name: 'Стоимость графта (бесшовный метод — FUE)', value: '100 руб. (с учетом скидки в этом месяце — от 75 руб. до 80 руб.).'},
      ]
    +prices(prices).appear
    h2.appear Особенности операции
    +blockMarked({ color: 'blue '}).appear
      +grid({tag: 'ul', 'par-like': true, 'padding': 'y'}).list-marked.list-marked--simple
        +cell({tag: 'li', m: 6, xs: 12}).appear Идеально подходит женщинам, поскольку не нужно будет выбривать затылочный участок головы.
        +cell({tag: 'li', m: 6, xs: 12}).appear Проводят только после анализов крови, отказа пациента на неделю от алкоголя и курения.
        +cell({tag: 'li', m: 6, xs: 12}).appear Процедура не предполагает госпитализации, проводится амбулаторно.
        +cell({tag: 'li', m: 6, xs: 12}).appear За одно вмешательство возможна пересадка до 2000 графтов.
        +cell({tag: 'li', m: 6, xs: 12}).appear Лоскутная пересадка волос может проводиться для восстановления любого по величине безволосого участка.
        +cell({tag: 'li', m: 6, xs: 12}).appear На продолжительность операции (от 4 до 8 часов) влияет размер участка алопеции и количество графтов, необходимых для пересадки.
    h2.appear Когда рекомендован метод и для каких зон?
    p.appear Способ трансплантации выбирают при андрогенетической алопеции с 3 по 7 стадии по Норвуду. А также при рубцовом облысении, при пересадке ресниц, бровей, бороды, усов, коррекции рубцов после ожогов и травм.
    h2.appear Противопоказания
    p.appear Пересаживать волосы этим способом нельзя при болезнях кожи головы в стадии обострения, сахарном диабете, аллергии на обезболивающие препараты и при плохой свертываемости крови.
  +pageSection({ 'color-fill': 'blue', padding: ['top', 'bottom', 'small'] }): .container: .content
    h2.appear Основные этапы операции
    +grid({ 'padding': 'y', 'par-like': true })
      - const methods = [ 'Вырезание лоскута кожи с затылка', 'Разделение лоскута на участки', 'Извлечение графтов из отрезков', 'Посадка графтов зону облысения' ]
      each method, i in methods
        +methodStage({ name: method, image: `/images/metody/strip/strip-stages-${i + 1}.svg` })(class != cellClasses({ l: 3, m: 6, xs: 12 }) class != `method-stage--strip-stage-${i+1}` ).appear
  +pageSection(): .container: .content
    -
      const stages = [
        {
          title: 'Готовим донорский участок',
          body: [
            {
              tag: 'p',
              content: 'В донорском участке головы волосы немного подбривают, оставляя длину 2 миллиметра. Величину лоскута высчитываем предварительно, а работаем с определенной зоной, оставляя вокруг достаточное количество волос необходимой длины для последующего прикрытия послеоперационных швов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Вводим анестетики местного действия',
          body: [
            {
              tag: 'p',
              content: 'Подбираем препараты в малой концентрации, соединяем их с физраствором, что позволяет исключить образование отеков и убрать болевую реакцию в ходе операции и после нее.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Иссекаем лоскут кожи с волосяными луковицами, остаток ушиваем',
          body: [
            {
              tag: 'p',
              content: 'Отбор полоски кожи проводится аккуратно, с сохранением всех фолликулов в целостности. После операции на кожу накладываем специальный трихофитный шов. Он незаметный, сквозь него могут прорастать волосы, и он маскирует рубец. Чтобы не снимать швы, кожу сшиваем рассасывающимися хирургическими нитями. Наложение повязки не требуется, а волосы, растущие вокруг прооперированного участка, позволяют замаскировать его и создать дополнительную защиту.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Делим полоску кожи на графты',
          body: [
            {
              tag: 'p',
              content: 'Работая на бинокулярных стереоскопических микроскопах, отделяем фолликулярные единицы, состоящие из 1-3 фолликулов. Манипуляции надо проводить быстро (влияет на показатели приживаемости), потому к работе по получению графтов привлекаем ассистентов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Создаем крошечные отверстия',
          body: [
            {
              tag: 'p',
              content: 'С помощью одноразовых стерильных лезвий создаем крошечные отверстия под внедрение графтов: делаем их равномерно по всему участку облысения, принимая во внимание угол роста волос и диаметр донорских волосяных луковиц.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Пересаживаем донорские фолликулы в участок алопеции',
          body: [
            {
              tag: 'p',
              content: 'Используя хирургические микропинцеты, внедряем графты под естественным углом роста волос. Поскольку на этом этапе важна скорость работы, влияющая на приживаемость, подсадку выполняем с привлечением ассистентов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
    h2.appear Результаты: фото до и после
    +grid({'padding-y': true, 'par-like': true})
        -
          const results = [
            {
              title: 'Трансплантировано 2000 графтов, метод FUE',
              subtitle: 'Мужчина, 36 лет',
              info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
              images: [
                {
                  name: 'before-after-1-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '1b',
                },
                {
                  name: 'before-after-1-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
            {
              title: 'Трансплантировано 1700 графтов, метод FUE',
              subtitle: 'Мужчина, 34 года',
              info: 'Рубцовая алопеция правой теменной области.',
              images: [
                {
                  name: 'before-after-2-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '2A',
                },
                {
                  name: 'before-after-2-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
          ]
        each res in results
          +cell({m: 6, xs: 12}).appear
            +result(res)
    h2.appear Особенности послеоперационного периода
    -
      const days = [
        {
          type: [ 'calendar', 'day-one' ],
          body: [
            {
              tag: 'p',
              content: 'В первый день после операции не рекомендуется наклонять голову. Необходимо <strong>больше отдыхать</strong>. Отправляясь ко сну, следует выбрать позу, при которой участок с пересаженными волосами не будет ни к чему касаться.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          type: [ 'calendar', 'day-two' ],
          body: [
            {
              tag: 'p',
              content: 'На второй день после операции <strong>снимается повязка</strong> с донорской зоны, врач делает осмотр.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          type: [ 'calendar', 'day-three' ],
          body: [
            {
              tag: 'p',
              content: '<strong>Мыть голову</strong> мы советуем уже со второго, максимум третьего дня. В первый раз мы можем помочь с мытьем головы, провести консультацию, как делать это в дальнейшем.Мыть голову мы советуем уже со второго, максимум третьего дня. В первый раз мы можем помочь с мытьем головы, провести консультацию, как делать это в дальнейшем.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(days, {'horizontal': true})
    p.appear В первые дни, если появится болевая реакция, 
      strong принимают анельгетики
      | . Но обычно пациент обходится без них, так как боли не наблюдается.
    p.appear Чтобы не усиливать приток крови к прооперированным участкам, 
      strong не растягивать шов
      | , первые две недели не рекомендуется заниматься активными физическими упражнениями, силовыми нагрузками.
    h2.appear Когда проходит процесс восстановления волос и роста?
    p.appear Пересаженные волосы первые 2-4 недели отрастают. 
      strong После этого выпадают
      | , потому что волосяные луковицы переходят в фазу сна. Спустя 
      strong 3-4 месяца
      |  вновь 
      strong восстанавливается рост волос
      | , которые уже не чувствительны к разрушению гормонами. 
      strong Полный эффект
      |  можно будет наблюдать спустя 
      strong 8-12 месяцев
      | . Рост будет проходить в соответствии с привычными фазами активности фолликулов. Новые волосы ничем не будут отличаться от остальных по структуре, скорости отрастания, оттенку.
    h2.appear Можно ли будет проводить повторные операции?
    p.appear Случается, что облысение слишком обширное, поэтому за раз восстановить волосы не получится. В таких случаях проводят повторные операции, которые 
      strong допускается делать через 6-8 месяцев
      |  от после первой. Именно за этот срок полностью формируется послеоперационный рубец. Он необходим и во время следующей трансплантации: хирург иссекает его вместе с лоскутом с графтами. Это нужно, чтобы и после повторных операций в донорской зоне оставался всего один рубец.
