extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/table/table
include /blocks/prices/prices
include /blocks/method-stage/method-stage
include /blocks/comparison/comparison

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Методика' ], current: 'Сравнение методов' })
  +pageSection: .container: .content
    h1.appear Сравнение методов
    +pageSubsection
      p.appear Каждая операция по трансплантации включает два этапа: на первом работают с донорским участком, из которого извлекают фолликулы, а на втором делают непосредственно вживление.
      p.appear В зависимости от проведения этапов, различают три методики:
      +blockMarked({ color: 'green' }): +textMarked({ tag: 'ul' }).list-marked
        li.appear FUT — предполагает использование скальпеля для вырезания кожного лоскута и наложение швов на кожу.
        li.appear FUE — швы в данном случае не накладываются, кожные полоски не вырезаются, но сам способ получения фолликулов предполагает использование пробойника, который высверливает волосяные луковицы в донорском участке.
    +pageSubsection
      +table.appear
        +tr
          +td(style='vertical-align: top'): +textMarked({ 'bold': true }) Методы пересадки волос
          +th
            | Strip-метод
            +img('/images/metody/fue/strip.svg')(alt='Метод Strip' style='margin: .5rem auto 0' width='120')
          +th
            | FUE
            +img('/images/metody/fue/fue.svg')(alt='Метод FUE' style='margin: .5rem auto 0' width='120')
        +tr
          +td Инструменты и технология
          +td Иссекается кожный лоскут, из которого выделяются графты. Вживление происходит в каналы, сделанные микролезвиями.
          +td Делаются круглые отверстия с помощью отбойника. Полочают пучки волос способом высверливания. Вживляют точно так же — через каналы, сделанные скальпелем.
        +tr
          +td Последствия отбора фолликулов
          +td В донорской зоне остаётся линейный рубец, который может быть заметен при короткой стрижке.
          +td Остаётся определённое количество округлых шрамов. При короткой стрижке рубцы могут быть заметны.
        +tr
          +td Последствия вживления
          +td(colspan=2) Видимые шрамы отсутствуют, достигается хорошая густота и естественный угол роста волос.
        +tr
          +td Возможность появляться в обществе, спустя
          +td Через неделю
          +td Через 3 дня
        +tr
          +td Занятия спортом, через
          +td Через 2 недели
          +td Через неделю
        +tr
          +td Густота после пересадки
          +td 30-40 фолликулов/см<sup>2</sup>
          +td 40-60 фолликулов/см<sup>2</sup>
        +tr
          +td Угол роста волос
          +td(colspan=2).text-align--center Естественный
        +tr
          +td Повторная операция (при большой зоне алопеции)
          +td Через 6 месяцев
          +td Через 3 дня
        +tr
          +td Показатель приживаемости
          +td 75%-90%
          +td 85%-90%
  +pageSection({ 'color-fill': 'blue', 'padding': 'y' }): .container: .content
    h2.appear Сравнение методов FUE и FUT
    +pageSubsection
      +grid({ 'padding': 'y', 'justify': 'center', 'align': 'center', 'nopadding':true })
        +cell({ l: 5, m: 5, xs: 12 }).appear
          p.text-align--center
            +textMarked({  big: true }) FUT
            br
            | (Follicular Unit Transplantation)
          +img('/images/metody/sravnenie/fut.svg')(alt='метод FUT' style='margin: 0.5rem auto 0')
        +cell({ l: 2, m: 2, xs: 8 }).appear: +img('/images/metody/sravnenie/fut-or-fue.svg')(alt='FUT или FUE')
        +cell({ l: 5, m: 5, xs: 12 }).appear
          p.text-align--center
            +textMarked({  big: true }) FUT
            br
            | (Follicular Unit Transplantation)
          +img('/images/metody/sravnenie/fue.svg')(alt='метод FUE' style='margin: .5rem auto 0')
  +pageSection: .container: .content
    +pageSubsection
      +comparison('FUT практикуют при небольших объемах трансплантации, до 2000 графтов.','FUE подходит при восстановлении волос на больших участках зон алопеции.')
      p.appear.text-align--center Иногда методики могут сочетать, чтобы добиться оптимальных результатов.
    +pageSubsection
      +comparison('FUT проводится быстрее, всего за 4-8 часов.', 'Операция по методике FUE занимает 4-6 часов.')
      p.appear.text-align--center Получать фолликулы лоскутным методом проще: достать из отделенного лоскута кожи их легче, чем извлекать группами с помощью вращающегося инструмента.
    +pageSubsection
      p.appear Также при FUT повреждения графтов будут минимальными. Невысокая и стоимость самой операции.
      +blockMarked({ color: 'green' }).appear: +textMarked({ tag: 'p', big: true }) Выбирая FUE, удается добиться меньшей травматичности, исключить образование заметных рубцов на коже, получить возможность отбирать волосяные луковицы с любых участков тела. Также этот способ способствует быстрому восстановлению участков кожи и росту волос.
  +pageSection: .container: .content
    h2.appear История возникновения методов
    p.appear Методика FUT появилась в 1990-х годах. На тот период ее приняли за основной стандарт в пересадке волос. В ходе операции волосяные луковицы, полученные из кожного лоскута, трансплантировали на безволосые участки.  
    p.appear Хотя результат и был приближен к естественному, но не настолько совершенен. Поэтому в конце 90-х годов стали практиковать способ FUE, при котором полосочка кожи уже не вырезалась, а фолликулярные группы (графты) извлекались прямо с кожи головы, после чего пересаживались. 
