extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/celebrity/celebrity
include /blocks/prices/prices
include /blocks/method-stage/method-stage

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Методика' ], current: 'Наши инновации' })
  +pageSection: .container: .content
    h1.appear Наши инновации
    -
      const stages = [
        {
          title: 'Уникальная методика обезболивания',
          body: [
            {
              tag: 'p',
              content: 'Используем оригинальную методику местной анестезии. Она позволяет исключить осложнения, избежать послеоперационных отеков лица. В результате реабилитация после трансплантации проходит более легко. А улучшенная микроциркуляция способствует быстрому заживлению участков отбора и пересадки.',
            },
            {
              tag: 'p',
              content: 'Вводим раствор обезболивающих препаратов, у которых исключена токсичность, вредное воздействие, отсутствуют аллергические реакции и их последствия, побочные явления.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Улучшенная приживаемость графтов',
          body: [
            {
              tag: 'p',
              content: 'Мы активно применяем на практике программы PRP-лечения. В итоге донорские графты лучше приживаются, и попутно активизируется рост остальных волос.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Новейшие технологии',
          body: [
            {
              tag: 'p',
              content: 'Для пересадок применяем прогрессивное оборудование, новейшие технологии, разрешенные Международной организацией хирургического восстановления волос ISHRS.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Минимальные потери фолликул',
          body: [
            {
              tag: 'p',
              content: 'При трансплантации исключена потеря волосяных луковиц, поскольку мы работаем с бригадой ассистентов и используем стереомикроскопы.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Гарантированные результаты пересадки волос',
          body: [
            {
              tag: 'p',
              content: 'После пересадки методом FUE приживаемость составляет от 85 до 95%, наблюдается активный рост. Кроме договора на оказание медицинских услуг, мы даем письменную гарантию, что пересаженные волосы будут расти всю жизнь.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Специальные модификации инструментов',
          body: [
            {
              tag: 'p',
              content: 'Чтобы контролировать глубину микроотверстий и не оставлять углублений в виде «ямочек», используем особые модификации игл, которые не проникают в кожу более, чем на 4 мм. Эти инструменты обеспечивают плотный контакт между стенками отверстий и фолликулами, что ускоряет заживление участков: отсутствует травматизм и не возникает рубцов.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Высокая плотность волос',
          body: [
            {
              tag: 'p',
              content: 'Техника, которую мы практикуем, позволяет делать микроотверстия рядом, не повреждать существующие волосяные луковицы. В результате получается высокая густота пересаженных волос: до 60 единиц/см2 вместо стандартных 25.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
