extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'О клинике'})
  +pageSection: .container: .content
    h1 О клинике
    +pageSubsection
      -
        const pageNav = [
          {'name': 'История', 'href': '#'},
          {'name': 'Преимущества', 'href': '#'},
          {'name': 'Цифры', 'href': '#'},
          {'name': 'Лицензия', 'href': '#'},
          {'name': 'Как выбрать доктора?', 'href': '#'},
          {'name': 'Услуги', 'href': '#'},
          {'name': 'Расположение', 'href': '#'},
        ]
      +pageNavigation(pageNav, { button: false })
    +pageSubsection: +textMarked({ tag: 'p', 'big': true }).appear Клиника пересадки волос является структурным подразделением многопрофильной клиники эстетической медицины 
      strong Medall
      | .
  +pageSection: .container: .content
    h2.appear История
    p.appear Клиника была 
      strong основана французской компанией
      |  «Challeng’Hair International groupe», как филиал в Санкт-Петербурге. После кризиса 2008 года французская сторона ушла с российского рынка и клиника была приобретена группой клиник «Медалл». Наши хирурги и медицинские сёстры проходили обучение в 
      strong Париже и Барселоне
      | . Врачи центра занимаются только пересадкой волос 
      strong с 2002 года!
    p.appear За это время мы прошли путь от маленького европейского филиала до 
      strong 5-ти этажного медицинского центра
      |  с двумя операционными, новейшим оборудованием!
  +pageSection({ 'color-fill': true, 'padding': ['top', 'bottom'] }): .container: .content
    +blockMarked({ 'color': 'white', 'padding': 'big' }).appear
      h2.appear Преимущества лечения в клинике Медалл
      ul.list-marked
        li.appear
          strong Методика и опыт.
          |  Мы практикуем самые передовые и эффективные способы пересадки волос — методы FUE и FUT. Специалисты центра и хирурги по пересадке волос проходили обучение и стажировались в клиниках Франции и Испании.
        li.appear
          strong Письменная гарантия результата.
          |  Заключаем с пациентом договор, в котором прописаны юридическая гарантия результата
        li.appear
          strong Конфиденциальность.
          |  В договоре с пациентом прописаны обязательства о неразглашении медицинской тайны. Строго придерживаемся конфиденциальности. Без письменного разрешения пациента фотографии не выставляются на страницах сайта и не проводятся видеосъёмки.
        li.appear
          strong Лицензия.
          |  Имеем лицензию по пластической хирургии. Наши врачи — лицензированные пластические хирурги.
        li.appear
          strong Квалифицированный персонал.
          |  Ведущий врач-трансплантолог проводит пересадку с 2002 года. Подготовка медицинского персонала соответствует Международным стандартам проведения процедуры пересадки волос.
        li.appear
          strong Без скрытых платажей.
          |  В стоимость заложены все услуги, отсутствуют скрытые платежи и переплаты.
  +pageSection: .container: .content
    h2.appear Цифры
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({l: 4, s: 6, xs: 12}).appear: +question('4000+ успешных операций') За время работы клиники проведено несколько тысяч операций различной сложности.
      +cell({l: 4, s: 6, xs: 12}).appear: +question('20 лет опыта') Наши врачи занимаются исключительно пересадкой волос с 2002 года.
      +cell({l: 4, s: 6, xs: 12}).appear: +question('10 специалистов') Профессиональная бригада, состоящая из хирурга по пересадке волос и 9 медицинских сестер.
  +pageSection: .container: .content
    h2.appear Широкий спектр услуг по восстановлению волос
    +grid({ tag: 'ul', 'padding': 'y', 'par-like': true }).list-marked
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Трансплантация волос при мужском типе потери волос
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Трансплантация волос при женском типе потери волос
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear Трансплантация волос в рубцовую ткань (ожоги, травмы)
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Трансплантация волос на брови
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Трансплантация волос на бороду и усы
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Трансплантация волос на различные участки тела
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear Коррекция рубцов после предыдущих операций по пересадке волос, посттравматических рубцов волосистой части головы
      +cell({ tag: 'li', l: 4, s: 6, xs: 12 }).appear: a(href='/') Плазмотерапия PRP
  +pageSection: .container: .content
    h2.appear Расположение
    +grid({'par-like': true, 'padding': 'y'})
      +cell({l: 4, s: 6, xs: 12}).appear
        p: +img({
          name: 'building',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [3],
          path: '/images/o-klinike/',
        })(alt='Здание клиники Medall' title='Здание клиники Medall')
        h3 Отдельное здание
        p Клиника располагается в пятиэтажном здании с двумя операционными.
      +cell({l: 4, s: 6, xs: 12}).appear
        p: +img({
          name: 'parking',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2],
          path: '/images/o-klinike/',
        })(alt='Парковка' title='Парковка')
        h3 Парковка
        p Перед зданием, а также напротив через Левашовский пр. есть парковочные места.
      +cell({l: 4, s: 6, xs: 12}).appear
        p <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8f508fe1e0653daabb8a22697635f5b8c84ce7ca414c978f7f229ea641825f5&amp;width=100%25&amp;height=287&amp;lang=ru_RU&amp;scroll=true"></script>
        h3 Проезд
        p Клиника находится в 10 минутах ходьбы от м. Чкаловская (650 м).
  +pageSection: .container: .content
    h2.appear Лицензия
    +pageSubsection.appear: +blockMarked({ 'color': 'blue' }): +textMarked({ 'tag': 'p' }) Мы работаем в соответствии с требованиями местного законодательства, имеем все необходимые разрешения и лицензию ЛО-78-01-009984.
  +pageSection: .container: .content
    h2.appear Почему важно правильно выбрать доктора?
    p.appear Результат трансплантации напрямую зависит 
      strong от квалификационного уровня и опыта врача
      | . За выбором клиники стоит конкретная кандидатура доктора. Его знания и навыки должны быть во благо вашего здоровья и безопасности.
    p.appear Иногда 
      strong нечестная реклама
      |  преподносит трансплантацию, как 
      strong лёгкую косметическую процедуру
      | , которую способны выполнить трихологи.
    p.appear Но 
      strong пересадка волос — хирургическая операция
      | , вмешательство в человеческую физиологию и анатомию, хотя и малотравматичное и с минимальным объемом. Проводить ее может только 
      strong хирург-транплантолог
      | .
  +pageSection: .container: .content
    h2.appear Как сделать правильный выбор?
    -
      const advantages = [
        {
          title: 'Выбирайте не клинику, а доктора',
        },
        {
          title: 'Принимайте во внимание опыт работы врача, а не имя клиники',
        },
        {
          title: 'Оцените реальные результаты работы врача',
        },
      ]
    +listAdvantages(advantages, { 'tag': 'ol' })
