extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/review/review

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Результаты'],current:'Отзывы'})
  +pageSection: .container: .content
    h1 Отзывы о пересадке волос
    +pageSubsection: a(href='#feedback-form').btn Оставить отзыв
  +pageSection: .container: .content
    -
      const reviews = [
        {
          title: 'Результат превзошел все ожидания!',
          body: {tag: 'p', content: 'Здравствуйте, хочется поблагодарить Боярскую Светлану Валерьевну за проделанную работу. Результат превзошел все ожидания! Муж долго не хотел,откладывал, но все таки уступил моей просьбе, прошел год и я до сих пор слышу от него слова благодарности, за то, что я его уговорила. Такое ощущение , что лысины никогда и не было, кажется, что всегда так и было и только фотографии напоминают об обратном. Огромное спасибо Светлана Валерьевна.'},
          footer: 'Алена, 01 Сентябрь 2016',
        },
        {
          title: 'Консультация в этой клинике показалась мне наиболее профессиональной.',
          body: {tag: 'p', content: 'Долго думал, выбирал клинику, выбирал врачей. Сайты везде похожи и решить, где пересадить волосы, было трудно. Поэтому был на консультации в 2-х клиниках в Москве и в 2-х клиниках в Санкт-Петербурге. Консультация в этой клинике у Боярской С.В. показалась мне наиболее профессиональной. Информация была предоставлена не только об операции, но и о лекарствах, которые применяют при лечении выпадения волос, их плюсы и минусы. Операцией доволен, почувствовал только первый укол когда делали обезболивание. Пересадили 2930 графтов. Отеков не было. Результат очень хороший. Все говорят, что скинул 10 лет (в том, что сделал операцию, не признаюсь, говорю, что втирал чеснок:)))'},
          footer: 'Игорь, 01 Сентябрь 2016',
        },
      ]
    each i in [1, 2]
      each review in reviews
        - review.settings = { background: true }
        +review(review).appear
  +pageSection: .container: .content: include /blocks/pagination/pagination
  +pageSection({ 'color-fill': 'light', 'padding': [ 'top', 'bottom', 'small' ], 'no-margin': 'bottom' }): .container: .content
    +blockMarked({ tag: 'form', color: 'white' }).form.appear
      h2.appear Оставить отзыв
      +grid({ 'padding': 'y', 'par-like': true })
        +cell({ l: 6, m: 6, xs: 12 }): +formInput({ type: 'text', id: 'review-form__name', name: 'name', label: 'Представьтесь' }).appear
        +cell({ l: 6, m: 6, xs: 12 }): +formInput({ type: 'email', id: 'review-form__email', name: 'email', label: 'E-mail' }).appear
        +cell({ xs: 12 }): +formInput({ type: 'textarea', id: 'review-form__message', name: 'message', label: 'Отзыв' }).appear
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): button(type='submit').btn.appear Отправить отзыв
