extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/countdown/countdown
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Цены'],current:'Кредит'})
  +pageSection: .container: .content
    h1.text-align--center Спасибо за отзыв
    +pageSubsection
      p.appear.text-align--center Отзыв появится на сайте в течение двух рабочих дней.
      p.appear.text-align--center Посмотрите, чем живет клиника, заходите в нашу группу
    +pageSubsection
      +grid({ 'padding': 'y', 'par-like': true, 'justify': 'center' }): +cell({ l: 4, m: 6, s: 8, xs: 12 }): +img('https://dummyimage.com/600x800&text=Виджет+социальной+сети')
