extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/stages/stages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/prices/prices
include /blocks/table/table
include /blocks/question/question

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос на лицо' })
  +pageSection: .container: .content
    h1.appear Пересадка волос на лицо
    p.appear Пересадка волос на лицо проводится в область бровей, усов, бороды. С помощью процедуры можно решить проблемы, когда растительность в этих участках:
    ul.list-marked(class != gridClasses({ 'par-like': true, 'padding': 'y' }))
      li.appear(class != cellClasses({ m: 6, xs: 12 })) растет ассиметрично
      li.appear(class != cellClasses({ m: 6, xs: 12 })) имеет неправильную форму, контур
      li.appear(class != cellClasses({ m: 6, xs: 12 })) частично или полностью отсутствует
      li.appear(class != cellClasses({ m: 6, xs: 12 })) лишена объема и густоты
      li.appear(class != cellClasses({ m: 6, xs: 12 })) не растет в участках шрамов, травм, ожогов
    h2 Отличия пересадки волос на лицо от пересадки волос на голову
    +blockMarked({ color: 'blue' }).appear
      ul.list-marked
        li.appear Трансплантацию волос 
          strong на брови
          |  делают из донорских фолликулов, расположенных 
          strong в нижнем участке шеи, за ушами
          | . В этих зонах волоски растут достаточно плотные, 
          strong обладают необходимой толщиной
          |  для создания естественного результата.
        li.appear На 
          strong бороду и усы
          |  волосы пересаживают обычно 
          strong с зоны подбородка
          | , поскольку волосы, взятые с затылка, отличаются по диаметру и структуре от тех, что растут на бороде, что не позволит придать ей натуральный вид. Если же в подбородочном участке графтов окажется недостаточно, тогда их могут отбирать с области груди.
    h2 Особенности пересадки бровей
    +grid({ 'padding-y': true, 'justify': 'center', 'par-like': true })
      +cell({ l: 6, xs: 12 })
        p.appear Процедуру проводят по одному из трех методов:
        h3.appear Методика FUT
        p.appear Суть заключается в вырезании кожного лоскута из зоны затылка, который делят на фрагменты, каждый из которых пересаживают в предварительно намеченные участки. У операции есть недостатки, и она считается устаревшей, но ее могут практиковать в погоне за дешевизной. Цена на пересадку волос на лицо этим способом действительно существенно отличается от других методов.
        h3.appear Методика FUE
        p.appear Появилась как модификация предыдущей. Позволяет минимизировать травматичность, и заключается уже в пересадке не лоскутов кожи, а фолликулярных групп, полученных с помощью пробойника (вращающегося инструмента). Затем материал также делят на фрагменты, после чего пересаживают.
      +cell({ l: 6, m: 6, s: 6, xs: 12 }).appear: .offset-border: +img({
        name: 'osobennosti-peresadki-brovey',
        formats: [
            {ext: 'jpg', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [ 2, 3 ],
        path: '/images/uslugi/peresadka-volos-na-litso/',
      })(alt='Особенности пересадки бровей' style='display: block').appear
    h2.appear Пересадка в область бровей проходит в несколько этапов
    -
      const stages1 = [
        {
          title: 'Консультация',
          body: [
            {
              tag: 'p',
              content: 'Специалист нашей клиники определяется с площадью восстановления, будущей формой бровей, количеством графтов. На этом этапе также проводятся необходимые анализы, выявляются противопоказания, уточняется полная стоимость операции.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Подготовка донорского материала',
          body: [
            {
              tag: 'p',
              content: 'Для трансплантации берем только по одному фолликулу, чтобы не нарушить естественный вид бровей и придать единое направление роста. Обрабатываем графты специальными средствами, улучшающими приживаемость.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Пересадка',
          body: [
            {
              tag: 'p',
              content: 'Пересаживаем имплантером, соблюдая нужный угол.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages1, {'tag': 'ol', 'horizontal': true})
    h2.appear Особенности пересадки бороды и усов
    +grid({ 'padding-y': true, 'justify': 'center', 'par-like': true })
      +cell({ l: 6, xs: 12 })
        p.appear Для трансплантации волос на лицо у мужчин применяют те же методы, что и у женщин при восстановлении бровей.
        p.appear В качестве способов трансплантации практикуют:
        ul.list-marked
          li.appear
            h3 Последовательный
            p Включает несколько этапов. На первом трансплантолог формирует крошечные канальцы, а на последующем помещает в них донорские фолликулы.
          li.appear
            h3 Вживление в одно движение
            p Внедрение графта проводится сразу же в ходе микропрокола.
      +cell({ l: 6, m: 6, s: 6, xs: 12 }).appear: .offset-border: +img({
        name: 'osobennosti-peresadki-borody-i-usov',
        formats: [
            {ext: 'jpg', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [ 2, 3 ],
        path: '/images/uslugi/peresadka-volos-na-litso/',
      })(alt='Особенности пересадки бороды и усов' style='display: block').appear
    h2.appear Основные этапы услуги
    -
      const stages2 = [
        {
          title: 'Консультация',
          body: [
            {
              tag: 'p',
              content: 'Пациент сообщает свои пожелания, специалист моделирует форму бороды, усов, подбирает метод пересадки, определяется с объемом трансплантации, исследует потенциал донорских зон, сообщает полную стоимость услуги.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Примерка',
          body: [
            {
              tag: 'p',
              content: 'Проводим примерку, в ходе которой прорисовываются контуры будущей бороды и усов, согласовывается их вид с типом лица пациента.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Подготавливаем графты',
          body: [
            {
              tag: 'p',
              content: 'Отбираем их, практикуя техники «нон-шейвинг» и «шейвинг-лайн»: в первом случае фолликулы получают без бритья волос, в исходной длине, а во втором — донорский участок закрывают, и он остается не виден.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
        {
          title: 'Проводим трансплантацию',
          body: [
            {
              tag: 'p',
              content: 'Вводим местные обезболивающие препараты, обеспечивающие абсолютную безопасность и безболезненность процедуры. Извлекаем волосяные луковицы, обрабатываем их для лучшей приживаемости, сортируем, подсчитываем количество. После этого приступаем к вживлению: по два графта, что дает натуральный вид. Процедуру проводим с помощью специального инструмента — имплантера.',
            },
          ],
          settings: {sizes: {xs: 12}}
        },
      ]
    +listAdvantages(stages2, {'tag': 'ol', 'horizontal': true})
    h2.appear Противопоказания
    ul.list-marked.list-marked--simple
      li.appear тотальная алопеция: донорского материала при этом типе облысения будет недостаточно, а также высок риск, что он не приживется;
      li.appear сахарный диабет: при этом заболевании в сосудах нарушается циркуляция крови, из-за чего волосы плохо приживаются, а участки вживления не затягиваются;
      li.appear заболеваний кожи: воспаления, инфекции и прочие патологии в зоне пересадки нужно вначале вылечить, а потом уже приступать к трансплантации;
      li.appear аллергии на местные анестетики, что делает обезболивание, а, следовательно, и операцию невозможными;
      li.appear нарушения свертываемости крови, при которой может возникнуть кровоточивость, которую не удастся сразу остановить;
      li.appear нервных заболеваний, сопровождающихся выдергиванием волос в разных зонах, что сведет на нет результаты пересадки
    h2.appear Результаты: фото до и после
    +grid({'padding-y': true})
      -
        const results = [
          {
            title: 'Трансплантировано 2000 графтов, метод FUE',
            subtitle: 'Мужчина, 36 лет',
            info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
            images: [
              {
                name: 'before-after-1-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '1b',
              },
              {
                name: 'before-after-1-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
          {
            title: 'Трансплантировано 1700 графтов, метод FUE',
            subtitle: 'Мужчина, 34 года',
            info: 'Рубцовая алопеция правой теменной области.',
            images: [
              {
                name: 'before-after-2-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '2A',
              },
              {
                name: 'before-after-2-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
        ]
      each res in results
        +cell({m: 6, xs: 12}).appear
          +result(res)
