extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/stages/stages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/prices/prices
include /blocks/table/table
include /blocks/question/question

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос на шрамы' })
  +pageSection: .container: .content
    h1.appear Пересадка волос на шрамы
    +grid({ 'padding-y': true, 'justify': 'center', 'par-like': true })
      +cell({ l: 6, xs: 12 })
        +pageSubsection
          p.appear Шрамы неизбежно появляются на лице, коже головы и других частях тела после 
            strong ожогов, травм, болезней, операций
            | , в том числе и некачественно проведенных. Это происходит из-за того, что в зоне повреждения развивается рубцовая ткань, бедная на кровеносные сосуды и провоцирующая отмирание волосяных луковиц.
          p.appear Если рубцы появились на голове или участке подбородка, бровей, ресниц, то волосы в этих участках расти не будут, 
            strong создавая психологический дискомфорт
            |  из-за нарушенной эстетики. Тогда на помощь приходит пересадка волос на шрам — методика, которой мы владеем в совершенстве.
      +cell({ l: 6, m: 6, s: 6, xs: 12 }).appear: .offset-border: +img({
          name: 'peresadka-volos-na-shramy',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-na-shramy/',
        })(alt='Пересадка волос на бороду' style='display: block').appear
  +pageSection(): .container: .content
    h2.appear Преимущества трансплантации
    ul.list-marked.list-marked--simple
      li.appear В участке забора графтов и зоне пересадки 
        strong видимых следов операции не остается
        | .
      li.appear Возможность 
        strong раз и навсегда
        |  решить неэстетичные проблемы внешности, связанные с рубцовой тканью.
      li.appear
        strong Минимальный срок
        |  восстановления (до 5 дней).
      li.appear
        strong Полная безболезненность и безопасность
        | : используем анестетики местного действия, которые отличаются высоким качеством, сертифицированы, прошли испытание в исследовательских лабораториях.
      li.appear
        strong Быстрое решение проблемы
        | : проводим пересадку за 1-6 часов.
      li.appear
        strong Максимально натуральный вид
        | : придает естественную густоту, направление роста.
      li.appear
        strong Минимальная травматичность
        | : используем микроинструменты, отверстия от которых затягиваются за пару дней.
  +pageSection(): .container: .content
    h2.appear Трансплантация волос на шрам поможет:
    +pageSubsection
        ul.list-marked.list-marked--check
          li.appear восстановить усы, бороду: вернуть растительность в те участки подбородка, где она отсутствовала;
          li.appear загустить брови в участках поврежденной кожи;
          li.appear убрать или скрыть следы от ветряной оспы, постакне, рубцовой алопеции, ожогов, лучевой терапии, трепанации черепа, пластических операций;
          li.appear восстановить ресницы, если фолликулы прежних повреждены;
          li.appear пвернуть шикарную шевелюру, пересадив графты в область рубцовой ткани.
  +pageSection(): .container: .content
    h2.appear Основные способы пересадки
    +pageSubsection
      +blockMarked({ color: 'blue' }).appear: +grid({ 'padding': 'y' })
        +cell({ l: 3, m: 4, xs: 12 }): img(src='/images/metodika/strip.svg' alt='STRIP-метод' title='STRIP-метод' style='padding: 1rem; background-color: #fff')
        +cell({ l: 9, m: 8, xs: 12 })
          h3 STRIP-метод
          p Метод заключается в пересадке кусочков кожи с донорских участков на восстанавливаемые. По краям лоскутки стягивают, накладывают швы, следы от которых все же остаются. Поэтому методику выбирают те, кто не планирует носить короткие стрижки.
    +pageSubsection
      +blockMarked({ color: 'blue' }).appear: +grid({ 'padding': 'y' })
        +cell({ l: 3, m: 4, xs: 12 }): img(src='/images/metodika/hfe.svg' alt='Метод HFE' title='Метод HFE' style='padding: 1rem; background-color: #fff')
        +cell({ l: 9, m: 8, xs: 12 })
          h3 Метод FUE
          p Данный метод очень щадящий, не оставляет следов вмешательсва после операции. Для этого трансплантолог использует микроинструменты. Донорский материал берут панчами диаметром 0,7 — 0, 75 мм, а затем внедряют в небольшие надрезы, сделанные непосредственно на шраме. Длительность вмешательства от 1 до 5 часов.
    +pageSubsection
      +blockMarked({ color: 'blue' }).appear: +grid({ 'padding': 'y' })
        +cell({ l: 3, m: 4, xs: 12 }): img(src='/images/metodika/hfe.svg' alt='Метод HFE' title='Метод HFE' style='padding: 1rem; background-color: #fff')
        +cell({ l: 9, m: 8, xs: 12 })
          h3 Метод HFE
          p Отличается высокой эффективностью при минимуме травматичности. Применяется для трансплантации волос даже на рубцовую ткань лица: актуальное решение для мужчин, желающих привести усы, бакенбарды и бороду в идеальный вид. 
          p Процедура позволяет добиться естественного угла наклона роста волос, приблизить волосяной покров к натуральному виду. Это стало возможно за счет использования инструментов крошечного диаметра, с помощью которых фолликулы извлекаются, а затем, через такой же микропрокол, внедряются на новый участок. 
  +pageSection({ background: [true, 'questions-small'], 'color-fill': 'light-blue' }): .container: .content
    h2.appear Часто задаваемые вопросы
    +pageSubsection
      +question('Назовите сроки приживления и восстановления роста').appear
        p Новые волоски приживаются в течение первого месяца, рост волос восстанавливается спустя месяц или чуть больше.
      +question('Назовите противопоказания').appear
        p Сахарный диабет, нарушение свертываемости крови, онкология, обострение хронических заболеваний, трихотилломания (навязчивая склонность к выдергиванию бровей), болезни кожи, тотальная алопеция, воспалительные процессы, аллергия на обезболивающие препараты.
      +question('Будет ли отечность, покраснение кожи на месте пересадки?').appear
        p Да, такое может быть: небольшое покраснение и незначительный отек. Обычно их интенсивность исчезает спустя несколько дней. Для этого мы прописываем для каждого пациента специальную схему восстановления.
    +pageSubsection: a(href='/').btn.btn--secondary.appear Задать вопрос
