extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/prices/prices

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос женщинам' })
  +pageSection: .container: .content
    h1.appear Пересадка волос женщинам
  +pageSection: .container: .content
    +grid({ 'padding-y': true }).appear
      +cell({ l: 6, xs: 12 }).appear
        +pageSubsection: p.appear С психологической точки зрения женщинам из-за выпадения волос приходится тяжелее, чем мужчинам. Вынужденная потребность держать некрасивую проблему в секрете вызвана не только общепринятыми стандартами о красивых ухоженных волосах у женщин, но и требованиями к внешнему виду при приеме на перспективное рабочее место и успешность.
        +pageSubsection: +blockMarked({ border: true }): +textMarked({ 'tag': 'p', 'centered': true }).appear Выпадающие волосы вызывают сильные переживания, снижают уверенность в себе, заставляют постоянно придумывать новые способы маскировки.
      +cell({ l: 6, xs: 12 }).appear: .offset-border: +img({
          name: 'peresadka-volos-zhenshchinam',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-zhenshchinam/',
        })(alt='Пересадка волос женщинам' style='display: block')
  +pageSection(): .container: .content
    h2.appear С какими видами облысения сталкиваются женщины?
    +pageSubsection: +blockMarked({ 'color': 'green' }).appear
      +grid({ 'padding': 'y' })
        +cell({ l:3, m: 4, s: 8, xs: 12 }): +img({
          name: 'zhenskiy-tip-oblyseniya',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-zhenshchinam/',
        })(alt='Женский тип облысения' style='display: block')
        +cell({ l:9, m: 8, xs: 12 })
          h3 Женский тип облысения
          p Пусковыми факторами облысения становятся гормональные изменения в организме: беременность и период после родов, климакс, нарушения в работе эндокринной системы, гормоны стресса.Повышается выпадение волос после химических завивках, частом окрашивании, стягивании прядей в тугие косички, себореи, дерматите, воздействии антидепрессантов, интоксикации.
          p В большинстве случаев у женщин происходит постепенное и равномерное выпадение волос по всех поверхности волосистой части головы (начинается диффузная алопеция). Причинами этой проблемы могут быть: недостаток железа, белка в организме, болезни щитовидной железы, период после химиотерапии, прием антибиотиков, инфекционные болезни. Но, часто у женщин, также как и у мужчин, встречается андрогенетическая алопеция, характеризующаяся истончением и выпадением волос в лобно-теменных макушечной областях. У женщин андрогенетическая алопеция определяется по шкале Людвига. Именно в этом случае проводится трансплантация волос. В качестве донорских участков для операции используем собственные волосы из височных и затылочной областей, в которых волосяные фолликулы нечувствительны к гормонам.
    +pageSubsection: +blockMarked({ 'color': 'green' }).appear
      +grid({ 'padding': 'y' })
        +cell({ l:3, m: 4, s: 8, xs: 12 }): +img({
          name: 'muzhskoy-tip-oblyseniya',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-zhenshchinam/',
        })(alt='Мужской тип облысения' style='display: block')
        +cell({ l:9, m: 8, xs: 12 })
          h3 Мужской тип облысения
          p В данном случае выпадение волос происходит по причине андрогенетической алопеции. Волосяные фолликулы отмирают из-за воздействия гормонов. Характерными признаками такого облысения будут поражение макушечной и лобно-теменной зоны, начинающееся с изменения структуры волос, истончения, замедления роста и выпадения в большом количестве.
          p Облысение по мужскому — прямое показание для пересадки волос. В качестве донорских участков для операции используют собственные волосы из височных и затылочных участков, на фолликулы которых гормоны не действуют.
  +pageSection({ 'color-fill': 'light', 'padding': [ 'top', 'bottom', 'small' ] }): .container: .content
    h2.appear Степени облысения
    +grid({ 'padding': 'y', 'par-like': true })
      +cell({ l: 6, xs: 12 }).appear: +blockMarked({ 'color': 'white' })
        p Поредение в области центрального пробора
        +grid({ 'par-like': true, 'padding': ['y', 'small'], 'justify': 'center' }).text-align--center
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-1.svg' alt='Поредение в области центрального пробора, степень 1')
            p: small Степень 1
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-2.svg' alt='Поредение в области центрального пробора, степень 2')
            p: small Степень 2
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-3.svg' alt='Поредение в области центрального пробора, степень 3')
            p: small Степень 3
      +cell({ l: 6, xs: 12 }).appear: +blockMarked({ 'color': 'white' })
        p Поредение в области бокового пробора
        +grid({ 'par-like': true, 'padding': ['y', 'small'], 'justify': 'center' }).text-align--center
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-1.svg' alt='Поредение в области бокового пробора, степень 1')
            p: small Степень 1
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-2.svg' alt='Поредение в области бокового пробора, степень 2')
            p: small Степень 2
          +cell({ m: 4, xs: 6 })
            p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-3.svg' alt='Поредение в области бокового пробора, степень 3')
            p: small Степень 3
  +pageSection({ 'color-fill': true, 'no-margin': true, 'padding': [ 'top', 'bottom', 'small' ] }): .container: .content
    +pageSubsection: h2.appear.color--white Пересадка волос женщинам помогает решить проблемы:
    +pageSubsection: +blockMarked({ 'color': 'white' })
      +grid({ padding: 'y' })
        +cell({ l: 8, xs: 12 })
          ul.list-marked
            li.appear Вернуть волосы. Восстановить объем волос в теменных областях при андрогенетической алопеции.
            li.appear Скорректировать брови. Если вы хотите широкие густые брови, при недостатке волосков их можно пересадить с головы, чтобы загустить и добиться желаемой формы.
            li.appear Скрыть рубцы. Если женщина перенесла ожоги, травмы, неудачные пластические операции, то на их месте формируется соединительная ткань, которой зарубцовываются повреждения, нарушая и линию роста волос.
            li.appear Исправить высокую линию роста волос. Пересадка волос на лоб женщины позволяет вернуть облику естественность, гармоничность, уравновесить пропорции лица, скорректировать форму лобной линии.
        +cell({ l: 4, xs: 12 }).appear: img(src='/images/uslugi/peresadka-volos-zhenshchinam/slider-14.jpg')
  +pageSection(): .container: .content
    h2.appear Альтернативы трансплантации волос
    -
      const alternatives = [
        {
          name: 'Медикаментозное лечение', 
          content: { tag: 'p', content: 'Эффективно только на начальных стадиях облысения, для поддержания и укрепления волос. Неэффективно, когда волосяные луковицы уже поражены.' },
          settings: { type: 'medicine' },
        },
        {
          name: 'Парики, накладки',
          content: { tag: 'p', content: 'Современные изделия из волос хорошо фиксируются, максимально приближены к натуральному виду. Но их надо ежедневно снимать и надевать, поддерживать хорошую форму специальным уходом. Сохранится психологический фактор: волнения, что парик или накладка сдвинется, будут заметными и «секрет» придется раскрыть.' },
          settings: { type: 'wigs' },
        },
        {
          name: 'Система замещения волос',
          content: { tag: 'p', content: 'Позволяет приклеить к коже головы волосы на основе, имитирующей естественный ростю Неудобна тем, что надо регулярно проводить перефиксацию, периодически ремонтировать, восстанавливать, качественно ухаживать.' },
          settings: { type: 'hairsystems' },
        },
        {
          name: 'Загустители волос',
          content: { tag: 'p', content: 'С помощью камуфлирующих средств можно только замаскировать проблему, но тогда, когда хотя бы какая-то часть волос осталась. По сути, они нужны только для объема и маскировки поредевших волос.' },
          settings: { type: 'thickeners' },
        },
      ]
    +pageSubsection: +grid({ 'padding-y': true })
      each item in alternatives
        +cell({ m: 6, xs: 12 }).appear
          +alternative(item.name, item.settings)
            +createElement(item.content)
  +pageSection({background: [true, 'advantages']}): .container: .content
    +pageSubsection: h2.appear Преимущества методики FUE
    -
      const advantages = [
        {
          type: 'short-period',
          title: 'Минимальный срок восстановления',
          body: { tag: 'p', content: 'Восстановление ускоряется в два раза в сравнении с методом STRIP. Пересаженные волосы приживаются за 5 дней, а следы от пересадки уже не заметить спустя 10 дней.' },
          settings: {
            sizes: { xs: 12 },
          },
        },
        {
          type: 'density',
          title: 'Высокая густота волос',
          body: { tag: 'p', content: 'Процедура позволяет добиться хорошего эстетического результата. Трансплантолог подсаживает графты, контролируя глубину, направление, плотность вживления. Воссоздавая плотность 20-30 графтов на см<sup>2</sup>, удается добиться природной густоты волос.' },
          settings: {
            sizes: { xs: 12 },
          },
        },
        {
          type: 'lossless',
          title: 'Трансплантация без потерь',
          body: { tag: 'p', content: 'Восстановление волос этой техникой повышает приживаемость графтов. Для этого используют малотравматичные, сверхтонкие инструменты бережно вживляют донорские волосы в микроотверстия. В результате все графты сохраняют жизнеспособность.' },
          settings: {
            sizes: { xs: 12 },
          },
        },
        {
          type: 'no-risk',
          title: 'Без повреждений кожи и растущих волос',
          body: { tag: 'p', content: 'Трансплантацию делаем с минимальной травматичностью и полной безболезненностью. Вместо разрезов и каналов графты вживляем в микропроколы, которые выполняются микроинструментами.' },
          settings: {
            sizes: { xs: 12 },
          },
        },
      ]
    +pageSubsection: +listAdvantages(advantages, { 'horizontal': true })
  +pageSection(): .container: .content
    h2.appear Наши клиенты
    +pageSubsection: +grid({'padding-y': true})
      -
        const results = [
          {
            title: 'Трансплантировано 2000 графтов, метод FUE',
            subtitle: 'Мужчина, 36 лет',
            info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
            images: [
              {
                name: 'before-after-1-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '1b',
              },
              {
                name: 'before-after-1-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
          {
            title: 'Трансплантировано 1700 графтов, метод FUE',
            subtitle: 'Мужчина, 34 года',
            info: 'Рубцовая алопеция правой теменной области.',
            images: [
              {
                name: 'before-after-2-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '2A',
              },
              {
                name: 'before-after-2-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
        ]
      each res in results
        +cell({m: 6, xs: 12}).appear
          +result(res)
  +pageSection()
    .container
      .content
        -
          stages = [
            {
              name: 'Степень 1',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/central-parting-1.svg',
              desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE'
            },
            {
              name: 'Степень 2',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/central-parting-2.svg',
              desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE'
            },
            {
              name: 'Степень 3',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/central-parting-3.svg',
              desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE'
            },
            {
              name: 'Степень 4',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/side-parting-1.svg',
              desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE'
            },
            {
              name: 'Степень 5',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/side-parting-2.svg',
              desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE'
            },
            {
              name: 'Степень 5A',
              src: '/images/uslugi/peresadka-volos-zhenshchinam/side-parting-3.svg',
              desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE'
            },
          ]
        +pageSubsection
          h2.appear Стоимость
          p.appear Цена будет зависеть от количества графтов, которые необходимо пересадить и метода пересадки. Предлагаем узнать, сколько примерно будет стоить операция при различных степенях облысения.
        +pageSubsection
          +stagesSlider(stages)
        +pageSubsection
          -
            const prices = [
              { name: 'Стоимость графта (лоскутный метод)', value: '60 руб. (с учетом скидки в этом месяце — 48 руб.)' },
              { name: 'Стоимость графта (бесшовный метод — FUE)', value: '100  руб. (с учетом скидки в этом месяце — от 75 руб. до 80 руб.)' },
            ]
          +prices(prices).appear
