extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/stages/stages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/prices/prices
include /blocks/table/table
include /blocks/question/question
include /blocks/beard-type/beard-type

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос на бороду' })
  +pageSection: .container: .content
    h1.appear Пересадка волос на бороду
  +pageSection: .container: .content
    +grid({ 'padding-y': true, 'justify': 'center' })
      +cell({ l: 8, xs: 12 })
        +pageSubsection: p.appear Мужская борода во все времена была 
          strong символом красоты и мужественности
          | . Большинство мужчин давно не представляют свой образ без шикарной растительности на лице. Широкий диапазон выбора типов бороды позволяет подобрать свой уникальный вариант, в точности отражающий индивидуальность.
        +pageSubsection: +blockMarked({ border: true }): +textMarked({ 'tag': 'p', 'centered': true }).appear Несколько лет назад мода на густую и ухоженную бороду вернулась, и прочно закрепилась в списках желаний мужчин.
        +pageSubsection
          p.appear Борода считается признаком здоровья и мужественности в государствах Ближнего Востока, а для мусульман является обязательной. Поэтому мужчины с большим энтузиазмом отращивают густую щетину, подбирая её форму под черты лица.
          p.appear Кроме того, с помощью густой растительности на лице можно красиво оформить овал лица, скрыть следы ожогов, шрамов и других несовершенств.
      +cell({ l: 4, m: 6, s: 6, xs: 12 }).appear: .offset-border: +img({
          name: 'peresadka-volos-na-borodu',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-na-borodu/',
        })(alt='Пересадка волос на бороду' style='display: block')
  +pageSection(): .container: .content
    h2.appear Когда она не растет?
    +grid({ 'padding': 'y', 'par-like': true })
      +cell({ l: 6, xs: 12 })
        p.appear Сбыться мечтам о шикарной бороде мешают разные препятствия:
        ul.list-marked.list-marked--w-prev-par.list-marked--simple
          li.appear полное отсутствие роста волос,
          li.appear неравномерный рост,
          li.appear частичное отсутствие волос после ожогов, травм.
      +cell({ l: 6, xs: 12 })
        p.appear В таких случаях решить проблему поможет операция по пересадке волос на бороду.
        p.appear С ее помощью удастся:
        ul.list-marked.list-marked--w-prev-par.list-marked--simple
          li.appear увеличить густоту, если от природы она была недостаточной,
          li.appear создать новую, если щетина не росла, была редкой и неравномерной,
          li.appear смоделировать эстетичные формы бороды и бакенбард.
  +pageSection(): .container: .content
    h2.appear Сколько стоит пересадка волос на бороду: цена услуги
    +pageSubsection
      p.appear Стоимость трансплантации в клинике Medall составит от 56 тыс. рублей. На ценообразование влияют факторы:
        ul.list-marked.list-marked--w-prev-par
          li.appear техника пересадки,
          li.appear желаемая форма бороды,
          li.appear количество трансплантируемых графтов (фрагментов кожи с волосяным фолликулом).
        p.appear Ориентировочно на каждый тип растительности вам может понадобиться:
    +pageSubsection.hidden-s.hidden-xs: +table.table-beard.appear
      +tr
        +th(colspan='4') Результат пересадки
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/mustache.svg' alt='Усы' style='max-width: 100%')
          p: small Усы
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/sideburns.svg' alt='Бакенбарды' style='max-width: 100%')
          p: small Бакенбарды
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/goatee.svg' alt='Эспаньолка' style='max-width: 100%')
          p: small Эспаньолка
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/cheek-wholly.svg' alt='Щека полностью' style='max-width: 100%')
          p: small Щека полностью
      +tr
        +td({ 'subheader': true })(colspan='4') Количество графтов, штук
      +tr
        +td.table-beard__price: +textMarked({ 'big': true }) 350-500
        +td.table-beard__price: +textMarked({ 'big': true }) 200-350
        +td.table-beard__price: +textMarked({ 'big': true }) 600-700
        +td.table-beard__price: +textMarked({ 'big': true }) 600-700
    +pageSubsection.hidden-hd.hidden-xl.hidden-l.hidden-m: +table.table-beard.appear
      +tr
        +th Результат пересадки
        +th Количество графтов, штук
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/mustache.svg' alt='Усы' style='max-width: 100%')
          p: small Усы
        +td.table-beard__price: +textMarked({ 'big': true }) 350-500
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/sideburns.svg' alt='Бакенбарды' style='max-width: 100%')
          p: small Бакенбарды
        +td.table-beard__price: +textMarked({ 'big': true }) 200-350
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/goatee.svg' alt='Эспаньолка' style='max-width: 100%')
          p: small Эспаньолка
        +td.table-beard__price: +textMarked({ 'big': true }) 600-700
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 8, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-borodu/cheek-wholly.svg' alt='Щека полностью' style='max-width: 100%')
          p: small Щека полностью
        +td.table-beard__price: +textMarked({ 'big': true }) 600-700        
    +pageSubsection: p.appear Обратите внимание: приведенный расчет является справочным. Точную сумму назовет врач после консультации в клинике.
  +pageSection(): .container: .content
    h2.appear Как пересадить волосы на бороду?
    +pageSubsection: p.appear Процесс состоит из трех этапов.
    +pageSubsection
      -
        const stages = [
          {
            title: 'Консультируем',
            body: [
              {
                tag: 'p',
                content: 'На основании ваших пожеланий врач смоделирует будущую форму бороды и предложит методы пересадки, подходящие для вашего случая. Исследует донорские зоны, их потенциал для трансплантации волос. Подготовит для вас информацию о полной стоимости процедуры.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Примеряем',
            body: [
              {
                tag: 'p',
                content: 'Специалист Medall определяет тип лица пациента, чтобы подобрать тип и форму бороды, максимально соответствующие желанному образу. На этом этапе специалист также прорисовывает контуры.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Непосредственно пересаживаем волосы на бороду',
            body: [
              {
                tag: 'p',
                content: 'Место обезболиваем: вводим современные анестетики, чтобы провести трансплантацию максимально комфортно и абсолютно безболезненно. Извлекаем графты из затылочного участка. Отделяем их, обрабатываем, сортируем и подсчитываем. Когда графты подготовлены, проводим их вживление в намеченные участки подбородка.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
        ]
      +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
  +pageSection(): .container: .content
    h2.appear Способы пересадки
    p.appear Пересадка волос на бороду проводится одним из способов:
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ l: 6, xs: 12 }).appear
        h3 Последовательный
        p Проходит в два этапа. На первом формируем микроканалы, на втором — укладываем в них графты. Безошибочное формирование микроканалов, с учетом направлениям роста волос, возможно только благодаря высочайшему профессионализму и мастерству хирургов клиники Medall.
      +cell({ l: 6, xs: 12 }).appear
        h3 Вживление в одно касание
        p Подсадку графта проводим сразу во время микропрокола.
  +pageSection({ background: [true, 'advantages'] }): .container: .content
    h2.appear Преимущества пересадки волос на бороду у нас
    -
      const advantages = [
        {
          type: ['check', 'no-circle'],
          title: 'Методика неинвазивна',
          body: [
            {
              tag: 'p',
              content: 'Мы не используем для извлечения графтов грубые и массивные инструменты (пробойник или скальпель), а только микрохирургические инструменты последнего поколения.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Проводятся операции по исправлению неудачных пересадок в других клиниках.',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Без разрезов и повреждений кожи',
          body: [
            {
              tag: 'p',
              content: 'Микроскопические отверстия от проколов затягиваются быстро и не видны изначально.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Короткая продолжительность процедуры',
          body: [
            {
              tag: 'p',
              content: 'Время операции составляет от 3 до 6 часов.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Высокая приживаемость — до 98%',
          body: [
            {
              tag: 'p',
              content: 'Сохраняется естественный угол наклона, густота волос достигает 80 штук/см<sup>2</sup>.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Быстрое восстановление',
          body: [
            {
              tag: 'p',
              content: 'Донорская зона и зона пересадки полностью восстанавливаются за несколько недель.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Быстрый рост волос',
          body: [
            {
              tag: 'p',
              content: 'Уже спустя 4-6 недель пересаженные фолликулы «просыпаются», начинается активный рост волос на бороде. Спустя месяц у мужчины отрастает густая и четко оформленная борода.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Инновационные методики, многолетний опыт',
          body: [
            {
              tag: 'p',
              content: 'Благодаря этому подбираем подходящий метод пересадки с учетом индивидуальных особенностей.'
            },
          ],
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Даем письменную гарантию результата',
          settings: { sizes: { l: 6, xs: 12 } },
        },
      ]
    +listAdvantages(advantages, { 'horizontal': true })
  +pageSection({ 'padding': 'y', 'color-fill': 'light' }): .container: .content
    h2 Результаты пересадки
    -
      const results = [
        {
          images: [
            {
              name: 'beard-01-before',
              formats: [
                { ext: 'jpg', mime: 'image/jpg', orig: true }, 
                { ext: 'webp', mime: 'image/webp' }, 
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-borodu/',
              desc: 'До процедуры',
            },
            {
              name: 'beard-01-after',
              formats: [
                { ext: 'jpg', mime: 'image/jpg', orig: true }, 
                { ext: 'webp', mime: 'image/webp' }, 
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-borodu/',
              desc: 'После процедуры',
            },
          ]
        },
        {
          images: [
            {
              name: 'beard-02-before',
              formats: [
                { ext: 'jpg', mime: 'image/jpg', orig: true }, 
                { ext: 'webp', mime: 'image/webp' }, 
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-borodu/',
              desc: 'До процедуры',
            },
            {
              name: 'beard-02-after',
              formats: [
                { ext: 'jpg', mime: 'image/jpg', orig: true }, 
                { ext: 'webp', mime: 'image/webp' }, 
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-borodu/',
              desc: 'После процедуры',
            },
          ]
        },
      ]
    +grid({ 'padding': 'y', 'par-like': true })
      each res in results
        +cell({ m: 6, xs: 12 }).appear
          +result(res)
  +pageSection(): .container: .content
    h2.appear Особенности операции
    h3.appear Количество графтов
    p.appear Среднее количество на полную процедуру составит 1500-3000 штук. Если же необходима только коррекция формы, густоты, тогда допускается использование 2-2,5 тыс. штук.
    h3.appear Форма, структура и направление роста
    ul.list-marked
      li.appear Фолликулы на лице относятся к одноволосяному типу.
      li.appear Бороду формируют более толстые волосы, чем те, что растут в участке головы.
      li.appear Для участка бороды характерно отрастание волос фигурной формы. Поэтому донорский материал важно отбирать на предмет качества, подсаживать на оптимальную глубину, в результате чего будут имитироваться естественные «завихрения волос».
      li.appear В уголках рта графты располагают «свободно», учитывая направление мимических морщинок.
    h3.appear Цвет и толщина, скорость отрастания
    p.appear По толщине и оттенку донорские графты могут вначале отличаться, но со временем происходит их адаптация к новому участку роста. Также имплантированные волосы поначалу могут отставать в росте, по сравнению с остальной растительностью в зоне подбородка.
    h3.appear Временные изменения
    p.appear После процедуры может держаться легкая краснота кожи, которая пройдет сама через 2 недели.
    h3.appear Правильный выбор диаметра
    p.appear Чтобы провести пересаживание волос в область подбородка, подойдут панчи диаметром 0,7 миллиметров. Обычно они содержат один волосяной фолликул.
  +pageSection({ 'color-fill': 'light-blue' }): .container: .content
    h2.appear Типы бороды и усов
    -
      const beardTypes = [
        { file: 'circle-beard', name: 'Круглая борода' },
        { file: 'v-shaped-beard', name: 'V-образная борода' },
        { file: 'extended-goatee', name: 'Удлинённая эспаньолка' },
        { file: 'friendly-mutton-chops', name: 'Дружественные бараньи отбивные' },
        { file: 'full-beard', name: 'Полная борода' },
        { file: 'horseshoe', name: 'Подкова' },
        { file: 'short-stubble', name: 'Короткая щетина' },
        { file: 'van-dyke', name: 'Борода с клином' },
        { file: 'imperial', name: 'Имперская' },
        { file: 'garibardi', name: 'Гарибальди' },
        { file: 'balbo', name: 'Бальбо' },
        { file: 'bandholz', name: 'Банхольц' },
        { file: 'dutch-beard', name: 'Голландская борода' },
        { file: 'verdi', name: 'Верди' },
        { file: 'mutton-chops', name: 'Бараньи отбивные' },
        { file: 'anchor-beard', name: 'Борода якорем' },
        { file: 'goatee', name: 'Эспаньолка' },
        { file: 'french-fork-beard', name: 'Французская вилка' },
      ]
    +grid({ 'par-like': true, 'padding': ['y', 'big'] })
      each item in beardTypes
        - item.path = '/images/uslugi/peresadka-volos-na-borodu/types/'
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): +beard(item).appear
  +pageSection({ background: [true, 'questions-small'], 'color-fill': 'light-blue' }): .container: .content
    h2.appear Часто задаваемые вопросы
    +pageSubsection
      +question('Какие будут рекомендации после?').appear
        p После операции понадобится какое-то время дезинфицировать участок трансплантации, не касаться руками вживленных волос, отказаться от физической нагрузки, от спиртного и курения, посещения солярия, бани, сауны, приходить на регулярные осмотры к врачу.
      +question('Назовите противопоказания').appear
        p Трансплантацию волос не проводит при: нарушении свертываемости крови, сахарном диабете, возрасте до 18 лет, воспалительных процессах кожи, аллергии на обезболивающие препараты, обострении хронических заболеваний.
      +question('Могут ли быть осложнения?').appear
        p Да, обычно, если не соблюдались или нарушались рекомендации в послеоперационный период. Признаки, при которых надо обратиться к врачу: болезненность и повышенная чувствительность участков, долго продолжающаяся отечность, развитие воспаления.
    +pageSubsection: a(href='/').btn.btn--secondary.appear Задать вопрос
