extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/celebrity/celebrity
include /blocks/prices/prices

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос мужчинам' })
  +pageSection: .container: .content
    h1.appear Пересадка волос мужчинам
    -
      const pageNav = [
        {'name': 'Альтернативы пересадки волос', 'href': '#'},
        {'name': 'Какая же главная причина мужского облысения?', 'href': '#'},
        {'name': 'С помощью пересадки мужчины решают проблемы', 'href': '#'},
        {'name': 'Преимущества методики FUE', 'href': '#'},
        {'name': 'Особенности', 'href': '#'},
        {'name': 'Кто из звезд уже сделал пересадку?', 'href': '#'},
        {'name': 'Наши клиенты', 'href': '#'},
        {'name': 'Стоимость', 'href': '#'},
      ]
    +pageNavigation(pageNav)
  +pageSection: .container: .content
    +grid({ 'padding-y': true }).page-top.appear
      +cell({ xs: 12 }).page-top__info.appear: p Пересадка волос на голове у мужчин — это универсальное решение массы проблем и широкий спектр возможностей. Восстановленные таким образом волосы:
      +cell({ l: 6, xs: 12 }).page-top__info.appear
        +pageSubsection: ul.list-marked
          li вернет уверенность в себе
          li даст возможность вести активную жизнь
          li позволит однажды провести трансплантацию, и забыть о ней
          li сделает привлекательнее в глазах женщин
        +pageSubsection: +blockMarked({ border: true }): +textMarked({ 'tag': 'p', 'centered': true }) Результаты опросов говорят о том, что для 83% дам важно совершенство волос на голове у мужчин
      +cell({ l: 6, xs: 12 }).page-top__image.appear: .offset-border: +img({
          name: 'peresadka-volos-muzhchinam',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [ 2 ],
          path: '/images/uslugi/peresadka-volos-muzhchinam/',
        })(alt='Пересадка волос мужчинам' style='display: block')
      +cell({ xs: 12 }).page-top__info.appear: p А еще результат совершенно незаметен: мы практикуем метод FUE, который не оставляет следов на коже, и способствует быстрому отрастанию пересаженных волос уже спустя 2 месяца.
  +pageSection(): .container: .content
    h2.appear Альтернативы пересадки волос
    -
      const alternatives = [
        {
          name: 'Медикаменты', 
          content: {tag: 'p', content: 'Иногда, на начальных стадиях, и при незначительном облысении, применяют препараты на основе миноксидила, но при существенном выпадении волос они уже не эффективны.'},
          settings: { type: 'medicine' },
        },
        {
          name: 'Парики, накладки',
          content: {tag: 'p', content: 'Какой бы ни был качественный парик, это все равно постоянные траты на его обновление, поддержание хорошего состояния, опасения (пусть и при отличной фиксации), что он спадет (всегда будет действовать психологический фактор), а еще «секрет», о котором, рано или поздно, придется рассказать близким.'},
          settings: { type: 'wigs' },
        },
        {
          name: 'Система замещения волос',
          content: {tag: 'p', content: 'Прочно фиксируется на клей, но вызывает массу неудобств. Для поддержания хорошего вида система требует регулярной замены и ухода.'},
          settings: { type: 'hairsystems' },
        },
        {
          name: 'Загустители волос',
          content: {tag: 'p', content: 'Подойдут при начальной стадии алопеции, незначительном истончении волос, но сопряжены с тратами на постоянную покупку камуфляжа, необходимости уединяться и тратить время на нанесение.'},
          settings: { type: 'thickeners' },
        },
      ]
    +pageSubsection: +grid({ 'padding-y': true })
      each item in alternatives
        +cell({ m: 6, xs: 12 }).appear
          +alternative(item.name, item.settings)
            +createElement(item.content)
  +pageSection({ 'color-fill': [ true, 'light' ], 'padding': [ 'top', 'bottom' ] }): .container: .content
    h2.appear Какая же главная причина мужского облысения?
    +grid({ 'padding-y': true, 'par-like': true })
      +cell({ l: 6, xs: 12 })
        p.appear Потеря волос обычно вызвана алопецией по андрогенетическому типу, связанной с наследственным фактором и действием гормона дигидротестостерона. Последний поражает волосяные луковицы, в результате чего они атрофируются и отмирают.
        p.appear С проблемой мужчины сталкиваются в 30-40-летнем возрасте, а то и раньше. Характерными признаками будет ломкость, истончение, обламывание волос в лобном и теменном участке, появление характерного пушка, а затем проплешин. Медикаментозным лечением в данном случае с алопецией не справиться, потому что волосяные фолликулы уже погибли, а действие препаратов направлено только на укрепление и поддержание волос и луковиц.
      +cell({ l: 6, xs: 12 }).appear: .offset-border: +img({
        name: 'glavnaya-prichina-muzhskogo-oblyseniya',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [ 2, 3 ],
        path: '/images/uslugi/peresadka-volos-muzhchinam/',
      })(alt='Какая же главная причина мужского облысения?' style='display: block')
      +cell({ xs: 12 })
        +grid({ 'justify': 'center' }): +cell({ m: 10, xs: 12 })
          +blockMarked({ border: true }).appear: +textMarked({ 'tag': 'p', 'centered': true }) Единственным выходом становится решение пересаживать волосы из затылочного участка головы, потому что эти фолликулы не подвержены действию мужского гормона.
  +pageSection({ 'color-fill': true, 'no-margin': true, 'padding': [ 'top', 'bottom', 'small' ] })
    .container
      .content
        +pageSubsection: h2.appear.color--white С помощью пересадки мужчины решают проблемы:
        +pageSubsection: +blockMarked({ 'color': 'white' }).appear
          ul.list-marked
            li.appear маскируют рубцы, шрамы, травмы
            li.appear восстанавливают залысины, очаги облысения
            li.appear загущают волосы
            li.appear корректируют высоту и форму передней линии роста волос
            li.appear исправляют неудачные операции, проведенные в других клиниках
            li.appear полностью восстанавливают отсутствующую шевелюру
  +pageSection({background: [true, 'advantages']}): .container: .content
    +pageSubsection: h2.appear Преимущества методики FUE
    -
      const advantages = [
        {
          type: 'seamless',
          title: 'Бесшовный способ',
          body: {tag: 'p', content: 'Наша клиника практикует самые передовые и эффективные методики пересадки волос — безоперационные методы FUE и HFE. Специалисты центра и хирурги по пересадке волос проходили обучение и стажировались в клиниках Франции и Испании.'},
          settings: {
            sizes: { xs: 12 },
          },
        },
        {
          type: 'short-period',
          title: 'Короткий восстановительный период',
          body: {tag: 'p', content: 'Микропроколы заживают быстро, полностью незаметными становятся спустя пять дней, максимум неделю. Опытным путем установлено, что срок восстановления сокращается в два раза, попутно повышается приживаемость графтов (до 98%).'},
          settings: {
            sizes: {xs: 12},
          },
        },
        {
          type: 'density',
          title: 'Высокая густота волос',
          body: {tag: 'p', content: 'Команда специалистов, состоящая из врача и ассистентов, проводят поистине ювелирную работу, внедряя каждый графт на четко спланированный участок. Попутно контролируется глубина и степень наклона. Возможность трансплантировать до 60 графтов на см<sup>2</sup> позволяет создать натуральную густоту волос.'},
          settings: {
            sizes: {xs: 12},
          },
        },
        {
          type: 'one-session',
          title: 'Возможность провести полную пересадку за сеанс',
          body: {tag: 'p', content: 'Наша клиника практикует самые передовые и эффективные методики пересадки волос — безоперационные методы FUE и HFE. Специалисты центра и хирурги по пересадке волос проходили обучение и стажировались в клиниках Франции и Испании.'},
          settings: {
            sizes: {xs: 12},
          },
        },
        {
          type: 'no-risk',
          title: 'Нет рисков и боли',
          body: {tag: 'p', content: 'Отсутствует вероятность инфицирования, кровотечения: проколы имплантера крошечные, поэтому применять противовоспалительные препараты и антибиотики не потребуется. Практикуется ступенчатая анестезия обезболивающими местного действия, исключающая даже малейшие дискомфортные ощущения.'},
          settings: {
            sizes: {xs: 12},
          },
        },
      ]
    +pageSubsection: +listAdvantages(advantages, { 'horizontal': true })
  +pageSection({background: [true, 'features']})
    .container: .content
      h2.appear Особенности
      +pageSubsection: +grid({'padding-y': true})
        +cell({m:6,xs:12})
          +question('Подготовительный период').appear
            p Прежде чем приступить к трансплантации, врач и пациент проходят этап планирования, во время которого оценивается состояние донорских волос, определяется площадь проблемного участка, вычисление необходимого количества графтов.
        +cell({m: 6, xs: 12})
          +question('В каком возрасте операцию не проводят?').appear
            p Пересадку волос на голове у мужчи не делают до достижения 18-летнего возраста, поскольку в этот период степень облысения еще не определить, невозможно сделать прогноз его прогрессирования, а также гормональный фон еще нестабилен. Не проводят и мужчинам за 70 лет, поскольку волосы уже практически не приживаются, наблюдается отторжение волосяных луковиц.
        +cell({m: 6, xs: 12})
          +question('Как подготовиться к операции?').appear
            p Готовиться начинают за две недели: отказываются от алкоголя, воздерживаются от курения.
        +cell({m: 6, xs: 12})
          +question('Послеоперационный период').appear
            p После процедуры нежелательно водить машину, поскольку важно исключить контакт сиденья с противовоспалительной повязкой. Также нужно отложить занятия силовыми видами спорта, активные физические нагрузки.
  +pageSection({'gradient': true, 'padding-bottom': true})
    +pageSection(): .container: .content
      h2.appear Кто из звезд уже сделал пересадку волос?
      +pageSubsection: +grid({ 'padding-y': true, 'big-padding': true })
        +cell({ m: 6, xs: 12 }).appear
          +celebrity({
            name: 'Уэйн Руни',
            before: {
              name: 'wayne-rooney-before',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/uslugi/peresadka-volos-muzhchinam/',
            },
            after: {
              name: 'wayne-rooney-after',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/uslugi/peresadka-volos-muzhchinam/',
            },
          })
        +cell({ m: 6, xs: 12 }).appear
          +celebrity({
            name: 'Робби Уильямс',
            before: {
              name: 'robbie-williams-before',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2 ],
              path: '/images/uslugi/peresadka-volos-muzhchinam/',
            },
            after: {
              name: 'robbie-williams-after',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [],
              path: '/images/uslugi/peresadka-volos-muzhchinam/',
            },
          })
    +pageSection(): .container: .content
      h2.appear Наши клиенты
      +pageSubsection: +grid({'padding-y': true})
        -
          const results = [
            {
              title: 'Трансплантировано 2000 графтов, метод FUE',
              subtitle: 'Мужчина, 36 лет',
              info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
              images: [
                {
                  name: 'before-after-1-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '1b',
                },
                {
                  name: 'before-after-1-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
            {
              title: 'Трансплантировано 1700 графтов, метод FUE',
              subtitle: 'Мужчина, 34 года',
              info: 'Рубцовая алопеция правой теменной области.',
              images: [
                {
                  name: 'before-after-2-1',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'До процедуры',
                  stage: '2A',
                },
                {
                  name: 'before-after-2-2',
                  formats: [
                    { ext: 'png', mime: 'image/png', orig: true }, 
                    { ext: 'webp', mime: 'image/webp' }, 
                  ],
                  density: [2],
                  path: '/images/before-after/',
                  desc: 'Через 12 месяцев',
                },
              ]
            },
          ]
        each res in results
          +cell({m: 6, xs: 12}).appear
            +result(res)
  +pageSection()
    .container
      .content
        -
          stages = [
            {
              name: 'Степень 1',
              src: 'https://dummyimage.com/368x190',
              desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE'
            },
            {
              name: 'Степень 2',
              src: 'https://dummyimage.com/368x190',
              desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE'
            },
            {
              name: 'Степень 3',
              src: 'https://dummyimage.com/368x190',
              desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE'
            },
            {
              name: 'Степень 4',
              src: 'https://dummyimage.com/368x190',
              desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE'
            },
            {
              name: 'Степень 5',
              src: 'https://dummyimage.com/368x190',
              desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE'
            },
            {
              name: 'Степень 5A',
              src: 'https://dummyimage.com/368x190',
              desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE'
            },
            {
              name: 'Степень 6',
              src: 'https://dummyimage.com/368x190',
              desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE'
            },
            {
              name: 'Степень 7',
              src: 'https://dummyimage.com/368x190',
              desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE'
            },
            {
              name: 'Степень 8',
              src: 'https://dummyimage.com/368x190',
              desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE'
            },
          ]
        +pageSubsection
          h2.appear Стоимость
          p.appear Цена будет зависеть от количества графтов, которые необходимо пересадить и методики пересадки. Предлагаем узнать, сколько примерно будет стоить операция при различных степенях облысения
        +pageSubsection
          +stagesSlider(stages)
        +pageSubsection
          -
            const prices = [
              { name: 'Стоимость графта (лоскутный метод)', value: 'от 60 руб. до 70 руб.' },
              { name: 'Стоимость графта (бесшовный метод — FUE)', value: '100 руб.' },
            ]
          +prices(prices)
