extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/stages/stages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/prices/prices
include /blocks/table/table
include /blocks/question/question

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'Услуги' ], current: 'Пересадка волос на брови' })
  +pageSection: .container: .content
    h1.appear Пересадка волос на брови
    p.appear Брови играют важную роль: как и ресницы формируют взгляд, придают аккуратность чертам лица, гармонию и эстетическое совершенство. Чрезмерно густые или слишком тонкие брови могут испортить красоту лица человека.
    +grid({ 'padding-y': true, 'justify': 'center', 'par-like': true })
      +cell({ l: 6, xs: 12 })
        +pageSubsection
          p.appear Чаще с бровями случаются следующие проблемы:
          ul.list-marked.list-marked--w-prev-par
            li.appear отсутствует часть,
            li.appear полностью отсутствуют,
            li.appear недостаток густоты и объема
            li.appear асимметрия,
            li.appear неправильный контур или форма.
      +cell({ l: 6, m: 6, s: 6, xs: 12 }).appear: .offset-border: +img({
          name: 'peresadka-volos-na-brovi',
          formats: [
            {ext: 'webp', mime: 'image/webp',},
            {ext: 'jpg', mime: 'image/jpeg', orig: true},
          ],
          density: [2, 3],
          path: '/images/uslugi/peresadka-volos-na-brovi/',
        })(alt='Пересадка волос на бороду' style='display: block').appear
  +pageSection(): .container: .content
    h2.appear Основные причины
    ul.list-marked.list-marked--simple
      li.appear После курса радиотерапии или химиотерапии, других медикаментов, поражающих фолликулы волос.
      li.appear Неправильное питание, хронические стрессовые состояния, вызывающие диффузное облысение.
      li.appear Гормональные сбои в организме женщины.
      li.appear Шрамы после химических, тепловых, электрических ожогов, травм.
      li.appear Повреждение волосяных луковиц (перманентная татуировка, неаккуратное проведение выщипывания в процессе придания формы, использование некачественного красителя для бровей).
  +pageSection(): .container: .content
    h2.appear Решение есть — пересадка волос на брови
    +pageSubsection
        ul.list-marked.list-marked--check
          li.appear Возможность забыть о постоянной и нередко болезненной процедуре коррекции у косметолога.
          li.appear Восстановление совершенной формы, натуральной густоты и симметрии.
          li.appear Избавление от комплексов и неуверенности из-за неидеального вида бровей.
  +pageSection(): .container: .content
    h2.appear Стоимость
    +pageSubsection: p.appear В цену заложено количество графтов и площадь восстановления. Обычно на 
      strong полную пересадку
      |  идет 350 одиночных трансплантатов, а для 
      strong коррекции
      |  части — 
      strong 50-100 штук
      | . Предлагаем посмотреть фото, чтобы получить полное представление об объемах предстоящей работы:
    +pageSubsection.hidden-s.hidden-xs: +table.table--eyebrows.appear
      +tr
        +th(colspan='4') Определите примерную стоимость пересадки бровей
      +tr
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-1.svg' alt='Усы' style='max-width: 100%')
          p: small Восстановление 1/3 брови (отсутствует кончик или начало брови)
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-2.svg' alt='Бакенбарды' style='max-width: 100%')
          p: small Восстановление 1/2 брови (восстановление до половины брови или загущение брови)
        +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-3.svg' alt='Эспаньолка' style='max-width: 100%')
          p: small Полное восстановление: воссоздание естественного контура брови; изменение, расширение контура брови.
    +pageSubsection.hidden-hd.hidden-xl.hidden-l.hidden-m: +table.table--eyebrows.appear
      +tr
        +th(colspan='4') Определите примерную стоимость пересадки бровей
      +tr: +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-1.svg' alt='Усы' style='max-width: 100%')
          p: small Восстановление 1/3 брови (отсутствует кончик или начало брови)
      +tr: +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-2.svg' alt='Бакенбарды' style='max-width: 100%')
          p: small Восстановление 1/2 брови (восстановление до половины брови или загущение брови)
      +tr: +td
          +grid({ 'padding': [ 'y', 'small' ], 'justify': 'center', 'par-like': true }): +cell({ l: 10, xs: 12 }): img(src='/images/uslugi/peresadka-volos-na-brovi/eyebrow-3.svg' alt='Эспаньолка' style='max-width: 100%')
          p: small Полное восстановление: воссоздание естественного контура брови; изменение, расширение контура брови.
    +pageSubsection: +blockMarked({ color: 'green' }).appear: +textMarked({ big: true }) Цена пересадки волос на брови у нас стандартная и составляет 
      strong 70 тыс. рублей
      | .
  +pageSection(): .container: .content
    h2.appear Особенности процесса
    +pageSubsection
      -
        const stages = [
          {
            title: 'Проводим обследование',
            body: [
              {
                tag: 'p',
                content: 'Пациент сдает анализы чтобы выявить противопоказания. Если такие отсутствуют, назначаем день операции.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Консультируем',
            body: [
              {
                tag: 'p',
                content: 'Обсуждаем форму, способ трансплантации, количество трансплантируемых единиц, место забора, рассчитываем полную стоимость.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Готовим донорский материал',
            body: [
              {
                tag: 'p',
                content: 'Отбираем тонкие волоски на шее и за ушами, в затылочной области в количестве от 50 до 350 графтов, в зависимости от объема поставленной задачи. Проводим обработку донорского материала специальным составом, который способствует лучшей приживаемости.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Проводим пересадку',
            body: [
              {
                tag: 'p',
                content: 'Трансплантолог намечает участки внедрения донорского материала: наносит форму и положение бровей. Вводит средства местной анестезии. Применяем безопасные, сертифицированные, современные, разрешенные для использования на территории России анестетики. Пересаживает графты микроинструментом, соблюдая нужное направление роста.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
          {
            title: 'Даем рекомендации на послеоперационный период',
            body: [
              {
                tag: 'p',
                content: 'На время реабилитации нужно будет защищать кожу от попадания прямых солнечных лучей, ограничить посещение сауны, солярия, занятия активными видами спорта.'
              },
            ],
            settings: {sizes: {xs: 12}}
          },
        ]
      +listAdvantages(stages, {'tag': 'ol', 'horizontal': true})
  +pageSection({ background: [true, 'advantages'] }): .container: .content
    h2.appear Преимущества пересадки бровейа у нас
    -
      const advantages = [
        {
          type: ['check', 'no-circle'],
          title: 'Даем письменную гарантию результата',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Результат сохраняется на протяжении всей жизни',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Короткая продолжительность процедуры: всего 1-2 часа',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Высокая приживаемость — до 98%',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Исправляем последствия неудачных операций в других клиниках',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Быстрое и полное заживление: современные методики и внушительный врачебный опыт',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Следы на коже не остаются за счет использования инструментов крошечного диаметра',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Придаем бровям натуральный вид за счет нужного объема, густоты, ширины и направления роста волосков',
          settings: { sizes: { l: 6, xs: 12 } },
        },
        {
          type: ['check', 'no-circle'],
          title: 'Быстрый рост волосков спустя уже пару недель',
          settings: { sizes: { l: 6, xs: 12 } },
        },
      ]
    +listAdvantages(advantages, { 'horizontal': true })
  +pageSection({ 'padding': 'y', 'color-fill': 'light' }): .container: .content
    h2 Результаты пересадки
    -
      const results = [
        {
          images: [
            {
              name: 'eyebrows-01-before',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpg', orig: true },
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-brovi/',
              desc: 'До процедуры',
            },
            {
              name: 'eyebrows-01-after',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpg', orig: true },
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-brovi/',
              desc: 'После процедуры',
            },
          ]
        },
        {
          images: [
            {
              name: 'eyebrows-02-before',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpg', orig: true },
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-brovi/',
              desc: 'До процедуры',
            },
            {
              name: 'eyebrows-02-after',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpg', orig: true },
              ],
              density: [2, 3],
              path: '/images/uslugi/peresadka-volos-na-brovi/',
              desc: 'После процедуры',
            },
          ]
        },
      ]
    +grid({ 'padding': 'y', 'par-like': true })
      each res in results
        +cell({ m: 6, xs: 12 }).appear
          +result(res)
  +pageSection(): .container: .content
    h2.appear Особенности операции
    +grid({ 'par-like': true, 'padding': 'y' })
      +cell({ l: 6, xs: 12 })
        h3.appear Необходимость заботиться
        p.appear Поскольку донорский материал отбираем с затылочной зоны, то волоски будут постоянно отрастать.Поэтому их надо будет смазывать специальными гелями, чтобы задавать направление роста, и регулярно подстригать.
      +cell({l: 6, xs: 12})
        h3.appear Забор волос в зависимости от метода
        p.appear Поскольку пересадку мы проводим разными методами, может отличаться место забора донорского материала:
        ul.list-marked.list-marked--simple.list-marked--w-prev-par
          li.appear с плеч, груди, спины, затылка (для методики FUE),
          li.appear с головы вырезанием небольших участков (STRIP-методика).
      +cell({l: 6, xs: 12})
        h3.appear Как достигается естественный вид
        p.appear Трансплантологи внедряют двойные и единичные графты, чередуя их таким образом, чтобы добиться максимально натурального вида в соответствии с желаемой густотой и выбранным пациентом контуром, формой бровей.
      +cell({l: 6, xs: 12})
        h3.appear Необходимость повторной операции и аутентичность
        p.appear Прежде чем определиться с местом отбора донорских фолликулов, принимают во внимание эстетическую сторону процедуры. В результате трансплантируют самые тонкие волоски, добиваясь природной визуальной аутентичности. Если разреженность бровей была слишком высокой, то допускается повторная пересадка, которую можно делать через год после первой операции.
      +cell({l: 6, xs: 12})
        h3.appear Наиболее эстетичный и эффективный метод
        p.appear Таким является способ HFE, поскольку после него не остается микрорубцов, не нарушается приток крови к волосяным луковицам. Этот метод дает лучший прогноз по приживаемости и состоянию остальных волосков. Микроранки после этой методики трансплантации заживаются спустя несколько дней. Кожа может сохранять розовый оттенок, но пациент покидает клинику без синяков и отеков.
  +pageSection({ background: [true, 'questions-small'], 'color-fill': 'light-blue' }): .container: .content
    h2.appear Часто задаваемые вопросы
    +pageSubsection
      +question('Назовите сроки приживления и восстановления роста').appear
        p Новые волоски приживаются в течение первого месяца, рост волос восстанавливается спустя месяц или чуть больше.
      +question('Назовите противопоказания').appear
        p Сахарный диабет, нарушение свертываемости крови, онкология, обострение хронических заболеваний, трихотилломания (навязчивая склонность к выдергиванию бровей), болезни кожи, тотальная алопеция, воспалительные процессы, аллергия на обезболивающие препараты.
      +question('Будет ли отечность, покраснение кожи на месте пересадки?').appear
        p Да, такое может быть: небольшое покраснение и незначительный отек. Обычно их интенсивность исчезает спустя несколько дней. Для этого мы прописываем для каждого пациента специальную схему восстановления.
    +pageSubsection: a(href='/').btn.btn--secondary.appear Задать вопрос
