extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/filter/filter

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Результаты'})
  +pageSection: .container: .content
    h1 Результаты
    +pageSubsection
      +filter([
        { name: 'Кому', list: [ 'мужчины', 'женщины' ] },
        { name: 'Объем', list: [ 'до 1000', 'от 1000 до 2000', 'более 2000' ] },
        { name: 'Куда', list: [ 'на теменную зону', 'на переднюю зону', 'в височную зону', 'на всю голову', 'на бороду', 'на брови', 'на шрам' ] },
        { name: 'Решенная проблема', list: [ 'коррекция линия роста', 'увеличение густоты волос' ] },
        { name: 'Метод', list: [ 'FUE', 'Strip' ] },
      ])
  +pageSection: .container: .content
    +grid({ 'padding-y': true })
      -
        const results = [
          {
            title: 'Трансплантировано 2000 графтов, метод FUE',
            subtitle: 'Мужчина, 36 лет',
            info: 'Рубцовая алопеция височных областей, После круговой подтяжки лица и неудачной пересадки волос в другой клинике.',
            images: [
              {
                name: 'before-after-1-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '1b',
              },
              {
                name: 'before-after-1-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true }, 
                  { ext: 'webp', mime: 'image/webp' }, 
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
          {
            title: 'Трансплантировано 1700 графтов, метод FUE',
            subtitle: 'Мужчина, 34 года',
            info: 'Рубцовая алопеция правой теменной области.',
            images: [
              {
                name: 'before-after-2-1',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '2A',
              },
              {
                name: 'before-after-2-2',
                formats: [
                  { ext: 'png', mime: 'image/png', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [2],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
          {
            title: 'Трансплантировано 1800 графтов, метод FUE',
            subtitle: 'Мужчина, 37 лет',
            info: 'Андрогенетическая алопеция в передне-теменной области.',
            images: [
              {
                name: 'before-after-3-1',
                formats: [
                  { ext: 'jpg', mime: 'image/jpeg', orig: true },
                ],
                density: [1],
                path: '/images/before-after/',
                desc: 'До процедуры',
                stage: '2A',
              },
              {
                name: 'before-after-3-2',
                formats: [
                  { ext: 'jpg', mime: 'image/jpeg', orig: true },
                ],
                density: [1],
                path: '/images/before-after/',
                desc: 'Через 12 месяцев',
              },
            ]
          },
        ]
      each i in [1, 2, 3, 4, 5]
        each res in results
          +cell({m: 6, xs: 12}).appear
            +result(res)
  +pageSection: .container: .content: include /blocks/pagination/pagination
