extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/form-input/form-input
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов', 'Статьи'],current:'Почему происходит облысение?'})
  +pageSection: .container: .content
    h1 Почему происходит облысение?
    +pageSubsection
      +grid({ 'par-like': true, 'padding-y': true })
        +cell({ m:6 })
          .h2 Содержание 
          ol.article-content
            li.article-content__item: a(href='#fue') Пересадка волос методом FUE
            li.article-content__item: a(href='#grafts') Сколько графтов надо для пересадки волос
            li.article-content__item: a(href='#price') Сколько стоит пересадка 1&nbsp;графта
            li.article-content__item: a(href='#summary') Вывод
        +cell({ m:6 })
          .article-doctor
            .article-doctor__inner
              .article-doctor__image 
                .offset-border
                  +img({
                    name: 'boyarskaya-svetlana-valerevna',
                    path: '/images/patsientam/stati/',
                    formats: [
                      { ext: 'webp', mime: 'image/webp' },
                      { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    ],
                    density: [ 1, 2 ],
                  })(alt= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос' title= 'Боярская Светлана Валерьевна, заведующая отделением трансплантации волос')
              p.article-doctor__verified Информация проверена экспертом
              +textMarked({ tag: 'a', bold: true })(href='/o-klinike/vrachi/boyarskaya/').article-doctor__name Боярская Светлана Валерьевна
              span.article-doctor__job Заведующая отделением трансплантации волос
                p Опыт работы: 20 лет
            p.article-doctor__date Дата публикации: 1 сентября 2022
            p.article-doctor__date Обновлено: 8 февраля 2023

    <div class="appear page-subsection">
      <p class="appear">Алопеция&nbsp;&mdash; это частичное или полное облысение, вызванное внешними или физиологическими причинами. Волосы выпадают постоянно, что естественно, ведь на&nbsp;месте выпавшего вырастает новый волосок.</p>
      <p class="appear">В&nbsp;стадии сна (телогена) находится незначительное количество волос, поэтому умеренное выпадение не&nbsp;отражается на&nbsp;пышности прически. Но&nbsp;если волосы активно истончаются и&nbsp;выпадают, речь идет об&nbsp;андрогенетической алопеции, которая встречается у&nbsp;лиц обоих полов. Когда консервативное лечение не&nbsp;помогает, пациентам назначается пересадка волос.</p>
    </div>

    <div class="grid appear page-subsection" id='fue'>
      <div class="grid__cell grid__cell--m-7 grid__cell--xs-12">
        <h2 class="appear">Пересадка волос методом FUE</h2>
        <p class="appear">Операция практически всегда проводится бесшовным методом. Это микрохирургическое вмешательство, при котором из&nbsp;затылочной области в&nbsp;зону алопеции перемещаются микротрансплантаты&nbsp;&mdash; микрофрагменты кожи с&nbsp;фолликулами (графты). Один графт содержит от&nbsp;1&nbsp;до&nbsp;3&nbsp;жизнеспособных волосяных фолликулов. Трансплантанты получают без разрезов и&nbsp;швов. Из&nbsp;донорской области графты извлекаются специальным инструментом, который не&nbsp;нарушает целостности корневой системы волос. Его диаметр 0,7&ndash;0,9&nbsp;мм. Точечные микрорубцы не&nbsp;видны даже при ближайшем рассмотрении.</p>
      </div>
      <div class="grid__cell grid__cell--m-5 grid__cell--s-8 grid__cell--xs-12">
        <img src="https://dummyimage.com/600x400"/>
        <p class="appear">Пересадка волос методом FUE</p>
      </div>
    </div>
    <div class="block-marked block-marked--border appear page-subsection">
      <p class="text-marked text-marked--centered">Физиологические и&nbsp;анатомические свойства волосяных луковиц после извлечения из&nbsp;донорской зоны не&nbsp;меняются. Пересаженные волосы в&nbsp;течение месяца подрастают, потом выпадают, а&nbsp;фолликулы погружаются в&nbsp;стадию сна. Через 3&nbsp;месяца из&nbsp;фолликулов начинают расти волосы.</p>
    </div>
    <div class="grid grid--padding-y grid--par-like grid--justify-space-between appear page-subsection" id='grafts'>
      <div class="grid__cell grid__cell--m-7 grid__cell--xs-12">
        <h2 class="appear">Сколько графтов надо для пересадки волос</h2>
        <p class="appear">Количество и&nbsp;качество микротрансплантатов определяет успех операции. В&nbsp;расчет берется густота и&nbsp;толщина волос в&nbsp;донорской области, насыщенность пигмента, а&nbsp;также степень облысения. </p>
        <p class="appear">У&nbsp;каждого человека разная плотность роста волос в&nbsp;донорской зоне. Не&nbsp;видя пациента, невозможно сказать, сколько графтов доступно для трансплантации. Необходимое количество трансплантатов рассчитывает врач-трансплантолог в&nbsp;ходе очной консультации. Если у&nbsp;пациента нет возможности приехать на&nbsp;консультацию, он&nbsp;присылает фотографию. 	</p>
      </div>
      <div class="grid__cell grid__cell--l-4 grid__cell--m-5 grid__cell--s-8 grid__cell--xs-12">
        <img src="https://dummyimage.com/600x400"/>
        <p class="appear">Сколько графтов надо для пересадки волос</p>
      </div>
    </div>
    <h2 class="appear" id='price'>Сколько стоит пересадка 1&nbsp;графта</h2>
    <p class="appear">Стоимость операции зависит от&nbsp;метода трансплантации, от&nbsp;размера зоны алопеции и&nbsp;количества графтов, которое необходимо пересадить для получения хорошего эстетического результата. Например, в&nbsp;области битемпоральных залысин пересаживают от&nbsp;1000 до&nbsp;2000&nbsp;графтов.</p>
    <p class="appear">В&nbsp;клинике Medall стоимость графта составляет:</p>
    <ul class="list-marked list-marked--w-prev-par appear">
      <li class="appear">при лоскутном методе&nbsp;&mdash; 60&nbsp;руб.;</li>
      <li class="appear">при бесшовном методе&nbsp;&mdash; 100&nbsp;руб.;</li>
      <li class="appear">при пересадке в&nbsp;зону бакенбардов, усов или бороды&nbsp;&mdash; 100&nbsp;руб.</li>
    </ul>
    <h2 class="appear" id='summary'>Вывод</h2>
    <ul class="list-marked list-marked--w-prev-par appear">
      <li class="appear">Алопеция&nbsp;&mdash; это частичное или полное облысение, вызванное внешними или физиологическими причинами;</li>
      <li class="appear">Графт&nbsp;&mdash; микрофрагмент кожи с&nbsp;жизнеспособными фолликулами, который пересаживают в&nbsp;область алопеции;</li>
      <li class="appear">Количество волос в&nbsp;донорской ткани&nbsp;&mdash; величина нестабильная;</li>
      <li class="appear">Установить конкретное число донорских единиц невозможно;</li>
      <li class="appear">Цена операции рассчитывается на&nbsp;первичной комплексной консультации.</li>
    </ul>

    //- p Облысение может означать как существенное уменьшение количества волос на поверхности головы, так и полное отсутствие волосяного покрова. Известно множество типов алопеции:
    //- ul.list-marked
    //-   li рубцовая
    //-   li симптоматическая
    //-   li диффузная
    //-   li универсальная
    //-   li очаговая
    //-   li тотальная
    //-   li андрогенетическая
    //-   li андрогенная
    //- p Самой часто встречающейся разновидностью алопеции считается андрогенетическая. В соответствие с данными исследований, порядка 30, а иногда и 35% мужчин, находясь в возрастном периоде между 25 и 55 годами, могут попросту облысеть, когда столкнутся с данным типом алопеции.
    //- +grid({ 'par-like': true, 'padding': 'y' })
    //-   +cell({ l: 8, xs: 12 })
    //-     p Стремительное развитие уровня медицины привело к тому, что на сегодняшний день стали известны все причины андрогенетической алопеции. Основной причиной потери волос оказывается неблагоприятное воздействие андрогенов непосредственно на волосяные луковицы, находящиеся в теменном и лобном участке. Пораженный фолликул не способен продуцировать здоровые волосы, постепенно отмирает, что становится причиной необратимой утраты волосяного покрова.
    //-     p Вне зависимости от гормональной активности, свойственной всем мужчинам, облысением страдает не более трети из них. Это объяснимо той особенностью, что развитию облысения способствует исключительно набор генов, передавшийся по наследству. Известно, что в 70% от всех случаев неблагоприятный ген наследуется от матери, а в иных ситуациях ген облысения передается по отцовской линии.
    //-   +cell({ l: 4, xs: 12 }): +img('https://dummyimage.com/600x400')(alt='')
    //- p Выходит, что именно комплексное воздействие активности гормонов и наследственности становится причиной потери волос. Но, следует учитывать, что при данном типе алопеции в височных и затылочных участках всегда остаются следы волос. Дело в том, что в этих зонах фолликулы лишены рецепторов, поэтому и нечувствительны к пагубному действию гормонов. Потому такая из причин алопеции как активность гормонов — исключается, и волосы в данных участках защищены от выпадения.
    //- h2#treatment К вопросу лечения облысения
    //- +grid({ 'par-like': true, 'padding': 'y' })
    //-   +cell({ l: 8, xs: 12 })
    //-     p Если разобраться в сути причин волосяного выпадения, то можно с легкостью найти верные способы решения проблемы. Если рассматривать андрогенетическую алопецию, то существует лишь два совместных пути выхода из ситуации: лечение облысения путем подавления активности гормонов, а также изменение набора генов. Но становится вполне понятно, что даже малейшие попытки изменить вышеупомянутые факторы могут обернуться негативными последствиями. Как известно, каким-то образом повлиять на набор генов невозможно. А что касается вмешательства в гормональную систему, то любые средства от выпадения волос, использованные с целью лечения облысения, могут вызвать лишь сбой в эндокринной системе.
    //-   +cell({ l: 4, xs: 12 }): +img('https://dummyimage.com/600x400')(alt='')
    //- p Принимая во внимание неминуемую гибель волосяных луковиц, характерную для андрогенетической алопеции, любые способы регенерации волос консервативными средствами (мазями, кремами, шампунями) при указанной разновидности облысения не принесут должного результата.
    //- p Таким образом, становится понятно, что реальный выход из ситуации заключается не только в борьбе, направленной на устранение облысения, а еще и в способах избегания последствия от него. Другими словами, на безволосых участках кожи потребуется восстановить волосяной покров. Но откуда волосам появиться, если не проводилось лечение облысения? Так, не исключена пересадка искусственного волосяного покрова (так называемая микрофибра). Но вряд ли сознательный человек станет подвергать риску состояние собственного здоровья. Ведь, к примеру, в США указанный метод лечения облысения находится под запретом. А в европейских странах за его выполнение берутся лишь медики-дилетанты, которые не заботятся о здоровье клиента, назначая подобное лечение облысения. То есть, получается, что решить проблему андрогенетической алопеции удается всего одним путем — посредством заимствования волос из тех зон головы, где фолликулы нечувствительны к андрогенам. Другими словами, лечение облысения производят за счет трансплантации собственного волосяного покрова человека.
  
  +pageSection(): .container: .content
    h2 Как оценить примерный объем пересадки?
    +pageSubsection
      +tabs()
        +tab({name: 'Для мужчин'})
          -
            stages = [
              {id: 'men-1', name: 'Степень 1', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-2', name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-3', name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {id: 'men-4', name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-5', name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-6', name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {id: 'men-7', name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-8', name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-9', name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
            ]
          +stagesSlider(stages)
        +tab({name: 'Для женщин'})
          -
            stages = [
              {name: 'Степень 1', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
            ]
          +stagesSlider(stages)
  //- +pageSection(): .container: .content
  //-   h2.appear Записаться на консультацию
  //-   +pageSubsection.appear: p Вы можете написать нам, используя эту форму, или позвонить по телефонам.
  //-   +pageSubsection.appear: +grid({ tag: 'form' }).form: +cell({ l: 8, m: 10, xs: 12 })
  //-     +grid({ padding: 'y', 'par-like': true })
  //-       +cell({ m: 6, xs: 12 }).appear: +formInput({
  //-           name: 'name',
  //-           type: 'text',
  //-           placeholder: 'Ваше имя *',
  //-         })#home-form-name
  //-       +cell({ m: 6, xs: 12 }).appear: +formInput({
  //-           name: 'phone',
  //-           type: 'tel',
  //-           placeholder: 'Ваш телефон *',
  //-         })#home-form-phone
  //-       +cell({ xs: 12 }).appear
  //-         +formInput({
  //-             name: 'comment',
  //-             type: 'textarea',
  //-             placeholder: 'Дата визита или другая информация',
  //-         })#home-form-comment
  //-       +cell({ xs: 12 }).appear
  //-         +formInput({
  //-             name: 'agreement',
  //-             type: 'checkbox',
  //-             checked: true,
  //-             required: true,
  //-             label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных',
  //-         })#home-form-agreement
  //-       +cell({ l: 4, m: 6, s: 8, xs: 12 }).appear
  //-         button(type='submit').btn.btn--wide Отправить
  +pageSection(): .container: .content
    h2.appear Сохранить статью
    .likely.appear
      .facebook
      .twitter
      .vkontakte
      .pinterest
      .odnoklassniki
      .telegram
      .linkedin
      .whatsapp
      .viber
      .reddit
  +pageSection(): .container: .content
    p.appear: a(href='/') ← Перейти в список статей
  +pageSection(): .container: .content
    h2.appear Похожие статьи
    ul.list-marked.list-marked--simple
      li.appear: a(href='') Развитие зубов у детей
      li.appear: a(href='') Предотвращение развития кариеса
