extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная', 'Для пациентов'],current:'Статьи'})
  +pageSection: .container: .content
    h1 Для пациентов
    +pageSubsection.appear: +grid({ 'padding': 'y' })
      +cell({ l: 3, m: 4, xs: 12 }): +img({
        name: 'stati',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
        ],
        density: [ 2, 3 ],
      })
      +cell({ l: 9, m: 8, xs: 12 })
        h2: a(href='/') Почему происходит облысения?
        p Облысение может означать как существенное уменьшение количества волос на поверхности головы, так и полное отсутствие волосяного покрова. Самой часто встречающейся разновидностью алопеции считается андрогенетическая. В соответствие с данными исследований, порядка 30, а иногда и 35% мужчин, находясь в возрастном периоде между 25 и 55 годами, могут попросту облысеть, когда столкнутся с данным типом алопеции.
        p: a(href='/') Читать далее
    +pageSubsection.appear: +grid({ 'padding': 'y' })
      +cell({ xs: 12 })
        h2: a(href='/') Показания для трансплантации волос
        p Это — наследственное заболевание, представляет собой истончение волос, ведущее у мужчин к поредению волос или облысению в лобной, частично височных и теменных областях, у женщин — к поредению волос в теменных областях. Степень выраженности андрогенетической алопеции характеризуется для мужчин по шкале Норвуда — Гамильтона, для женщин — по шкале Людвига.
        p: a(href='/') Читать далее
    +pageSubsection.appear: +grid({ 'padding': 'y' })
      +cell({ xs: 12 })
        h2: a(href='/') Показания для трансплантации волос
        p Это — наследственное заболевание, представляет собой истончение волос, ведущее у мужчин к поредению волос или облысению в лобной, частично височных и теменных областях, у женщин — к поредению волос в теменных областях. Степень выраженности андрогенетической алопеции характеризуется для мужчин по шкале Норвуда — Гамильтона, для женщин — по шкале Людвига.
        p: a(href='/') Читать далее
    +pageSubsection.appear: +grid({ 'padding': 'y' })
      +cell({ l: 3, m: 4, xs: 12 }): +img({
        name: 'stati',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
        ],
        density: [ 2, 3 ],
      })
      +cell({ l: 9, m: 8, xs: 12 })
        h2: a(href='/') Почему происходит облысения?
        p Облысение может означать как существенное уменьшение количества волос на поверхности головы, так и полное отсутствие волосяного покрова. Самой часто встречающейся разновидностью алопеции считается андрогенетическая. В соответствие с данными исследований, порядка 30, а иногда и 35% мужчин, находясь в возрастном периоде между 25 и 55 годами, могут попросту облысеть, когда столкнутся с данным типом алопеции.
        p: a(href='/') Читать далее
    +pageSubsection.appear: +grid({ 'padding': 'y' })
      +cell({ l: 3, m: 4, xs: 12 }): +img({
        name: 'stati',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
        ],
        density: [ 2, 3 ],
      })
      +cell({ l: 9, m: 8, xs: 12 })
        h2: a(href='/') Почему происходит облысения?
        p Облысение может означать как существенное уменьшение количества волос на поверхности головы, так и полное отсутствие волосяного покрова. Самой часто встречающейся разновидностью алопеции считается андрогенетическая. В соответствие с данными исследований, порядка 30, а иногда и 35% мужчин, находясь в возрастном периоде между 25 и 55 годами, могут попросту облысеть, когда столкнутся с данным типом алопеции.
        p: a(href='/') Читать далее
