extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Степень облысения'})
  +pageSection: .container: .content
    h1 Степень облысения у женщин
    +pageSubsection
      h2 Степень облысения по Людвигу
      +grid({ 'par-like': true, 'padding': ['y', 'small'] }).text-align--center
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-1.svg' alt='Поредение в области центрального пробора, степень 1')
          p: small Степень 1
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-2.svg' alt='Поредение в области центрального пробора, степень 2')
          p: small Степень 2
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/central-parting-3.svg' alt='Поредение в области центрального пробора, степень 3')
          p: small Степень 3
      h2 Степень облысения по Олсену
      +grid({ 'par-like': true, 'padding': ['y', 'small'] }).text-align--center
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-1.svg' alt='Поредение в области бокового пробора, степень 1')
          p: small Степень 1
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-2.svg' alt='Поредение в области бокового пробора, степень 2')
          p: small Степень 2
        +cell({ l: 2, m: 2, xs: 6 })
          p: img(src='/images/uslugi/peresadka-volos-zhenshchinam/side-parting-3.svg' alt='Поредение в области бокового пробора, степень 3')
          p: small Степень 3
