extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Степень облысения'})
  +pageSection: .container: .content
    h1 Степень облысения
    +pageSubsection: +grid({ padding: 'y' })
      -
        const stages = [
          { name: 'Норма', file: 'norm' },
          { name: 'Случай №1', file: 'stage-1' },
          { name: 'Случай №2', file: 'stage-2' },
          { name: 'Случай №2А', file: 'stage-2a' },
          { name: 'Случай №3', file: 'stage-3' },
          { name: 'Случай №3А', file: 'stage-3a' },
          { name: 'Случай №4', file: 'stage-4' },
          { name: 'Случай №4А', file: 'stage-4a' },
          { name: 'Случай №5', file: 'stage-5' },
          { name: 'Случай №5А', file: 'stage-5a' },
          { name: 'Случай №6', file: 'stage-6' },
          { name: 'Случай №7', file: 'stage-7' },
          { name: 'Случай №8', file: 'stage-8' },
        ]
      each item in stages
        +cell({ l: 4, m: 6, xs: 12 })
          -
            const thumb = `${item.file}-small`
            const path = '/images/patsientam/stepen-oblyseniya/'
          p: a(href != `${path}${item.file}.jpg` data-glightbox data-gallery='stages' data-description != item.name)
            +img({
              name: thumb,
              path: path,
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ 2, 3 ]
            })(alt != item.name title != item.name)
          p !{item.name}
