extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/home-header-banner/home-header-banner
include /blocks/prices/prices
include /blocks/tabs/tabs
include /blocks/stages-slider/stages-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Цены'})
  +pageSection: .container: .content
    h1 Цены
    +pageSubsection
      +grid({ 'padding': 'y', 'par-like': true }): +cell({ l: 8, m: 10, xs: 12 }): +blockMarked({ color: 'blue' }).appear: +homeHeaderBanner
      p.appear На пересадку до 2500 графтов скидка — 20% (стоимость графта с учетом скидки — 80 руб.)
      p.appear На пересадку более 2500 графтов скидка — 25% (стоимость графта с учетом скидки — 75 руб.)
      p.appear: +textMarked({ big: true, bold: true }) Стоимость пересадки волос в клинике Medall всегда рассчитывается индивидуально.
      -
        const prices = [
          {name: 'Первичная комплексная консультация и диагностика врача-трансплантолога', value: 'Бесплатно'},
          {name: 'Стоимость графта (лоскутный метод)', value: 'от 60 руб. до 70 руб.'},
          {name: 'Стоимость графта (бесшовный метод — FUE)', value: '100 руб.'},
          {name: 'Стоимость графта процедуры пересадки волос в область усов, бороды, бакенбардов', value: '100 руб.'},
          {name: 'Стоимость процедуры пересадки волос в область бровей,', value: '70000 руб.'},
        ]
      +prices(prices)
    +pageSubsection
      +grid({ 'par-like': true, 'padding': 'y' })
        +cell({ l: 9, m: 8, xs: 12 }).appear: p Индивидуальный подход к расчету применяется в случае трансплантации на рубцы. Если вам необходима эта процедура, эксперты клиники советуют предварительно пройти консультацию у трансплантолога.
        +cell({ l: 3, m: 4, s: 10, xs: 12 }).appear: a(href='/').btn.btn-wide Записаться на прием 
  +pageSection: .container: .content
    h2.appear От чего зависит стоимость пересадки волос?
    p.appear На цену пересадки волос влияет несколько факторов:
    ul.list-marked
      li.appear площадь участка без волос и количество донорских графтов (графт — 1-3 волосяные луковицы на кусочке кожи)
      li.appear выбранный способ пересадки (Strip, FUE)
    h2.appear Как обычно оценивается количество графтов?
    p.appear Масштаб оперативного вмешательства врач озвучивает во время визита в клинику или по фото, присланных пациентом. Вы можете выслать нам фотографии анфас, в профиль и затылочной области, а также информацию о том, когда началось выпадение и продолжается ли оно сейчас. Мы принимаем фотографии и информацию на почту mail@netvolos.ru, в WhatsApp или Viber по номеру +7 931 349-18-98.
    h2.appear Как оценить примерный объем пересадки?
    +pageSubsection
      +tabs()
        +tab({name: 'Для мужчин'})
          -
            stages = [
              {id: 'men-1', name: 'Степень 1', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-2', name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-3', name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {id: 'men-4', name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-5', name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-6', name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {id: 'men-7', name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {id: 'men-8', name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {id: 'men-9', name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
            ]
          +stagesSlider(stages)
        +tab({name: 'Для женщин'})
          -
            stages = [
              {name: 'Степень 1', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 2', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 3', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {name: 'Степень 4', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 5', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 5A', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
              {name: 'Степень 6', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Потеря волос на макушке. 1-я линия отодвинута, четкие треугольные залысины. Пересадка 3200-3500 FUE', button: false},
              {name: 'Степень 7', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Обширные области отсуствия волос по лобной зоне и макушке. Пересадка 4000-4200 FUE', button: false},
              {name: 'Степень 8', src: 'https://dummyimage.com/368x190', desc: 'Для женщин: Область выпадения волос движеться спереди назад, затронула всю лобную и лобно-височную области. Пересадка 4200-4500 FUE', button: false},
            ]
          +stagesSlider(stages)
    +pageSubsection: +blockMarked({ color: 'green' }).appear: +textMarked({ tag: 'p', big: true }) Есть возможность 
      strong оформить кредит
      |  на процедуру через 3 банка-партнера, подробности 
      a(href='/') здесь
      | .
  +pageSection: .container: .content
    h2.appear Варианты оплаты
    +grid({ 'par-like': true, 'align': 'center' })
      +cell({ l: 2, m: 2, s: 3, xs: 4 }).appear: +img('/images/tseny/visa.svg')(alt='Visa')
      +cell({ l: 2, m: 2, s: 3, xs: 4 }).appear: +img('/images/tseny/mastercard.svg')(alt='Mastercard')
    ul.list-marked
      li.appear Оплата в день проведения пересадки волос. Принимаются наличные или карты любого банка.
      li.appear Оплата по выставленному счету на расчетный счет клиники за 3-5 дней до проведения трансплантации.
  +pageSection: .container: .content
    h2.appear Почему можно найти более низкие цены?
    p.appear Кроме нашей клиники в Санкт-Петербурге больше
      strong нет ни одной узкоспециализированной клиники
      |  по пересадке волос, которая бы 
      strong соответствовала требованиям действующего законодательства
      |  Российской Федерации, предъявляемым к медицинским учреждениям, в которых возможно оказывать медицинскую услугу 
      a(href='https://zdravmedinform.ru/nomenclatura-meditcinskikh-uslug/a16.01.025.html' target='_blank') А16.01.025 «Трансплантация собственных волос».
      | .
    p.appear В определении типа этой медицинской услуги указано, что это «оперативное лечение», относящиеся к пластической хирургии. Такие операции должны проводиться в условиях чистых операционных клиник, имеющих лицензию на пластическую хирургию.
    p.appear Однако большинство «центров пересадки волос» ведут свою деятельность в помещениях жилых зданий, не редко в цокольных этажах, 
      strong не имеют оборудованную операционную и лицензию на пластическую хирургию
      |  и не соответствуют элементарным требованиям безопасности, вводя пациентов в заблуждение и прикрываясь лицензиями по косметологии или дерматологии.
    p.appear Что позволяет им значительно занижать стоимость, экономя на оснащении и безопасности пациентов!
    p.appear Не менее опасно ездить в Турцию, только в Стамбуле работает более 300 клиник и куда Вы попадёте — неизвестно! 
      strong А гарантий и защиты в чужой стране нет никаких!
    p.appear Тем более, что разница в цене очень не существенна.
