extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/list-advantages/list-advantages
include /blocks/service/service
  
block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Услуги'})
  +pageSection: .container: .content
    h1 Услуги
    +blockMarked({ color: 'green' })
      +grid({ 'padding': 'y' })
        +cell({ l: 4, m: 6, xs: 12 })
      h2.appear: small Пересадка волос на голову
      +grid({ 'padding': 'y', 'par-like': true }).list-marked
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-muzhchinam',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Трансплантация волос при мужском типе потери волос',
            href: '/uslugi/peresadka-muzhchinam/',
          })
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-zhenshchinam',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Трансплантация волос при женском типе потери волос',
            href: '/uslugi/peresadka-zhenschinam/',
          })
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-na-shramy',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Трансплантация волос в рубцовую ткань (ожоги, травмы)',
            href: '/uslugi/peresadka-na-shramy/',
          })
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-pri-rubtsovoy-gnezdnoy-diffuznoy-alopetsii',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Пересадка волос при рубцовой, гнездной, диффузной алопеции',
            href: '',
          })
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'korrektsiya-vrozhdennoy-vysokoy-linii-rosta-volos',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Коррекция врожденной высокой линии роста волос в лобно-височных и заушных областях',
            href: '',
          })
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'korrektsiya-linii-rosta-volos-v-lobno-visochnyh-i-zaushnyh-oblastyah-posle-plasticheskih-operatsiy',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Коррекция линии роста волос в лобно-височных и заушных областях после пластических операций',
            href: '',
          })
        +cell({ m: 6, xs: 12 }).appear Трансплантация в зоны потери волос, связанные с последствиями воспалительных, дегенеративных изменений кожи, наступивших вследствие различных кожных заболеваний
      h2.appear: small Пересадка волос на лицо
      +grid({ 'padding': 'y', 'par-like': true }).list-marked
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-na-borodu',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Трансплантация волос на бороду и усы',
            href: '/uslugi/peresadka-na-borodu/',
          }) 
        +cell({ m: 6, xs: 12 }).appear
          +service({
            image: {
              name: 'peresadka-volos-na-brovi',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [ 2, 3 ],
              path: '/images/uslugi/',
            },
            name: 'Трансплантация волос на брови',
            href: '/uslugi/peresadka-na-brovi/',
          })
      h2.appear: small Другие процедуры
      +grid({ 'padding': 'y', 'par-like': true }).list-marked
        +cell({ m: 6, xs: 12 }).appear Трансплантация в зоны потери волос, связанные с последствиями воспалительных, дегенеративных изменений кожи, наступивших вследствие различных кожных заболеваний
        +cell({ m: 6, xs: 12 }).appear Плазмотерапия PRP
      h2.appear: small Пересадка волос на тело
      +grid({ 'padding': 'y', 'par-like': true }).list-marked
        +cell({ m: 6, xs: 12 }).appear Трансплантация волос на различные участки тела
        +cell({ m: 6, xs: 12 }).appear Трансплантация волос в область лобка
