extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/result/result
include /blocks/question/question
include /blocks/tabs/tabs
include /blocks/stages/stages
include /blocks/breadcrumbs/breadcrumbs
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/alternative/alternative
include /blocks/page-navigation/page-navigation
include /blocks/celebrity/celebrity
include /blocks/prices/prices
include /blocks/form-input/form-input
include /blocks/form-input-photo/form-input-photo

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'О клинике' ], current: 'Врачи' })
  +pageSection: .container: .content
    h1.appear Наши врачи
    p Каждый наш хирург прошел сертификацию, освоил все существующие на сегодня способы пересадки волос (STRIP, FUE, HFE), в совершенстве владеют знаниями о нюансах каждой техники.
  +pageSection({ 'color-fill': 'light', 'padding-y': [true, 'big'], 'margin': 'small' }): .container: .content
    +grid({ 'padding-y': true })
      +cell({ l: 6, xs: 12 }).appear
        +pageSubsection
          h3 Боярская<br>Светлана Валерьевна
          p Опыт работы: 17 лет
          p Заведующая отделением трансплантации волос
          p Окончила Санкт-Петербургский Государственный медицинский университет (1-ый Ленинградский медицинский институт) им. академика И.П.Павлова в 1992 году.
          p Обучалась в клинической ординатуре МАПО по специальности «челюстно-лицевая хирургия». Имеет специализацию по пластической хирургии.
        +pageSubsection: +grid({'padding-y': true, 'align': 'center'})
          +cell({ xs: 6 }): a(href='#modal-consultation' data-modal).btn Записаться на прием
          +cell({ xs: 6 }): a(href='') Подробнее о враче 
      +cell({ l: 6, xs: 12 }).appear: .offset-border: +img({
        name: 'boyarskaya-svetlana-valerevna',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [2],
        path: '/images/o-klinike/vrachi/',
      })(alt='Пересадка волос мужчинам' style='display: block')
  //- +pageSection(): .container: .content
    +grid({'padding-y': true})
      +cell({l: 6, xs: 12}).appear
        +pageSubsection
          h3 Димакова<br>Светлана Юрьевна
          p Опыт работы: 10 лет
          p Врач-дерматовенеролог, врач-косметолог, трихолог, миколог.
          p Член Санкт-Петербургского научного общества дерматовенерологов им. В.М.Тарновского и Общества трихологии. Участник прямых ТВ и радио-эфиров по трихологии.
          p Выпускница Первого Санкт-Петербургского Государственного Медицинского Университета им. акад. И.П. Павлова.
          p Окончила клиническую ординатуру по дерматовенерологии в Военно-Медицинской Академии им. С.М. Кирова.
          p Прошла профессиональную переподготовку по косметологии.
        +pageSubsection: +grid({'padding-y': true, 'align': 'center'})
          +cell({xs: 6}): a(href='').btn Записаться на прием
          +cell({xs: 6}): a(href='') Подробнее о враче 
      +cell({l: 6, xs: 12}).appear: .offset-border: +img({
        name: 'boyarskaya-svetlana-valerevna',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [2],
        path: '/images/o-klinike/vrachi/',
      })(alt='Пересадка волос мужчинам' style='display: block')
  +pageSection({ 'color-fill': 'blue', 'padding-y': true }): .container: .content
    h2.appear Медицинские сестры
    p.appear На отделении работают 9 медицинских сестер, имеющих специализацию по хирургии и операционному делу. Стаж работы медицинских сестер на отделении пересадки волос — не менее 10 лет.
    p.appear: +img('https://dummyimage.com/1176x450')
  +pageSection({'color-fill': 'blue', 'padding-y': true, 'no-margin': true}): .container: .content
    h2.appear Почему важно выбрать хорошего врача
    p.appear Существуют нечестные маркетинговые ходы, в которых трансплантация преподносится в качестве легкой косметической услуги, технической процедуры, которую способны выполнить трихологи.
    p.appear Участились случаи открытия учреждений, где работают непрофильные специалисты или даже люди без необходимого образования, которые привлекают пациентов дешевизной, но совершенно не берут ответственности за результаты оказанных услуг.
    p.appear Но пересадка волос — хирургическая операция, хотя и малотравматичная и с минимальным объемом, но все же вмешательства в человеческую физиологию и анатомию. Проводить ее может только хирург-транплантолог.
  +pageSection: .container: .content
    +pageSubsection: h2.appear Как выбрать врача?
    +pageSubsection
      p.appear При выборе хирурга-трансплантолога стоит обратить внимание на следующие моменты:
      ul.list-marked.list-marked--w-prev-par
        li.appear Лицензия и образование
        li.appear Опыт работы
        li.appear Примеры работ
        li.appear Реальные отзывы
  +pageSection({ 'color-fill': true, 'padding-y': 'big', 'no-margin': 'bottom' }): .container: .content
    +blockMarked({ 'tag': 'form', 'color': 'white', 'padding': 'big' }).form
      h2.form__header.text-align--center.appear Задать вопрос врачу
      +pageSubsection: +grid({ 'padding-y': true, 'par-like': true })
        +cell({ l: 6, xs: 12 }).appear
          +formInput({type: 'text', placeholder: 'Ваше имя'})
          +formInput({type: 'email', placeholder: 'E-mail'})
          +formInput({type: 'text', placeholder: 'Город, страна'})
          +formInput({type: 'text', placeholder: 'Возраст'})
        +cell({ l: 6, xs: 12 }).appear
          +formInput({type: 'textarea', placeholder: 'Ваш вопрос'})(style='height: 100%')
      +pageSubsection.appear
        h3.text-align--center Фотографии
        p.text-align--center Прикрепите фотографии с вашего компьютера или сфотографируйтесь при помощи вашей веб-камеры.
        p.text-align--center: strong Примеры фотографий:
      +pageSubsection
        +grid({ 'padding-y': true, 'justify': 'center' })
          +cell({ l: 4, xs: 12 }).appear: +formInputPhoto({
            name: 'Фото №1', 
            image: {
              name: 'photo-1',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/form/',
            },
            id: 'img-1',
          })
          +cell({l: 4, xs: 12}).appear: +formInputPhoto({
            name: 'Фото №2',
            image: {
              name: 'photo-2',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/form/',
            },
            id: 'img-2',
          })
          +cell({l: 4, xs: 12}).appear: +formInputPhoto({
            name: 'Фото №3',
            image: {
              name: 'photo-3',
              formats: [
                {ext: 'webp', mime: 'image/webp',},
                {ext: 'jpg', mime: 'image/jpeg', orig: true},
              ],
              density: [2],
              path: '/images/form/',
            },
            id: 'img-3',
          })
      +pageSubsection.appear
        +grid({ 'justify': 'center', 'padding-y':true, 'par-like': true }): +cell({ xs: 'auto' }): button(type='submit').btn Отправить
        +grid({ 'justify': 'center', 'padding-y':true, 'par-like' : true}): +cell({ xs: 'auto' }): +formInput({ type: 'checkbox', label: 'Отправляя эту форму Вы соглашаетесь с условиями <a href="">Обработки персональных данных</a>', checked: true, required: true })#form-agreement
