extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-list/consultation-list
include /blocks/breadcrumbs/breadcrumbs
include /blocks/review/review

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents: [ 'Главная', 'О клинике' ], current: 'Врачи' })
  +pageSection: .container: .content
    h1.appear Боярская Светлана Валерьевна
  +pageSection({ 'margin': 'small' }): .container: .content
    +grid({ 'padding-y': true })
      +cell({ l: 6, xs: 12 }).appear: .offset-border: +img({
        name: 'boyarskaya-svetlana-valerevna',
        formats: [
          {ext: 'webp', mime: 'image/webp',},
          {ext: 'jpg', mime: 'image/jpeg', orig: true},
        ],
        density: [2],
        path: '/images/o-klinike/vrachi/',
      })(alt='Пересадка волос мужчинам' style='display: block')
      +cell({ l: 6, xs: 12 }).appear
        h2.doctor-occupation Заведующая отделением трансплантации волос
        h3 Образование
        p Окончила Санкт-Петербургский Государственный медицинский университет (1-ый Ленинградский медицинский институт) им. академика И.П.Павлова в 1992 году.
        h3 Опыт работы
        p Более 20 лет
        h3 Операций
        p Более 4000
        h3 Специализация
        p Трансплантация волос FUE, FUT (STRIP), PRP (плазмотерапия), хирургическая коррекция рубцов
  +pageSection({ 'color-fill': 'light', 'padding-y': true, 'margin': 'small' }): .container: .content
    +grid({ 'padding': 'y' })
      +cell({l: 8, xs: 12}): +grid()
        +cell({l: 4, s: 6, xs: 12}): p
          a(href='#additional-info') Полная информация
          br
          a(href='#sertificates') Дипломы и сертификаты
        +cell({l: 4, s: 6, xs: 12}): p
          a(href='#reviews') Отзывы
          br
          a(href='#questions') Ответы в консультации
      +cell({l: 4, s: 6, xs: 12}): a(href='/').btn Записаться на прием
  +pageSection({ 'margin': 'small' })#additional-info: .container: .content
    h2.appear Дополнительная информация
    +pageSubsection.appear
      p Неоднократно обучалась и стажировалась во Франции и Испании.
      p Работаю в центре со дня его основания.
      p В работе использую все методы и техники пересадки волос. Для улучшения приживаемости волос использую PRP (плазмотерапию). При пересадке волос в область рубцов использую препараты, улучщающие структуру рубцов и повышающие приживаемость волос в области рубцов. Занимаюсь хирургической коррекцией рубцов
  +pageSection()#sertificates: .container: .content
    h2.appear Дипломы и сертификаты
    +grid({ 'par-like': true, 'padding': 'y' }).appear
      - let i = 1
      while i <= 23
        +cell({ l: 3, m: 4, xs: 6 })
          a(href=`/images/o-klinike/vrachi/boyarskaya/diplom-${i}.jpg` data-glightbox data-gallery='licenses').license: +img({
            name: `diplom-${i}-small`,
            formats: [
              {ext: 'webp', mime: 'image/webp',},
              {ext: 'jpg', mime: 'image/jpeg', orig: true},
            ],
            density: [2],
            path: '/images/o-klinike/vrachi/boyarskaya/',
          })(alt='')
        - i++
  +pageSection()#reviews: .container: .content
    +pageSubsection: +grid({ 'par-like': true })
      +cell({ m: 4, s: 6, xs: 12 }).appear: h2 Отзывы пациентов
      +cell({ m: 4, s: 6, xs: 12 }).appear: a(href='/').btn.btn--secondary Оставить отзыв
    +pageSubsection
      -
        const reviews = [
          {
            title: 'Результат превзошел все ожидания!',
            footer: 'Алена, 01 Сентябрь 2016',
            body: {
              tag: 'p',
              content: 'Здравствуйте, хочется поблагодарить Боярскую Светлану Валерьевну за проделанную работу. Результат превзошел все ожидания! Муж долго не хотел,откладывал, но все таки уступил моей просьбе, прошел год и я до сих пор слышу от него слова благодарности, за то, что я его уговорила.Такое ощущение , что лысины никогда и не было, кажется, что всегда так и было и только фотографии напоминают об обратном. Огромное спасибо Светлана Валерьевна.',
            },
          },
          {
            title: 'Консультация в этой клинике показалась мне наиболее профессиональной',
            footer: 'Игорь, 01 Сентябрь 2016',
            body: {
              tag: 'p',
              content: 'Долго думал, выбирал клинику, выбирал врачей. Сайты везде похожи и решить, где пересадить волосы, было трудно. Поэтому был на консультации в 2-х клиниках в Москве и в 2-х клиниках в Санкт-Петербурге. Консультация в этой клинике у Боярской С.В. показалась мне наиболее профессиональной. Информация была предоставлена не только об операции, но и о лекарствах, которые применяют при лечении выпадения волос, их плюсы и минусы. Операцией доволен, почувствовал только первый укол когда делали обезболивание. Пересадили 2930 графтов. Отеков не было. Результат очень хороший. Все говорят, что скинул 10 лет (в том, что сделал операцию, не признаюсь, говорю, что втирал чеснок:)))',
            },
          },
        ]
      each review in reviews
        +review(review).appear
  +pageSection()#questions: .container: .content 
    h2.appear Вопросы пользователей
    +pageSubsection.appear
      -
        const consItems = [
          {
            title: 'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
            question: {
              tag: 'p',
              content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке'
            },
            author: 'Антон',
            date: '08 Октября 2019',
          },
          {
            title: 'Сколько стоит операция по пересадке при третьей степени облысения по норвуду?',
            question: {
              tag: 'p',
              content: 'Здравствуйте!<br>У меня третья степень облысения по норвуду<br>Подскажите пожалуйста сколько мне будет примерно стоить операция по пересадке'
            },
            author: 'Антон',
            date: '08 Октября 2019',
          },
        ]
      +consultationList(consItems)
    +pageSubsection: a(href='/').btn.appear Задать вопрос врачу
