extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/question/question
include /blocks/page-navigation/page-navigation
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/review/review

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Запись на прием'})
  +pageSection: .container: .content
    h1 Записаться на консультацию
  +pageSection({ 'color-fill': 'light', 'padding': [ 'top', 'bottom', 'small' ], 'no-margin': 'bottom' }): .container: .content
    +blockMarked({ tag: 'form', color: 'white' }).form.appear
      p.appear Вы можете написать нам, используя эту форму, или позвонить по телефонам.
      +grid({ 'padding': 'y', 'par-like': true })
        +cell({ l: 6, m: 6, xs: 12 }): +formInput({ type: 'text', name: 'name', label: 'Представьтесь', required: true })#apply-form__name.appear
        +cell({ l: 6, m: 6, xs: 12 }): +formInput({ type: 'tel', name: 'tel', label: 'Телефон', required: true })#apply-form__tel.appear
        +cell({ xs: 12 }): +formInput({ type: 'textarea', name: 'message', label: 'Дата визита или другая информация', required: true })#apply-form__message.appear
        +cell({ xs: 12 }): +formInput({ type: 'checkbox', name: 'agreement', label: 'Отправляя эту форму, Вы соглашаетесь с условиями Обработки персональных данных', required: true, checked: true })#apply-form__agreement.appear
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): button(type='submit').btn.appear Отправить
