.prices
  @media (min-width point-l)
    display flex
    background-image var(--ruble)
    background-repeat no-repeat
    background-position calc(100% - 3.75rem) center
    background-size 4.375rem
    &.block-marked
      padding-y (basePadding * 2)
      padding-right 11.875rem
  &__list
    @media (min-width point-l)
      display grid
      grid-template-columns auto auto
      grid-row-gap 2px // @stylint ignore
      grid-column-gap (basePadding * 2) // @stylint ignore
  &__item
    @media (min-width point-l)
      display contents
      & + &
        & ^[-2]__name
        & ^[-2]__value // @stylint ignore
          margin-top (basePadding / 2)
          padding-top (basePadding / 2)
          border-top 2px solid #fff
        & ^[-2]__name
          position relative
        & ^[-2]__name::after
          content ''
          position absolute
          top -2px
          left 100%
          width (basePadding * 2)
          height 2px
          background-color #fff
    @media (max-width point-l - 1)
      & + &
        margin-top (basePadding / 2)
        padding-top (basePadding / 2)
        border-top 2px solid #fff
      & ^[-1]__value
        margin-top (basePadding / 2)
        text-align right
