include /blocks/block-marked/block-marked

mixin prices(list)

  +blockMarked({color: 'green'}).prices&attributes(attributes)
    .prices__list
      each item in list
        .prices__item
          .prices__name !{item.name}
          .prices__value !{item.value}
