a
  text-decoration underline
  color var(--color-link)
  transition color .2s
  &:hover
  &:focus
  &:active
    color var(--color-link-hover)
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted

    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted // @stylint ignore
      border-bottom none
