.page-section
  display flex
  overflow hidden
  flex-direction column
  align-items stretch
  & + &
    margin-top (basePadding*4)
  & + &--margin-small
    margin-top (basePadding * 2)
  h1 + &
    margin-top 1rem
  &--padding-y
    padding-y (basePadding*2)
  &--padding-y-big
    padding-y (basePadding*4)
  &--color-light
    background-color var(--marked-color-light)
  &--background
    --bg-translate 0 // @stylint ignore

    position relative
    &::before
      content ''
      position absolute
      right 0
      bottom 0
      left 0
      z-index -1
      width containerWidth - (basePadding * 2)
      max-width 100%
      height calc(100% - 6.5rem)
      margin-x auto
      background-repeat no-repeat
      background-position center
      background-size contain
      transform translateY(var(--bg-translate))
      will-change transform
  &--background-advantages
    &::before
      background-image svgImport('svg/section-advantages.svg')
  &--background-price-calc
    &::before
      background-image var(--ruble)
  &--background-results
    &::before
      top 0
      bottom auto
      z-index 0
      width containerWidth + (basePadding * 4)
      background-image svgImport('svg/section-results.svg')
      background-position center top
      transform translateY(var(--bg-translate)) translateX(-1.25rem)
    .container
      position relative
  &--background-questions
    &::before
      background-image var(--question)
      background-size 22rem
  &--background-questions-small
    &::before
      background-image var(--question)
  &--gradient
    background-image linear-gradient(to bottom, #fff, #f9fafb)
  &--padding-top
    padding-top (basePadding * 4)
  &--padding-bottom
    padding-bottom (basePadding * 4)
  &--padding-small
    &^[-1]--padding-top
      padding-top (basePadding * 3)
    &^[-1]--padding-bottom
      padding-bottom (basePadding * 3)
  &--no-margin
    ^[-1] + &
      margin-top 0
  &--color-fill
    background-color #bfe0cb
  &--color-fill-light
    background-color #f9fafb
  &--color-fill-blue
    background-color #e9ecf3
  &--color-fill-dark-blue
    color #fff
    background-color #4f6379

    h2, h3
      color #fff
  &--overflow
    overflow unset
  main > &
    &:last-child
      margin-bottom (basePadding * 4)
    &--no-margin:last-child
      margin-bottom 0
    &--no-margin-bottom:last-child
      margin-bottom 0
