include ../classes/classes

-
  const gridClasses = (settings = {}) => {
    return classes('grid', settings)
  }

  const cellClasses = (settings = {}) => {
    return classes('grid__cell', settings)
  }

mixin grid(settings = {'tag':'','nopadding':false, 'align':'','cols':12})
  -
    const tag = settings.tag ? settings.tag : 'div'
    const gridClassList = `${gridClasses(settings)}`

  #{tag}(class!= gridClassList id= attributes.id)&attributes(attributes)
    block

mixin cell(settings = {'tag':'','hd':'','xl':'','l':'','m':'','s':'','xs': 12})
  -
    const tag = settings.tag ? settings.tag : 'div'
    settings.xs = settings.xs || 12
    const cellClassList = `${cellClasses(settings)}`

  #{tag}(class!= cellClassList id= attributes.id)&attributes(attributes)
    block
