.result
  display flex
  flex-direction column
  height 100%
  padding basePadding
  background-color #fff
  &__title
    order 2
    margin-bottom .5rem
  &__subtitle
    order 1
    margin-bottom .5rem
  &__info
    order 3
    margin-bottom auto
    padding-bottom .75rem
  &__images
    order 4
  &__image-container
    position relative
  &__image
    position relative
    width 251px
    max-width 100%
    //height 306px
    padding-bottom 122%
    background-color #f0f0f0
    img
      position absolute
      top 50%
      left 50%
      max-width 100%
      max-height 100%
      transform translate(-50%, -50%)
  &__image-description
    margin-top 1rem
    text-align center
  &__stage
    position absolute
    top basePadding
    right (basePadding / 2)
    padding (basePadding / 3)
    font-size font-s
    background-color #bfe0cb
    border-radius 0 0 0 .25rem
