mixin result(item = {title: '', subtitle: '', info: '', images: []})
  .result&attributes(attributes)
    if item.title
      h3.result__title !{item.title}
    if item.subtitle
      .result__subtitle !{item.subtitle}
    if item.info
      p.result__info !{item.info}
    if item.images
      +grid({'padding':['y', 'small'], 'par-like': true}).result__images
        each image in item.images
          +cell({xs:6}).result__image-container
            .result__image: +img(image)
            .result__image-description !{image.desc}
            if image.stage
              .result__stage !{image.stage}
