mixin service(item)
  .service&attributes(attributes)
    if item.href
      a(href != item.href).service__image: +img(item.image)(alt != item.name)
      a(href != item.href).service__name !{item.name}
    else
      .service__image: +img(item.image)(alt != item.name)
      .service__name !{item.name}
