mixin listAdvantages(list, settings = {})
  +grid({'tag': settings.tag || 'ul', 'padding-y': true, 'par-like': true})(class != classes('list-advantages', settings))&attributes(attributes)
    each item in list
      -
        const settings = item.settings || {};
        if (item.type && typeof item.type === 'string')
          settings[item.type] = true
        if (item.type && Array.isArray(item.type))
          item.type.forEach((type) => settings[type] = true)
        const cellSettings = settings.sizes || {m:4, s:6, xs:12};
        delete settings.sizes;
        const itemClassList = classes('list-advantages__item', settings);
        cellSettings.tag = 'li';
      +cell(cellSettings)(class != itemClassList).appear
        if item.title
          .list-advantages__title !{item.title}
        if item.body
          .list-advantages__body: +createElement(item.body)
