.list-advantages
  &__item
    --icon-top 0 // @stylint ignore
    position relative
    &.grid__cell
      padding-top ((basePadding * 2) + 5rem)
    &::before
      content ''
      position absolute
      top basePadding
      left (basePadding + 1rem)
      width 5rem
      height 5rem
      background-color #dfefe5
      border-radius 50%
    &::after
      content ''
      position absolute
      top (basePadding)
      left (basePadding)
      width 4rem
      height 5rem
      font-size 3.5rem
      line-height 5rem
      text-align center
      color #5a8988
      background-repeat no-repeat
      background-position left center
      background-size 4rem
      transform translateY(var(--icon-top))
      will-change transform
    types = 'payments', 'method', 'staff', 'guarantee', 'anesthesia', 'license', 'short-period', 'density', 'no-risk', 'one-session', 'lossless', 'day-one', 'day-two', 'day-three', 'shower', 'shirt', 'parfum', 'hat', 'car'
    for type in types
      &--{type}::after
        background-image svgImport('svg/' + type + '.svg')
    &--staff::after
      background-size 3.25rem
    &--density::after
      background-size 6rem
    &--short-period::after
      background-size 3rem
    &--seamless::after
      background-image  svgImport('svg/without.svg'), svgImport('svg/seamless.svg')
      background-position center, center
      background-size 4rem, 4rem
      border 4px solid #a5c1b2
      border-radius 50%
    &--question
      &::before
        content none
      &::after
        content '?'
        top basePadding
        left basePadding
        width auto
      ^[-2]--horizontal ^[-1]&
        &.grid__cell
          padding-left ((basePadding * 3) + 1.75rem)
        &::after
          width auto
          height auto
          font-size 4rem
          line-height 4rem
    &--check
      &::after
        background-image var(--check)
        background-size contain
      ^[-1]--no-circle&
        &::after
          width 2rem
    &--no-circle
      &::before
        content none
    ^[-1]--horizontal &--no-circle&--check
      &.grid__cell
        padding-left ((basePadding * 3) + 4rem)
      &::after
        width 4rem    
    &--day-one
    &--day-two
    &--day-three
      &::after
        background-size 2.25rem
      &::before
        background-color transparent
        background-image svgImport('svg/calendar.svg')
        background-repeat no-repeat
        background-position center
        border-radius 0
  &__title
    @extend h3

    margin-bottom basePadding
  &--horizontal
    & ^[-1]__item
      position relative
      display flex
      flex-direction column
      justify-content center
      min-height (6rem + (basePadding * 2))
      &.grid__cell
        padding-top basePadding
        padding-left ((basePadding * 3) + 5rem)
      &:before
        left basePadding
        width 6rem
        height 6rem
      &::after
        width 6rem
        height 6rem
        background-position center
        transform none
      &--day-one
      &--day-two
      &--day-three
        &::after
          height 5.5rem
          background-position bottom
      @media (max-width point-l - 1)
        &.grid__cell
          padding-top (6rem + basePadding * 2)
          padding-left basePadding
  ol&
    list-style none
    counter-reset list-advantages // @stylint ignore

    li
      counter-increment list-advantages
      &::before
        left basePadding
      &::after
        content counter(list-advantages)
        width 5rem
        font-size 3.5rem
        line-height 5rem
        text-align center
        color #5a8988
    &--horizontal
      li::after
        width 6rem
        font-size 4rem
        line-height 6rem
