include /blocks/form-input/form-input

mixin formInputPhoto(item)
  .form-input-photo&attributes(attributes)
    .form-input-photo__image: +img(item.image)
    .form-input-photo__name !{item.name}
    .form-input-photo__buttons
      //- a(href='#').btn.btn--secondary.form-input-photo__camera Вебкамера
      //- span.form-input-photo__or или
      +formInput({ type: 'file', label: 'Выберите файл', accept: 'image/*' })(id != item.id).form-input-photo__input
