.form-input-photo
  &__name
    margin-top .875rem
    font-size font-l
    text-align center
  &__buttons
    display flex
    justify-content center
    margin-top 1rem
  a&__camera.btn
    width auto
    margin-top 0
    padding .5rem .125rem
    line-height 1.5
    text-transform none
  .form-input
    &--file
      .form-input__field
        display none
      .form-input__label
        @extend .btn
        @extend .btn--secondary

        width 100%
        height 100%
        margin-bottom 0
        padding .5rem basePadding
        line-height 1.5
        text-transform none
