.consultation-list
  &__item
    & + &
      margin-top (basePadding*2)
  &__title
    @extend h3

    margin-bottom .625rem
    
    a
      color #3E546C
      &:hover
        color var(--color-link)
  &__info
    margin-top 1rem
    line-height 1.5
    &:only-child
      display flex

