include /blocks/block-marked/block-marked

mixin consultationList(list)
  .consultation-list
    each item in list
      +blockMarked({ 'color': 'grey' }).consultation-list__item
        h2.consultation-list__title: a(href='konsultatsiya-answer.html') !{item.title}
        .consultation-list__body
          if item.question
            .consultation-list__question: +createElement(item.question)
          .consultation-list__info
            if item.author
              | !{item.author}
            if item.author && item.date
              | , 
            if item.date
              | !{item.date}
