include /blocks/block-marked/block-marked

mixin consultationQuestion(item)
  +blockMarked({'color': 'grey'}).consultation-question
    if item.body
      h2.consultation-question__title Вопрос
      .consultation-question__body
          - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
          +createElement(item.body)
      .consultation-question__info
        if item.author
          | !{item.author}
        if item.author && item.date
          | , 
        if item.date
          | !{item.date}
    else
      .consultation-question__info
        if item.author
          | !{item.author}
        if item.author && item.date
          | , 
        if item.date
          | !{item.date}
