.consultation-question
  position relative
  z-index 1
  &::before
    content ''
    position absolute
    top 0
    right 4rem
    z-index 1
    width 6.625rem
    height 100%
    background-image var(--question)
    background-repeat no-repeat
    background-position center
    background-size contain
    opacity .5
    filter brightness(200)
  &__title
    position relative
    z-index 2
    font-size 1.375rem
    & + .grid
      margin-top .625rem
  &__body
    @extend p
  &__body
  &__info
    position relative
    z-index 2
    &:not(:first-child)
      margin-top 1rem
