+pageSection().home-form
  .home-form__image
    picture
      source(srcset='/images/home-form.webp' media='(-webkit-max-device-pixel-ratio: 1)' type='image/webp')
      source(srcset='/images/home-form@2x.webp' type='image/webp')
      source(srcset='/images/home-form.jpg' media='(-webkit-max-device-pixel-ratio: 1)' type='image/png')
      img(src='/images/home-form@2x.jpg' alt='' loading='lazy' decoding='async')
  .container: .content
    +grid({'justify':'flex-end'})
      +cell({m:6,xs:12})
        .home-form__body.appear.appear--home-form#consultation-form
          form.home-form__form
            h2.home-form__title Записаться на консультацию
            p Вы можете написать нам, используя эту форму, или позвонить по телефонам.
            +formInput({
              name: 'name',
              type: 'text',
              placeholder: 'Ваше имя *',
            })#home-form-name
            +formInput({
              name: 'phone',
              type: 'tel',
              placeholder: 'Ваш телефон *',
            })#home-form-phone
            +formInput({
              name: 'comment',
              type: 'textarea',
              placeholder: 'Дата визита или другая информация',
            })#home-form-comment
            +formInput({
              name: 'agreement',
              type: 'checkbox',
              checked: true,
              required: true,
              label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных',
            })#home-form-agreement
            button(type='submit').btn Отправить
