.home-form
  position relative
  overflow hidden
  background-color #bfe0cb
  &__title
    color #3e546c
  &__image
    position absolute
    top 0
    right unquote('calc(50% + ' + basePadding + ')')
    width 100%
    max-width unquote('calc(50% - ' + basePadding + ')')
    height 100%
    @media (max-width point-m - 1)
      display none

    img
      position absolute
      top 0
      right 0
      object-fit cover // @stylint ignore
      width 100%
      height 100%
  &__body
    position relative
    z-index 2
    margin-y 3.75rem
    padding (basePadding * 2)
    background-color #fff
    // .form-input + .form-input
    // .btn
    //   margin-top 1.5rem
    p + .form-input
      margin-top font-s
