.consultation-ask-panel
  &__right
    display flex
    flex-direction column
    align-items center
  &__clarification
    margin-top .25rem
    font-size font-s
    font-weight 500
    font-style italic
    text-align center
  &__button
    position relative
    padding-left 4.5rem
    font-size font-xl
    line-height 1.75rem
    text-align left
    text-transform none
    &::before
      content ''
      position absolute
      top 0
      left 1rem
      width 2rem
      height 100%
      background-image var(--question)
      background-repeat no-repeat
      background-position center
      background-size auto 3.5rem
      opacity .5
