include /blocks/block-marked/block-marked

+blockMarked({'color': 'blue'}).consultation-ask-panel
  +grid({'par-like':true, 'padding-y': true, 'align': 'center'})
    +cell({ m: 7, xs: 12 })
      h3 Есть вопросы?
      p Задайте вопрос на сайте врачам клиники Medall.
      p Если у вас острая боль или срочный вопрос, звоните: +7 (812) 670-94-98
      p Работаем ежедневно с 09:00 до 21:00
    +cell({ m: 5, xs: 12 }).consultation-ask-panel__right
      a(href='/konsultatsiya/ask.html').btn.consultation-ask-panel__button Задать вопрос консультанту
