.stages-slider
  padding-x 3rem
  @media (max-width point-s - 1)
    padding-x 0
  &__item
    width ((containerWidth - (basePadding * 2)) / 3 - (6rem / 3))
    max-width calc(100% / 3)
    @media (max-width point-m - 1)
      width unquote('calc((100vw - '+ (basePadding * 2)+') / 2  - (6rem / 2))')
      max-width calc(100% / 2)
    @media (max-width point-s - 1)
      width unquote('calc(100vw - '+ (basePadding * 2)+')')
      max-width calc(100%)
  .splide
    &__arrow
      position absolute
      top 50%
      z-index 1
      display block
      width 2rem
      height 2rem
      padding 0
      background transparent
      border 4px solid #3e546c
      border-radius 0
      opacity .7
      transform translateY(-50%) rotate(45deg)
      transition opacity .4s
      will-change opacity
      @media (max-width point-s - 1)
        top 25%
      &--prev
        border-top none
        border-right none
      &--next
        border-bottom none
        border-left none
      &:hover
        opacity 1
        transition opacity .1s

      svg
        display none
