include /blocks/stage/stage

mixin stagesSlider(list)

  .stages-slider.splide&attributes(attributes)
    .splide__track
      .splide__list
        each item in list
          +stage(item).stages-slider__item.splide__slide
