+grid({'par-like': true, 'padding-y': true}).home-doctor
  +cell({m:6,xs:12})
    +youtubeResponsive('MeOeVTz904k').home-doctor__video.offset-border
  +cell({m:6,xs:12}).appear
    h3 Боярская 
      br
      | Светлана Валерьевна
    p Опыт работы: 17 лет
    p Заведующая отделением трансплантации волос
    p Окончила Санкт-Петербургский Государственный медицинский университет (1-ый Ленинградский медицинский институт) им. академика И.П.Павлова в 1992 году.
    p Обучалась в клинической ординатуре МАПО по специальности «челюстно-лицевая хирургия». Имеет специализацию по пластической хирургии.
    +grid({'padding-y': true, 'align': 'center', 'par-like': true})
      +cell({xs:6}): a(href='#consultation-form').btn Записаться на приём
      +cell({xs:6}): a(href='/').link-arrow Подробнее о враче
