.header-mobile-switcher
  display block
  height 3rem
  padding basePadding
  padding-left (basePadding*4)
  font-weight 500
  line-height 1
  text-decoration none
  color #333
  background-color #E9ECF3
  background-image svgImport('svg/hamburger.svg')
  background-repeat no-repeat
  background-position basePadding center
  background-size (basePadding*2) auto
  @media screen and (min-width (point-l))
    display none
