.list-marked
  @extend p

  parMargin()
  list-style none
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top (font-s / 3)
  > li
    padding-left (basePadding*3)
    background-image svgImport('svg/bullet.svg')
    background-repeat no-repeat
    background-position left top
    background-size (basePadding*2)
    & + li
      margin-top .75rem
    &.grid__cell
      padding-left (basePadding * 4)
      background-position basePadding top
      & + li
        margin-top 0
  &--simple > li
    padding-left (basePadding*2.5)
    background-image var(--arrow)
    background-position left .5rem
    background-size (basePadding*1.5)
  &--check > li
    padding-left (basePadding*1.5)
    background-image var(--check)
    background-position left .375rem
    background-size (basePadding*1)
  &.grid--padding-y
    margin-y -.375rem
    &.grid--par-like
      margin-top .5625rem
    & li.grid__cell
      padding-y .375rem
      background-position basePadding .375rem
  &--simple.grid--padding-y > li.grid__cell
    background-position basePadding .75rem
