.article-content
  padding-left (basePadding * 2)
  font-size basePadding
  .h2 + &
    margin-top .5625em
  &__item
    & + &
      margin-top (basePadding / 2)
    &::marker
      color var(--color-link)
    & a
      display inline-flex
      padding-left (basePadding / 2)
