.filter
  display flex
  flex-wrap wrap
  padding-x (basePadding)
  padding-y (basePadding/4*3)
  &__category
    display flex
    flex-wrap wrap
    min-width 14rem
    margin-x (basePadding)
    margin-y (basePadding/4)
  &__name
    margin-right basePadding
    font-weight bold
  &__list
    display flex
    flex-wrap wrap
    margin-x -(basePadding / 2)
  &__item
    margin-x (basePadding / 2)
