include /blocks/block-marked/block-marked

mixin filter(filter)

  +blockMarked({ 'color': 'green' }).filter&attributes(attributes)
    each cat in filter
      .filter__category
        .filter__name !{cat.name}
        .filter__list
          each item in cat.list
            .filter__item: a(href='/') !{item}
