.link-icons
  parMargin()
  display flex
  align-items center
  margin-x -.25rem
  &__link
    display block
    height 0
    margin-x .25rem
    padding .75rem
    background-repeat no-repeat
    background-position center
    background-size contain
    transition opacity .4s
    &:hover
      opacity .5
      transition opacity .1s
    &--viber
      background-image var(--icon-viber)
    &--whatsapp
      background-image var(--icon-whatsapp)
    &--telegram
      background-image var(--icon-telegram)
