mixin linkIcons(list = [], settings = {})
  -
    const links = {
      viber: 'viber://chat?number=79313491898',
      whatsapp: 'https://wa.me/79313491898',
      telegram: 'https://t.me/medallclinic_bot',
    }
    const blockClass = classes('link-icons', settings)
  div(class != blockClass)&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
