include /blocks/logo/logo

header.header
  .container
    .content
      +grid({'align': 'center', 'justify': 'center'}).header__top
        +cell({m:2,s:3,xs:5}).header__logo: +logo({tag: 'a'})(href='/')
        +cell({l:4,s:5,xs:7}).header__name
          a(href='tel:+78126709498').header__phone.hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s +7 (812) 670-94-98
          | Клиника пересадки волос
        +cell({l:3}).header__address.hidden-m.hidden-s.hidden-xs
          | Левашовский пр., д.24
          br
          | м. Чкаловская
        +cell({l:3,s:4,xs:12}).header__contacts.hidden-xs
          a(href='tel:+78126709498').header__phone +7 (812) 670-94-98
          a(href='#modal-callback' data-modal).header__call-back получить обратный звонок
      +grid({'align': 'center'}).header__bottom
        +cell({l:9,m:4,s:6,xs:5}).header__navigation
          include /blocks/header-mobile-switcher/header-mobile-switcher
          include /blocks/header-navigation/header-navigation
        +cell({l:3,m:4,s:6,xs:7}).header__button: a(href='#consultation-form').btn.btn--wide Записаться на приём
