.header
  position absolute
  top 0
  z-index 1000
  width 100%
  padding-top basePadding
  color #fff
  background-color #A5C1B2
  &--fixed
    @media screen and (min-width point-l)
      position fixed
      padding-top 0
      & ^[-1]__top
        display none
      & ^[-1]__bottom
        padding 0
  &__logo .logo
    width 100%
    height auto
    padding-top 32.5%
  &__name
    font-size font-xxl
    @media screen and (max-width point-s - 1)
      margin-top basePadding
      font-size font-s
      & ^[-1]__phone
        font-size font-l
  &__address
    padding-left (basePadding*3.5)
    font-size font-l
    background-image svgImport('svg/header-address.svg')
    background-repeat no-repeat
    background-position basePadding center
    background-size (basePadding*1.5)
    @media screen and (max-width point-m - 1)
      display flex
  &__contacts
    display flex
    flex-direction column
    margin-left auto
  &__phone
    display block
    font-size font-xxxl
    text-decoration none
    color #fff
  &__call-back
    font-size font-l
    color #fff
  &__phone
  &__call-back
    &:hover
      color #e9ecf3
  &__bottom
    display flex
    padding-y basePadding
    transition padding .4s
    will-change padding-top, padding-bottom
    @media screen and (max-width point-l - 1)
      justify-content space-between
    @media screen and (max-width point-s - 1)
      .grid__cell
        padding 0
      .btn
        height 3rem
        padding-x 0
  &__navigation
    position relative
  &__button
    margin-left auto
