.license
  position relative
  display block
  overflow hidden
  padding-top 66.666666%
  background-color #f0f0f0
  & img
    position absolute
    top 50%
    left 50%
    max-width 100%
    max-height 100%
    transform translateX(-50%) translateY(-50%)
    transition transform .4s
    transform-origin 50% 50% 0
    will-change transform
  &::before
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 2
    background-color #333333
    opacity 0
    transition opacity .4s
    will-change opacity
  &::after
    content ''
    position absolute
    right (basePadding / 2)
    bottom (basePadding / 2)
    z-index 1
    width (basePadding * 1.5)
    height (basePadding * 1.5)
    background-image svgImport('svg/zoom.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
  &:hover
    &::before
      opacity .125
      transition opacity .1s

    img
      transition transform .1s
      transform translateX(-50%) translateY(-50%) scale(1.025)
