.form
  &__header
    color #3e546c
  .form-input + .form-input
    margin-top 1.5rem
  p + .form-input
    margin-top font-s
  .form-input--textarea
    height 100%
    .form-input__field
      height 100%
      min-height calc(9.75rem + 2px)
  
