-
  var consCategories = [
    {name: 'Андрогенетическая алопеция', count: '95'},
    {name: 'Рубцовая алопеция', count: '69'},
    {name: 'Очаговая алопеция', count: '50'},
    {name: 'Метод HFE', count: '76'},
    {name: 'Метод FUT (Strip)', count: '805'},
    {name: 'Метод FUE', count: '95'},
    {name: 'Эффект от пересадки волос', count: '69'},
    {name: 'Реабилитация после пересадки волос', count: '50'},
    {name: 'Возможности трансплантации волос', count: '76'},
    {name: 'Повторная пересадка волос', count: '805'},
    {name: 'Планирование и расчет количества', count: '805'},
    {name: 'Подготовка к пересадке волос', count: '95'},
    {name: 'Неудачная пересадка волос – исправление последствий', count: '69'},
    {name: 'Приживаемость волос', count: '50'},
    {name: 'Уход за пересаженными волосами', count: '76'},
    {name: 'Расчет стоимости', count: '805'},
  ]






























