.comparison
  position relative
  &__item
    .block-marked
      padding-x (basePadding *2) 
  @media (min-width point-m)
    &::before
      content ''
      position absolute
      top 50%
      left 50%
      width (basePadding * 4)
      height 1rem
      background-image svgImport('svg/arrow-both.svg')
      background-repeat no-repeat
      background-position center
      transform translateX(-50%) translateY(-50%)
