mixin comparison(item1, item2)
  +grid({ 'padding': 'y', 'par-like': true }).comparison.appear&attributes(attributes)
    +cell({ m: 6, xs: 12 }).comparison__item: +blockMarked({ border: true }): +textMarked({ tag: 'p', bold: true }).text-align--center !{item1}
    +cell({ m: 6, xs: 12 }).comparison__item: +blockMarked({ border: true }): +textMarked({ tag: 'p', bold: true }).text-align--center !{item2}
