+pageSection({ 'color-fill': 'dark-blue' }).contacts-map: .container: .content
  +grid({'padding-y': true})
    +cell({ m: 6, xs: 12 }).contacts-map__map: .contacts-map__map-inner <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6041933a758a6523b6a966d5d89b8812819c9b79f35b1e01513a4a07f3809e67&amp;width=100%25&amp;lang=ru_RU&amp;scroll=true"></script>
    +cell({m: 6, xs: 12})
      .contacts-map__info
        h2.appear Карта проезда от метро Чкаловская
        h3 Как добраться пешком
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        h3 Как добраться на автомобиле
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
