.contacts-map
  color #f8f8f8
  background-color #4f6379

  h2
    color #f8f8f8
  a
    color #bfe0cb
    &:hover
      color #a5c1b2
  &__info
    padding-y 3.375rem
  &__address
    @extend p

    h2 + &
      margin-top basePadding
  &__map
    position relative
  &__map-inner
    --map-width 100% // @stylint ignore

    position absolute
    top basePadding
    right basePadding
    width var(--map-width)
    height 100%
    @media (max-width point-m - 1)
      position relative
      left 0
      margin-x -1.125rem
      margin-top -1.125rem
      min-height 300px
      width 100vw
