.header-navigation
  @media screen and (max-width point-l - 1)
    position absolute
    top 3rem
    z-index 20
    width unquote('calc(100% - ' + basePadding * 2 + ')')
    min-width 20rem
    background-color #E9ECF3
    transition transform .2s
    transform scale(0)
    transform-origin 0 0 0
    &--active
      transition none
      transform scale(1)
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding basePadding
        font-weight 500
        text-decoration none
        color var(--color-link)
        transition color .2s
      &:hover
        & > a
          color var(--color-link-hover)
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid var(--color-link)
        border-bottom 4px solid var(--color-link)
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      &--active
        display block
    &__sublist-item
      & > a
        position relative
        display block
        padding-y (basePadding / 3 * 2)
        padding-right basePadding + 1rem
        padding-left (basePadding * 2)
        text-decoration none
        &:hover
          color var(--color-link-hover)
          background-color transparent
          transition none
      &--active > a
        color var(--color-link)
        background-color #fff
        &:hover
          color var(--color-link)
          background-color #fff
