.header-navigation
  @media screen and (min-width (point-l))
    &__list
      display flex
      flex-wrap wrap
      margin (-(basePadding/4)) (-(basePadding))
    &__list-item
      position relative
      display flex
      margin (basePadding/4) basePadding
      line-height 1
      transition background-color .2s
      & > a
        position relative
        display block
        padding-y .25rem
        font-weight 500
        text-decoration none
        text-transform uppercase
        color #ffffff
        transition color .2s
        &::before
          content ''
          position absolute
          right 0
          bottom 0
          width 0
          height 2px
          background-color #fff
          transition width .4s
        &:hover
          color #fff
          transition none
      &:hover > a::before
        right auto
        left 0
        width 100%
    &__sublist
      position absolute
      top 1.5rem
      left -(basePadding)
      width 18rem
      padding-y basePadding
      background-color #dfefe5
      transform scaleY(0)
      transform-origin 0 0 0
      transition transform .4s

      ^[-1]__list-item:hover > &
        transition transform .1s
        transform scaleY(1)
        transform-origin 0 0 0
    &__sublist-item
      & > a
        position relative
        display block
        padding-y (basePadding / 3 * 2)
        padding-right basePadding + 1rem
        padding-left basePadding
        text-decoration none
        &::after
          content ''
          position absolute
          top (basePadding / 3 * 2)
          right basePadding
          width 1rem
          height 1em
          background-image var(--arrow)
          background-repeat no-repeat
          background-position center
          opacity 0
          transition opacity .4s
        &:hover::after
          opacity 1
          transition opacity .1s
      &:not(&--active)
        & > a:not(:hover)
          color #6b6b6b

      &--active > a
        color var(--color-link)
        background-color #fff
        &:hover
          color var(--color-link)
