include /blocks/menu/menu

-
  const mainMenu = [
    {'name':'О клинике','href':'/'},
    {'name':'Услуги','href':'/', sublist: [
        { 'name': 'Пересадка мужчинам', 'href': '/', 'active': true },
        { 'name': 'Пересадка женщинам', 'href': '/' },
        { 'name': 'Пересадка на бороду', 'href': '/' },
        { 'name': 'Пересадка на лицо', 'href': '/' },
        { 'name': 'Пересадка на брови', 'href': '/' },
      ]},
    {'name':'Методика','href':'/'},
    {'name':'Цены','href':'/'},
    {'name':'Результаты','href':'/'},
    {'name':'Для пациентов','href':'/'},
    {'name':'Контакты','href':'/', sublist: [
        {'name': 'Пересадка мужчинам', 'href': '/', 'active': true},
        {'name': 'Пересадка женщинам', 'href': '/'},
        {'name': 'Пересадка на бороду', 'href': '/'},
        {'name': 'Пересадка на лицо', 'href': '/'},
        {'name': 'Пересадка на брови', 'href': '/'},
    ]},
  ]

+menu(mainMenu).header-navigation
